Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Change `ALLOC.memory_usage()` to `ALLOC.memory_allocated()`
  crates/core/src/mem/fake.rs
  crates/core/src/mem/track.rs
  crates/core/src/sys/mod.rs
Due: surrealdb-core

Modify allocation tracking behaviour and implementation (#6636)
  .config/nextest.toml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.toml
  Makefile
  Makefile.ci.toml
  Makefile.local.toml
  crates/core/Cargo.toml
  crates/core/benches/allocation_tracking.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/mem/fake.rs
  crates/core/src/mem/track.rs
  crates/core/src/sys/mod.rs
  crates/core/tests/define.rs
  crates/core/tests/info.rs
  crates/core/tests/remove.rs
  crates/sdk/tests/api_integration/mod.rs
  crates/server/src/lib.rs
Due: surrealdb-core, surrealdb-sdk

Improve context cancellation checking with adaptive back-off strategy for better OOM protection (#6632)
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/fnc/script/main.rs
  crates/core/src/fnc/search.rs
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Improve context cancellation checking with adaptive back-off strategy for better OOM protection (#6632)
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/compute.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/fnc/script/main.rs
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Fix
  crates/core/src/ctx/context.rs
Due: surrealdb-core

Add initial memory manager for RocksDB
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/memory_manager.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/str/duration.rs
Due: surrealdb-core

Enable memory allocation tracking from RocksDB
  crates/core/src/kvs/rocksdb/memory_manager.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/mem/mod.rs
  crates/core/src/mem/track.rs
Due: surrealdb-core

Update surrealkv to 0.15.1
  Cargo.lock
  Cargo.toml
Due: none

use jemalloc only on x86_64 and x86 (#6622)
  crates/core/src/mem/mod.rs
Due: surrealdb-core

format fix
  crates/core/src/surrealism/cache.rs
Due: surrealdb-core

surrealism: only compile wasm plugins once (#6633)
  crates/core/src/ctx/context.rs
  crates/core/src/surrealism/cache.rs
Due: surrealdb-core

Fix provided vars not being attached to context in surrealism 'sql_with_vars' function (#6596)
  crates/core/src/surrealism/host.rs
Due: surrealdb-core

Update surrealkv to 0.15.1 (#6641)
  Cargo.lock
  Cargo.toml
Due: none

format with backticks, deprecating angle brackets
  crates/core/src/cnf/mod.rs
  crates/core/src/fmt/escape.rs
  crates/core/src/sql/test_to_sql.rs
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record.surql
  crates/language-tests/tests/language/primitive/record_id/id_variants.surql
  crates/language-tests/tests/language/primitive/record_id/natural_order.surql
  crates/language-tests/tests/language/statements/create/with_id.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/relate/with_complex_table.surql
  crates/language-tests/tests/language/statements/select/4781_where_field_type_record_id.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/reproductions/6242_create_visibility_issue.surql
  crates/types/src/utils/escape.rs
  tests/common/mod.rs
Due: surrealdb-core, surrealdb-types, integration-tests

Add more fixes
  crates/core/src/catalog/aggregation.rs
  crates/core/src/expr/parameterize.rs
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/expr/visit.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/arbitrary/mod.rs
  crates/core/src/sql/statements/create.rs
  crates/core/src/sql/statements/insert.rs
  crates/core/src/sql/statements/select.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/stmt/create.rs
  crates/core/src/syn/parser/stmt/insert.rs
  crates/core/src/syn/parser/stmt/select.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/types/src/value/bytes.rs
Due: surrealdb-core, surrealdb-types

Fix fmt
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/sql/statements/define/config/defaults.rs
Due: surrealdb-core

Add some more tests
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/expression/operators/in/all_equal.surql
  crates/language-tests/tests/language/statements/define/database/define_comment_param_none.surql
Due: none

More fixes
  crates/types/src/value/bytes.rs
  revision.lock
  rust-toolchain.toml.tmp
Due: surrealdb-types

Restore pretty on CLI
  crates/server/src/cli/sql.rs
Due: none

Fix cli tests
  tests/cli_integration.rs
Due: integration-tests

Fix formatting of versioning
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/sql/statements/create.rs
  crates/core/src/sql/statements/insert.rs
  crates/core/src/sql/statements/select.rs
Due: surrealdb-core

Update README.md (#6639)
  README.md
Due: none

Even more fixes
  crates/core/src/expr/access_type.rs
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/define/access.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/sql/arbitrary/mod.rs
  crates/core/src/sql/arbitrary/parts.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/closure.rs
  crates/core/src/sql/expression.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/alter/index.rs
  crates/core/src/sql/statements/define/access.rs
  crates/core/src/syn/lexer/compound/number.rs
  crates/core/src/syn/parser/basic/number.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/token.rs
  crates/fuzz/Cargo.lock
  crates/fuzz/fuzz_targets/fuzz_format.rs
Due: surrealdb-core

Improve memory allocation tracking from reporters
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/kvs/rocksdb/memory_manager.rs
  crates/core/src/mem/mod.rs
  crates/core/src/mem/notrack.rs
  crates/core/src/mem/registry.rs
  crates/core/src/mem/track.rs
Due: surrealdb-core

Enable RocksDB blob garbage collection by default
  crates/core/src/kvs/rocksdb/cnf.rs
Due: surrealdb-core

Modify default configuration options for RocksDB blob garbage collection
  crates/core/src/kvs/rocksdb/cnf.rs
Due: surrealdb-core

Fix `cargo fmt`
  crates/core/src/mem/mod.rs
Due: surrealdb-core

Fix `cargo vet`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

No need for initial atomic shutdown check in background flusher
  crates/core/src/kvs/rocksdb/background_flusher.rs
Due: surrealdb-core

Fix `cargo clippy`
  crates/core/src/mem/mod.rs
  crates/core/src/mem/registry.rs
Due: surrealdb-core

missed a return...
  crates/core/src/fmt/escape.rs
Due: surrealdb-core

fix lang tets
  crates/language-tests/tests/language/primitive/record_id/id_variants.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
Due: none

fixes
  crates/core/src/iam/verify.rs
  crates/core/src/sql/test_to_sql.rs
Due: surrealdb-core

fixup
  crates/core/src/iam/verify.rs
Due: surrealdb-core

Updates
  crates/core/src/kvs/rocksdb/background_flusher.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Wip
  crates/core/src/expr/statements/alter/database.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/expr/statements/alter/namespace.rs
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/slowlog.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/sql/statements/alter/database.rs
  crates/core/src/sql/statements/alter/mod.rs
  crates/core/src/sql/statements/alter/namespace.rs
  crates/core/src/sql/statements/alter/system.rs
  crates/core/src/sql/statements/alter/table.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/token/keyword.rs
Due: surrealdb-core

Fix fmt
  crates/core/src/expr/statements/alter/database.rs
  crates/core/src/expr/statements/alter/namespace.rs
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/sql/statements/alter/system.rs
  crates/core/src/syn/parser/stmt/alter.rs
Due: surrealdb-core

Further modifications
  crates/core/src/kvs/rocksdb/background_flusher.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core
