Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Update 3rd party dependenciea
  Cargo.lock
  Cargo.toml
  crates/core/src/sys/mod.rs
  crates/language-tests/Cargo.toml
  crates/sdk/Cargo.toml
  crates/server/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Update `rquickjs` dependency
  Cargo.lock
  Cargo.toml
  crates/core/src/fnc/script/modules/surrealdb/query/mod.rs
Due: surrealdb-core

Update OpenTelemetry dependencies
  Cargo.lock
  crates/server/Cargo.toml
  crates/server/src/ntw/error.rs
  crates/server/src/rpc/websocket.rs
  crates/server/src/telemetry/metrics/http/mod.rs
  crates/server/src/telemetry/metrics/http/tower_layer.rs
  crates/server/src/telemetry/metrics/mod.rs
  crates/server/src/telemetry/metrics/ws/mod.rs
  crates/server/src/telemetry/mod.rs
  crates/server/src/telemetry/traces/mod.rs
Due: none

Update `pprof` dependency
  Cargo.lock
  Cargo.toml
Due: none

Update `thiserror` dependency
  Cargo.lock
  Cargo.toml
Due: none

Remove `hashbrown` dependency
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/tests/sequence.rs
  crates/sdk/Cargo.toml
  crates/sdk/benches/hashset_vs_vector.rs
  supply-chain/audits.toml
Due: surrealdb-core, surrealdb-sdk

Update `nu-ansi-term` dependency
  Cargo.lock
  crates/server/Cargo.toml
Due: none

Update `console-subscriber` dependency
  Cargo.lock
  crates/server/Cargo.toml
Due: none

Update `jsonwebtoken` dependency
  Cargo.lock
  Cargo.toml
Due: none

Wip
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Update `phf` dependency
  Cargo.lock
  Cargo.toml
Due: none

Update `criterion` dependency
  Cargo.lock
  Cargo.toml
  crates/sdk/benches/executor.rs
  crates/sdk/benches/order.rs
  crates/sdk/benches/parser.rs
  crates/sdk/benches/processor.rs
  crates/sdk/benches/sdb.rs
  crates/sdk/benches/sdb_benches/lib/routines/create.rs
  crates/sdk/benches/sdb_benches/lib/routines/read.rs
  crates/sdk/benches/sdb_benches/sdk/routines/create.rs
  crates/sdk/benches/sdb_benches/sdk/routines/read.rs
  crates/sdk/benches/with_or_without_index.rs
Due: surrealdb-sdk

Update `fastnum` dependency
  Cargo.lock
  Cargo.toml
Due: none

Wip
  crates/core/src/catalog/schema/index.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/key/root/ic.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/index.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/provisioner.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/index.rs
  crates/language-tests/Cargo.toml
  crates/language-tests/src/cmd/run/provisioner.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Remove `bincode` dependency
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/err/mod.rs
  crates/core/src/idx/ft/offset.rs
  crates/core/src/kvs/ds.rs
  crates/sdk/Cargo.toml
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/err/mod.rs
  crates/server/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Update `nix` dependency
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
Due: none

Update `ndarray` dependency
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/idx/trees/vector.rs
Due: surrealdb-core

Update `rstest` dependency
  Cargo.lock
  Cargo.toml
Due: none

Remove `rust-s3` dependency
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/buc/mod.rs
  crates/core/src/lib.rs
  crates/server/Cargo.toml
Due: surrealdb-core

Update `tonic` dependency
  Cargo.lock
  crates/server/Cargo.toml
Due: none

Update `tower` dependency
  Cargo.lock
  crates/server/Cargo.toml
Due: none

Wip
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Wip
  crates/core/src/expr/statements/remove/index.rs
Due: surrealdb-core

Wip
  crates/core/src/dbs/executor.rs
  crates/core/src/key/root/ic.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Wip
  crates/core/src/dbs/executor.rs
Due: surrealdb-core

Update `rcgen` dependency
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
  tests/common/server.rs
Due: integration-tests

Update `wasmtimer` dependency
  Cargo.lock
  Cargo.toml
Due: none

Update `walrus` dependency
  Cargo.lock
  Cargo.toml
Due: none

Wip
  crates/core/src/catalog/schema/index.rs
  crates/core/src/catalog/test.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/idx/trees/store/mod.rs
Due: surrealdb-core

Update `wasmtime` dependency
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/wasi_context.rs
Due: none

Remove `serde-content` dependency
  Cargo.toml
Due: none

Ensure `jsonwebtoken` works correctly in WebAssembly
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
Due: surrealdb-core

Fix tests with altered `ndarray` behaviour
  crates/language-tests/tests/language/functions/search/search-linear.surql
  crates/language-tests/tests/language/functions/search/search-rrf.surql
Due: none

Fix tests with altered `geo` behaviour
  crates/core/src/fnc/geo.rs
  crates/language-tests/tests/language/functions/geo/bearing.surql
Due: surrealdb-core

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
