Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

fix(mcp): document Host env vars and drop redundant per-session env read (#584)
  surrealdb/mcp/README.md
  surrealdb/mcp/src/service.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(planner): only use Count/KeysOnly when the index scan answers the whole WHERE clause (#587)
  language-tests/tests/reproductions/indexed_count_multi_conjunct_and.surql
  surrealdb/core/src/idx/planner/mod.rs
  surrealdb/core/src/idx/planner/plan.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Cache stored-vector norms ~2.2x faster cosine HNSW index build (#581)
  language-tests/tests/bench/util/embeddings-data-768d-1000.surql
  language-tests/tests/bench/util/embeddings-hnsw-cosine-2000.surql
  language-tests/tests/bench/vector/build_hnsw_cosine.surql
  language-tests/tests/bench/vector/knn_hnsw_cosine.surql
  language-tests/tests/language/indexes/knn/hnsw_knn_cosine_new_executor.surql
  surrealdb/core/src/idx/trees/hnsw/elements.rs
  surrealdb/core/src/idx/trees/vector.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(rpc): opt-in durable RPC sessions on RpcProtocol (#606)
  surrealdb/core/src/dbs/session.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/rpc/http.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(permissions): enhance table-level permission checks with before/after context
  surrealdb/core/src/doc/check.rs
  surrealdb/core/src/doc/insert.rs
  surrealdb/core/src/doc/relate.rs
  surrealdb/core/src/doc/update.rs
  surrealdb/core/src/doc/upsert.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/tests/create.rs
  surrealdb/core/tests/delete.rs
  surrealdb/core/tests/insert.rs
  surrealdb/core/tests/relate.rs
  surrealdb/core/tests/select.rs
  surrealdb/core/tests/update.rs
  surrealdb/core/tests/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(tests): add before/after import tests for table PERMISSIONS with soft-delete patterns
  language-tests/tests/language/statements/define/table/permissions_before_after.surql
  language-tests/tests/language/statements/define/table/permissions_before_after_import.surql
Due: none

Implement multi-part MATCHES in the streaming executor, fix legacy cross-table MATCHES tautology (#475) (#543)
  language-tests/tests/language/indexes/full_text/matches_multi_part_record_link.surql
  language-tests/tests/language/planner/record_link_index_new_executor.surql
  surrealdb/core/src/exec/function/builtin/search.rs
  surrealdb/core/src/exec/function/index.rs
  surrealdb/core/src/exec/physical_expr/matches.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/idx/planner/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Support non-literal brute-force KNN vectors in the streaming executor (#476) (#554)
  language-tests/tests/language/indexes/knn/knn_bruteforce_nonliteral_vector.surql
  language-tests/tests/language/indexes/knn/knn_nested_or_not.surql
  language-tests/tests/language/indexes/knn/knn_nested_or_not_new_executor.surql
  language-tests/tests/reproductions/7229_knn_k_distance_bypasses_hnsw.surql
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/knn_topk.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/physical_expr/knn_membership.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/physical_expr/ops.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/exec/planner/util/conditions.rs
  surrealdb/core/src/exec/planner/util/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

refactor(core): make cnf self-contained for crate extraction (#608)
  surrealdb/common/src/lib.rs
  surrealdb/common/src/str/bytes.rs
  surrealdb/common/src/str/duration.rs
  surrealdb/common/src/str/mod.rs
  surrealdb/core/src/buc/mod.rs
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/exec/buffer.rs
  surrealdb/core/src/exec/operators/scan/common.rs
  surrealdb/core/src/exec/operators/scan/fulltext.rs
  surrealdb/core/src/iam/file.rs
  surrealdb/core/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

refactor(core): relocate sql<->catalog vocab conversions out of sql (#609)
  surrealdb/core/src/catalog/module.rs
  surrealdb/core/src/catalog/schema/config.rs
  surrealdb/core/src/catalog/schema/index.rs
  surrealdb/core/src/catalog/table.rs
  surrealdb/core/src/sql/index.rs
  surrealdb/core/src/sql/module.rs
  surrealdb/core/src/sql/scoring.rs
  surrealdb/core/src/sql/statements/define/config/graphql.rs
  surrealdb/core/src/sql/table_type.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat: apply wall-clock query timeout across HTTP routes and RPC methods (#577)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/src/rpc/method.rs
  surrealdb/core/src/rpc/mod.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/graphql/mod.rs
  surrealdb/server/src/ntw/error.rs
  surrealdb/server/src/ntw/gql.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/ntw/sql.rs
  surrealdb/server/src/ntw/timeout.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix failing main CI checks (#586)
  Makefile.ci.toml
  docker/Dockerfile
  surrealdb/core/src/sql/arbitrary/statements.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci(downstream-compat): provide AWS C++ SDK for the rocksdb-cloud build (#615)
  .github/workflows/downstream-compat.yml
Due: none

feat(buc): S3 / GCS / Azure object-storage bucket backends (#589)
  Cargo.lock
  deny.toml
  supply-chain/config.toml
  surrealdb/core/Cargo.toml
  surrealdb/core/src/buc/manager.rs
  surrealdb/core/src/buc/mod.rs
  surrealdb/core/src/buc/store/cloud.rs
  surrealdb/core/src/buc/store/metered.rs
  surrealdb/core/src/buc/store/mod.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/observe/events.rs
  surrealdb/core/src/observe/mod.rs
  surrealdb/core/src/observe/observer.rs
  surrealdb/server/src/cli/mcp.rs
  surrealdb/server/src/cli/mod.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/server/src/lib.rs
  surrealdb/server/src/observe/instruments.rs
  surrealdb/server/src/observe/metrics.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(kvs): let embedders install a custom bucket store provider (#619)
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Bitmap fusion 2/4: bitmap candidate operators + planner integration (AND/OR/NOT, index-only COUNT) (#547) (#585)
  language-tests/tests/language/planner/bitmap_fusion_count_new_executor.surql
  language-tests/tests/language/planner/bitmap_fusion_differential.surql
  language-tests/tests/language/planner/bitmap_fusion_new_executor.surql
  language-tests/tests/language/planner/bitmap_fusion_version_new_executor.surql
  language-tests/tests/language/planner/in_operator_index_new_executor.surql
  language-tests/tests/reproductions/7402_ft_or_nested_in_and_planner.surql
  surrealdb/cnf/src/lib.rs
  surrealdb/core/src/catalog/schema/index.rs
  surrealdb/core/src/doc/index.rs
  surrealdb/core/src/exec/index/access_path.rs
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/metrics.rs
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/exec/operators/scan/bitmap.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/physical_expr/matches.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/expr/statements/define/index.rs
  surrealdb/core/src/expr/statements/remove/index.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/key/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/tests.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci(test): give test threads an 8 MiB stack to stop an arm flake (#622)
  .github/workflows/ci.yml
Due: none

fix(http): don't error on wasm when enforcing net capabilities (#621)
  SECURITY_GUIDE.md
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/http/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(rpc): KV-backed durable HTTP RPC sessions with TTL expiration (#613)
  SECURITY_GUIDE.md
  revision.lock
  surrealdb/core/src/dbs/mod.rs
  surrealdb/core/src/dbs/session.rs
  surrealdb/core/src/key/category.rs
  surrealdb/core/src/key/mod.rs
  surrealdb/core/src/key/root/mod.rs
  surrealdb/core/src/key/root/se.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/kvs/tests/mod.rs
  surrealdb/core/src/kvs/tests/rpc_session_test.rs
  surrealdb/core/src/options.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/cli/config.rs
  surrealdb/server/src/cli/mcp.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/ntw/rpc.rs
  surrealdb/server/src/rpc/http.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/server/src/rpc/websocket.rs
  surrealdb/src/engine/tasks.rs
  tests/http_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(http): set the User-Agent on the wasm HTTP client (#624)
  surrealdb/core/src/http/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(kvs): runtime-swappable capabilities via ArcSwap (#620)
  Cargo.lock
  surrealdb/core/Cargo.toml
  surrealdb/core/src/iam/jwks.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/server/src/pg/conn.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(http): de-flake durable-session TTL expiry tests on slow CI runners (#632)
  tests/http_integration.rs
Due: workspace-tests, language-tests, integration-tests

Keep shutdown and memory pressure from durably failing concurrent index builds (#617)
  language-tests/Cargo.lock
  revision.lock
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index/admission.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/sequences.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/core/tests/it/index_build_shutdown.rs
  surrealdb/core/tests/it/main.rs
  surrealdb/kvs-rocksdb/src/commit_coordinator.rs
  surrealdb/kvs-rocksdb/src/lib.rs
  surrealdb/kvs-rocksdb/src/tests.rs
  surrealdb/kvs-surrealkv/src/commit_coordinator.rs
  surrealdb/kvs-surrealkv/src/lib.rs
  surrealdb/kvs/src/consts.rs
  surrealdb/kvs/src/err.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci(external-sdk-tests): raise Python test step timeout to 10 minutes (#640)
  .github/workflows/external-sdk-tests.yml
Due: none

fix(language-tests): correct inverted curl probe in upgrade downloader (#646)
  language-tests/src/cmd/upgrade/binaries.rs
Due: none

fix(fnc): implement mahalanobis/spearman, fix vector edge cases, heal registry splits (#649)
  language-tests/tests/language/functions/array/every.surql
  language-tests/tests/language/functions/array/includes.surql
  language-tests/tests/language/functions/array/index_of.surql
  language-tests/tests/language/functions/array/some.surql
  language-tests/tests/language/functions/time/nano.surql
  language-tests/tests/language/functions/value/chain.surql
  language-tests/tests/language/functions/vector/angle.surql
  language-tests/tests/language/functions/vector/distance_chebyshev.surql
  language-tests/tests/language/functions/vector/distance_mahalanobis.surql
  language-tests/tests/language/functions/vector/divide.surql
  language-tests/tests/language/functions/vector/magnitude.surql
  language-tests/tests/language/functions/vector/normalize.surql
  language-tests/tests/language/functions/vector/project.surql
  language-tests/tests/language/functions/vector/similarity_jaccard.surql
  language-tests/tests/language/functions/vector/similarity_pearson.surql
  language-tests/tests/language/functions/vector/similarity_spearman.surql
  language-tests/tests/parsing/errors/duration_set_functions_removed.surql
  surrealdb/core/benches/functions.rs
  surrealdb/core/src/exec/function/builtin/array.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/script/modules/surrealdb/functions/value.rs
  surrealdb/core/src/fnc/time.rs
  surrealdb/core/src/fnc/util/math/vector.rs
  surrealdb/core/src/fnc/vector.rs
  surrealdb/core/src/syn/parser/builtin.rs
  surrealdb/core/src/val/number.rs
  surrealdb/core/tests/it/function.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(server): de-flake startup_retry tests with paused tokio time (#652)
  surrealdb/server/Cargo.toml
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix release pipeline: prune guard, artifacts bucket, and nightly->beta cuts (#654)
  .github/scripts/cut-release.sh
  .github/workflows/cut.yml
  .github/workflows/release.yml
  .github/workflows/rolling-build.yml
  .github/workflows/rolling-channel.yml
  .github/workflows/rolling-downstream-build.yml
  .github/workflows/rolling-downstream.yml
Due: none

fix(dbs): preserve TransactionConflict kind so client retry works (#653)
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/tests/it/define.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(gql): make ISO GQL available by default (remove experimental gate) (#651)
  surrealdb/core/src/fnc/eval.rs
  surrealdb/core/src/gql/lower/test.rs
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/tests/stdio.rs
  surrealdb/server/src/ntw/gql.rs
  tests/gql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(parser): accept function-call sleep and keyword record ids, add cross-parser conformance tests (#656)
  Cargo.lock
  deny.toml
  language-tests/tests/language/functions/sleep.surql
  language-tests/tests/language/statements/relate/keyword_table_targets.surql
  surrealdb/core/Cargo.toml
  surrealdb/core/src/syn/parser/builtin.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/test/files/stmts/sleep.surql
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(exec): align builtin registry signatures with fnc implementations, add parity test (#655)
  language-tests/tests/language/functions/signature_parity.surql
  surrealdb/core/src/exec/function/builtin/api.rs
  surrealdb/core/src/exec/function/builtin/array.rs
  surrealdb/core/src/exec/function/builtin/count.rs
  surrealdb/core/src/exec/function/builtin/encoding.rs
  surrealdb/core/src/exec/function/builtin/geo.rs
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/exec/function/builtin/rand.rs
  surrealdb/core/src/exec/function/builtin/search.rs
  surrealdb/core/src/exec/function/builtin/sequence.rs
  surrealdb/core/src/exec/function/builtin/set.rs
  surrealdb/core/src/exec/function/builtin/string.rs
  surrealdb/core/src/exec/function/builtin/time.rs
  surrealdb/core/src/exec/function/builtin/type.rs
  surrealdb/core/src/exec/function/builtin/value.rs
  surrealdb/core/src/exec/function/macros.rs
  surrealdb/core/src/exec/function/mod.rs
  surrealdb/core/src/exec/function/parity_tests.rs
  surrealdb/core/src/exec/function/registry.rs
  surrealdb/core/src/exec/function/signature.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(lq): key the live-query cache on committed table state (stop notification loss) (#657)
  revision.lock
  surrealdb/core/src/catalog/compat/fixtures.rs
  surrealdb/core/src/catalog/compat/generator.rs
  surrealdb/core/src/catalog/compat/v3_3_0.rs
  surrealdb/core/src/catalog/table.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/doc/document.rs
  surrealdb/core/src/expr/statements/define/table.rs
  surrealdb/core/src/expr/statements/kill.rs
  surrealdb/core/src/expr/statements/live.rs
  surrealdb/core/src/expr/statements/remove/table.rs
  surrealdb/core/src/kvs/cache/ds/entry.rs
  surrealdb/core/src/kvs/cache/ds/key.rs
  surrealdb/core/src/kvs/cache/ds/lookup.rs
  surrealdb/core/src/kvs/cache/ds/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(rpc): bound and clean up client-managed WebSocket transactions (#658)
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/src/rpc/mod.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
