Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Stop a rebuild's wipe unfencing the index compactor (#849)
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/idx/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Require a write transaction whenever any clause can mutate (#853)
  language-tests/tests/language/statements/select/mutating_clause_gets_write_txn.surql
  surrealdb/core/src/dbs/mod.rs
  surrealdb/core/src/dbs/read_only_test.rs
  surrealdb/expr/src/expr/fetch.rs
  surrealdb/expr/src/expr/group.rs
  surrealdb/expr/src/expr/limit.rs
  surrealdb/expr/src/expr/lookup.rs
  surrealdb/expr/src/expr/order.rs
  surrealdb/expr/src/expr/part.rs
  surrealdb/expr/src/expr/split.rs
  surrealdb/expr/src/expr/start.rs
  surrealdb/expr/src/expr/statements/output.rs
  surrealdb/expr/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Populate the system metrics before serving the first query (#852)
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/observe/process.rs
  surrealdb/core/tests/it/define.rs
  surrealdb/core/tests/it/helpers/mod.rs
  surrealdb/core/tests/it/info.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Serve the embedded engine directly instead of through a route channel (#854)
  surrealdb/core/src/iam/jwks.rs
  surrealdb/engine-api/src/lib.rs
  surrealdb/engine-local/src/engine.rs
  surrealdb/engine-local/src/lib.rs
  surrealdb/engine-local/src/native.rs
  surrealdb/engine-local/src/router.rs
  surrealdb/engine-local/src/session.rs
  surrealdb/engine-local/src/wasm.rs
  surrealdb/src/conn/mod.rs
  surrealdb/src/engine/any/native.rs
  surrealdb/src/engine/any/wasm.rs
  surrealdb/src/engine/local/native.rs
  surrealdb/src/engine/local/wasm.rs
  surrealdb/src/engine/remote/mod.rs
  surrealdb/src/lib.rs
  surrealdb/src/method/query.rs
  surrealdb/src/method/tests/server.rs
  surrealdb/tests/api_integration/basic.rs
  surrealdb/tests/api_integration/mod.rs
  surrealdb/tests/api_integration/session_isolation.rs
  surrealdb/tests/stream_items.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Key full-text postings by document, not by term (#859)
  revision.lock
  surrealdb/datastore/Cargo.toml
  surrealdb/datastore/src/key/keyspace.map
  surrealdb/datastore/src/key/schema.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/datastore/src/values/fulltext.rs
  surrealdb/datastore/src/values/index_delta.rs
  surrealdb/idx/src/ft/fulltext.rs
  surrealdb/idx/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Keep the keyspace's typing all the way to the transaction (#861)
  Cargo.lock
  language-tests/Cargo.lock
  revision.lock
  surrealdb/core/src/dbs/processor.rs
  surrealdb/core/src/doc/purge.rs
  surrealdb/core/src/exec/operators/graph/expand.rs
  surrealdb/core/src/exec/operators/graph/path_expand.rs
  surrealdb/core/src/exec/operators/graph/shortest_path_expand.rs
  surrealdb/core/src/exec/operators/mutate.rs
  surrealdb/core/src/exec/operators/scan/graph.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/reference.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/legacy/expr/statements/define/field.rs
  surrealdb/datastore/src/key/keyspace.map
  surrealdb/datastore/src/key/schema.rs
  surrealdb/datastore/src/sequences.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/datastore/src/values/hnsw.rs
  surrealdb/idx/Cargo.toml
  surrealdb/idx/src/count.rs
  surrealdb/idx/src/ft/fulltext.rs
  surrealdb/idx/src/lib.rs
  surrealdb/idx/src/trees/diskann/index.rs
  surrealdb/idx/src/trees/diskann/provider.rs
  surrealdb/idx/src/trees/hnsw/index.rs
  surrealdb/idx/src/trees/hnsw/layer.rs
  surrealdb/idx/src/trees/hnsw/mod.rs
  surrealdb/keyspace-macro/src/codegen.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix double Arc-wrap in the bench harness so it compiles again (#865)
  .github/workflows/ci.yml
  language-tests/src/cmd/bench/run.rs
  language-tests/src/cmd/bench/store/local.rs
  language-tests/tests/bench/gql/util/knows-graph-5000.surql
  language-tests/tests/bench/gql/util/lattice-2000.surql
  language-tests/tests/bench/util/graph-dense-5000.surql
  language-tests/tests/bench/util/graph-hub-50000.surql
  language-tests/tests/bench/util/graph-sparse-5000.surql
  language-tests/tests/bench/util/graph-sparse-50000.surql
  language-tests/tests/bench/util/references-5000.surql
  language-tests/tests/bench/util/schemafull-record-table.surql
Due: none

Stream query results over the WebSocket RPC protocol (#812)
  Cargo.lock
  SECURITY_GUIDE.md
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/rpc/src/error.rs
  surrealdb/rpc/src/lib.rs
  surrealdb/rpc/src/method.rs
  surrealdb/rpc/src/response.rs
  surrealdb/rpc/src/stream.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/server/src/rpc/streaming.rs
  surrealdb/server/src/rpc/websocket.rs
  surrealdb/server/tests/ws.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Share one session registry, and close three gaps the review left open (#867)
  surrealdb/engine-api/Cargo.toml
  surrealdb/engine-api/src/lib.rs
  surrealdb/engine-api/src/session.rs
  surrealdb/engine-local/src/engine.rs
  surrealdb/engine-local/src/session.rs
  surrealdb/src/conn/mod.rs
  surrealdb/src/engine/remote/grpc.rs
  surrealdb/tests/api_integration/basic.rs
Due: workspace-tests, language-tests, surrealdb-sdk

test(upgrade): extend the language-test upgrade chain through 3.2.4 (#835)
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile.ci.toml
  REVIEW.md
  language-tests/src/cmd/upgrade/mod.rs
  language-tests/tests/upgrade/define/table_view_select.surql
Due: none

Say when a benchmark comparison is not comparing like with like (#868)
  .gitignore
  language-tests/src/cmd/bench/run.rs
  language-tests/src/cmd/bench/store/local.rs
  language-tests/src/cmd/bench/store/mod.rs
  language-tests/src/cmd/bench/store/remote.rs
  language-tests/src/cmd/bench/store/schema.surql
Due: none

docs: scope test conventions to their directories, and repoint SECURITY_GUIDE.md at code that exists (#871)
  .github/scripts/check-security-guide-refs.py
  .github/security-guide-refs-allow.txt
  .github/workflows/security-guide-refs.yml
  CLAUDE.md
  SECURITY_GUIDE.md
  language-tests/CLAUDE.md
  surrealdb/parser/CLAUDE.md
Due: workspace-tests, language-tests, surrealdb-sdk

Decode a delete's reference batch once (#870)
  surrealdb/core/src/doc/purge.rs
  surrealdb/idx/src/trees/diskann/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Lay the JavaScript engine crates out the way the repo does (#872)
  surrealdb/embedded/src/lib.rs
  surrealdb/kvs-mem/src/lib.rs
  surrealdb/node/Cargo.toml
  surrealdb/node/build.ts
  surrealdb/node/src-rust/err/mod.rs
  surrealdb/node/src/app.rs
  surrealdb/node/src/err.rs
  surrealdb/node/src/lib.rs
  surrealdb/wasm/Cargo.toml
  surrealdb/wasm/src/app/mod.rs
  surrealdb/wasm/src/app/types.rs
  surrealdb/wasm/src/err.rs
  surrealdb/wasm/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Walk a scan batch where it lies (#873)
  surrealdb/core/src/dbs/processor.rs
  surrealdb/idx/src/trees/diskann/index.rs
  surrealdb/idx/src/trees/hnsw/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Make every row fan-out state what it evaluates (#857)
  .github/scripts/quiet_system.py
  .github/scripts/summarise_fan_out_bench.py
  .github/workflows/fan-out-bench.yml
  surrealdb/core/Cargo.toml
  surrealdb/core/benches/fan_out.rs
  surrealdb/core/src/exec/buffer.rs
  surrealdb/core/src/exec/config.rs
  surrealdb/core/src/exec/fan_out.rs
  surrealdb/core/src/exec/mod.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/test_util.rs
  surrealdb/core/src/exec/parts/array_ops.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/physical_expr/subquery.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Run one process metrics refresher, whatever the datastore count (#877)
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/kvs/tasks/mod.rs
  surrealdb/core/src/observe/process.rs
  surrealdb/core/src/options.rs
  surrealdb/core/src/sys/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Name the function that rejected the pre-epoch datetime (#880)
  surrealdb/runtime/src/rand.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Let `grpc://` through to the gRPC engine (#881)
  Cargo.toml
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/src/engine/any/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Lint the wasm target, not just compile it (#878)
  .github/workflows/ci.yml
  Makefile.ci.toml
  surrealdb/core/src/buc/error.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/kvs/tasks/mod.rs
  surrealdb/idx/src/ft/analyzer/mapper.rs
  surrealdb/kvs-indxdb/src/tx.rs
  surrealdb/runtime/src/rand.rs
  surrealdb/src/engine/remote/http/wasm.rs
  surrealdb/src/engine/remote/ws/wasm.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Bound every MCP stdio test round-trip with a timeout (#883)
  surrealdb/mcp/tests/stdio.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Enforce the stream cap before the registry can grow (#885)
  surrealdb/server/src/rpc/streaming.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Pin streaming framing linearity structurally, not by wall clock (#892)
  surrealdb/server/src/rpc/streaming.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Stream a query's results out of the embedded JavaScript engines (#879)
  .github/workflows/external-sdk-tests.yml
  Cargo.lock
  Makefile.ci.toml
  deny.toml
  surrealdb/core/src/rpc/mod.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/embedded/Cargo.toml
  surrealdb/embedded/src/lib.rs
  surrealdb/embedded/src/protocol.rs
  surrealdb/embedded/src/stream.rs
  surrealdb/node/engine.test.ts
  surrealdb/node/src/app.rs
  surrealdb/rpc/src/framing.rs
  surrealdb/rpc/src/lib.rs
  surrealdb/server/src/rpc/grpc.rs
  surrealdb/server/src/rpc/streaming.rs
  surrealdb/server/src/rpc/websocket.rs
  surrealdb/wasm/engine.test.ts
  surrealdb/wasm/src/app/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Upgrade affinitypool to 0.8.0 (#897)
  Cargo.lock
  Cargo.toml
  fuzz/Cargo.lock
  language-tests/Cargo.lock
  supply-chain/imports.lock
  surrealdb/kvs-mem/src/lib.rs
  surrealdb/kvs-rocksdb/src/inline_guard.rs
  surrealdb/kvs-rocksdb/src/lib.rs
  surrealdb/kvs-surrealkv/src/lib.rs
  surrealdb/kvs/src/threadpool.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Bound a full-text compaction round by documents, not keys (#882)
  surrealdb/core/src/kvs/export.rs
  surrealdb/core/src/kvs/tests/write_guard_test.rs
  surrealdb/core/tests/it/export.rs
  surrealdb/datastore/src/key/schema.rs
  surrealdb/datastore/src/tr.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/datastore/src/values/index_delta.rs
  surrealdb/idx/src/ft/fulltext.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(3.1): security backports + make the 3.1 line releasable (#723)
  .github/workflows/external-sdk-tests.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  docker/Dockerfile
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealml/core/Cargo.toml
  surrealml/core/src/storage/header/input_dims.rs
  surrealml/core/src/storage/header/mod.rs
  surrealml/core/src/storage/header/origin.rs
  surrealml/core/src/storage/header/output.rs
  surrealml/core/src/storage/surml_file.rs
Due: workspace-tests, language-tests

ci(release): faster, dry-runnable, backport-free release pipeline (#676)
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/check-crate-versions/action.yml
  .github/actions/check-release-milestones/action.yml
  .github/actions/derive-rolling-vars/action.yml
  .github/actions/determine-latest-pointer/action.yml
  .github/actions/determine-release-config/action.yml
  .github/actions/guard-downstream-overwrite/action.yml
  .github/actions/guard-engine-overwrite/action.yml
  .github/actions/locate-rolling-build/action.yml
  .github/actions/mirror-docker/action.yml
  .github/actions/open-homebrew-bump-pr/action.yml
  .github/actions/prepare-release-vars/action.yml
  .github/actions/promote-binaries/action.yml
  .github/actions/propagate-binaries/action.yml
  .github/actions/prune-superseded-artifacts/action.yml
  .github/actions/publish-crate/action.yml
  .github/actions/quality-package/action.yml
  .github/actions/resolve-release-components/action.yml
  .github/scripts/advance-main-after-release.sh
  .github/scripts/bump-release-version.sh
  .github/scripts/check-confidentiality.sh
  .github/scripts/release-tags-le.py
  .github/scripts/tag-downstream-release.sh
  .github/workflows/ci.yml
  .github/workflows/confidentiality.yml
  .github/workflows/cut.yml
  .github/workflows/downstream-compat.yml
  .github/workflows/release.yml
  .github/workflows/rolling-build.yml
  .github/workflows/rolling-channel.yml
  .github/workflows/rolling-downstream-build.yml
  .github/workflows/rolling-downstream.yml
  .github/workflows/sync-upstream.yml
  Cargo.lock
  Makefile.ci.toml
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Metric for mutable-permissions capability usage (#902)
  doc/OBSERVABILITY.md
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/options.rs
  surrealdb/core/src/dbs/statement_counters.rs
  surrealdb/core/src/legacy/expr/expression.rs
  surrealdb/observe/src/events.rs
  surrealdb/observe/src/fan_out.rs
  surrealdb/observe/src/observer.rs
  surrealdb/server/src/observe/handler.rs
  surrealdb/server/src/observe/instruments.rs
  surrealdb/server/src/observe/metrics.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Run the MCP suite in CI, upgrade rmcp to 3.1.2, and pin the advertised protocol version (#904)
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  supply-chain/config.toml
  surrealdb/mcp/src/audit.rs
  surrealdb/mcp/src/completions.rs
  surrealdb/mcp/src/prompts/mod.rs
  surrealdb/mcp/src/prompts/query_builder.rs
  surrealdb/mcp/src/prompts/schema_explorer.rs
  surrealdb/mcp/src/resources/mod.rs
  surrealdb/mcp/src/resources/schema.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/src/tools/output.rs
  surrealdb/mcp/src/tools/output_schemas.rs
  surrealdb/mcp/tests/common/mod.rs
  surrealdb/mcp/tests/stdio.rs
  tests/mcp-js/bun.lock
  tests/mcp-js/package.json
  tests/mcp-js/src/harness.ts
  tests/mcp-js/tests/protocol-versions.test.ts
  tests/mcp-js/tests/tools.test.ts
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Keep the full-text count a compacted bitmap cannot hold (#896)
  language-tests/tests/reproductions/893_fulltext_compaction_term_round_grouping.surql
  revision.lock
  surrealdb/datastore/src/key/keyspace.map
  surrealdb/datastore/src/key/schema.rs
  surrealdb/datastore/src/values/fulltext.rs
  surrealdb/idx/src/ft/fulltext.rs
  surrealdb/idx/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Apply each auth route's own body-size limit (#909)
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/ntw/signin.rs
  surrealdb/server/src/ntw/signup.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Serve the stateless MCP protocol alongside the handshake-based revisions (#908)
  .github/workflows/ci.yml
  surrealdb/mcp/src/resources/instructions.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/src/session.rs
  surrealdb/mcp/src/tools/connection.rs
  surrealdb/mcp/src/tools/crud.rs
  surrealdb/mcp/src/tools/gql.rs
  surrealdb/mcp/src/tools/graphql.rs
  surrealdb/mcp/src/tools/mod.rs
  surrealdb/mcp/src/tools/query.rs
  surrealdb/mcp/src/tools/run.rs
  surrealdb/mcp/src/tools/schema.rs
  surrealdb/mcp/tests/basic.rs
  tests/mcp-js/src/harness.ts
  tests/mcp-js/src/stateless.ts
  tests/mcp-js/tests/protocol-versions.test.ts
  tests/mcp-js/tests/stateless.test.ts
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Fix field-level select permissions on computed fields, array fields and RETURN DIFF (#912)
  SECURITY_GUIDE.md
  language-tests/tests/access/record/array_field_select_permission.surql
  language-tests/tests/access/record/array_field_select_permission_import.surql
  language-tests/tests/access/record/computed_field_conditional_permission.surql
  language-tests/tests/access/record/computed_field_conditional_permission_import.surql
  language-tests/tests/access/record/computed_field_select_permission.surql
  language-tests/tests/access/record/computed_field_select_permission_import.surql
  language-tests/tests/access/record/diff_output_field_permissions.surql
  language-tests/tests/access/record/diff_output_field_permissions_import.surql
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/doc/output.rs
  surrealdb/core/src/doc/reduce.rs
  surrealdb/expr/src/val/value/each.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Set dedup and coercion fix (#574)
  language-tests/tests/reproductions/4230_set_value_dedup.surql
  surrealdb/core/src/doc/field.rs
  surrealdb/expr/src/val/set.rs
  surrealdb/expr/src/val/value/convert/coerce.rs
  surrealdb/expr/src/val/value/put.rs
  surrealdb/expr/src/val/value/walk.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
