Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Prepare v3.0.0-alpha.12 release
  Cargo.lock
  Cargo.toml
Due: none

Prepare v3.0.0-alpha.12 release (#6538)
  Cargo.lock
  Cargo.toml
Due: none

fixup
  cackle.toml
Due: none

Move strict mode to DB definition.
  crates/core/src/catalog/database.rs
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/providers.rs
  crates/core/src/cf/writer.rs
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/options.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/field.rs
  crates/core/src/expr/statements/access.rs
  crates/core/src/expr/statements/define/access.rs
  crates/core/src/expr/statements/define/database.rs
  crates/core/src/expr/statements/define/event.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/expr/statements/define/function.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/define/param.rs
  crates/core/src/expr/statements/define/sequence.rs
  crates/core/src/expr/statements/define/user.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/idx/trees/mtree.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/statements/define/database.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/core/tests/strict.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/statements/define/namespace/other_namespace.surql
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/opt/config.rs
  src/dbs/mod.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

fmt
  crates/core/src/catalog/mod.rs
  crates/core/src/expr/visit.rs
Due: surrealdb-core

attempt fix?
  .github/workflows/supply-chain.yml
Due: none

remove ml functionality momentarily
  Cargo.lock
  Cargo.toml
  crates/core/src/surrealism/host.rs
  crates/surrealism/demo/src/lib.rs
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-cli/src/host.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism/src/imports.rs
  crates/surrealism/surrealism/src/lib.rs
Due: surrealdb-core

drop version to 0.1.0
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

fixes
  cackle.toml
Due: none

cackle on macos
  Makefile
  cackle.Dockerfile
  cackle.toml
Due: none

update makefile
  Makefile
Due: none

Stabilise `DEFINE API`
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/expression.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/parameterized/schema/api.surql
  crates/language-tests/tests/language/statements/define/api/formatting.surql
  crates/sdk/src/opt/capabilities.rs
  src/net/api.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

fixup
  .github/workflows/supply-chain.yml
Due: none

Add semicolon
  crates/language-tests/tests/language/primitive/duration/beyond_max_parse.surql
Due: none

New input
  crates/language-tests/tests/language/expression/operators/casting/datetime.surql
Due: none

Add record reference and DEFINE API language tests (#6516)
  crates/language-tests/tests/language/closure/capture.surql
  crates/language-tests/tests/language/expression/operators/casting/datetime.surql
  crates/language-tests/tests/language/primitive/array/truthiness.surql
  crates/language-tests/tests/language/primitive/datetimes/truthiness.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max_parse.surql
  crates/language-tests/tests/language/primitive/duration/truthiness.surql
  crates/language-tests/tests/language/primitive/files/list.surql
  crates/language-tests/tests/language/primitive/numbers/truthiness.surql
  crates/language-tests/tests/language/primitive/object/truthiness.surql
  crates/language-tests/tests/language/primitive/regex/truthiness.surql
  crates/language-tests/tests/language/primitive/strings/truthiness.surql
  crates/language-tests/tests/language/primitive/uuid/truthiness.surql
  crates/language-tests/tests/language/reference/docs_1.surql
  crates/language-tests/tests/language/reference/docs_2.surql
  crates/language-tests/tests/language/reference/docs_3.surql
  crates/language-tests/tests/language/reference/docs_4.surql
  crates/language-tests/tests/language/reference/docs_5.surql
  crates/language-tests/tests/language/reference/docs_6.surql
  crates/language-tests/tests/language/reference/graph_clauses_comparison.surql
  crates/language-tests/tests/language/reference/graph_comparison_recursive.surql
  crates/language-tests/tests/language/reference/graph_comparison_simple.surql
  crates/language-tests/tests/language/statements/alter/alter_field.surql
  crates/language-tests/tests/language/statements/alter/alter_table.surql
  crates/language-tests/tests/language/statements/alter/alter_table_if_exists.surql
  crates/language-tests/tests/language/statements/define/api/failures.surql
  crates/language-tests/tests/language/statements/define/api/middleware.surql
Due: none

Stabilise record references
  crates/core/src/dbs/capabilities.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/purge.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/lookup.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/reference/5902_new_reference_on_update.surql
  crates/language-tests/tests/language/reference/array.surql
  crates/language-tests/tests/language/reference/cleanup.surql
  crates/language-tests/tests/language/reference/docs_1.surql
  crates/language-tests/tests/language/reference/docs_2.surql
  crates/language-tests/tests/language/reference/docs_3.surql
  crates/language-tests/tests/language/reference/docs_4.surql
  crates/language-tests/tests/language/reference/docs_5.surql
  crates/language-tests/tests/language/reference/docs_6.surql
  crates/language-tests/tests/language/reference/example_blog.surql
  crates/language-tests/tests/language/reference/graph_clauses_comparison.surql
  crates/language-tests/tests/language/reference/graph_comparison_recursive.surql
  crates/language-tests/tests/language/reference/graph_comparison_simple.surql
  crates/language-tests/tests/language/reference/multi-references.surql
  crates/language-tests/tests/language/statements/alter/alter_field.surql
  crates/language-tests/tests/language/statements/define/field/computed/forbidden_fields.surql
  crates/sdk/src/opt/capabilities.rs
  crates/sdk/tests/api_integration/mod.rs
  src/dbs/mod.rs
  tests/http_integration.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin, integration-tests

Remove experimental features test
  crates/sdk/tests/api_integration/mod.rs
  src/dbs/mod.rs
Due: surrealdb-sdk, surrealdb-bin

test fixes
  crates/core/tests/info.rs
  crates/core/tests/param.rs
  crates/core/tests/relate.rs
  crates/core/tests/remove.rs
  crates/core/tests/strict.rs
Due: surrealdb-core

Use surrealdb rocksdb crates
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

cackle for surrealdb
  cackle.toml
  deny.toml
Due: none

Switch to SurrealDB / RocksDB crates
  Cargo.lock
  Cargo.toml
  cackle.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

update runner
  .github/workflows/ci.yml
Due: none

Fix
  cackle.toml
Due: none

[Backport] Add disk space limits and read-only/deletion-only modes for RocksDB (#6530) (#6537)
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  cackle.toml
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Migrate RocksDB dependency to published crates.io package (#6545)
  Cargo.lock
  Cargo.toml
  cackle.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

WIP - mostly working.
  crates/core/src/sql/block.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/set.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/tests/cmp.rs
  crates/language-tests/tests/language/closure/capture.surql
  crates/language-tests/tests/language/functions/set/add.surql
  crates/language-tests/tests/language/functions/set/complement.surql
  crates/language-tests/tests/language/functions/set/complex_values.surql
  crates/language-tests/tests/language/functions/set/contains.surql
  crates/language-tests/tests/language/functions/set/conversion.surql
  crates/language-tests/tests/language/functions/set/difference.surql
  crates/language-tests/tests/language/functions/set/edge_cases.surql
  crates/language-tests/tests/language/functions/set/filter.surql
  crates/language-tests/tests/language/functions/set/first.surql
  crates/language-tests/tests/language/functions/set/flatten.surql
  crates/language-tests/tests/language/functions/set/fold.surql
  crates/language-tests/tests/language/functions/set/intersect.surql
  crates/language-tests/tests/language/functions/set/map.surql
  crates/language-tests/tests/language/functions/set/method_syntax.surql
  crates/language-tests/tests/language/functions/set/reduce.surql
  crates/language-tests/tests/language/functions/set/remove.surql
  crates/language-tests/tests/language/functions/set/slice.surql
  crates/language-tests/tests/language/functions/set/union.surql
  crates/language-tests/tests/language/functions/type/set.surql
  crates/language-tests/tests/language/primitive/set/basic.surql
  crates/language-tests/tests/language/statements/define/param/future_value_this.surql
  crates/language-tests/tests/parsing/errors/missed_qoute_object.surql
  crates/language-tests/tests/parsing/glueing/number_in_block.surql
  crates/types/src/lib.rs
  crates/types/src/value/set.rs
Due: surrealdb-core, surrealdb-types

Tidy
  crates/core/src/syn/parser/value.rs
  crates/sdk/src/engine/remote/ws/native.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix wasm
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-sdk

Language tests passing.
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/statement.rs
  crates/core/src/doc/field.rs
  crates/core/src/expr/kind.rs
  crates/language-tests/tests/language/closure/readonly.surql
  crates/language-tests/tests/language/idiom/destructure-any-expression.surql
  crates/language-tests/tests/language/primitive/graph/select_inout_graph.surql
  crates/language-tests/tests/language/statements/define/field/empty_nested_arrays.surql
  crates/language-tests/tests/language/statements/define/field/empty_nested_objects.surql
  crates/language-tests/tests/language/statements/define/field/strict_nested.surql
  crates/language-tests/tests/language/statements/define/field/value_assert_failure.surql
  crates/language-tests/tests/language/statements/define/field/value_assert_success.surql
  crates/language-tests/tests/language/statements/define/namespace/no_ns.surql
  crates/language-tests/tests/language/statements/define/namespace/other_namespace.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_create.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_new_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_update.surql
  crates/language-tests/tests/language/statements/for/break_in_closure.surql
  crates/language-tests/tests/language/statements/for/break_in_function.surql
  crates/language-tests/tests/language/statements/for/continue_in_closure.surql
  crates/language-tests/tests/language/statements/for/continue_in_function.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_and_update_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/upsert/new_and_update_records_content_merge.surql
  crates/language-tests/tests/language/strict/no_database.surql
  crates/language-tests/tests/language/strict/no_namespace.surql
  crates/language-tests/tests/language/strict/no_table.surql
  crates/language-tests/tests/parsing/expr/model.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/parsing/statements/function_selector.surql
  crates/language-tests/tests/parsing/statements/select_graph.surql
Due: surrealdb-core

Remove FLEXIBLE, replace with `TYPE object` or `TYPE any`
  crates/core/src/catalog/schema/field.rs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/field.rs
  crates/core/src/expr/statements/alter/field.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/sql/statements/alter/field.rs
  crates/core/src/sql/statements/define/field.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/tests/field.rs
  crates/core/tests/upsert.rs
  crates/language-tests/README.md
  crates/language-tests/tests/datasets/surreal-deal-store-mini.surql
  crates/language-tests/tests/language/statements/alter/define_field.surql
  crates/language-tests/tests/language/statements/define/field/basic.surql
  crates/language-tests/tests/language/statements/define/field/computed/forbidden_fields.surql
  crates/language-tests/tests/language/statements/define/field/default_always.surql
  crates/language-tests/tests/language/statements/define/field/default_to_another_field.surql
  crates/language-tests/tests/language/statements/define/field/default_value.surql
  crates/language-tests/tests/language/statements/define/field/empty_nested_flexible.surql
  crates/language-tests/tests/language/statements/define/field/flexible_array_any.surql
  crates/language-tests/tests/language/statements/define/field/flexible_assert.surql
  crates/language-tests/tests/language/statements/define/field/flexible_deprecated.surql
  crates/language-tests/tests/language/statements/define/field/flexible_type.surql
  crates/language-tests/tests/language/statements/upsert/new_and_update_records_content_merge.surql
  crates/language-tests/tests/upgrade/define/field_simple_clauses.surql
  crates/language-tests/tests/upgrade/define/field_simple_clauses_import.surql
  revision.lock
  tests/data/surreal-deal-store-mini.surql
Due: surrealdb-core, integration-tests

SDB-6: Fix unit tests.
  crates/core/src/catalog/test.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/tests/complex.rs
  crates/core/tests/field.rs
  crates/core/tests/strict.rs
Due: surrealdb-core

Fix wasm
  crates/sdk/src/engine/local/wasm.rs
Due: surrealdb-sdk

SDB-16: Fix testcase
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Fix a few more tests.
  crates/core/src/syn/lexer/keywords.rs
  crates/sdk/tests/api_integration/backup.rs
  tests/ws_integration.rs
Due: surrealdb-core, surrealdb-sdk, integration-tests
