Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Add new ALTER and REMOVE statements
  surrealdb/core/src/exec/operators/ddl/alter/access.rs
  surrealdb/core/src/exec/operators/ddl/alter/analyzer.rs
  surrealdb/core/src/exec/operators/ddl/alter/bucket.rs
  surrealdb/core/src/exec/operators/ddl/alter/event.rs
  surrealdb/core/src/exec/operators/ddl/alter/function.rs
  surrealdb/core/src/exec/operators/ddl/alter/mod.rs
  surrealdb/core/src/exec/operators/ddl/alter/module.rs
  surrealdb/core/src/exec/operators/ddl/alter/param.rs
  surrealdb/core/src/exec/operators/ddl/alter/user.rs
  surrealdb/core/src/exec/operators/ddl/remove/config.rs
  surrealdb/core/src/exec/operators/ddl/remove/mod.rs
  surrealdb/core/src/exec/planner/ddl.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Increase language tests default timeout to 5s.
  language-tests/README.md
  language-tests/src/tests/schema/bytes_hack.rs
  language-tests/src/tests/schema/mod.rs
Due: none

Tidy up
  language-tests/tests/reproductions/7129_unique_index_none_order.surql
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/idx/planner/iterators.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

tidy
  language-tests/Cargo.toml
Due: none

Add test for pagination
  language-tests/tests/reproductions/7129_unique_index_none_large_batch.surql
  surrealdb/core/src/exec/index/iterator/btree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix duration and run clippy
  language-tests/Cargo.lock
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/src/cmd/run/util.rs
  language-tests/src/tests/cmp.rs
  language-tests/src/tests/mod.rs
  language-tests/src/tests/report/display.rs
  language-tests/src/tests/report/mod.rs
  language-tests/src/tests/schema/mod.rs
Due: none

Update README to reflect new default
  language-tests/README.md
Due: none

Tidy
  surrealdb/core/src/idx/planner/iterators.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove global http client cache
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/test.rs
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/fnc/script/fetch/func.rs
  surrealdb/core/src/fnc/util/http/mod.rs
  surrealdb/core/src/http/enabled/mod.rs
  surrealdb/core/src/http/enabled/resolve.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/http/stub/mod.rs
  surrealdb/core/src/iam/access.rs
  surrealdb/core/src/idx/ft/analyzer/mod.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix warnings + errors
  surrealdb/core/src/fnc/script/fetch/func.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Use the client pool in more places
  rust-toolchain.toml.tmp
  surrealdb/core/.nvim.lua
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/fnc/http.rs
  surrealdb/core/src/http/enabled/mod.rs
  surrealdb/core/src/http/enabled/resolve.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add itsezc to core team.
  .github/workflows/community-pr-label.yml
Due: none

Undo rust-toolchain change
  rust-toolchain.toml
Due: none

fix: linting, fmt & merge with main
  surrealdb/core/src/gql/schema.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix compile issues with different features + targets
  surrealdb/core/.nvim.lua
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/http/enabled/mod.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/http/resolve.rs
  surrealdb/core/src/http/stub/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Formatting fixes
  language-tests/Cargo.lock
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix omit issues across old and new executor.
  language-tests/tests/language/statements/select/select_value_omit.surql
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add Security Considerations section to PR template.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

what to do if security implication
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix formatting + wasm
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix warnings + errors wasm
  surrealdb/core/src/http/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix formatting again
  surrealdb/core/src/http/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix clippy
  surrealdb/core/src/http/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixins
  language-tests/tests/language/statements/select/select_value_omit_record_id.surql
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Ensure majority regions are updated
  .github/actions/propagate-binaries/action.yml
Due: none

Try propagating all regions even if one fails
  .github/actions/propagate-binaries/action.yml
Due: none

Fix Node.js warnings
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/docker-build/action.yml
  .github/actions/package-macos-universal/action.yml
  .github/actions/propagate-binaries/action.yml
  .github/actions/publish-binaries/action.yml
  .github/actions/run-benchmark/action.yml
  .github/actions/setup-environment/action.yml
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/crud-bench.yml
  .github/workflows/fuzzing.yml
  .github/workflows/scorecard.yml
Due: none

Only fail propagation if all regions fail
  .github/actions/propagate-binaries/action.yml
Due: none

fix issues
  language-tests/tests/access/root/es512_if_not_exists.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/algorithm.rs
  surrealdb/core/src/expr/statements/define/access.rs
  surrealdb/core/src/iam/issue.rs
  surrealdb/core/src/iam/mod.rs
  surrealdb/core/src/iam/verify.rs
  surrealdb/core/src/sql/algorithm.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Update more actions
  .github/actions/docker-build/action.yml
  .github/actions/install-tools/action.yml
  .github/actions/publish-binaries/action.yml
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/crud-bench.yml
  .github/workflows/nix.yml
  .github/workflows/scorecard.yml
Due: none

revert fuzz/cargo.lock
  fuzz/Cargo.lock
Due: none

Fix: bearer jwt fix and namescope test
  language-tests/tests/access/namespace/es512_unsupported.surql
  surrealdb/core/src/expr/statements/define/access.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

revert fuzz/cargo.lock but now fr
  fuzz/Cargo.lock
Due: none

Add explicit timeouts
  .github/actions/propagate-binaries/action.yml
Due: none

Fix auth limit with ALTER statements.
  language-tests/tests/reproductions/alter_auth_limit_escalation.surql
  language-tests/tests/reproductions/alter_auth_limit_escalation_import.surql
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/alter/event.rs
  surrealdb/core/src/expr/statements/alter/field.rs
  surrealdb/core/src/expr/statements/alter/function.rs
  surrealdb/core/tests/auth_limit.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

address comments, new tests
  language-tests/tests/access/database/es512_if_not_exists.surql
  language-tests/tests/access/namespace/es512_if_not_exists.surql
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/expr/statements/define/access.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix test
  surrealdb/core/tests/auth_limit.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Specify session ID for http requests.
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/ntw/rpc.rs
  surrealdb/server/src/rpc/http.rs
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Require session id for websocket session management.
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/ntw/rpc.rs
  surrealdb/server/src/rpc/http.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix permission check ordering.
  language-tests/tests/reproductions/where_permissions_data_leak.surql
  language-tests/tests/reproductions/where_permissions_data_leak_import.surql
  surrealdb/core/src/doc/delete.rs
  surrealdb/core/src/doc/select.rs
  surrealdb/core/src/doc/update.rs
  surrealdb/core/src/doc/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
