Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

cargo vet
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

WIP
  crates/core/src/expr/executable.rs
  crates/core/src/idx/trees/knn.rs
  crates/core/src/surrealism/host.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism-runtime/src/kv.rs
Due: surrealdb-core

Add DbReadOnly error
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Add underlying error to TxRetryable
  crates/core/src/err/mod.rs
  crates/core/src/iam/access.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Add Out of Disk (OOD) Error Handling for RocksDB Backend (#6198)
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/sequences.rs
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
Due: surrealdb-core

Fix?
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
Due: surrealdb-core

Fix clippy
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/fdb/mod.rs
Due: surrealdb-core

Wip
  crates/core/src/err/mod.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Wip
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

More tests
  crates/language-tests/tests/language/closure/capture.surql
  crates/language-tests/tests/language/expression/operators/casting/datetime.surql
  crates/language-tests/tests/language/primitive/array/truthiness.surql
  crates/language-tests/tests/language/primitive/datetimes/truthiness.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max_parse.surql
  crates/language-tests/tests/language/primitive/duration/truthiness.surql
  crates/language-tests/tests/language/primitive/files/list.surql
  crates/language-tests/tests/language/primitive/numbers/truthiness.surql
  crates/language-tests/tests/language/primitive/object/truthiness.surql
  crates/language-tests/tests/language/primitive/regex/truthiness.surql
  crates/language-tests/tests/language/primitive/strings/truthiness.surql
  crates/language-tests/tests/language/primitive/uuid/truthiness.surql
  crates/language-tests/tests/language/statements/alter/alter_field.surql
  crates/language-tests/tests/language/statements/alter/alter_table.surql
  crates/language-tests/tests/language/statements/alter/alter_table_if_exists.surql
Due: none

Wip
  crates/core/src/kvs/sequences.rs
Due: surrealdb-core

Cleanup
  crates/core/src/expr/statements/define/database.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/define/namespace.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/idx/seqdocids.rs
  crates/core/src/kvs/sequences.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Doc + cleanup
  crates/core/src/key/database/th.rs
  crates/core/src/key/namespace/dh.rs
  crates/core/src/key/root/nh.rs
  crates/core/src/key/table/ih.rs
  crates/core/src/kvs/sequences.rs
Due: surrealdb-core

Fix variables names - add comments
  crates/core/src/key/database/th.rs
  crates/core/src/key/database/ti.rs
  crates/core/src/kvs/sequences.rs
Due: surrealdb-core

working?
  .rust-analyzer.toml
  Cargo.lock
  crates/core/src/expr/executable.rs
  crates/core/src/surrealism/host.rs
  crates/core/src/surrealism/mod.rs
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-cli/src/commands/build/mod.rs
  crates/surrealism/surrealism-cli/src/commands/info/mod.rs
  crates/surrealism/surrealism-cli/src/commands/mod.rs
  crates/surrealism/surrealism-cli/src/commands/run/mod.rs
  crates/surrealism/surrealism-cli/src/commands/sig/mod.rs
  crates/surrealism/surrealism-cli/src/host.rs
  crates/surrealism/surrealism-cli/src/main.rs
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism-runtime/src/lib.rs
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism-types/src/controller.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/surrealism-types/src/transfer.rs
  crates/surrealism/surrealism/Cargo.toml
Due: surrealdb-core

cleanup
  crates/core/src/buc/store/file.rs
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/executable.rs
  crates/core/src/expr/function.rs
  crates/core/src/expr/statements/define/function/silo.rs
  crates/core/src/sql/function.rs
  crates/core/src/surrealism/cache.rs
  crates/core/src/surrealism/host.rs
  crates/core/src/val/file.rs
  crates/surrealism/surrealism-cli/src/commands/info/mod.rs
  crates/surrealism/surrealism-cli/src/commands/sig/mod.rs
  crates/surrealism/surrealism-runtime/src/capabilities.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism-runtime/src/kv.rs
  crates/surrealism/surrealism-types/src/args.rs
  crates/surrealism/surrealism-types/src/controller.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/surrealism-types/src/transfer.rs
Due: surrealdb-core

Cleanup
  crates/core/src/idx/seqdocids.rs
  crates/core/src/key/namespace/dh.rs
  crates/core/src/key/root/nh.rs
  crates/core/src/kvs/sequences.rs
Due: surrealdb-core

Fix revision
  revision.lock
Due: none

Group by in normal select fixed
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/test.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/dbs/result.rs
  crates/core/src/doc/alter.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/edges.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/idx/planner/checker.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/key/record.rs
  crates/core/src/kvs/cache/tx/entry.rs
  crates/core/src/kvs/export.rs
  crates/core/src/kvs/index.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/val/mod.rs
  crates/language-tests/tests/language/functions/search/search-rrf.surql
  crates/language-tests/tests/language/statements/select/group/basic.surql
Due: surrealdb-core

Factor out common code into a module
  crates/core/src/catalog/database.rs
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/view.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/dbs/result.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/view.rs
  crates/core/src/sql/view.rs
Due: surrealdb-core

Expose IntoVariables
  crates/sdk/src/method/mod.rs
Due: surrealdb-sdk

Fix misc issues to fix JS SDK errors.
  crates/core/src/kvs/export.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/statements/option.rs
  crates/sdk/src/engine/local/mod.rs
  crates/types-derive/src/attr/mod.rs
  crates/types-derive/src/attr/named_fields.rs
  crates/types-derive/src/structs/fields/mod.rs
  crates/types-derive/src/structs/fields/named.rs
  crates/types/tests/surreal_value/derive/mod.rs
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

fix parsing issue
  crates/core/src/syn/parser/function.rs
Due: surrealdb-core

fixes
  crates/core/src/buc/store/file.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/test/demo.surli
Due: surrealdb-core

fmt
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

Wip
  crates/core/Cargo.toml
Due: surrealdb-core

Fix misc issues to fix JS SDK errors. (#6520)
  crates/core/src/kvs/export.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/statements/option.rs
  crates/sdk/src/engine/local/mod.rs
  crates/types-derive/src/attr/mod.rs
  crates/types-derive/src/attr/named_fields.rs
  crates/types-derive/src/structs/fields/mod.rs
  crates/types-derive/src/structs/fields/named.rs
  crates/types/tests/surreal_value/derive/mod.rs
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

experimental
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/executable.rs
  crates/core/src/expr/expression.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/sdk/src/api/opt/capabilities.rs
Due: surrealdb-core, surrealdb-sdk

add comments
  crates/surrealism/surrealism-types/README.md
  crates/surrealism/surrealism-types/src/arg.rs
  crates/surrealism/surrealism-types/src/args.rs
  crates/surrealism/surrealism-types/src/controller.rs
  crates/surrealism/surrealism-types/src/err.rs
  crates/surrealism/surrealism-types/src/lib.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/surrealism-types/src/transfer.rs
  crates/surrealism/surrealism-types/src/utils.rs
Due: none

Fix cbor and add type_of function.
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/mod.rs
  crates/core/src/fnc/type.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/language/functions/type/type_of.surql
Due: surrealdb-core

Add idiom method.
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/mod.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/language/functions/type/type_of.surql
Due: surrealdb-core

Fix cbor and add `type::of` function. (#6523)
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/type.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/language/functions/type/type_of.surql
Due: surrealdb-core

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
