Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

More WIP
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/planner.rs
Due: surrealdb-core

Added EXPLAIN
  crates/core/src/dbs/executor/compute.rs
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/context.rs
  crates/core/src/exec/explain.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators/broadcast.rs
  crates/core/src/exec/operators/compute_fields.rs
  crates/core/src/exec/operators/create.rs
  crates/core/src/exec/operators/delete.rs
  crates/core/src/exec/operators/filter.rs
  crates/core/src/exec/operators/lookup.rs
  crates/core/src/exec/operators/project.rs
  crates/core/src/exec/operators/scan.rs
  crates/core/src/exec/operators/union.rs
  crates/core/src/exec/operators/update.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/planner.rs
  crates/core/src/expr/mod.rs
  crates/core/src/expr/plan.rs
  crates/core/src/expr/visit.rs
  crates/core/src/sql/ast.rs
  crates/core/src/sql/mod.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/language-tests/tests/language/param/param_no_namespace.surql
  crates/language-tests/tests/language/statements/explain/analyze_unsupported.surql
  crates/language-tests/tests/language/statements/explain/basic.surql
  crates/language-tests/tests/language/statements/explain/comprehensive.surql
  crates/language-tests/tests/language/statements/explain/format_json_unsupported.surql
  crates/language-tests/tests/language/statements/explain/format_text.surql
  crates/language-tests/tests/language/statements/explain/let_statement.surql
  crates/language-tests/tests/language/statements/explain/where_clause.surql
  crates/language-tests/tests/statements/explain.surql
Due: surrealdb-core

Tidying
  crates/core/src/dbs/executor/compute.rs
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/explain.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators/create.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/planner.rs
  crates/core/src/expr/mod.rs
  crates/core/src/expr/plan.rs
  crates/core/src/sql/ast.rs
  crates/core/src/syn/parser/stmt/mod.rs
Due: surrealdb-core

Add ScriptExecutor (phases 1-4).
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/completion_map.rs
  crates/core/src/exec/context.rs
  crates/core/src/exec/explain.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators.rs
  crates/core/src/exec/operators/broadcast.rs
  crates/core/src/exec/operators/compute_fields.rs
  crates/core/src/exec/operators/create.rs
  crates/core/src/exec/operators/delete.rs
  crates/core/src/exec/operators/filter.rs
  crates/core/src/exec/operators/limit.rs
  crates/core/src/exec/operators/lookup.rs
  crates/core/src/exec/operators/project.rs
  crates/core/src/exec/operators/scan.rs
  crates/core/src/exec/operators/sort.rs
  crates/core/src/exec/operators/union.rs
  crates/core/src/exec/operators/update.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/planner.rs
  crates/core/src/exec/script_executor.rs
  crates/core/src/exec/statement.rs
  crates/language-tests/tests/language/statements/select/order_by_limit.surql
Due: surrealdb-core

Add context mutating operators.
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/completion_map.rs
  crates/core/src/exec/context.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators.rs
  crates/core/src/exec/operators/context_mutating/begin_plan.rs
  crates/core/src/exec/operators/context_mutating/cancel_plan.rs
  crates/core/src/exec/operators/context_mutating/commit_plan.rs
  crates/core/src/exec/operators/context_mutating/let_plan.rs
  crates/core/src/exec/operators/context_mutating/mod.rs
  crates/core/src/exec/operators/context_mutating/use_plan.rs
  crates/core/src/exec/operators/limit.rs
  crates/core/src/exec/operators/sort.rs
  crates/core/src/exec/planner.rs
  crates/core/src/exec/script_executor.rs
  crates/core/src/exec/statement.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Async output_context
  crates/core/src/exec/access_mode.rs
  crates/core/src/exec/block.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators/broadcast.rs
  crates/core/src/exec/operators/compute_fields.rs
  crates/core/src/exec/operators/context_mutating/begin_plan.rs
  crates/core/src/exec/operators/context_mutating/cancel_plan.rs
  crates/core/src/exec/operators/context_mutating/commit_plan.rs
  crates/core/src/exec/operators/context_mutating/let_plan.rs
  crates/core/src/exec/operators/context_mutating/use_plan.rs
  crates/core/src/exec/operators/create.rs
  crates/core/src/exec/operators/delete.rs
  crates/core/src/exec/operators/filter.rs
  crates/core/src/exec/operators/limit.rs
  crates/core/src/exec/operators/lookup.rs
  crates/core/src/exec/operators/project.rs
  crates/core/src/exec/operators/scan.rs
  crates/core/src/exec/operators/sort.rs
  crates/core/src/exec/operators/union.rs
  crates/core/src/exec/operators/update.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/planner.rs
  crates/core/src/exec/script_executor.rs
  crates/core/src/exec/statement.rs
Due: surrealdb-core

Simplify some of the expressions and operators.
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/executor/stream.rs
  crates/core/src/exec/explain.rs
  crates/core/src/exec/mod.rs
  crates/core/src/exec/operators.rs
  crates/core/src/exec/operators/context_mutating/begin_plan.rs
  crates/core/src/exec/operators/context_mutating/cancel_plan.rs
  crates/core/src/exec/operators/context_mutating/commit_plan.rs
  crates/core/src/exec/operators/context_mutating/let_plan.rs
  crates/core/src/exec/operators/context_mutating/mod.rs
  crates/core/src/exec/operators/context_mutating/use_plan.rs
  crates/core/src/exec/operators/explain.rs
  crates/core/src/exec/operators/expr.rs
  crates/core/src/exec/planner.rs
  crates/core/src/exec/statement.rs
  crates/core/src/exec/stream_executor.rs
  crates/core/src/kvs/ds.rs
  crates/language-tests/tests/language/statements/explain/basic.surql
  crates/language-tests/tests/language/statements/explain/comprehensive.surql
  crates/language-tests/tests/language/statements/explain/format_text.surql
  crates/language-tests/tests/language/statements/explain/let_statement.surql
  crates/language-tests/tests/language/statements/explain/where_clause.surql
  crates/language-tests/tests/statements/explain.surql
Due: surrealdb-core

WIP
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/api/middleware/api_x/common.rs
  crates/core/src/api/middleware/api_x/mod.rs
  crates/core/src/api/middleware/api_x/req.rs
  crates/core/src/api/middleware/api_x/res.rs
  crates/core/src/api/middleware/mod.rs
  crates/core/src/api/mod.rs
  crates/core/src/api/request.rs
  crates/core/src/api/response.rs
  crates/core/src/api/scratchpad.md
  crates/server/src/ntw/api.rs
Due: surrealdb-core

prepare 0.17 release
  Cargo.lock
  Cargo.toml
Due: none

- Add DEFER keyword - Building::maybe_consume support defer
  crates/core/src/idx/ft/mod.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/define/index.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

fix UUID in export
  crates/core/src/val/uuid.rs
Due: surrealdb-core

Optimize Scan and Filter.
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/exec/context.rs
  crates/core/src/exec/operators/filter.rs
  crates/core/src/exec/operators/scan.rs
  crates/core/src/exec/planner.rs
  crates/sdk/src/method/query.rs
Due: surrealdb-core, surrealdb-sdk

use SqlFormat::SingleLine
  crates/core/src/val/uuid.rs
Due: surrealdb-core

Implement defering
  crates/core/src/kvs/index.rs
  revision.lock
Due: surrealdb-core

Fix LIVE SELECT doesn't returning UUID (#6694)
  crates/sdk/src/method/query.rs
  crates/sdk/tests/api_integration/live.rs
Due: surrealdb-sdk

Fix wasm
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/define/index.rs
Due: surrealdb-core

Add defer task
  crates/core/src/kvs/index.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/sdk/tests/define.rs
Due: surrealdb-core, surrealdb-sdk

Export UUID instead of plain string (#6718)
  crates/core/src/val/uuid.rs
Due: surrealdb-core

Fix nix conditions
  .github/workflows/nix.yml
Due: none

Add executor criterion benchmarks
  crates/core/Cargo.toml
  crates/core/benches/allocator.rs
  crates/core/benches/common/mod.rs
  crates/core/benches/executor.rs
  crates/core/benches/statements.rs
  crates/sdk/Cargo.toml
  crates/sdk/benches/allocator.rs
  crates/sdk/benches/executor.rs
  crates/sdk/benches/order.rs
  crates/sdk/benches/processor.rs
  crates/sdk/benches/with_or_without_index.rs
Due: surrealdb-core, surrealdb-sdk

Add documentation
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/define/index.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/sdk/tests/insert.rs
Due: surrealdb-core, surrealdb-sdk

Fix languages test + revision lock
  crates/core/src/kvs/index.rs
  revision.lock
Due: surrealdb-core

Fix clippy
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Add even more comprehensive benchmarks
  crates/core/benches/executor.rs
Due: surrealdb-core

Remove unused error variants from SDK.
  crates/sdk/Cargo.toml
  crates/sdk/src/err/mod.rs
Due: surrealdb-sdk

Add benchmarks for SurrealQL functions
  crates/core/Cargo.toml
  crates/core/benches/functions.rs
Due: surrealdb-core

Fix clippy warnings
  crates/core/benches/common/mod.rs
  crates/core/benches/executor.rs
Due: surrealdb-core

wip
  crates/core/src/exec/context.rs
  crates/core/src/exec/operators/compute_fields.rs
  crates/core/src/exec/operators/filter.rs
  crates/core/src/exec/operators/scan.rs
  crates/core/src/exec/physical_expr.rs
  crates/core/src/exec/stream_executor.rs
  crates/core/src/kvs/ds.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/cli.rs
  crates/language-tests/src/cmd/run/provisioner.rs
  crates/language-tests/src/cmd/upgrade/process.rs
  crates/language-tests/src/tests/report/mod.rs
  crates/sdk/src/method/query.rs
Due: surrealdb-core, surrealdb-sdk

Add the crud-bench workflow
  .github/scripts/analyze_benchmark.py
  .github/scripts/benchmark-results-init.sh
  .github/workflows/crud-bench.yml
  doc/BENCHMARKING.md
Due: none

style: remove trailing whitespace in query.rs doc comments
  crates/sdk/src/method/query.rs
Due: surrealdb-sdk

fix: include element position in coercion error messages
  crates/core/src/val/value/convert/coerce.rs
Due: surrealdb-core

Update crates/core/benches/statements.rs
  crates/core/benches/statements.rs
Due: surrealdb-core

Add criterion benchmarks for executor and functions (#6721)
  crates/core/Cargo.toml
  crates/core/benches/allocator.rs
  crates/core/benches/common/mod.rs
  crates/core/benches/executor.rs
  crates/core/benches/functions.rs
  crates/core/benches/statements.rs
  crates/sdk/Cargo.toml
  crates/sdk/benches/allocator.rs
  crates/sdk/benches/executor.rs
  crates/sdk/benches/order.rs
  crates/sdk/benches/processor.rs
  crates/sdk/benches/with_or_without_index.rs
Due: surrealdb-core, surrealdb-sdk

fix clippy issues
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/mod.rs
Due: surrealdb-core

A whole bunch of fuzzing fixes
  crates/core/src/catalog/table.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/fmt/escape.rs
  crates/core/src/fmt/mod.rs
  crates/core/src/sql/arbitrary/idiom.rs
  crates/core/src/sql/arbitrary/parts.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/arbitrary/utils.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/expression.rs
  crates/core/src/sql/group.rs
  crates/core/src/sql/idiom.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/operator.rs
  crates/core/src/sql/output.rs
  crates/core/src/sql/record_id/key.rs
  crates/core/src/sql/reference.rs
  crates/core/src/sql/scoring.rs
  crates/core/src/sql/statements/alter/namespace.rs
  crates/core/src/sql/statements/alter/table.rs
  crates/core/src/sql/statements/define/analyzer.rs
  crates/core/src/sql/statements/define/table.rs
  crates/core/src/sql/statements/define/user.rs
  crates/core/src/sql/statements/ifelse.rs
  crates/core/src/sql/table_type.rs
  crates/core/src/syn/error/mod.rs
  crates/core/src/syn/parser/basic/mod.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/parts.rs
  crates/core/src/syn/parser/token.rs
  crates/fuzz/fuzz_targets/fuzz_format.rs
  rust-toolchain.toml.tmp
Due: surrealdb-core

Test an older commit
  .github/workflows/crud-bench.yml
Due: none

Bump MSRV to 1.89
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
  crates/core/src/key/category.rs
  crates/core/src/key/index/ia.rs
  crates/core/src/kvs/index.rs
  crates/sdk/tests/deferindex.rs
  crates/sdk/tests/insert.rs
  rust-toolchain.toml
Due: surrealdb-core, surrealdb-sdk

Fix
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Make crud-bench a sibling
  .github/workflows/crud-bench.yml
Due: none

Add `CRUD_BENCH_REVISION`
  .github/workflows/crud-bench.yml
  doc/BENCHMARKING.md
Due: none
