Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

fix(release): stop `binaries_exist` false-negative from `SIGPIPE` + `pipefail` (#659)
  .github/workflows/release.yml
Due: none

Add JS SDK server-conformance test suite (#644)
  tests/conformance-js/.gitignore
  tests/conformance-js/MIGRATION.md
  tests/conformance-js/README.md
  tests/conformance-js/bun.lock
  tests/conformance-js/package.json
  tests/conformance-js/src/harness.ts
  tests/conformance-js/tests/auth-refresh.test.ts
  tests/conformance-js/tests/auth.test.ts
  tests/conformance-js/tests/capabilities-port.test.ts
  tests/conformance-js/tests/concurrency.test.ts
  tests/conformance-js/tests/gql-port.test.ts
  tests/conformance-js/tests/gql.test.ts
  tests/conformance-js/tests/graphql-port.test.ts
  tests/conformance-js/tests/graphql.test.ts
  tests/conformance-js/tests/http-port.test.ts
  tests/conformance-js/tests/http.test.ts
  tests/conformance-js/tests/live.test.ts
  tests/conformance-js/tests/sdk-wire-port.test.ts
  tests/conformance-js/tests/session.test.ts
  tests/conformance-js/tests/sessions-multiplex.test.ts
  tests/conformance-js/tests/surrealql-wire.test.ts
  tests/conformance-js/tests/surrealql.test.ts
  tests/conformance-js/tests/transactions.test.ts
  tests/conformance-js/tests/ws-port.test.ts
Due: workspace-tests, language-tests, integration-tests

docs(claude): comment discipline — describe current state, not dev history (#661)
  CLAUDE.md
Due: none

Only promote rolling builds when the workflow ref and the built sha are on a release line or main (#664)
  .github/workflows/rolling-build.yml
  .github/workflows/rolling-channel.yml
  .github/workflows/rolling-downstream-build.yml
  .github/workflows/rolling-downstream.yml
Due: none

fix(kvs): make kvs crates build and test standalone (#666)
  surrealdb/kvs-any/src/lib.rs
  surrealdb/kvs/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

test(conformance-js): pin surrealdb.js 2.0.6 + add CI job (#662)
  .github/workflows/ci.yml
  tests/conformance-js/MIGRATION.md
  tests/conformance-js/README.md
  tests/conformance-js/bun.lock
  tests/conformance-js/package.json
  tests/conformance-js/tests/backup.test.ts
  tests/conformance-js/tests/capabilities.test.ts
  tests/conformance-js/tests/changefeeds.test.ts
  tests/conformance-js/tests/gql-port.test.ts
  tests/conformance-js/tests/gql.test.ts
  tests/conformance-js/tests/graphql-port.test.ts
  tests/conformance-js/tests/graphql.test.ts
  tests/conformance-js/tests/http-port.test.ts
  tests/conformance-js/tests/http.test.ts
  tests/conformance-js/tests/sdk-wire-port.test.ts
  tests/conformance-js/tests/session.test.ts
  tests/conformance-js/tests/sessions.test.ts
  tests/conformance-js/tests/surrealql-wire.test.ts
  tests/conformance-js/tests/surrealql.test.ts
  tests/conformance-js/tests/websocket.test.ts
Due: workspace-tests, language-tests, integration-tests

Expose retryable transaction conflicts
  surrealdb/core/src/dbs/executor.rs
  surrealdb/tests/api_integration/basic.rs
  surrealdb/tests/api_integration/mod.rs
  surrealdb/types/src/error.rs
  surrealdb/types/tests/error_types.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

test(conformance-js): fill 12 server-behavior coverage gaps (#671)
  tests/conformance-js/README.md
  tests/conformance-js/tests/auth.test.ts
  tests/conformance-js/tests/capabilities.test.ts
  tests/conformance-js/tests/events.test.ts
  tests/conformance-js/tests/http.test.ts
  tests/conformance-js/tests/indexes.test.ts
  tests/conformance-js/tests/live.test.ts
  tests/conformance-js/tests/search.test.ts
  tests/conformance-js/tests/surrealql-wire.test.ts
  tests/conformance-js/tests/surrealql.test.ts
  tests/conformance-js/tests/transactions.test.ts
  tests/conformance-js/tests/websocket.test.ts
Due: workspace-tests, language-tests, integration-tests

fix(core): resolve DEFINE PARAM permission predicates that dereference $auth (#679)
  language-tests/tests/access/record/param_permission_auth_deref_allow.surql
  language-tests/tests/access/record/param_permission_auth_deref_deny.surql
  language-tests/tests/access/record/param_permission_auth_deref_import.surql
  surrealdb/core/src/exec/physical_expr/literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): wire root-level bearer access into the signin dispatch (#680)
  surrealdb/core/src/iam/signin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(conformance-js): permission & auth enforcement conformance (#678)
  .github/workflows/ci.yml
  tests/conformance-js/README.md
  tests/conformance-js/bun.lock
  tests/conformance-js/package.json
  tests/conformance-js/tests/auth.test.ts
  tests/conformance-js/tests/http.test.ts
  tests/conformance-js/tests/isolation.test.ts
  tests/conformance-js/tests/permissions.test.ts
  tests/conformance-js/tests/programmability.test.ts
  tests/conformance-js/tests/search.test.ts
Due: workspace-tests, language-tests, integration-tests

test(conformance-js): data-integrity conformance coverage (#697)
  tests/conformance-js/README.md
  tests/conformance-js/bun.lock
  tests/conformance-js/package.json
  tests/conformance-js/tests/auth-refresh.test.ts
  tests/conformance-js/tests/auth.test.ts
  tests/conformance-js/tests/live.test.ts
  tests/conformance-js/tests/references.test.ts
  tests/conformance-js/tests/sequences.test.ts
  tests/conformance-js/tests/views.test.ts
Due: workspace-tests, language-tests, integration-tests

test(conformance-js): wire & transport conformance coverage (#698)
  tests/conformance-js/README.md
  tests/conformance-js/tests/errors.test.ts
  tests/conformance-js/tests/http.test.ts
  tests/conformance-js/tests/surrealql-wire.test.ts
  tests/conformance-js/tests/websocket.test.ts
Due: workspace-tests, language-tests, integration-tests

test(conformance-js): query & plan conformance coverage (#699)
  tests/conformance-js/README.md
  tests/conformance-js/tests/changefeeds.test.ts
  tests/conformance-js/tests/search.test.ts
  tests/conformance-js/tests/surrealql.test.ts
  tests/conformance-js/tests/versioning.test.ts
Due: workspace-tests, language-tests, integration-tests

Remove obsolete wasm non-send requirements (#675)
  .cursor/rules/rust-code-quality.mdc
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/common/src/future/assert_send.rs
  surrealdb/common/src/future/mod.rs
  surrealdb/core/src/buc/mod.rs
  surrealdb/core/src/catalog/providers.rs
  surrealdb/core/src/exec/CLAUDE.md
  surrealdb/core/src/exec/function/aggregate.rs
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/exec/function/index.rs
  surrealdb/core/src/exec/function/mod.rs
  surrealdb/core/src/exec/function/projection.rs
  surrealdb/core/src/exec/mod.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/fnc/http.rs
  surrealdb/core/src/fnc/util/http/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/observe/mod.rs
  surrealdb/core/src/observe/provider.rs
  surrealdb/core/src/val/object.rs
  surrealdb/kvs-indxdb/Cargo.toml
  surrealdb/kvs-indxdb/src/ffi.rs
  surrealdb/kvs-indxdb/src/js/db.js
  surrealdb/kvs-indxdb/src/lib.rs
  surrealdb/kvs-indxdb/src/send_future.rs
  surrealdb/kvs/Cargo.toml
  surrealdb/kvs/src/api.rs
  surrealdb/kvs/src/builder.rs
  surrealdb/kvs/src/cursor.rs
  surrealdb/server/src/cli/config.rs
  surrealdb/server/src/cli/mod.rs
  surrealdb/server/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(lang): pin planner behavior for AND + OR-residual conditions (SDB-207) (#709)
  language-tests/Cargo.lock
  language-tests/tests/reproductions/sdb_207_and_or_residual_compute.surql
  language-tests/tests/reproductions/sdb_207_and_or_residual_new_executor.surql
Due: none

fix(core): backport orphaned index-build resume task to 3.1 (#513) (#700)
  surrealdb/core/src/key/root/tl.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/options.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/src/engine/tasks.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport concurrent index build yield + checkpoint-resume to 3.1 (#553) (#701)
  revision.lock
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport shutdown/memory-pressure index-build hardening to 3.1 (#617) (#703)
  revision.lock
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/key/table/bp.rs
  surrealdb/core/src/kvs/consts.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/err.rs
  surrealdb/core/src/kvs/index/admission.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/rocksdb/commit_coordinator.rs
  surrealdb/core/src/kvs/rocksdb/mod.rs
  surrealdb/core/src/kvs/rocksdb/tests.rs
  surrealdb/core/src/kvs/sequences.rs
  surrealdb/core/src/kvs/surrealkv/commit_coordinator.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/core/tests/index_build_shutdown.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport root-level bearer signin dispatch fix to 3.1 (#680) (#683)
  surrealdb/core/src/iam/signin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport DEFINE PARAM $auth-dereferencing permission fix to 3.1 (#679) (#684)
  language-tests/tests/access/record/param_permission_auth_deref_allow.surql
  language-tests/tests/access/record/param_permission_auth_deref_deny.surql
  language-tests/tests/access/record/param_permission_auth_deref_import.surql
  surrealdb/core/src/exec/physical_expr/literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport numeric-index FETCH in the streaming executor to 3.1 (#540) (#685)
  language-tests/tests/reproductions/fetch_array_index_negative.surql
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport idiom recursion limit parity to 3.1 (#535) (#686)
  language-tests/tests/language/idiom/recursion_strategy_limits.surql
  surrealdb/core/src/exec/operators/recursion.rs
  surrealdb/core/src/exec/operators/recursion/collect.rs
  surrealdb/core/src/exec/operators/recursion/common.rs
  surrealdb/core/src/exec/operators/recursion/default.rs
  surrealdb/core/src/exec/operators/recursion/path.rs
  surrealdb/core/src/exec/operators/recursion/repeat.rs
  surrealdb/core/src/exec/operators/recursion/shortest.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport KNN per-candidate SELECT permission enforcement to 3.1 (#542) (#687)
  language-tests/tests/access/record/knn_select_permission.surql
  language-tests/tests/access/record/knn_select_permission_import.surql
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/idx/trees/diskann/filter.rs
  surrealdb/core/src/idx/trees/diskann/index.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(cnf): backport memory_threshold configmap parse_bytes fix to 3.1 (#449) (#688)
  surrealdb/core/src/cnf/mod.rs
  tests/cli_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(language-tests): backport inverted curl probe fix to 3.1 (#646) (#689)
  language-tests/src/cmd/upgrade/binaries.rs
Due: none

fix(core): backport mem backend GC wiring fix to 3.1 (#551) (#690)
  surrealdb/core/src/kvs/mem/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): backport dead_code expectation fix for NetTargetNotAllowed to 3.1 (#559) (#691)
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(dbs): backport TransactionConflict kind preservation to 3.1 (#653) (#693)
  language-tests/tests/language/statements/alter/alter_compact_mem.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/tests/define.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(lq): backport committed live-query cache keying to 3.1 (#657) (#696)
  revision.lock
  surrealdb/core/src/catalog/compat/fixtures.rs
  surrealdb/core/src/catalog/compat/generator.rs
  surrealdb/core/src/catalog/compat/mod.rs
  surrealdb/core/src/catalog/compat/tests.rs
  surrealdb/core/src/catalog/compat/v3_1_6.rs
  surrealdb/core/src/catalog/table.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/doc/document.rs
  surrealdb/core/src/expr/statements/define/table.rs
  surrealdb/core/src/expr/statements/kill.rs
  surrealdb/core/src/expr/statements/live.rs
  surrealdb/core/src/expr/statements/remove/table.rs
  surrealdb/core/src/kvs/cache/ds/entry.rs
  surrealdb/core/src/kvs/cache/ds/key.rs
  surrealdb/core/src/kvs/cache/ds/lookup.rs
  surrealdb/core/src/kvs/cache/ds/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(rpc): backport WebSocket transaction bounds + cleanup to 3.1 (#658) (#704)
  surrealdb/core/src/rpc/error.rs
  surrealdb/core/src/rpc/mod.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(graphql): backport InputType coercion fix to 3.1 (#573) (#707)
  language-tests/tests/graphql/mutations/create_numeric_string_object.graphql
  surrealdb/core/src/gql/schema.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(planner): backport Count/KeysOnly exactness fix to 3.1 (#587) (#708)
  language-tests/tests/reproductions/indexed_count_multi_conjunct_and.surql
  surrealdb/core/src/idx/planner/mod.rs
  surrealdb/core/src/idx/planner/plan.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(surrealism): backport de-flake of module_fetch_pokemon to 3.1 (#429) (#711)
  surrealism/demo/src/lib.rs
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, integration-tests

ci: rename CI checks to Conformance tests / Language tests / Upgrade tests (#716)
  .github/workflows/ci.yml
Due: none

fix(core): use the commit timestamp domain for datetime SINCE in changefeed reads
  language-tests/tests/reproductions/7433_show_changes_since_datetime.surql
  surrealdb/core/src/exec/operators/info/database.rs
  surrealdb/core/src/exec/operators/info/namespace.rs
  surrealdb/core/src/exec/operators/info/root.rs
  surrealdb/core/src/exec/operators/info/table.rs
  surrealdb/core/src/exec/operators/scan/common.rs
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/fulltext.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/operators/version_scope.rs
  surrealdb/core/src/expr/statements/info.rs
  surrealdb/core/src/expr/statements/select.rs
  surrealdb/core/src/kvs/api.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
  surrealdb/core/src/kvs/tr.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci(sync): alert when releases are missing on the public repository
  .github/workflows/sync-upstream.yml
Due: none

Drain the index-compaction queue in bounded batches (#718)
  .github/workflows/downstream-compat.yml
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/key/root/ic.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/kvs/src/consts.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
