Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Remove unused struct type
  crates/core/src/idx/ft/offset.rs
Due: surrealdb-core

Update dependencies in language tests
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
Due: none

moar
  crates/types/src/proto.rs
Due: surrealdb-types

DEFINE CONFIG DEFAULTS
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/expr/statements/define/config/mod.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/expr/visit.rs
  crates/core/src/iam/entities/resources/resource.rs
  crates/core/src/key/category.rs
  crates/core/src/key/mod.rs
  crates/core/src/key/root/cg.rs
  crates/core/src/key/root/mod.rs
  crates/core/src/kvs/cache/tx/key.rs
  crates/core/src/kvs/cache/tx/lookup.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/sql/statements/define/config/defaults.rs
  crates/core/src/sql/statements/define/config/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/token/keyword.rs
  rust-toolchain.toml
Due: surrealdb-core

wip
  Cargo.lock
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/kill.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/rpc/response.rs
  crates/core/tests/delete.rs
  crates/sdk/Cargo.toml
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/server/src/ntw/rpc.rs
  crates/server/src/rpc/mod.rs
  crates/server/src/rpc/response.rs
  crates/server/src/rpc/websocket.rs
  crates/types/src/notification.rs
  tests/ws_integration.rs
Due: surrealdb-core, surrealdb-types, surrealdb-sdk, integration-tests

Move incremental monotonic timestamp to public type
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

[Backport] Use 32‑bit floats by default for HNSW vector indexes (#6602)
  crates/core/src/sql/index.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
  revision.lock
Due: surrealdb-core

Prepare v3.0.0-alpha.15 release
  Cargo.lock
  Cargo.toml
Due: none

Fix OOM crash in COUNT index on large datasets by batching key retrieval (#6601)
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Wip
  crates/core/src/catalog/schema/index.rs
  crates/core/src/catalog/test.rs
  crates/core/src/ctx/context.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Move incremental monotonic timestamp to public type (#6608)
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

wsocket
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
Due: surrealdb-sdk

tidy up
  crates/server/src/ntw/grpc.rs
Due: none

[Backport] Fix OOM crash in COUNT index on large datasets by batching key retrieval (#6601) (#6611)
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Prepare v2.4.0 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Prepare v2.4.0 release (#6397)
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Prepare v3.0.0-alpha.15 release (#6610)
  Cargo.lock
  Cargo.toml
Due: none

Temporarily ignore test failures due to flaky tests
  .github/workflows/publish-version.yml
Due: none

Bump surrealism crates
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Prepare v3.0.0-alpha.16 release
  Cargo.lock
  Cargo.toml
Due: none

Add decomission
  crates/core/src/catalog/schema/index.rs
  crates/core/src/catalog/test.rs
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/doc/index.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/alter/field.rs
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/expr/statements/alter/sequence.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/remove/database.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/expr/statements/remove/namespace.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/key/root/ic.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/alter/index.rs
  crates/core/src/sql/statements/alter/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/alter/alter_index_decommission.surql
Due: surrealdb-core

Prepare v3.0.0-alpha.16 release
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Add alter test
  crates/core/src/catalog/test.rs
  crates/core/src/kvs/index.rs
  crates/core/tests/alter.rs
  crates/core/tests/define.rs
  revision.lock
Due: surrealdb-core

Fix fmt
  crates/core/tests/alter.rs
Due: surrealdb-core

Post review
  crates/core/src/catalog/schema/index.rs
  crates/core/src/doc/index.rs
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/visit.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/language-tests/tests/language/statements/alter/alter_index_decommission.surql
Due: surrealdb-core

Fix info tests
  crates/core/src/catalog/schema/index.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/alter/alter_index_decommission.surql
Due: surrealdb-core

Fix revision lock
  revision.lock
Due: none

Fix
  crates/core/src/idx/planner/tree.rs
Due: surrealdb-core

Post review
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/define/index.rs
Due: surrealdb-core

Cleanup
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/remove/index.rs
Due: surrealdb-core

Cleanup
  crates/core/tests/alter.rs
Due: surrealdb-core

Add invalid alter index check
  crates/core/src/syn/parser/stmt/alter.rs
  crates/language-tests/tests/language/statements/alter/alter_index_decommission.surql
  crates/language-tests/tests/language/statements/alter/alter_index_invalid.surql
Due: surrealdb-core

Add string duration parsing to env parsing macro
  crates/core/src/mac/mod.rs
  crates/core/src/str/bytes.rs
  crates/core/src/str/duration.rs
  crates/core/src/str/mod.rs
Due: surrealdb-core

Add RocksDB grouped commit manager
  crates/core/src/kvs/rocksdb/cmt.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Improve behaviour and implementation
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/disk_space_manager.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Attempt to receive many commits initially
  crates/core/src/kvs/rocksdb/cmt.rs
Due: surrealdb-core

Improve efficiency of taking many from the channel
  crates/core/src/kvs/rocksdb/cmt.rs
Due: surrealdb-core

Move to mutex lock and condvar notification
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Don’t allocate in each loop
  crates/core/src/kvs/rocksdb/cmt.rs
Due: surrealdb-core
