Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Change future to computed in output
  crates/core/src/dbs/options.rs
  crates/core/src/err/mod.rs
  crates/core/tests/complex.rs
  crates/language-tests/tests/language/script/massive_parallel.surql
Due: surrealdb-core

update example
  crates/surrealism/test/test.surql
Due: none

Change future to computed in output (#6536)
  crates/core/src/dbs/options.rs
  crates/core/src/err/mod.rs
  crates/core/tests/complex.rs
  crates/language-tests/tests/language/script/massive_parallel.surql
Due: surrealdb-core

Add disk space limits and read-only/deletion-only modes for RocksDB (#6530)
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

working
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/module.rs
  crates/core/src/catalog/schema/module.rs
  crates/core/src/catalog/schema/module/executable.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/function.rs
  crates/core/src/expr/mod.rs
  crates/core/src/expr/module.rs
  crates/core/src/expr/statements/define/mod.rs
  crates/core/src/expr/statements/define/module.rs
  crates/core/src/expr/statements/mod.rs
  crates/core/src/expr/statements/remove/mod.rs
  crates/core/src/expr/statements/remove/module.rs
  crates/core/src/iam/entities/resources/resource.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/module.rs
  crates/core/src/sql/statements/define/mod.rs
  crates/core/src/sql/statements/define/module.rs
  crates/core/src/sql/statements/remove/mod.rs
  crates/core/src/sql/statements/remove/module.rs
  crates/core/src/surrealism/cache.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/remove.rs
Due: surrealdb-core

fixup
  crates/core/src/rpc/protocol.rs
Due: surrealdb-core

fixup
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/module.rs
  crates/core/src/expr/statements/remove/module.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/surrealism/surrealism-cli/src/commands/run/mod.rs
  crates/surrealism/surrealism-cli/src/host.rs
  revision.lock
Due: surrealdb-core

fixup
  crates/core/src/ctx/context.rs
  crates/core/src/expr/module.rs
  crates/core/src/expr/statements/remove/module.rs
  crates/core/src/surrealism/cache.rs
  crates/core/tests/define.rs
  crates/core/tests/info.rs
  crates/core/tests/remove.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/param/define_global_param.surql
  crates/language-tests/tests/language/statements/alter/define_table.surql
  crates/language-tests/tests/language/statements/alter/define_table_if_exists.surql
  crates/language-tests/tests/language/statements/alter/missing_table.surql
  crates/language-tests/tests/language/statements/define/analyzer/basic.surql
  crates/language-tests/tests/language/statements/define/function/basic.surql
  crates/language-tests/tests/language/statements/define/function/expr_stmt_in_binary_expr.surql
  crates/language-tests/tests/language/statements/define/sequence/alter_sequence.surql
  crates/language-tests/tests/language/statements/define/sequence/define_sequence.surql
  crates/language-tests/tests/language/statements/define/table/drop.surql
  crates/language-tests/tests/language/statements/define/table/foreign/foreigntable.surql
  crates/language-tests/tests/language/statements/define/table/permissions.surql
  crates/language-tests/tests/language/statements/define/table/relation_redefinition_info.surql
  crates/language-tests/tests/language/statements/define/table/schemafull.surql
  crates/language-tests/tests/language/statements/define/table/schemaless.surql
  crates/language-tests/tests/language/statements/relate/enforced.surql
  crates/language-tests/tests/language/statements/remove/sequence.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/parsing/idents/escape_sequences_backtick.surql
  crates/language-tests/tests/parsing/idents/escape_sequences_bracket.surql
  crates/language-tests/tests/upgrade/define/function.surql
  crates/language-tests/tests/upgrade/define/param.surql
  crates/language-tests/tests/upgrade/define/table.surql
  crates/language-tests/tests/upgrade/define/table_type.surql
  crates/language-tests/tests/upgrade/define/user_duration.surql
  crates/surrealism/surrealism-cli/src/host.rs
Due: surrealdb-core

fmt
  crates/core/src/expr/statements/remove/module.rs
Due: surrealdb-core

Remove deprecated login statements
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

Fix warnings + add test
  crates/core/src/syn/parser/stmt/parts.rs
  crates/language-tests/tests/language/statements/define/field/premission_delete.surql
  crates/language-tests/tests/parsing/basic/negative_number_method_call.surql
Due: surrealdb-core

Actually commit fixes
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/test/stmt.rs
Due: surrealdb-core

Fix surrealql language test
  crates/language-tests/tests/language/statements/define/field/permissions.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full_2.0.surql
  crates/language-tests/tests/language/statements/define/field/permissions_none.surql
Due: none

Fix revision lock
  revision.lock
Due: none

Fix old upgrade test
  tests/database_upgrade.rs
Due: integration-tests

Fixup after rebase
  crates/core/src/iam/signin.rs
  crates/core/src/iam/verify.rs
  crates/core/src/sql/statements/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
Due: surrealdb-core

tidy up the tests.
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/tests/api_integration/basic.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Address comments
  crates/core/src/catalog/aggregation.rs
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/view.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/view.rs
  crates/core/src/expr/visit.rs
Due: surrealdb-core

Fix test, formatting, revision-lock
  crates/core/src/iam/signin.rs
  crates/core/src/iam/verify.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/parsing/basic/negative_number_method_call.surql
  revision.lock
Due: surrealdb-core

Backport
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Remove deprecated authentication statements (#6037)
  crates/core/src/iam/signin.rs
  crates/core/src/iam/verify.rs
  crates/core/src/sql/statements/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/parts.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/language/statements/define/field/permissions.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full_2.0.surql
  crates/language-tests/tests/language/statements/define/field/permissions_none.surql
  crates/language-tests/tests/language/statements/define/field/premission_delete.surql
  crates/language-tests/tests/parsing/basic/negative_number_method_call.surql
  tests/database_upgrade.rs
Due: surrealdb-core, integration-tests

Add more set functions.
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/set.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/src/val/set.rs
  crates/language-tests/tests/language/functions/set/at.surql
  crates/language-tests/tests/language/functions/set/filter.surql
  crates/language-tests/tests/language/functions/set/find.surql
  crates/language-tests/tests/language/functions/set/first.surql
  crates/language-tests/tests/language/functions/set/flatten.surql
  crates/language-tests/tests/language/functions/set/fold.surql
  crates/language-tests/tests/language/functions/set/join.surql
  crates/language-tests/tests/language/functions/set/last.surql
  crates/language-tests/tests/language/functions/set/map.surql
  crates/language-tests/tests/language/functions/set/max.surql
  crates/language-tests/tests/language/functions/set/min.surql
  crates/language-tests/tests/language/functions/set/reduce.surql
  crates/language-tests/tests/language/functions/set/slice.surql
Due: surrealdb-core

Fix RocksDB test
  Makefile.ci.toml
Due: none

clippy
  crates/core/src/fnc/set.rs
Due: surrealdb-core

update supply chain
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

fmt
  crates/core/src/sql/statements/mod.rs
Due: surrealdb-core

fix cargo deny
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  deny.toml
Due: none

update cackle.toml
  cackle.toml
Due: none

update cackle.toml
  Cargo.toml
  cackle.toml
Due: none

fixup
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism-types/src/controller.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/surrealism/Cargo.toml
Due: none

fixup
  cackle.toml
Due: none

Fixed?
  crates/core/src/fnc/script/modules/surrealdb/functions/set.rs
Due: surrealdb-core

Merge main and tidy up.
  crates/core/src/catalog/record.rs
  revision.lock
Due: surrealdb-core

Tidy up
  crates/core/src/expr/visit.rs
Due: surrealdb-core

Mark random seeded tests as wip
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/harness/test_rng.surql
  crates/language-tests/tests/language/statements/define/table/view/increment_immediate/mean.surql
Due: none
