Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Inherit VERSION from outer query into subqueries
  language-tests/Cargo.lock
  language-tests/tests/language/statements/select/version_subquery_override.surql
  language-tests/tests/language/statements/select/version_subquery_table_scan.surql
  language-tests/tests/reproductions/4957_version_subquery_inheritance.surql
  language-tests/tests/reproductions/7245_version_fetch_and_dereference.surql
  language-tests/tests/reproductions/7245_version_graph_fetch_combined.surql
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/fulltext.rs
  surrealdb/core/src/exec/operators/scan/graph.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/scan/reference.rs
  surrealdb/core/src/exec/operators/scan/table.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix language test expectations for VERSION graph traversal tests
  language-tests/tests/reproductions/7245_version_graph_edge_traversal.surql
  language-tests/tests/reproductions/7245_version_recursive_graph.surql
Due: none

Fix non-deterministic array ordering in graph fetch combined test
  language-tests/tests/reproductions/7245_version_graph_edge_traversal.surql
  language-tests/tests/reproductions/7245_version_graph_fetch_combined.surql
Due: none

Add RocksDB to VERSION tests and fix versioned test provisioner
  language-tests/src/cmd/run/provisioner.rs
  language-tests/tests/language/statements/select/version_clauses.surql
  language-tests/tests/language/statements/select/version_errors_before_data.surql
  language-tests/tests/language/statements/select/version_errors_non_versioned.surql
  language-tests/tests/language/statements/select/version_index_consistency.surql
  language-tests/tests/language/statements/select/version_mutations.surql
  language-tests/tests/language/statements/select/version_schema_consistency.surql
  language-tests/tests/language/statements/select/version_subquery_override.surql
  language-tests/tests/language/statements/select/version_subquery_table_scan.surql
  language-tests/tests/reproductions/4957_version_subquery_inheritance.surql
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
  language-tests/tests/reproductions/7245_version_fetch_and_dereference.surql
  language-tests/tests/reproductions/7245_version_graph_edge_traversal.surql
  language-tests/tests/reproductions/7245_version_graph_fetch_combined.surql
  language-tests/tests/reproductions/7245_version_recursive_graph.surql
Due: none

Fix legacy compute executor VERSION propagation
  language-tests/tests/language/statements/select/version_subquery_override.surql
  language-tests/tests/language/statements/select/version_subquery_table_scan.surql
  language-tests/tests/reproductions/4957_version_subquery_inheritance.surql
  language-tests/tests/reproductions/7245_version_fetch_and_dereference.surql
  language-tests/tests/reproductions/7245_version_graph_edge_traversal.surql
  language-tests/tests/reproductions/7245_version_graph_fetch_combined.surql
  language-tests/tests/reproductions/7245_version_recursive_graph.surql
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Run VERSION tests on both executors and reject subquery sources
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

improve
  surrealdb/core/src/expr/module.rs
  surrealdb/core/src/surrealism/host.rs
  surrealism/runtime/Cargo.toml
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/lib.rs
  surrealism/runtime/src/net_allow.rs
  surrealism/runtime/src/runtime.rs
  surrealism/runtime/src/wasi_context.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

update
  Cargo.lock
  Cargo.toml
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

improve
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/expr/module.rs
  surrealdb/core/src/surrealism/cache.rs
  surrealdb/core/src/surrealism/host.rs
  surrealdb/server/src/cli/module/init_cmd.rs
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/epoch.rs
  surrealism/runtime/src/net_allow.rs
  surrealism/runtime/src/package.rs
  surrealism/runtime/src/runtime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

improve
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/expr/statements/info.rs
  surrealdb/core/src/kvs/ds.rs
  surrealism/runtime/src/package.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address feedback
  language-tests/tests/reproductions/order_by_nested_alias.surql
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/exec/operators/project.rs
  surrealdb/core/src/exec/operators/project_value.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/idx/planner/iterators.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add back the actual fix - commented out for verification of language test results.
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address feedback
  language-tests/tests/reproductions/7146_select_value_alias_order_by.surql
  language-tests/tests/reproductions/7146_select_value_at_order_by.surql
  language-tests/tests/reproductions/7146_select_value_order_explain.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix event firing logic.
  language-tests/tests/language/statements/define/event/with_relations.surql
  language-tests/tests/reproductions/event_fires_for_related_table.surql
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix various ORDER BY bugs.
  language-tests/tests/language/planner/select_from_unique_index.surql
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/reproductions/7129_unique_index_none_order.surql
  language-tests/tests/reproductions/7130_order_desc_variable_limit_function.surql
  language-tests/tests/reproductions/7146_order_by_array_source.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/idx/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

improve
  surrealdb/core/src/expr/statements/info.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/util.rs
  surrealism/runtime/src/wasi_context.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix some bugs
  language-tests/src/cli.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/src/tests/case/config.rs
  language-tests/src/tests/case/mod.rs
  language-tests/src/tests/run/mod.rs
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Pass VERSION to all schema lookups in the streaming executor
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/function/builtin/search.rs
  surrealdb/core/src/exec/function/index.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/fulltext.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/scan/resolved.rs
  surrealdb/core/src/exec/operators/scan/table.rs
  surrealdb/core/src/exec/operators/scan/union_index.rs
  surrealdb/core/src/exec/physical_expr/function/model.rs
  surrealdb/core/src/exec/physical_expr/function/module.rs
  surrealdb/core/src/exec/physical_expr/function/user_defined.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/physical_expr/matches.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix some tests
  language-tests/src/cmd/run/mod.rs
  language-tests/tests/language/functions/module/surrealism_disabled.surql
  language-tests/tests/language/statements/sleep/sleep.surql
Due: none

Port some tests to the language test suite
  language-tests/tests/language/script/arguments.surql
  language-tests/tests/language/script/byte_array.surql
  language-tests/tests/language/script/bytes_array_into.surql
  language-tests/tests/language/script/computed_script.surql
  language-tests/tests/language/script/create_set_script.surql
  language-tests/tests/language/script/geometry_collection.surql
  language-tests/tests/language/script/geometry_into.surql
  language-tests/tests/language/script/geometry_line.surql
  language-tests/tests/language/script/geometry_multi_line.surql
  language-tests/tests/language/script/geometry_multi_point.surql
  language-tests/tests/language/script/geometry_multi_polygon.surql
  language-tests/tests/language/script/geometry_point.surql
  language-tests/tests/language/script/geometry_polygon.surql
  language-tests/tests/language/script/number_conversion.surql
  language-tests/tests/language/script/parallel_query.surql
  language-tests/tests/language/script/query_create.surql
  language-tests/tests/language/script/query_select.surql
  language-tests/tests/language/script/select_from_script_error.surql
  language-tests/tests/language/script/types.surql
  language-tests/tests/language/script/value_function_inline.surql
  language-tests/tests/language/script/value_params.surql
  language-tests/tests/self_tests/single_line.surql
  surrealdb/core/tests/script.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

improve logging
  surrealdb/core/src/expr/statements/info.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/util.rs
  surrealdb/core/src/surrealism/host.rs
  surrealdb/server/src/cli/module/host.rs
  surrealism/runtime/Cargo.toml
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/host.rs
  surrealism/runtime/src/runtime.rs
  surrealism/runtime/src/store.rs
  surrealism/runtime/src/wasi_context.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

more
  language-tests/tests/language/planner/unique_index_reverse_range_none_upper_bound.surql
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

mroe
  language-tests/tests/reproductions/7150_computed_fields_with_index_filter.surql
  language-tests/tests/reproductions/7156_parent_in_subquery_record_link.surql
  language-tests/tests/reproductions/array_containment_index.surql
  language-tests/tests/reproductions/order_by_nested_alias.surql
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/doc/pluck.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add language tests for versioned schema lookups
  language-tests/tests/language/statements/select/version_computed_fields.surql
  language-tests/tests/language/statements/select/version_field_dereference_schema.surql
  language-tests/tests/language/statements/select/version_param_resolution.surql
Due: none

Pass VERSION to DEFINE PARAM lookup in legacy compute path
  language-tests/tests/language/statements/select/version_param_resolution.surql
  surrealdb/core/src/expr/param.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Pass VERSION to remaining catalog lookups in legacy compute path
  surrealdb/core/src/expr/function.rs
  surrealdb/core/src/fnc/search.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Made timeout a warning instead of an error
  language-tests/README.md
  language-tests/src/cmd/run/mod.rs
  language-tests/src/tests/report/display.rs
  language-tests/src/tests/report/mod.rs
  language-tests/tests/language/primitive/geometry/inner_access.surql
  language-tests/tests/language/primitive/geometry/upsert_multipoint.surql
  language-tests/tests/language/primitive/geometry/upsert_multipolygon.surql
  language-tests/tests/language/primitive/geometry/upsert_point.surql
  language-tests/tests/language/primitive/geometry/upsert_polygons.surql
  language-tests/tests/language/statements/define/table/view/no_doubles.surql
  language-tests/tests/language/statements/throw/basic.surql
  language-tests/tests/language/statements/throw/param.surql
  language-tests/tests/language/statements/throw/value.surql
  language-tests/tests/language/statements/update/complex_with_input.surql
  language-tests/tests/language/statements/update/field_permissions.surql
  language-tests/tests/language/statements/update/field_permissions_import.surql
  language-tests/tests/language/statements/update/merge_content.surql
  language-tests/tests/language/statements/update/records_and_arrays_with_json_patch.surql
  language-tests/tests/language/statements/update/simple_with_input.surql
  language-tests/tests/language/statements/update/with_object_array_string_field_names.surql
  language-tests/tests/language/statements/update/with_return_clause.surql
  language-tests/tests/language/statements/upsert/merge_and_content.surql
  language-tests/tests/language/statements/upsert/new_and_update_records_with_content_and_merge_with_readonly_fields.surql
  language-tests/tests/language/statements/upsert/new_record_with_table.surql
  language-tests/tests/language/statements/upsert/new_records_with_table_and_unique_index.surql
  language-tests/tests/language/statements/upsert/none_remove_field.surql
  language-tests/tests/language/statements/upsert/simple_with_input.surql
  language-tests/tests/language/statements/upsert/with_return_clause.surql
  language-tests/tests/language/types/define_field.surql
  language-tests/tests/language/types/field_literal.surql
  language-tests/tests/language/types/field_none_null.surql
  language-tests/tests/language/types/optional_object.surql
  language-tests/tests/language/types/upsert_cast.surql
Due: none

Port more tests
  surrealdb/core/tests/geometry.rs
  surrealdb/core/tests/script.rs
  surrealdb/core/tests/table.rs
  surrealdb/core/tests/throw.rs
  surrealdb/core/tests/typing.rs
  surrealdb/core/tests/update.rs
  surrealdb/core/tests/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fixes
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/surrealism/cache.rs
  surrealism/runtime/src/net_allow.rs
  surrealism/runtime/src/package.rs
  surrealism/runtime/src/runtime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

clean test
  language-tests/tests/language/parameters/outside_database.surql
Due: none

Don't allow nested aliases in SELECT VALUE
  language-tests/tests/reproductions/order_by_nested_alias.surql
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/syn/parser/idiom.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix compile issues + test
  surrealdb/core/.nvim.lua
  surrealdb/core/src/iam/jwks.rs
  surrealdb/core/src/iam/verify.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/kvs/tests/mod.rs
  surrealdb/core/tests/auth_limit.rs
  surrealdb/core/tests/insert.rs
  surrealdb/core/tests/script.rs
  surrealdb/server/.nvim.lua
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wasm + fmt
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/src/engine/local/wasm.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Ignore wasmtime security advisories pending upgrade
  deny.toml
Due: none

test: select_id_from_array
  language-tests/tests/reproductions/7257_select_id_from_array.surql
Due: none

tests: add repro language tests
  language-tests/tests/reproductions/7221_create_only_select_permission_id.surql
  language-tests/tests/reproductions/7221_create_only_select_permission_id_import.surql
Due: none

fix: `record_id` to re-inject on select document for val
  surrealdb/core/src/val/record_id.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: 7221 repro test as clean
  language-tests/tests/reproductions/7221_create_only_select_permission_id.surql
Due: none
