Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Prepare v2.6.5 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: none

Pin action by hash
  .github/workflows/build.yml
Due: none

Update `actions/checkout`
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/nix.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
Due: none

Fix actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/nix.yml
Due: none

Update more actions
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/publish-version.yml
Due: none

Update more actions
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/publish-version.yml
Due: none

Remove deprecated `TARGETPLATFORM`
  docker/Dockerfile
Due: none

Update deps
  Cargo.lock
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Make sure async methods are invoked as async
  language-tests/tests/language/functions/method_syntax.surql
  surrealdb/core/src/exec/parts/method.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Make TiKV language tests optional
  .github/workflows/ci.yml
Due: none

Update dependencies
  Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Clarify license
  deny.toml
Due: none

Increase v2 upgrade check frequency, add flag for manual check (#7101)
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update `lz4_flex` (#7107)
  Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Add some set function paths, fix count() function (#7115)
  fuzz/fuzz_targets/fuzz_executor.dict
  fuzz/fuzz_targets/fuzz_sql_parser.dict
  language-tests/tests/language/functions/count.surql
  language-tests/tests/language/functions/set/all.surql
  language-tests/tests/language/functions/set/any.surql
  surrealdb/core/src/exec/function/builtin/set.rs
  surrealdb/core/src/exec/function/method.rs
  surrealdb/core/src/fnc/count.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Allow embedders to use the official surrealdb axum router (#7097)
  surrealdb/server/src/lib.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/src/engine/local/native.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update dependencies (#7145)
  Cargo.lock
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

fix(core): avoid eager computed field evaluation for unselected SELEC… (#7142)
  language-tests/tests/reproductions/7094_computed_fields_not_selected.surql
  surrealdb/core/src/doc/check.rs
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Support transaction conflicts
  surrealdb/core/src/err/to_types.rs
  surrealdb/types/src/error.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Fix checks not running on the release branch
  .github/workflows/ci.yml
  .github/workflows/fuzzing.yml
Due: none

fix: broken `create` with `set<>`
  surrealdb/core/src/sql/expression.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix $parent issues and run more tests in both executors. (#7149)
  .github/workflows/ci.yml
  language-tests/tests/language/graph/parent_in_where.surql
  language-tests/tests/language/indexes/full_text/analyzer_without_tokenizer.surql
  language-tests/tests/language/indexes/full_text/multi_index_offsets.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_edgengram.surql
  language-tests/tests/language/indexes/full_text/score_bm25.surql
  language-tests/tests/language/indexes/full_text/score_without_index.surql
  language-tests/tests/language/param/special/parent_nested_subqueries.surql
  language-tests/tests/language/planner/boolean_behavior_index.surql
  language-tests/tests/language/statements/select/destructure.surql
  language-tests/tests/language/statements/select/dynamic_keys.surql
  language-tests/tests/language/statements/select/from_none.surql
  language-tests/tests/language/statements/select/graph_field_no_flatten.surql
  language-tests/tests/language/statements/select/where_bool.surql
  language-tests/tests/language/statements/select/writable_subqueries.surql
  language-tests/tests/reproductions/3510_link_wildcard_where.surql
  language-tests/tests/reproductions/7083_parent_in_graph_where.surql
  language-tests/tests/reproductions/doc_scoped_param_plan_time_shadow.surql
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/planner/util.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: patch remove on list
  fuzz/Cargo.lock
  language-tests/Cargo.lock
  surrealdb/core/src/val/value/patch.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Allow setting max memtable size for large sized transactions in SurrealKV
  surrealdb/core/src/kvs/surrealkv/cnf.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixes #7184
  language-tests/Cargo.lock
  language-tests/tests/language/graph/parent_in_where.surql
  language-tests/tests/language/param/special/parent_nested_subqueries.surql
  language-tests/tests/reproductions/7184_parent_in_nested_subquery_graph_where.surql
  surrealdb/core/src/exec/parts/filter.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixes #7169
  language-tests/tests/language/graph/edge_clauses.surql
  language-tests/tests/reproductions/7169_from_only_in_graph_lookup.surql
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/planner/idiom.rs
  surrealdb/core/src/exec/planner/source.rs
  surrealdb/core/src/expr/lookup.rs
  surrealdb/core/src/sql/arbitrary/parts.rs
  surrealdb/core/src/sql/lookup.rs
  surrealdb/core/src/syn/parser/idiom.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix ORDER BY on edge table queries with record-link fields (#7188)
  language-tests/tests/reproductions/7188_order_by_edge_table.surql
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(server): treat expired JWT as no-auth instead of rejecting with 401
  surrealdb/server/src/ntw/auth.rs
  tests/http_integration.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Fixes #7168
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
  language-tests/tests/reproductions/7168_order_by_subquery_relation.surql
  surrealdb/core/src/exec/operators/source_expr.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Refine ORDER BY fix to only use Compute for multi-part aliases (#7188)
  language-tests/tests/reproductions/7188_order_by_edge_table.surql
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix formatting
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix infinite recursion bug in computed fields
  language-tests/tests/reproductions/infinite_recursion_bug.surql
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/filter.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/parts/method.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/physical_expr/function/closure.rs
  surrealdb/core/src/exec/physical_expr/function/user_defined.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add more tests
  language-tests/tests/reproductions/infinite_recursion_bug.surql
Due: none

Address comments
  surrealdb/core/src/exec/parts/filter.rs
  surrealdb/core/src/exec/planner/idiom.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Simplify PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Change recursion limit
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/rpc/format/json.rs
  surrealdb/core/src/syn/mod.rs
  surrealdb/core/src/syn/parser/expression.rs
  surrealdb/core/src/syn/parser/mac.rs
  surrealdb/core/src/syn/parser/mod.rs
  surrealdb/core/src/syn/parser/object.rs
  surrealdb/core/src/syn/parser/prime.rs
  surrealdb/core/src/syn/parser/test/limit.rs
  surrealdb/core/src/syn/parser/test/value.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixes
  .github/workflows/ci.yml
  surrealism/runtime/src/capabilities.rs
  surrealism/runtime/src/config.rs
Due: workspace-tests, language-tests

Support logo.png file
  surrealdb/server/src/cli/module/build.rs
  surrealdb/server/src/cli/module/info.rs
  surrealism/runtime/src/package.rs
  surrealism/runtime/src/runtime.rs
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests
