Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Add Value::Set / Set type.
  Cargo.lock
  Cargo.toml
  crates/core/src/expr/expression.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
  crates/core/src/fnc/type.rs
  crates/core/src/sql/expression.rs
  crates/core/src/val/mod.rs
  crates/core/src/val/set.rs
  crates/core/src/val/value/convert/cast.rs
  crates/types/src/flatbuffers/collections.rs
  crates/types/src/flatbuffers/value.rs
  crates/types/src/traits/surreal_value.rs
  crates/types/src/value/into_json.rs
  crates/types/src/value/mod.rs
  crates/types/src/value/set.rs
Due: surrealdb-core, surrealdb-types

Reverse 'got' part of TableCheck to fix output
  crates/core/src/err/mod.rs
  crates/language-tests/tests/language/functions/string/matches.surql
  crates/language-tests/tests/language/statements/define/table/relation.surql
  crates/language-tests/tests/language/statements/define/table/relation_in_out.surql
  crates/language-tests/tests/language/statements/define/table/type_normal.surql
Due: surrealdb-core

Fix typo
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-sdk

add support for refresh tokens
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Fix signin method for local engines
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/mod.rs
Due: surrealdb-sdk

Update API
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/signin.rs
  crates/sdk/src/method/signup.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Fix warnings
  crates/core/src/err/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/savepoint.rs
Due: surrealdb-core

Remove unnecessary clone
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-sdk

Fix refresh token conversion
  crates/sdk/src/engine/any/mod.rs
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

Account for disabled bearer access feature
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

Add token tests and more conversion functions
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Refactor tests to allow enabling capabilities per test
  crates/sdk/tests/api_integration/backup.rs
  crates/sdk/tests/api_integration/backup_version.rs
  crates/sdk/tests/api_integration/basic.rs
  crates/sdk/tests/api_integration/live.rs
  crates/sdk/tests/api_integration/mod.rs
  crates/sdk/tests/api_integration/serialisation.rs
  crates/sdk/tests/api_integration/version.rs
Due: surrealdb-sdk

Add refresh API and implement for local engines
  crates/core/src/err/mod.rs
  crates/core/src/iam/token.rs
  crates/core/src/iam/verify.rs
  crates/core/src/val/mod.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/err/mod.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/method/tests/server.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-core, surrealdb-sdk

Stabilise the bearer access feature
  crates/core/src/catalog/schema/access.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/access_type.rs
  crates/core/src/expr/expression.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/tests/access.rs
  crates/core/tests/info.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/statements/access/db/bearer_operations.surql
  crates/language-tests/tests/language/statements/access/ns/bearer_operations.surql
  crates/language-tests/tests/language/statements/access/root/bearer_operations.surql
  crates/sdk/src/opt/capabilities.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-core, surrealdb-sdk

Fix tests
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
Due: surrealdb-core

Refactor core API
  crates/core/src/iam/mod.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/token.rs
  crates/sdk/src/engine/local/mod.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix rebase
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-bin

Update the protocol
  crates/core/src/iam/signin.rs
  crates/core/src/rpc/protocol.rs
  crates/core/tests/access.rs
  crates/core/tests/info.rs
Due: surrealdb-core

Update HTTP responses
  crates/core/src/iam/token.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Refactor tests
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Add doc comments
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/token.rs
  crates/sdk/src/opt/auth.rs
Due: surrealdb-core, surrealdb-sdk

Update revision lock
  revision.lock
Due: none

Add the refresh tokens test
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Make the protocol backwards compatible
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/signup.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Remove unnecessary revision
  crates/core/src/iam/signup.rs
Due: surrealdb-core

Fix kind_of
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

Update remote engines
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Ensure `iam::Token`s cannot be accidentally logged
  crates/core/src/iam/token.rs
Due: surrealdb-core

compiles
  crates/core/src/expr/executable.rs
  crates/core/src/expr/function.rs
  crates/core/src/gql/functions.rs
  crates/core/src/surrealism/host.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/surrealism/surrealism-cli/src/host.rs
  crates/surrealism/surrealism-runtime/src/host.rs
Due: surrealdb-core

Use consistent error format
  crates/core/src/err/mod.rs
Due: surrealdb-core

Implement `scan_all_versions` for SurrealMX
  crates/core/src/kvs/mem/mod.rs
Due: surrealdb-core

Use `Lz4` compression instead of `Snappy` for RocksDB
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

tidy tidy
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Fix vector stuff
  crates/language-tests/tests/language/functions/search/search-linear.surql
Due: none

Fix max and min not begin updated correctly
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/idx/planner/tree.rs
Due: surrealdb-core

Fixins
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
Due: surrealdb-core, surrealdb-sdk

Fix more bugs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/table.rs
  crates/core/tests/group.rs
  crates/core/tests/helpers.rs
  crates/core/tests/planner.rs
  crates/core/tests/table.rs
Due: surrealdb-core

Fix formatting + revision
  crates/core/src/buc/backend.rs
  revision.lock
Due: surrealdb-core
