Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

SDB-17: Ensure all statements return a value.
  crates/core/src/dbs/executor.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/control_flow/transaction/transaction_returns_no_value.surql
  crates/language-tests/tests/language/expression/operators/relation/type_order_array.surql
  crates/language-tests/tests/language/functions/array/all.surql
  crates/language-tests/tests/language/functions/array/max.surql
  crates/language-tests/tests/language/functions/array/min.surql
  crates/language-tests/tests/language/functions/rand/enum.surql
  crates/language-tests/tests/language/graph/graph_clauses.surql
  crates/language-tests/tests/language/import/overwrite-by-default.surql
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/parameters/set_within_transaction.surql
  crates/language-tests/tests/language/planner/select_compound_index_array.surql
  crates/language-tests/tests/language/planner/select_compound_index_object.surql
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
  crates/language-tests/tests/language/planner/select_compound_unique_array.surql
  crates/language-tests/tests/language/planner/select_compound_unique_object.surql
  crates/language-tests/tests/language/planner/select_from_standard_index.surql
  crates/language-tests/tests/language/planner/select_from_unique_index.surql
  crates/language-tests/tests/language/planner/select_with_in_operator_multiple_indexes.surql
  crates/language-tests/tests/language/primitive/record_id/natural_order.surql
  crates/language-tests/tests/language/statements/define/field/partial_type_definition.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_no_index.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_unique.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_unique_no_index.surql
  crates/language-tests/tests/language/statements/define/param/cancel_commit.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/view_sum_properly_deleted.surql
  crates/language-tests/tests/language/statements/define/table/view/view_with_zero_sum.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_and_update_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/return/returns.surql
  crates/language-tests/tests/language/statements/select/4781_where_field_type_record_id.surql
  crates/language-tests/tests/language/statements/select/random_ordering_samples_uniform.surql
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
  crates/language-tests/tests/language/statements/transaction/throw_error_handling.surql
  crates/language-tests/tests/language/statements/use/ns_db_in_tx.surql
Due: surrealdb-core

Simplify language test results by using more blocks.
  crates/language-tests/tests/language/functions/array/all.surql
  crates/language-tests/tests/language/functions/array/min.surql
  crates/language-tests/tests/language/functions/rand/enum.surql
  crates/language-tests/tests/language/graph/graph_clauses.surql
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/planner/select_compound_index_array.surql
  crates/language-tests/tests/language/planner/select_compound_index_object.surql
  crates/language-tests/tests/language/planner/select_compound_order_limit.surql
  crates/language-tests/tests/language/planner/select_compound_unique_array.surql
  crates/language-tests/tests/language/planner/select_compound_unique_object.surql
  crates/language-tests/tests/language/planner/select_from_standard_index.surql
  crates/language-tests/tests/language/planner/select_from_unique_index.surql
  crates/language-tests/tests/language/planner/select_with_in_operator_multiple_indexes.surql
  crates/language-tests/tests/language/primitive/record_id/natural_order.surql
  crates/language-tests/tests/language/statements/define/field/partial_type_definition.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_no_index.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_unique.surql
  crates/language-tests/tests/language/statements/define/index/mixed_numbers_range_unique_no_index.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/view_sum_properly_deleted.surql
  crates/language-tests/tests/language/statements/define/table/view/view_with_zero_sum.surql
  crates/language-tests/tests/language/statements/select/4781_where_field_type_record_id.surql
  crates/language-tests/tests/language/statements/select/random_ordering_samples_uniform.surql
  crates/language-tests/tests/language/statements/select/select_start_limit.surql
Due: none

Move option, return, set, and tx over to language tests.
  crates/core/tests/cache.rs
  crates/core/tests/option.rs
  crates/core/tests/return.rs
  crates/core/tests/set.rs
  crates/core/tests/transaction.rs
  crates/language-tests/tests/language/control_flow/transaction/basic.surql
  crates/language-tests/tests/language/control_flow/transaction/duplicate_key_failure.surql
  crates/language-tests/tests/language/control_flow/transaction/duplicate_key_with_return.surql
  crates/language-tests/tests/language/control_flow/transaction/throw_without_return.surql
  crates/language-tests/tests/language/control_flow/transaction/with_return.surql
  crates/language-tests/tests/language/statements/option/import_indexes.surql
  crates/language-tests/tests/language/statements/return/breaks_nested_execution.surql
  tests/cli_integration.rs
Due: surrealdb-core, integration-tests

SDB-18: Fix LIVE DIFF response data structure.
  Cargo.toml
  crates/core/src/catalog/subscription.rs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/field.rs
  crates/core/src/sql/statements/live.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
  revision.lock
  tests/ws_integration.rs
Due: surrealdb-core, integration-tests

Add object<schemafull> / object<strict>
  crates/core/src/doc/field.rs
  crates/core/src/expr/kind.rs
  crates/core/src/expr/record_id/key.rs
  crates/core/src/expr/visit.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/rpc/response.rs
  crates/core/src/sql/kind.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/statements/define/field/object_option_schemafull.surql
  crates/language-tests/tests/language/statements/define/field/object_schemafull.surql
  crates/language-tests/tests/language/statements/define/field/object_schemafull_in_schemaless_table.surql
  crates/language-tests/tests/language/statements/define/field/object_schemaless.surql
  crates/language-tests/tests/language/statements/define/field/object_schemaless_in_schemafull_table.surql
  crates/language-tests/tests/language/statements/define/field/object_strict_alias.surql
  crates/language-tests/tests/language/statements/define/param/parent.surql
  crates/language-tests/tests/language/statements/define/param/this.surql
  crates/sdk/src/opt/resource.rs
  crates/types-derive/src/impl/struct.rs
  crates/types-derive/src/kind.rs
  crates/types-derive/src/structs/fields/mod.rs
  crates/types/src/flatbuffers/kind.rs
  crates/types/src/kind/mod.rs
  crates/types/src/value/mod.rs
  crates/types/tests/kind.rs
  crates/types/tests/surreal_value/trait.rs
  revision.lock
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

Line fix
  crates/language-tests/tests/language/functions/path_hints/deprecated_path_hint.surql
  crates/language-tests/tests/language/functions/path_hints/typo_hint.surql
Due: none

Put that path back in
  crates/core/src/syn/parser/builtin.rs
Due: surrealdb-core

Implements global vector cache
  crates/core/src/cnf/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/idx/trees/bkeys.rs
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/core/src/idx/trees/hnsw/elements.rs
  crates/core/src/idx/trees/hnsw/flavor.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/layer.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/idx/trees/store/hnsw.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Fix fmt
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/core/src/idx/trees/hnsw/elements.rs
Due: surrealdb-core

exclude surrealism-cli & demo in coverage
  Makefile.ci.toml
Due: none

SDB-18: Fix LIVE DIFF response data structure. (#6551)
  Cargo.toml
  crates/core/src/catalog/subscription.rs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/field.rs
  crates/core/src/sql/statements/live.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
  revision.lock
  tests/ws_integration.rs
Due: surrealdb-core, integration-tests

surrealism feature gate
  Cargo.toml
  Makefile.ci.toml
  Makefile.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/core/src/buc/backend.rs
  crates/core/src/buc/store/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/module.rs
  crates/core/src/expr/statements/remove/module.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/lib.rs
  crates/core/src/sql/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

Improve cli
  Cargo.lock
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-cli/src/host.rs
  crates/surrealism/surrealism-cli/src/main.rs
Due: none

re-enable cackle in CI
  .github/workflows/supply-chain.yml
Due: none

downgrade runner
  .github/workflows/ci.yml
Due: none

fix cackle ci
  .github/workflows/supply-chain.yml
Due: none

fixup buckets
  crates/core/src/buc/backend.rs
  crates/core/src/buc/store/mod.rs
Due: surrealdb-core

SDB-16: Client-side transactions support (#6533)
  crates/core/src/dbs/executor.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/verify.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/protocol.rs
  crates/core/tests/sequence.rs
  crates/core/tests/strict.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/begin.rs
  crates/sdk/src/method/cancel.rs
  crates/sdk/src/method/commit.rs
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/delete.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/live.rs
  crates/sdk/src/method/merge.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/patch.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/select.rs
  crates/sdk/src/method/tests/server.rs
  crates/sdk/src/method/transaction.rs
  crates/sdk/src/method/update.rs
  crates/sdk/src/method/upsert.rs
  crates/sdk/tests/api_integration/basic.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

fixes
  crates/core/tests/function.rs
  crates/core/tests/remove.rs
Due: surrealdb-core

Reverse 'got' part of TableCheck to fix output (#6532)
  crates/core/src/err/mod.rs
  crates/language-tests/tests/language/functions/string/matches.surql
  crates/language-tests/tests/language/statements/define/table/relation.surql
  crates/language-tests/tests/language/statements/define/table/relation_in_out.surql
  crates/language-tests/tests/language/statements/define/table/type_normal.surql
Due: surrealdb-core

Implementation
  crates/core/src/ctx/context.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/core/src/idx/trees/hnsw/elements.rs
  crates/core/src/idx/trees/hnsw/flavor.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/layer.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/idx/trees/store/hnsw.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Fix language test
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Add comment
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Address review
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/core/src/idx/trees/vector.rs
Due: surrealdb-core

Add eviction
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Eviction
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Add basic migration diagnostic
  crates/core/src/cnf/mod.rs
  crates/core/src/fnc/migration.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/version/mod.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/core/src/kvs/version/v3/pass/util.rs
  crates/core/src/sql/visit.rs
  crates/core/src/syn/error/location.rs
  crates/core/src/syn/error/mod.rs
  crates/core/src/syn/error/render.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_field.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
Due: surrealdb-core

Rename `Transaction::get_timestamp` to `Transaction::get_versionstamp`
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
Due: surrealdb-core

Actually working.
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/value.rs
  crates/language-tests/tests/language/functions/set/add.surql
  crates/language-tests/tests/language/functions/set/complement.surql
  crates/language-tests/tests/language/functions/set/complex_values.surql
  crates/language-tests/tests/language/functions/set/edge_cases.surql
  crates/language-tests/tests/language/functions/set/filter.surql
  crates/language-tests/tests/language/functions/set/intersect.surql
  crates/language-tests/tests/language/functions/set/method_syntax.surql
  crates/language-tests/tests/language/functions/set/remove.surql
  crates/language-tests/tests/language/primitive/set/basic.surql
  crates/language-tests/tests/parsing/errors/missed_qoute_object.surql
Due: surrealdb-core

tidy
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/src/tests/cmp.rs
  crates/language-tests/tests/language/closure/capture.surql
Due: surrealdb-core

Add TableId to the cache key
  crates/core/src/dbs/iterator.rs
  crates/core/src/doc/index.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/rebuild.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/trees/hnsw/cache.rs
  crates/core/src/idx/trees/hnsw/elements.rs
  crates/core/src/idx/trees/hnsw/flavor.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/idx/trees/store/hnsw.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Cleanup
  crates/core/src/dbs/iterator.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/rebuild.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Fix comment
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Address feedback and add some more tests.
  crates/core/src/expr/block.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/set.rs
  crates/language-tests/tests/language/functions/set/parse_error.surql
  crates/language-tests/tests/upgrade/define/function.surql
  crates/types/src/value/set.rs
Due: surrealdb-core, surrealdb-types

Tidy docs.
  crates/core/src/syn/parser/object.rs
Due: surrealdb-core

Tidy
  crates/core/src/syn/parser/test/limit.rs
Due: surrealdb-core

reference by field
  crates/core/src/doc/alter.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/purge.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/data.rs
  crates/core/src/expr/lookup.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/expr/visit.rs
  crates/core/src/key/mod.rs
  crates/core/src/key/ref/mod.rs
  crates/core/src/sql/data.rs
  crates/core/src/sql/lookup.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/language/reference/by_referencing_field.surql
  crates/language-tests/tests/language/reference/example_blog.surql
  crates/language-tests/tests/language/reference/test.surql
Due: surrealdb-core

Remove MTREE(s)
  crates/core/src/catalog/schema/index.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/mod.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/idx/trees/mod.rs
  crates/core/src/idx/trees/mtree.rs
  crates/core/src/idx/trees/store/cache.rs
  crates/core/src/idx/trees/store/hnsw.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/idx/trees/store/tree.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/key/category.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/key/index/vm.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/sql/index.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/core/tests/vector.rs
  tests/database_upgrade.rs
Due: surrealdb-core, integration-tests

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
