Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

tidy
  surrealdb/core/src/exec/operators/ddl/define/namespace.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/ddl.rs
  surrealdb/core/src/expr/statements/define/namespace.rs
  surrealdb/core/src/sql/statements/define/namespace.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/parser/test/streaming.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Moved to notification router, use single schema cache for http and ws; cleaned up http service; added ns/db validation before ws upgrade; and moved to bounded channel.
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/subscriptions.rs
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/gql/mod.rs
  surrealdb/server/src/ntw/gql.rs
  surrealdb/server/src/rpc/mod.rs
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Update SurrealKV 0.21.0 (#7042)
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
Due: none

Add permissions tests
  language-tests/tests/language/permissions/ddl/editor_define_allowed.surql
  language-tests/tests/language/permissions/ddl/editor_define_denied.surql
  language-tests/tests/language/permissions/ddl/info_editor_allowed.surql
  language-tests/tests/language/permissions/ddl/info_editor_allowed_import.surql
  language-tests/tests/language/permissions/ddl/info_viewer_allowed.surql
  language-tests/tests/language/permissions/ddl/info_viewer_allowed_import.surql
  language-tests/tests/language/permissions/ddl/viewer_alter.surql
  language-tests/tests/language/permissions/ddl/viewer_define_access.surql
  language-tests/tests/language/permissions/ddl/viewer_define_other.surql
  language-tests/tests/language/permissions/ddl/viewer_define_table.surql
  language-tests/tests/language/permissions/ddl/viewer_remove.surql
  language-tests/tests/language/permissions/dml/dml_permissions_setup.surql
  language-tests/tests/language/permissions/dml/editor_dml_allowed.surql
  language-tests/tests/language/permissions/dml/table_create_full.surql
  language-tests/tests/language/permissions/dml/table_create_none.surql
  language-tests/tests/language/permissions/dml/table_create_where.surql
  language-tests/tests/language/permissions/dml/table_delete_full.surql
  language-tests/tests/language/permissions/dml/table_delete_none.surql
  language-tests/tests/language/permissions/dml/table_delete_where.surql
  language-tests/tests/language/permissions/dml/table_insert_permissions.surql
  language-tests/tests/language/permissions/dml/table_relate_permissions.surql
  language-tests/tests/language/permissions/dml/table_select_full.surql
  language-tests/tests/language/permissions/dml/table_select_none.surql
  language-tests/tests/language/permissions/dml/table_select_where.surql
  language-tests/tests/language/permissions/dml/table_update_full.surql
  language-tests/tests/language/permissions/dml/table_update_none.surql
  language-tests/tests/language/permissions/dml/table_update_where.surql
  language-tests/tests/language/permissions/dml/table_upsert_permissions.surql
  language-tests/tests/language/permissions/dml/viewer_select_allowed.surql
  language-tests/tests/language/permissions/dml/viewer_select_allowed_import.surql
  language-tests/tests/language/permissions/dml/viewer_write_denied.surql
  language-tests/tests/language/permissions/dml/viewer_write_denied_import.surql
  language-tests/tests/language/permissions/field/field_create_permission.surql
  language-tests/tests/language/permissions/field/field_permissions_setup.surql
  language-tests/tests/language/permissions/field/field_select_permission.surql
  language-tests/tests/language/permissions/field/field_update_permission.surql
Due: none

Revert "add #[surreal(wrap)] attribute"
  surrealdb/types/derive/src/attr/field.rs
  surrealdb/types/derive/src/crate_path.rs
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/derive/src/structs/fields/unnamed.rs
  surrealdb/types/tests/surreal_value/derive/mod.rs
  surrealdb/types/tests/surreal_value/derive/wrap.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

remove deserialize impl for references
  surrealdb/types/src/traits/de.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Some fixes
  language-tests/tests/language/statements/select/select_from_array.surql
  surrealdb/core/src/exec/operators/project.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comment
  language-tests/tests/language/functions/time/timezone.surql
Due: none

Fix START issue with pushdown kv skipping
  language-tests/tests/language/statements/select/limit_start_with_computed.surql
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/scan/table.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix sorting issue with exprs
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/language/statements/select/select_from_array.surql
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
  surrealdb/core/src/exec/operators/source_expr.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

WIP
  surrealdb/core/src/exec/operators/ddl/helpers.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/ddl.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Increase ctx timeout
  language-tests/tests/access/record/variables.surql
Due: none

Remove a dbg! (#7041)
  surrealdb/core/src/kvs/timestamp.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix +/-= discrepancies with +/-
  language-tests/Cargo.lock
  language-tests/tests/reproductions/assign_add_sub_silent_failure.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/val/value/decrement.rs
  surrealdb/core/src/val/value/extend.rs
  surrealdb/core/src/val/value/inc.rs
  surrealdb/core/src/val/value/increment.rs
  surrealdb/core/src/val/value/patch.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix
  language-tests/tests/language/functions/crypto/pbkdf2.surql
Due: none

Address feedback
  surrealdb/core/src/err/to_types.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

go go
  language-tests/tests/language/statements/access/db/revoke_grant.surql
  language-tests/tests/language/statements/access/db/show_grant_filter.surql
Due: none

Fix `+=`/`-=` discrepancies with `+`/`-` (#7048)
  language-tests/Cargo.lock
  language-tests/tests/reproductions/assign_add_sub_silent_failure.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/val/value/decrement.rs
  surrealdb/core/src/val/value/extend.rs
  surrealdb/core/src/val/value/inc.rs
  surrealdb/core/src/val/value/increment.rs
  surrealdb/core/src/val/value/patch.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix START issue with pushdown kv skipping (#7047)
  language-tests/tests/access/record/variables.surql
  language-tests/tests/language/statements/select/limit_start_with_computed.surql
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/scan/table.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

deps: update aws-lc-rs
  Cargo.lock
Due: none

Fix supply-chain
  language-tests/Cargo.lock
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Address comments
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/reproductions/source_expr_context_escalation.surql
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/operators/project.rs
  surrealdb/core/src/exec/operators/source_expr.rs
  surrealdb/core/src/exec/physical_expr/collections.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/physical_expr/record_id.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

wip
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/reproductions/source_expr_context_escalation.surql
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix subqueries not respecting nested fields with AS key.key (#7038)
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/tests/subquery.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Retry logic for initial datastore transactions
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix fmt
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add comments
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Improve doc
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

FIX_ISSUE_7036: allow computed data to be recalculated basing on the existing record
  surrealdb/core/src/doc/document.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

FIX_ISSUE_7036: add language test for upsert with computed data
  language-tests/tests/language/statements/upsert/upsert_with_computed_data.surql
Due: none

Use stable MSRV api
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix
  surrealdb/core/src/idx/ft/fulltext.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/key/index/dc.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Implement v2 subcommand to run old binary
  Cargo.lock
  surrealdb/core/src/env/mod.rs
  surrealdb/core/src/fnc/script/modules/os.rs
  surrealdb/core/src/kvs/timestamp.rs
  surrealdb/core/src/mac/mod.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/mod.rs
  surrealdb/server/src/cli/upgrade.rs
  surrealdb/server/src/cli/v2.rs
  surrealdb/server/src/env/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
