Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Update the Cargo.toml files
  Cargo.toml
  fuzz/Cargo.toml
  language-tests/Cargo.toml
  tests/sdk/local/Cargo.toml
  tests/sdk/remote/Cargo.toml
Due: integration-tests

Update paths
  .codecov.yml
  .cursor/rules/bug-investigation.mdc
  .cursor/rules/surrealql-language-tests.mdc
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/fuzzing.yml
  .github/workflows/supply-chain.yml
  .gitignore
  CONTRIBUTING.md
  Makefile.ci.toml
  language-tests/tests/language/statements/define/analyzer/basic.surql
  surrealdb/benches/array_complement.rs
  surrealdb/benches/array_difference.rs
  surrealdb/benches/array_intersect.rs
  surrealdb/benches/array_uniq.rs
  surrealdb/benches/parser.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/mac/mod.rs
  tests/README.md
Due: integration-tests

Regenerate revision lock
  revision.lock
Due: none

Move `surrealdb/types/types-derive` to `surrealdb/types/derive`
  Cargo.toml
  surrealdb/types/derive/Cargo.toml
  surrealdb/types/derive/src/attr/enum.rs
  surrealdb/types/derive/src/attr/field.rs
  surrealdb/types/derive/src/attr/mod.rs
  surrealdb/types/derive/src/attr/named_fields.rs
  surrealdb/types/derive/src/attr/unit.rs
  surrealdb/types/derive/src/attr/unnamed_fields.rs
  surrealdb/types/derive/src/crate_path.rs
  surrealdb/types/derive/src/impl/enum.rs
  surrealdb/types/derive/src/impl/mod.rs
  surrealdb/types/derive/src/impl/struct.rs
  surrealdb/types/derive/src/kind.rs
  surrealdb/types/derive/src/lib.rs
  surrealdb/types/derive/src/structs/enum/mod.rs
  surrealdb/types/derive/src/structs/enum/variant.rs
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/derive/src/structs/fields/unnamed.rs
  surrealdb/types/derive/src/structs/mod.rs
  surrealdb/types/derive/src/structs/strategy.rs
  surrealdb/types/derive/src/structs/with.rs
  surrealdb/types/derive/src/write_sql.rs
Due: none

Address supply chain checks
  deny.toml
  supply-chain/config.toml
Due: none

further cleanup
  crates/core/src/api/body.rs
  crates/core/src/api/invocation.rs
  crates/core/src/api/mod.rs
  crates/core/src/fnc/api/mod.rs
  crates/core/src/kvs/ds.rs
  crates/server/src/ntw/api.rs
Due: surrealdb-core

Fix `RecordIdKey` conversion
  surrealdb/types/src/value/record_id/key.rs
Due: none

Fix imports
  surrealdb/types/src/notification.rs
  surrealdb/types/src/variables.rs
Due: none

Fix clippy
  surrealdb/types/src/value/record_id/key.rs
Due: none

Add comments about the new structure to the contributing guide
  CONTRIBUTING.md
Due: none

write stall
  Cargo.lock
  Cargo.toml
Due: none

Fixing tests
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/table_type.rs
  crates/core/src/syn/lexer/strings/mod.rs
  crates/core/src/syn/parser/basic/mod.rs
  crates/core/src/syn/parser/basic/number.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/syn/token/mod.rs
  crates/language-tests/src/main.rs
  crates/language-tests/src/tests/mod.rs
  crates/language-tests/tests/language/functions/set/complex_values.surql
  crates/language-tests/tests/language/statements/define/field/strict_nested.surql
  crates/language-tests/tests/parsing/errors/missed_qoute_object.surql
  crates/language-tests/tests/parsing/idents/escape_sequences_backtick.surql
  crates/language-tests/tmp/test.surql
Due: surrealdb-core

Fix more tests
  language-tests/tests/language/primitive/record_id/id_variants.surql
  language-tests/tests/language/statements/define/table/relation_in_out.surql
  language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  language-tests/tests/parsing/idents/escape_sequences_backtick.surql
  language-tests/tests/parsing/idents/escape_sequences_bracket.surql
Due: none

Add workflow for running OpenSSF Scorecard.
  .github/workflows/scorecard.yml
Due: none

Add a graph dataset for ease of testing.
  language-tests/tests/datasets/graph.surql
Due: none

Add graph tests.
  language-tests/tests/language/graph/aliasing.surql
  language-tests/tests/language/graph/cycles_bounded.surql
  language-tests/tests/language/graph/cycles_collect.surql
  language-tests/tests/language/graph/depth_fixed.surql
  language-tests/tests/language/graph/depth_range.surql
  language-tests/tests/language/graph/destructure_fields.surql
  language-tests/tests/language/graph/destructure_nested_wip.surql
  language-tests/tests/language/graph/destructure_recursive.surql
  language-tests/tests/language/graph/diamonds.surql
  language-tests/tests/language/graph/edge_clauses.surql
  language-tests/tests/language/graph/edge_direct_queries.surql
  language-tests/tests/language/graph/edge_property_access.surql
  language-tests/tests/language/graph/edge_range_syntax.surql
  language-tests/tests/language/graph/edge_statistics.surql
  language-tests/tests/language/graph/filter_combined.surql
  language-tests/tests/language/graph/filter_edge_properties.surql
  language-tests/tests/language/graph/filter_target_nodes.surql
  language-tests/tests/language/graph/graph_clauses.surql
  language-tests/tests/language/graph/path_collect.surql
  language-tests/tests/language/graph/path_inclusive.surql
  language-tests/tests/language/graph/path_path.surql
  language-tests/tests/language/graph/path_shortest.surql
  language-tests/tests/language/graph/range_computation.surql
  language-tests/tests/language/graph/recursion_deep_nesting.surql
  language-tests/tests/language/graph/recursion_record_links.surql
  language-tests/tests/language/graph/reference_fields_wip.surql
  language-tests/tests/language/graph/skill_matching.surql
  language-tests/tests/language/graph/social_network.surql
  language-tests/tests/language/graph/subqueries.surql
  language-tests/tests/language/graph/timeout_wip.surql
  language-tests/tests/language/graph/traversal_backward.surql
  language-tests/tests/language/graph/traversal_bidirectional.surql
  language-tests/tests/language/graph/traversal_forward.surql
  language-tests/tests/language/graph/traversal_multi_hop.surql
  language-tests/tests/language/graph/wildcards.surql
  language-tests/tests/language/graph/wildcards_multiple_tables.surql
Due: none

Add graph, recursion, and idiom tests.
  language-tests/tests/language/graph/aliasing.surql
  language-tests/tests/language/graph/cycles_bounded.surql
  language-tests/tests/language/graph/cycles_collect.surql
  language-tests/tests/language/graph/depth_fixed.surql
  language-tests/tests/language/graph/depth_range.surql
  language-tests/tests/language/graph/destructure_fields.surql
  language-tests/tests/language/graph/destructure_nested.surql
  language-tests/tests/language/graph/destructure_nested_wip.surql
  language-tests/tests/language/graph/destructure_recursive.surql
  language-tests/tests/language/graph/diamonds.surql
  language-tests/tests/language/graph/edge_clauses.surql
  language-tests/tests/language/graph/edge_direct_queries.surql
  language-tests/tests/language/graph/edge_property_access.surql
  language-tests/tests/language/graph/edge_range_syntax.surql
  language-tests/tests/language/graph/edge_statistics.surql
  language-tests/tests/language/graph/filter_combined.surql
  language-tests/tests/language/graph/filter_edge_properties.surql
  language-tests/tests/language/graph/filter_target_nodes.surql
  language-tests/tests/language/graph/path_collect.surql
  language-tests/tests/language/graph/path_inclusive.surql
  language-tests/tests/language/graph/path_path.surql
  language-tests/tests/language/graph/path_shortest.surql
  language-tests/tests/language/graph/recursion_deep_nesting.surql
  language-tests/tests/language/graph/recursion_record_links.surql
  language-tests/tests/language/graph/reference_fields_wip.surql
  language-tests/tests/language/graph/skill_matching.surql
  language-tests/tests/language/graph/social_network.surql
  language-tests/tests/language/graph/subqueries.surql
  language-tests/tests/language/graph/timeout.surql
  language-tests/tests/language/graph/timeout_wip.surql
  language-tests/tests/language/graph/traversal_backward.surql
  language-tests/tests/language/graph/traversal_bidirectional.surql
  language-tests/tests/language/graph/traversal_forward.surql
  language-tests/tests/language/graph/traversal_multi_hop.surql
  language-tests/tests/language/graph/upsert_relate_complex_array_traversal.surql
  language-tests/tests/language/graph/wildcards.surql
  language-tests/tests/language/graph/wildcards_multiple_tables.surql
  language-tests/tests/language/idiom/array_range.surql
  language-tests/tests/language/idiom/possible_mistakes.surql
  language-tests/tests/language/idiom/recordid_with_index.surql
Due: none

Tidy up
  language-tests/tests/language/graph/range_simple.surql
  language-tests/tests/language/graph/timeout.surql
Due: none

Create scorecard.yml for OSSF
  .github/workflows/scorecard.yml
Due: none

Increase timeout for tikv tests
  language-tests/tests/language/graph/cycles_collect.surql
Due: none

More tikv
  language-tests/tests/language/graph/timeout.surql
Due: none

More to
  language-tests/tests/language/graph/cycles_collect.surql
  language-tests/tests/language/graph/timeout.surql
Due: none

SEC-10: Create scorecard.yml for OSSF (#6739)
  .github/workflows/scorecard.yml
Due: none

Wip
  crates/core/src/key/category.rs
  crates/core/src/key/index/df.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Use notify
  crates/core/src/key/index/df.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Recover queue on resume
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Add inline doc
  crates/core/src/key/index/df.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

clippy + fmt
  crates/core/src/api/invocation.rs
  crates/core/src/api/middleware/api_x/common.rs
  crates/core/src/api/middleware/api_x/mod.rs
  crates/core/src/api/middleware/api_x/req.rs
  crates/core/src/api/middleware/api_x/res.rs
  crates/core/src/api/middleware/mod.rs
  crates/core/src/api/request.rs
  crates/core/src/api/response.rs
  crates/core/src/expr/closure.rs
  crates/core/src/fnc/api/mod.rs
  crates/core/src/fnc/api/req.rs
  crates/core/src/fnc/api/res.rs
  crates/core/src/fnc/args.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/closure.rs
  crates/core/src/val/mod.rs
  crates/server/src/ntw/api.rs
Due: surrealdb-core

Fix even more tests
  crates/language-tests/tmp/test.surql
  language-tests/tests/language/statements/define/table/relation_in_out.surql
  surrealdb/core/src/fmt/escape.rs
  surrealdb/types/src/utils/escape.rs
Due: none

fixup
  surrealdb/core/src/fnc/api/mod.rs
  surrealdb/core/src/fnc/api/req.rs
  surrealdb/core/src/fnc/api/res.rs
Due: none

not breaking, added default
  revision.lock
Due: none

Upgrade surrealkv to 0.17 (#6716)
  Cargo.lock
  Cargo.toml
  surrealdb/core/src/kvs/surrealkv/mod.rs
Due: none

Fix final tests
  surrealdb/core/src/catalog/table.rs
  surrealdb/core/src/expr/statements/define/field.rs
  surrealdb/core/src/expr/statements/define/table.rs
  surrealdb/core/src/fmt/escape.rs
  surrealdb/core/src/sql/statements/alter/table.rs
  surrealdb/core/src/sql/statements/define/table.rs
  surrealdb/core/src/sql/table_type.rs
  surrealdb/core/src/sql/test_to_sql.rs
  surrealdb/core/src/syn/parser/builtin.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/parser/value.rs
  surrealdb/core/tests/define.rs
  surrealdb/core/tests/helpers.rs
Due: none

Actually commit all changes
  surrealdb/types/src/value/mod.rs
Due: none

Fix missed tests
  surrealdb/core/src/syn/parser/function.rs
  surrealdb/core/tests/helpers.rs
  surrealdb/core/tests/remove.rs
Due: none

Fix gql parsing error: excluded parsed as included (#6691)
  surrealdb/core/src/syn/parser/stmt/define.rs
Due: none

Implement ROCKSDB telemetry (#6726)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/rocksdb/mod.rs
  surrealdb/core/src/kvs/tests/metrics.rs
  surrealdb/core/src/kvs/tests/mod.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/telemetry/metrics/ds.rs
  surrealdb/server/src/telemetry/metrics/mod.rs
Due: none

Fix bug in record id exports
  surrealdb/core/src/fmt/escape.rs
  surrealdb/core/src/kvs/export.rs
  surrealdb/src/lib.rs
Due: none

revision lock
  surrealdb/revision.lock
Due: none
