Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Cleanup
  build.rs
Due: none

Improve the error message
  build.rs
Due: none

Add `SURREAL_BUILD_VERSION` environment variable to override reported version (#6650)
  build.rs
  crates/server/src/cnf/mod.rs
  flake.nix
  pkg/nix/drv/binary.nix
  pkg/nix/util.nix
Due: none

Prepare v3.0.0-alpha.17 release (#6649)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Remove unused crates
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/fuzz/Cargo.toml
  crates/sdk/Cargo.toml
  crates/server/Cargo.toml
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  crates/types/Cargo.toml
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

fix: error when parsing < -
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/idiom.rs
Due: surrealdb-core

test: lt and negate operator parsing test
  crates/core/src/syn/parser/expression.rs
Due: surrealdb-core

doc: idiom classification
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/idiom.rs
Due: surrealdb-core

Feature-gate GraphQL and CLI dependencies
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/doc/lives.rs
  crates/core/src/lib.rs
  crates/server/Cargo.toml
  crates/server/src/cli/mod.rs
  crates/server/src/lib.rs
  crates/server/src/ntw/mod.rs
  crates/types/Cargo.toml
Due: surrealdb-core, surrealdb-types

Add reusable workflows for consistent CI/release tooling
  .github/actions/install-tools/action.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/reusable-quality-checks.yml
  .github/workflows/reusable-test.yml
Due: none

Fix warnings
  crates/core/src/err/mod.rs
  crates/core/src/mem/notrack.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Add CI checks for feature combinations and unused dependencies
  .github/workflows/ci.yml
  Makefile.ci.toml
Due: none

Ignore RUSTSEC-2025-0134 advisory for rustls-pemfile
  .github/workflows/ci.yml
  deny.toml
Due: none

Fix flaky `SurrealQL tests - rocksdb` job
  crates/language-tests/tests/access/record/variables.surql
Due: none

Remove feature-check from required jobs
  .github/workflows/ci.yml
Due: none

Remove unnecessary `'static` lifetime constraints from SDK methods
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/merge.rs
Due: surrealdb-sdk

Rename `format` and `ci-format` tasks to `fmt` and `ci-fmt`
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  Makefile.ci.toml
  Makefile.local.toml
Due: none

Remove `Query::query()` chaining method from SDK
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/tests/api_integration/basic.rs
  crates/sdk/tests/api_integration/live.rs
Due: surrealdb-sdk

Add Index::supports_order() and don't select indexes for order that don't support it.
  crates/core/src/catalog/schema/index.rs
  crates/core/src/idx/planner/tree.rs
Due: surrealdb-core

Refactor reusable jobs into actions
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/docker-build/action.yml
  .github/actions/docker-prepare/action.yml
  .github/actions/package-macos-universal/action.yml
  .github/actions/prepare-release-vars/action.yml
  .github/actions/propagate-binaries/action.yml
  .github/actions/publish-binaries/action.yml
  .github/actions/publish-crate/action.yml
  .github/actions/quality-check-docs/action.yml
  .github/actions/quality-check-wasm/action.yml
  .github/actions/quality-check/action.yml
  .github/actions/quality-clippy/action.yml
  .github/actions/quality-format/action.yml
  .github/actions/test-workspace/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/crate.yml
  .github/workflows/docker.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
  .github/workflows/reusable-quality-checks.yml
  .github/workflows/reusable-test.yml
Due: none

Merge `nightly.yml` and `release.yml` to get one release workflow
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Due: none

Skip timestamp generation and dashmap iteration if empty
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Do not write records to the transaction cache.
  crates/core/src/kvs/cache/tx/entry.rs
  crates/core/src/kvs/cache/tx/key.rs
  crates/core/src/kvs/cache/tx/lookup.rs
  crates/core/src/kvs/cache/tx/weight.rs
  crates/core/src/kvs/tx.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Make node id not optional in Options.
  crates/core/src/dbs/options.rs
  crates/core/src/dbs/test.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/kill.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/idx/ft/analyzer/mod.rs
  crates/core/src/idx/ft/fulltext.rs
  crates/core/src/idx/index.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Make node id not optional in Options. (#6663)
  crates/core/src/dbs/options.rs
  crates/core/src/dbs/test.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/kill.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/idx/ft/analyzer/mod.rs
  crates/core/src/idx/ft/fulltext.rs
  crates/core/src/idx/index.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Use `Arc<str>` for table mutations
  Cargo.lock
  Cargo.toml
  crates/core/src/cf/mutations.rs
  crates/core/src/cf/writer.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/key/index/hv.rs
Due: surrealdb-core

Update `revision.lock`
  revision.lock
Due: none

Fix `cargo vet`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Fix `cargo audit`
  deny.toml
Due: none

Fix cast to set
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_arrays_example_4.surql
  crates/language-tests/tests/language/functions/type/is_set.surql
  crates/language-tests/tests/language/functions/type/set.surql
  crates/language-tests/tests/reproductions/5677_array_index_field_constraints.surql
Due: surrealdb-core

Update test
  crates/core/tests/typing.rs
Due: surrealdb-core

Fix this test too
  crates/core/tests/typing.rs
Due: surrealdb-core

Change one more assertion
  tests/cli_integration.rs
Due: integration-tests

Allow set to cast into array
  crates/core/src/val/value/convert/cast.rs
  crates/language-tests/tests/language/expression/operators/casting/set_to_array.surql
Due: surrealdb-core

Don’t fetch table definition from cache multiple times per record
  crates/core/src/catalog/table.rs
  crates/core/src/doc/changefeeds.rs
  crates/core/src/doc/check.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/edges.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/index.rs
  crates/core/src/doc/lives.rs
  crates/core/src/doc/store.rs
  crates/core/src/doc/table.rs
Due: surrealdb-core

Consolidate build workflows into reusable composite actions (#6653)
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/docker-build/action.yml
  .github/actions/docker-prepare/action.yml
  .github/actions/install-tools/action.yml
  .github/actions/package-macos-universal/action.yml
  .github/actions/prepare-release-vars/action.yml
  .github/actions/propagate-binaries/action.yml
  .github/actions/publish-binaries/action.yml
  .github/actions/publish-crate/action.yml
  .github/actions/quality-check-docs/action.yml
  .github/actions/quality-check-wasm/action.yml
  .github/actions/quality-check/action.yml
  .github/actions/quality-clippy/action.yml
  .github/actions/quality-format/action.yml
  .github/actions/test-workspace/action.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/crate.yml
  .github/workflows/docker.yml
  .github/workflows/nightly.yml
  .github/workflows/publish-version.yml
  .github/workflows/release.yml
Due: none

Add CI checks for feature combinations and unused dependencies (#6657)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/Cargo.toml
  crates/core/src/doc/lives.rs
  crates/core/src/err/mod.rs
  crates/core/src/lib.rs
  crates/core/src/mem/notrack.rs
  crates/fuzz/Cargo.toml
  crates/language-tests/tests/access/record/variables.surql
  crates/sdk/Cargo.toml
  crates/server/Cargo.toml
  crates/server/src/cli/mod.rs
  crates/server/src/dbs/mod.rs
  crates/server/src/lib.rs
  crates/server/src/ntw/mod.rs
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  crates/types/Cargo.toml
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

Remove obsolete `'static` bounds and remove query chaining (#6659)
  .github/actions/quality-format/action.yml
  .github/workflows/ci.yml
  Makefile.ci.toml
  Makefile.local.toml
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/merge.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/tests/api_integration/basic.rs
  crates/sdk/tests/api_integration/live.rs
Due: surrealdb-sdk
