Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Improve wait logic and behaviour
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Improve wait threshold behaviour
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Fix `cargo clippy`
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
Due: surrealdb-core

Ensure batch exhaustion is checked to prevent waiting
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
Due: surrealdb-core

Replace decommissioned with prepare_remove
  crates/core/src/catalog/schema/index.rs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/index.rs
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/alter/index.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/token/keyword.rs
  crates/core/tests/alter.rs
  crates/language-tests/tests/language/statements/alter/alter_index_decommission.surql
  crates/language-tests/tests/language/statements/alter/alter_index_invalid.surql
Due: surrealdb-core

Rename surql test
  crates/language-tests/tests/language/statements/alter/alter_index_prepare_remove.surql
Due: none

Revision lock
  revision.lock
Due: none

Run the commit coordinator on a background thread
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Prepare v3.0.0-alpha.16 release (#6613)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

WIP
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/response.rs
  crates/core/src/expr/statements/use.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/rpc/response.rs
  crates/core/src/sql/ast.rs
  crates/core/src/sql/statements/use.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/sdk/src/method/query.rs
  crates/server/src/cli/abstraction/mod.rs
  crates/server/src/cli/sql.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core, surrealdb-sdk

group thing lookups per prepare
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/plan.rs
  crates/core/src/dbs/processor.rs
Due: surrealdb-core

Make bucket composable
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/buc/backend.rs
  crates/core/src/buc/connection.rs
  crates/core/src/buc/manager.rs
  crates/core/src/buc/mod.rs
  crates/core/src/buc/store/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/expr/statements/define/bucket.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/lib.rs
  crates/server/Cargo.toml
  crates/server/src/cli/mod.rs
  crates/server/src/cli/start.rs
  crates/server/src/dbs/mod.rs
  crates/server/src/lib.rs
Due: surrealdb-core

Cleanup
  crates/core/src/buc/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/lib.rs
Due: surrealdb-core

Update api for the commercial edition
  crates/core/src/buc/manager.rs
  crates/core/src/buc/mod.rs
Due: surrealdb-core

Exposes ObjectKey
  crates/core/src/buc/store/mod.rs
Due: surrealdb-core

Export val
  crates/core/src/lib.rs
Due: surrealdb-core

CLeanup
  crates/core/src/lib.rs
Due: surrealdb-core

Ensure commit coordinator and background flusher work correctly together
  crates/core/src/kvs/rocksdb/background_flusher.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/disk_space_manager.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Fix unreachable error test line numbers
  crates/core/src/mac/mod.rs
Due: surrealdb-core

Use chrono datetime
  crates/core/src/buc/store/file.rs
  crates/core/src/buc/store/memory.rs
  crates/core/src/buc/store/mod.rs
  crates/core/src/buc/store/path.rs
  crates/core/src/buc/store/util/mod.rs
Due: surrealdb-core

wip
  Cargo.lock
  Cargo.toml
  crates/sdk/Cargo.toml
  crates/sdk/src/conn/mod.rs
  crates/sdk/src/engine/any/native.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/lib.rs
  crates/sdk/src/method/tests/protocol.rs
Due: surrealdb-sdk

Add inline documentation
  crates/core/src/buc/controller.rs
  crates/core/src/buc/manager.rs
  crates/core/src/buc/mod.rs
  crates/core/src/buc/store/memory.rs
  crates/core/src/buc/store/mod.rs
  crates/core/src/buc/store/prefixed.rs
Due: surrealdb-core

Post review
  crates/core/src/buc/manager.rs
Due: surrealdb-core

wip
  crates/core/src/dbs/session.rs
  crates/core/src/doc/lives.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
Due: surrealdb-core, surrealdb-sdk

wip
  crates/sdk/src/engine/any/wasm.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/wasm.rs
Due: surrealdb-sdk

wip
  crates/sdk/src/engine/remote/http/native.rs
Due: surrealdb-sdk

Change a bit
  crates/core/src/val/value/convert/cast.rs
Due: surrealdb-core

aichcanges
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-sdk

more wip
  crates/core/src/expr/literal.rs
  crates/core/src/expr/plan.rs
  crates/core/src/fmt/mod.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/set.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/parser/test/value.rs
  crates/core/src/val/mod.rs
  crates/core/src/val/value/every.rs
  crates/surrealism/surrealism-cli/src/host.rs
Due: surrealdb-core

fmt
  crates/core/src/expr/literal.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/set.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/kind.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/test/value.rs
  crates/core/src/val/value/every.rs
  crates/types-derive/src/write_sql.rs
  crates/types/src/sql.rs
  crates/types/src/utils/escape.rs
Due: surrealdb-core, surrealdb-types

Don’t fail fast in CI
  .github/workflows/ci.yml
Due: none

Don’t run CI jobs if job is cancelled
  .github/workflows/ci.yml
Due: none

Enable grouped commit to be disabled
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Ensure datastores are shutdown fully in language tests before proceeding
  Makefile.ci.toml
  crates/language-tests/src/cmd/run/provisioner.rs
Due: none

Don’t hold double locks
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
Due: surrealdb-core

Fix clippy
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
Due: surrealdb-core

Make SurrealMX read requests concurrent
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/mem/mod.rs
Due: surrealdb-core

wip
  crates/sdk/src/conn/mod.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/begin.rs
  crates/sdk/src/method/cancel.rs
  crates/sdk/src/method/commit.rs
  crates/sdk/src/method/content.rs
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/delete.rs
  crates/sdk/src/method/export.rs
  crates/sdk/src/method/health.rs
  crates/sdk/src/method/import.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/insert_relation.rs
  crates/sdk/src/method/invalidate.rs
  crates/sdk/src/method/live.rs
  crates/sdk/src/method/merge.rs
  crates/sdk/src/method/patch.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/run.rs
  crates/sdk/src/method/select.rs
  crates/sdk/src/method/set.rs
  crates/sdk/src/method/signin.rs
  crates/sdk/src/method/signup.rs
  crates/sdk/src/method/unset.rs
  crates/sdk/src/method/update.rs
  crates/sdk/src/method/upsert.rs
  crates/sdk/src/method/use_db.rs
  crates/sdk/src/method/use_ns.rs
  crates/sdk/src/method/version.rs
Due: surrealdb-sdk

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
