Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add back the graphql tests.
  .github/workflows/ci.yml
  crates/core/src/gql/cache.rs
  crates/core/src/gql/functions.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  src/gql/mod.rs
  tests/graphql_integration.rs
Due: surrealdb-core, surrealdb-bin, integration-tests

Ensure required checks always runs
  .github/workflows/ci.yml
Due: none

Add to the js fnc module.
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
Due: surrealdb-core

Add to the js fnc module. (#6525)
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
Due: surrealdb-core

Fix type.of
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
Due: surrealdb-core

Fix fmt
  crates/core/src/fnc/mod.rs
Due: surrealdb-core

Fix warnings
  crates/core/src/err/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/savepoint.rs
Due: surrealdb-core

add support for refresh tokens
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Update API
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/signin.rs
  crates/sdk/src/method/signup.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Fix typo
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-sdk

Refactor core API
  crates/core/src/iam/mod.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/token.rs
  crates/sdk/src/engine/local/mod.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Remove unnecessary clone
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-sdk

Ensure `iam::Token`s cannot be accidentally logged
  crates/core/src/iam/token.rs
Due: surrealdb-core

Stabilise the bearer access feature
  crates/core/src/catalog/schema/access.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/access_type.rs
  crates/core/src/expr/expression.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/tests/access.rs
  crates/core/tests/info.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/statements/access/db/bearer_operations.surql
  crates/language-tests/tests/language/statements/access/ns/bearer_operations.surql
  crates/language-tests/tests/language/statements/access/root/bearer_operations.surql
  crates/sdk/src/opt/capabilities.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-core, surrealdb-sdk

Add doc comments
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/token.rs
  crates/sdk/src/opt/auth.rs
Due: surrealdb-core, surrealdb-sdk

Update remote engines
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Update revision lock
  revision.lock
Due: none

Refactor tests to allow enabling capabilities per test
  crates/sdk/tests/api_integration/backup.rs
  crates/sdk/tests/api_integration/backup_version.rs
  crates/sdk/tests/api_integration/basic.rs
  crates/sdk/tests/api_integration/live.rs
  crates/sdk/tests/api_integration/mod.rs
  crates/sdk/tests/api_integration/serialisation.rs
  crates/sdk/tests/api_integration/version.rs
Due: surrealdb-sdk

Update HTTP responses
  crates/core/src/iam/token.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix kind_of
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

Update the protocol
  crates/core/src/iam/signin.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/tests/access.rs
  crates/core/tests/info.rs
Due: surrealdb-core

Add token tests and more conversion functions
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Remove unnecessary revision
  crates/core/src/iam/signup.rs
Due: surrealdb-core

Add the refresh tokens test
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-sdk

Make the protocol backwards compatible
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/signup.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/token_surreal_value.rs
  src/net/signin.rs
  src/net/signup.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix signin method for local engines
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/mod.rs
Due: surrealdb-sdk

Fix tests
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
Due: surrealdb-core

Refactor tests
  crates/sdk/tests/token_surreal_value.rs
Due: surrealdb-sdk

Account for disabled bearer access feature
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

Fix refresh token conversion
  crates/sdk/src/engine/any/mod.rs
  crates/sdk/src/opt/auth.rs
Due: surrealdb-sdk

views mostly working, only need to implement some missing aggregates
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/test.rs
  crates/core/src/catalog/view.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/result.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/table.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/expr/view.rs
  crates/core/src/fnc/math.rs
  crates/core/src/kvs/tx.rs
  crates/language-tests/tests/language/statements/define/table/foreign/all_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias2.surql
  crates/language-tests/tests/language/statements/define/table/view/all_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/basic_view.surql
  crates/language-tests/tests/language/statements/define/table/view/foreigntable.surql
  crates/language-tests/tests/language/statements/define/table/view/increment_immediate/mean.surql
  crates/language-tests/tests/language/statements/define/table/view/initial_select.surql
  crates/language-tests/tests/language/statements/define/table/view/mean.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_max_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_max_update.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_min_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_min_update.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_deletions.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/view_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/view_sum_properly_deleted.surql
  crates/language-tests/tests/language/statements/define/table/view/view_with_zero_sum.surql
Due: surrealdb-core

Add accumulation aggregate
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/val/value/get.rs
  crates/language-tests/tests/language/statements/select/group/accumulate.surql
  crates/language-tests/tests/language/statements/select/group/accumulate_function.surql
Due: surrealdb-core

Prepare SurrealDB for Java SDK v3.0 compatibility (#6519)
  crates/core/Cargo.toml
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
  crates/sdk/src/method/mod.rs
Due: surrealdb-core, surrealdb-sdk

Ensure `required-checks` job always runs (#6524)
  .github/workflows/ci.yml
Due: none

Fix table serialization bug.
  crates/core/src/val/mod.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/functions/type/storage_types.surql
  crates/language-tests/tests/language/statements/set/typed_table.surql
  src/net/import.rs
  src/net/key.rs
  src/net/output.rs
  src/net/signin.rs
  src/net/signup.rs
  src/net/sql.rs
Due: surrealdb-core, surrealdb-bin

Fix unit test.
  crates/core/tests/function.rs
Due: surrealdb-core

Improve casting error
  crates/core/src/val/value/convert/cast.rs
  crates/core/tests/typing.rs
  crates/language-tests/tests/language/cast/regex.surql
  crates/language-tests/tests/language/expression/operators/casting/basic_literal_kind.surql
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record_table.surql
  crates/language-tests/tests/language/expression/operators/casting/decimal.surql
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/expression/operators/casting/to_record_table.surql
  crates/language-tests/tests/language/reference/docs_7.surql
  crates/language-tests/tests/language/reference/test.surql
Due: surrealdb-core

Wrong test
  crates/language-tests/tests/language/reference/docs_7.surql
Due: none

How'd that get in there
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
Due: none

fixes
  Cargo.lock
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/types/src/flatbuffers/mod.rs
  revision.lock
Due: surrealdb-types

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
