Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

FIX_ISSUES_7060: add language test for IndexScan with computed field
  language-tests/tests/language/statements/select/index_scan_with_computed_field.surql
Due: none

FIX_ISSUES_7060: format
  surrealdb/core/src/exec/operators/scan/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Set increment/decrement, more types for tryadd/sub
  language-tests/tests/language/primitive/set/set_array_common_behaviour.surql
  surrealdb/core/src/val/array.rs
  surrealdb/core/src/val/mod.rs
  surrealdb/core/src/val/value/decrement.rs
  surrealdb/core/src/val/value/increment.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Percent-decode URL paths before filesystem use
  Cargo.toml
  surrealdb/Cargo.toml
  surrealdb/src/opt/endpoint/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Percent-decode paths in surrealdb-core Datastore::new
  surrealdb/core/Cargo.toml
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix discrepancies between old and new exec
  language-tests/tests/language/coerce/regex.surql
  language-tests/tests/language/functions/object/extend.surql
  language-tests/tests/language/idiom/recursion_record_links.surql
  language-tests/tests/language/indexes/search/select_where_matches_without_complex_query.surql
  language-tests/tests/language/statements/select/source_expr.surql
  language-tests/tests/language/statements/select/whats.surql
  language-tests/tests/reproductions/computed_field_foreign_select_performance.surql
  surrealdb/core/src/exec/operators/scan/reference.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/source.rs
  surrealdb/core/src/expr/function.rs
  surrealdb/core/src/expr/part.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add check_scope validation; separate from perms
  language-tests/src/cmd/run/util.rs
  language-tests/tests/language/statements/use/auth_scope_db.surql
  language-tests/tests/language/statements/use/auth_scope_db_setup.surql
  language-tests/tests/language/statements/use/auth_scope_ns.surql
  language-tests/tests/language/statements/use/auth_scope_setup.surql
  language-tests/tests/reproductions/cross_namespace_scope_enforcement.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/options.rs
  surrealdb/core/src/doc/check.rs
  surrealdb/core/src/doc/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Wip
  Cargo.lock
  Cargo.toml
  surrealdb/core/src/kvs/err.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Reproduction!
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Revert "Add check_scope validation; separate from perms"
  language-tests/src/cmd/run/util.rs
  language-tests/tests/language/statements/use/auth_scope_db.surql
  language-tests/tests/language/statements/use/auth_scope_db_setup.surql
  language-tests/tests/language/statements/use/auth_scope_ns.surql
  language-tests/tests/language/statements/use/auth_scope_setup.surql
  language-tests/tests/reproductions/cross_namespace_scope_enforcement.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/options.rs
  surrealdb/core/src/doc/check.rs
  surrealdb/core/src/doc/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Revert "Address comments"
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Revert "Address comment"
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove all perms changes
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  language-tests/README.md
  language-tests/src/cmd/run/mod.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixes
  language-tests/tests/reproductions/upsert_where_option_import_phantom.surql
  surrealdb/core/src/dbs/iterator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Improve test
  Cargo.lock
  Makefile.ci.toml
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/err.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wasm
  Cargo.lock
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix
  surrealdb/core/src/idx/trees/hnsw/docs.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/store/hnsw.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Restore SurrealMX
  Cargo.lock
  Cargo.toml
Due: none

Restore makefile
  Makefile.ci.toml
Due: none

Fix clippy
  surrealdb/core/src/idx/trees/hnsw/docs.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/store/hnsw.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix post review
  surrealdb/core/src/idx/trees/hnsw/docs.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Post review fix
  surrealdb/core/src/idx/trees/hnsw/cache.rs
  surrealdb/core/src/idx/trees/hnsw/elements.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/store/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix infinity output, add constant path that isn't abbreviated
  surrealdb/core/src/expr/constant.rs
  surrealdb/core/src/sql/constant.rs
  surrealdb/core/src/syn/parser/builtin.rs
  surrealdb/core/src/syn/parser/test/value.rs
  surrealdb/types/src/kind/literal.rs
  surrealdb/types/src/value/number.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Update infinity paths
  language-tests/tests/language/constants/math/infinity.surql
Due: none

clippy
  language-tests/tests/language/constants/math/infinity.surql
  surrealdb/types/src/kind/literal.rs
  surrealdb/types/src/value/number.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Use a function for inf/neg_inf logic
  surrealdb/core/src/fmt/mod.rs
  surrealdb/types/src/kind/literal.rs
  surrealdb/types/src/sql.rs
  surrealdb/types/src/value/format.rs
  surrealdb/types/src/value/number.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

whoops typo
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Use this function some more, fmt
  surrealdb/core/src/fmt/mod.rs
  surrealdb/core/src/val/number.rs
  surrealdb/types/src/sql.rs
  surrealdb/types/src/value/number.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Check if not finite, not if infinite
  surrealdb/core/src/val/number.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Don't collect into a BTreeSet
  surrealdb/core/src/val/value/decrement.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Clippy
  surrealdb/core/src/val/value/decrement.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

speed
  .github/actions/setup-environment/action.yml
Due: none

fix: should_check_perms before check_permissions for userDefinedFunctions
  surrealdb/core/src/exec/physical_expr/function/user_defined.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: duplicated prefix fn::
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test: Add language tests for `PERMISSIONS NONE` on functions for owner and record users.
  language-tests/tests/reproductions/function_permissions_none_owner.surql
  language-tests/tests/reproductions/function_permissions_none_record.surql
  language-tests/tests/reproductions/function_permissions_none_record_setup.surql
Due: none

Fix JSON parser rejecting escaped forward slash (\/)
  language-tests/tests/parsing/strings/escaped_forward_slash.surql
  surrealdb/core/src/syn/lexer/strings/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

allow creating a `Surreal` client from existing `Datastore`
  surrealdb/src/engine/local/native.rs
Due: workspace-tests, language-tests, surrealdb-sdk

made RPC notification and shutdown functions public
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk
