Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

fix revision.lock
  revision.lock
Due: none

Wip
  crates/core/src/ctx/context.rs
Due: surrealdb-core

wip
  crates/core/src/api/path.rs
  crates/core/src/catalog/schema/api.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/catalog/schema/mod.rs
  crates/core/src/cf/mutations.rs
  crates/core/src/doc/field.rs
  crates/core/src/err/mod.rs
  crates/core/src/fmt/mod.rs
  crates/core/src/sql/ast.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/record_id/key.rs
  crates/core/src/val/geometry.rs
  crates/types/src/value/bytes.rs
  crates/types/src/value/file.rs
  crates/types/src/value/geometry.rs
  crates/types/src/value/number.rs
  crates/types/src/value/regex.rs
  crates/types/src/value/uuid.rs
Due: surrealdb-core, surrealdb-types

eliminate QueryType::Use
  crates/core/src/dbs/response.rs
  crates/sdk/src/method/query.rs
  crates/server/src/cli/sql.rs
Due: surrealdb-core, surrealdb-sdk

Add tests
  crates/core/src/ctx/context.rs
Due: surrealdb-core

fix tests
  crates/core/src/catalog/test.rs
  crates/core/src/mac/mod.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
Due: surrealdb-core

Add test
  crates/core/src/ctx/context.rs
Due: surrealdb-core

Fix
  crates/core/src/expr/statements/ifelse.rs
  crates/core/src/fmt/mod.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/statements/ifelse.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/idiom.rs
  crates/types/src/utils/escape.rs
Due: surrealdb-core, surrealdb-types

WIP
  crates/core/src/ctx/context.rs
  crates/core/src/surrealism/cache.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: surrealdb-core

Fmt
  crates/core/src/idx/planner/plan.rs
Due: surrealdb-core

cleanup
  crates/core/src/ctx/context.rs
  crates/core/src/surrealism/cache.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: surrealdb-core

Simplify the code greatly by the cost of 1 atomic load in the hotpath
  crates/core/src/surrealism/cache.rs
Due: surrealdb-core

Add benchmark for different memory allocation tracking methods
  crates/core/Cargo.toml
  crates/core/benches/allocation_tracking.rs
Due: surrealdb-core

Ensure `rquickjs` uses global allocator
  Cargo.toml
Due: none

remove OnceCell and use quick_cache's atomicity
  crates/core/src/surrealism/cache.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: surrealdb-core

removed debug log
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

add a fast path for empty vars
  crates/core/src/surrealism/host.rs
Due: surrealdb-core

Implement new allocation tracker
  crates/core/benches/allocation_tracking.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/mem/fake.rs
  crates/core/src/mem/track.rs
  crates/core/src/sys/mod.rs
  crates/core/tests/define.rs
  crates/core/tests/info.rs
  crates/core/tests/remove.rs
  crates/server/src/lib.rs
Due: surrealdb-core

Use `nextest` with coverage testing in CI
  Makefile.ci.toml
Due: none

Fix `cargo fmt`
  crates/core/src/mem/track.rs
Due: surrealdb-core

Improve `nextest` configuration
  .config/nextest.toml
Due: none

Simplify `nextest` configuration
  .config/nextest.toml
Due: none

fixes
  revision.lock
  tests/cli_integration.rs
Due: integration-tests

Tidying up pass.
  crates/core/src/expr/statements/define/config/api.rs
  crates/core/src/fmt/mod.rs
  crates/core/src/sql/statements/define/event.rs
  crates/core/src/val/object.rs
  crates/types/src/sql.rs
Due: surrealdb-core, surrealdb-types

Ensure code comment is correct
  crates/core/benches/allocation_tracking.rs
Due: surrealdb-core

Fix code comments
  crates/core/src/mem/track.rs
Due: surrealdb-core

Use multiple threads for tests
  .config/nextest.toml
Due: none

Don’t run code coverage in CI for PRs for the moment
  .github/workflows/ci.yml
Due: none

Initial implementation (untested)
  crates/core/src/expr/statements/define/module.rs
Due: surrealdb-core

Fix literal objects allow unknown keys
  crates/core/src/expr/kind.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/types/literal_object/key_ordering.surql
  crates/language-tests/tests/language/types/literal_object/mixed_fields.surql
  crates/language-tests/tests/language/types/literal_object/multiple_optional.surql
  crates/language-tests/tests/language/types/literal_object/nested_objects.surql
  crates/language-tests/tests/language/types/literal_object/optional_fields.surql
  crates/language-tests/tests/language/types/literal_object/required_fields.surql
Due: surrealdb-core

clippy fix
  crates/core/src/surrealism/cache.rs
Due: surrealdb-core

move use
  crates/core/src/expr/kind.rs
Due: surrealdb-core

Reduce timeout for slow tests
  .config/nextest.toml
Due: none

Improve nightly coverage workflow
  .github/workflows/coverage.yml
Due: none

Ensure tests are consistent wherever they are run
  Makefile.ci.toml
  crates/sdk/tests/api_integration/mod.rs
Due: surrealdb-sdk

Update README.md
  README.md
Due: none

Simplify Makefile and CI workflows
  .config/nextest.toml
  .github/workflows/coverage.yml
  Makefile
  Makefile.ci.toml
  Makefile.local.toml
Due: none

Enable local allocation flushing on Tokio thread shutdown
  crates/core/src/mem/fake.rs
  crates/core/src/mem/track.rs
  crates/server/src/lib.rs
Due: surrealdb-core

Fix name changes in CI workflow
  .github/workflows/ci.yml
Due: none
