Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

put grpc behind experimental flag
  Cargo.lock
  Cargo.toml
  crates/core/src/dbs/capabilities.rs
  crates/server/src/cli/start.rs
  crates/server/src/ntw/grpc.rs
  crates/types/src/proto.rs
Due: surrealdb-core, surrealdb-types

Fix revision, format
  crates/core/src/buc/backend.rs
  crates/core/src/catalog/test.rs
  crates/core/src/expr/output.rs
  crates/core/src/sql/arbitrary/idiom.rs
  crates/core/src/sql/arbitrary/mod.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/output.rs
  crates/core/src/sql/statements/insert.rs
  crates/core/src/sql/statements/live.rs
  crates/core/src/sql/statements/remove/event.rs
  crates/core/src/sql/statements/show.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/mod.rs
  crates/types/src/value/datetime.rs
  revision.lock
Due: surrealdb-core, surrealdb-types

Fix clippy
  crates/core/src/expr/field.rs
  crates/core/src/expr/statements/define/user.rs
  crates/core/src/sql/arbitrary/parts.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/statements/access.rs
  crates/core/src/sql/statements/define/access.rs
  crates/core/src/syn/parser/stmt/parts.rs
  crates/types/src/value/datetime.rs
Due: surrealdb-core, surrealdb-types

Add back disk space manager behaviour
  crates/core/src/kvs/rocksdb/dsm.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Fix typo in error name
  crates/core/src/idx/index.rs
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
Due: surrealdb-core

Fixed the TOC-TOU race condition in `commit()` and `cancel()`
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
Due: surrealdb-core

Trust recently added SurrealDB crates
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Ensure batch size does not wrap around below `0`
  crates/core/src/kvs/scanner.rs
Due: surrealdb-core

Fix scanner prefetch off-by-one error
  crates/core/src/kvs/scanner.rs
Due: surrealdb-core

Fix tests, resolve optional ambiguity
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/primitive/files/basic.surql
  crates/language-tests/tests/language/statements/select/5581_select_count_with_index.surql
  crates/language-tests/tests/language/statements/select/group/count_group_all.surql
  crates/language-tests/tests/language/statements/select/group/count_range_keys_only.surql
  crates/language-tests/tests/upgrade/define/param.surql
Due: none

Actually commit all changes
  crates/core/src/sql/statements/define/access.rs
  crates/core/src/syn/parser/expression.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/prime.rs
Due: surrealdb-core

Trust recently added SurrealDB crates (#6597)
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Remove `Timestamp` implementation for `u128`
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

Improve conversion of versionstamp to u64 Timestamp
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

Update SurrealMX dependency
  Cargo.lock
  Cargo.toml
Due: none

Fix read-and-delete mode implementation
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
Due: surrealdb-core

Ensure default system timestamp is monotonic
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

Fix clippy warnings
  crates/core/src/kvs/timestamp.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Fix possible oom on indexcount creation #6600
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Fix index build status
  crates/core/src/kvs/index.rs
Due: surrealdb-core

With fmt
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Simplify background datastore tasks
  crates/core/src/kvs/ds.rs
  crates/sdk/src/engine/tasks.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core, surrealdb-sdk

Reduce changefeed cleanup frequency
  crates/core/src/options.rs
  crates/server/src/cli/start.rs
Due: surrealdb-core

Add changefeed entries to transaction concurrently
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Fix planner
  crates/core/src/expr/field.rs
  crates/core/tests/idiom.rs
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/statements/select/5581_select_count_with_index.surql
  crates/language-tests/tests/language/statements/select/group/count_group_all.surql
  crates/language-tests/tests/language/statements/select/group/count_range_keys_only.surql
  crates/types/src/value/mod.rs
Due: surrealdb-core, surrealdb-types

Don’t panic when transactions are dropped normally in tests
  crates/core/src/kvs/tr.rs
Due: surrealdb-core

Fix issue with out-of-bound timestamps
  crates/core/src/cf/gc.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

Rename variable
  crates/sdk/src/engine/tasks.rs
Due: surrealdb-sdk

Fix more tests
  crates/core/src/catalog/test.rs
  crates/core/src/sql/statements/relate.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/tests/idiom.rs
Due: surrealdb-core

Add `cargo vet` exemptions
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Backport #6590
  crates/core/src/sql/index.rs
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

Revision lock
  revision.lock
Due: none

Address comments
  crates/core/src/sql/arbitrary/parts.rs
  crates/types/src/value/format.rs
Due: surrealdb-core, surrealdb-types

No need for `Transaction::closed` to be async
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Fix migration language tests
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
Due: none

Introduce Compaction status
  crates/core/src/catalog/schema/index.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/remove/database.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/expr/statements/remove/namespace.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/index.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Update `geo` dependency
  Cargo.lock
  Cargo.toml
  crates/core/src/fnc/geo.rs
Due: surrealdb-core
