Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

fix(idx): update hv test_key wire-format bytes for SerializedVector rev=2
  surrealdb/core/src/idx/trees/vector.rs
  surrealdb/core/src/key/index/hv.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(idx/hv): convert test_key to roundtrip semantics
  surrealdb/core/src/key/index/hv.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Set max memtable size for large sized transactions in SurrealKV (#7187)
  surrealdb/core/src/kvs/surrealkv/cnf.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix transaction timeout stack cleanup
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/tests/timeout.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: try return id on rpc request error
  surrealdb/core/src/rpc/format/cbor/convert.rs
  surrealdb/core/src/rpc/format/cbor/mod.rs
  surrealdb/core/src/rpc/request.rs
  surrealdb/server/src/rpc/format.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: stop RPC from truncating UUID-prefixed strings
  surrealdb/core/src/syn/lexer/strings/mod.rs
  surrealdb/core/src/syn/parser/test/json.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fmt: wrap long string literals per nightly rustfmt rules
  surrealdb/core/src/syn/parser/test/json.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fmt: group use statements per nightly rustfmt rules
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
  surrealism/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci: drop depot.dev, move sccache to S3, hybrid runners (#313)
  .github/actions/setup-environment/action.yml
  .github/actions/test-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/external-sdk-tests.yml
  .github/workflows/nightly-bench.yml
Due: none

ci: run core CI on GitHub-hosted ubuntu-24.04 runners (#377)
  .github/actions/test-workspace/action.yml
  .github/workflows/ci.yml
  .github/workflows/external-sdk-tests.yml
  Makefile.ci.toml
Due: none

Fix ast_span for Spanned<T> literals including following token
  surrealdb/parser/src/parse/utils.rs
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix #7366
  surrealdb/server/src/ntw/sql.rs
  tests/http_integration.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

fix(sdk): authenticate HTTP session detach on drop
  surrealdb/src/engine/remote/http/mod.rs
  tests/reproduce_http_session_leak.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Bound full-text delta scan and tighten index compaction interval
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/options.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add memory-backpressure valve for indexed writes
  surrealdb/core/src/doc/index.rs
  surrealdb/core/src/mem/mod.rs
  surrealdb/core/src/mem/pressure.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: direct ipv6 in http request fail
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Clean up cancelled ML imports
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): raise idiom recursion limit error in collect/path/shortest/repeat (#471) (#535)
  language-tests/tests/language/idiom/recursion_strategy_limits.surql
  surrealdb/core/src/exec/operators/recursion.rs
  surrealdb/core/src/exec/operators/recursion/collect.rs
  surrealdb/core/src/exec/operators/recursion/common.rs
  surrealdb/core/src/exec/operators/recursion/default.rs
  surrealdb/core/src/exec/operators/recursion/path.rs
  surrealdb/core/src/exec/operators/recursion/repeat.rs
  surrealdb/core/src/exec/operators/recursion/shortest.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(language-tests): pin B4 FETCH numeric-index divergence red (#472) (#539)
  language-tests/tests/reproductions/fetch_array_index_negative_new_executor.surql
Due: none

fix(core): implement numeric-index FETCH in the streaming executor (#473) (#540)
  language-tests/tests/reproductions/fetch_array_index_negative.surql
  language-tests/tests/reproductions/fetch_array_index_negative_new_executor.surql
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): evaluate KNN per-candidate SELECT permission via PhysicalExpr (#474) (#542)
  language-tests/tests/access/record/knn_select_permission.surql
  language-tests/tests/access/record/knn_select_permission_import.surql
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/idx/trees/diskann/filter.rs
  surrealdb/core/src/idx/trees/diskann/index.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): mem backend GC wiring + misleading retention log (#551)
  surrealdb/core/src/kvs/mem/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

perf(exec): use a multi-index union for an OR nested inside an AND (#537)
  language-tests/tests/reproductions/7402_ft_or_nested_in_and_planner.surql
  language-tests/tests/reproductions/7402_knn_nested_or_not_substituted.surql
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/planner/select/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

build: remove pprof, fixing the quick-xml RUSTSEC advisories (#556)
  .github/workflows/supply-chain.yml
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/Cargo.toml
  surrealdb/benches/README.md
  surrealdb/benches/index_ann.rs
  surrealdb/core/Cargo.toml
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add SCRAM-SHA-256 support for Postgres wire protocol authentication (#555)
  Cargo.lock
  Cargo.toml
  language-tests/Cargo.lock
  language-tests/tests/language/statements/define/user/scram.surql
  revision.lock
  supply-chain/config.toml
  surrealdb/ast/src/lib.rs
  surrealdb/core/Cargo.toml
  surrealdb/core/src/catalog/compat/fixtures.rs
  surrealdb/core/src/catalog/compat/generator.rs
  surrealdb/core/src/catalog/compat/mod.rs
  surrealdb/core/src/catalog/compat/tests.rs
  surrealdb/core/src/catalog/compat/v3_3_0.rs
  surrealdb/core/src/catalog/schema/user.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/expr/statements/alter/user.rs
  surrealdb/core/src/expr/statements/define/user.rs
  surrealdb/core/src/iam/mod.rs
  surrealdb/core/src/iam/scram.rs
  surrealdb/core/src/iam/signin.rs
  surrealdb/core/src/iam/verify.rs
  surrealdb/core/src/sql/arbitrary/statements.rs
  surrealdb/core/src/sql/statements/alter/user.rs
  surrealdb/core/src/sql/statements/define/user.rs
  surrealdb/core/src/syn/lexer/keywords.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/token/keyword.rs
  surrealdb/parser/src/parse/stmt/alter.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): correct `dead_code` expectation for `NetTargetNotAllowed` (#559)
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): escape reserved-keyword field names
  language-tests/tests/reproductions/7408_reserved_keyword_field_name.surql
  surrealdb/core/src/expr/idiom/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(sdk): expose local file bucket allowlists
  surrealdb/src/engine/local/native.rs
  surrealdb/src/opt/config.rs
  surrealdb/tests/api_integration/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

refactor(config): extract path allowlist serialization
  surrealdb/src/opt/config.rs
Due: workspace-tests, language-tests, surrealdb-sdk

build: share default feature set between `surreal` and `surrealdb-server` (#576)
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/server/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

fix(graphql): InputType Coercion (#573)
  language-tests/tests/graphql/mutations/create_numeric_string_object.graphql
  surrealdb/core/src/graphql/schema.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Apply FLEXIBLE clause to all possible objects of a field (#558)
  language-tests/tests/language/statements/define/field/flexible_array_object.surql
  language-tests/tests/language/statements/define/field/flexible_either_object_flexible.surql
  language-tests/tests/language/statements/define/field/flexible_error_union_middle.surql
  language-tests/tests/language/statements/define/field/flexible_nested_literal.surql
  surrealdb/core/src/doc/field.rs
  surrealdb/core/src/expr/statements/alter/field.rs
  surrealdb/core/src/expr/statements/define/field.rs
  surrealdb/core/src/expr/statements/define/mod.rs
  surrealdb/core/src/sql/arbitrary/statements.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(server): add Postgres wire protocol listener (#552)
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/iam/verify.rs
  surrealdb/core/src/sql/ast.rs
  surrealdb/core/src/sql/mod.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/config.rs
  surrealdb/server/src/cli/mcp.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/lib.rs
  surrealdb/server/src/pg/conn.rs
  surrealdb/server/src/pg/encode.rs
  surrealdb/server/src/pg/error.rs
  surrealdb/server/src/pg/mod.rs
  surrealdb/server/src/pg/msg.rs
  surrealdb/server/src/pg/sasl.rs
  surrealdb/server/src/pg/typing.rs
  tests/pg_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(rpc): redact Argon2 PASSHASH in INFO FOR / INFO FOR USER (#229)
  language-tests/tests/language/statements/alter/alter_user.surql
  language-tests/tests/language/statements/define/user/db.surql
  language-tests/tests/language/statements/define/user/ns.surql
  language-tests/tests/language/statements/define/user/root.surql
  language-tests/tests/language/statements/define/user/scram.surql
  language-tests/tests/reproductions/vuln_002_passhash_redact_info.surql
  language-tests/tests/reproductions/vuln_002_passhash_redact_info_import.surql
  surrealdb/core/src/catalog/schema/access.rs
  surrealdb/core/src/catalog/schema/mod.rs
  surrealdb/core/src/catalog/schema/user.rs
  surrealdb/core/tests/define.rs
  surrealdb/core/tests/info.rs
  surrealdb/core/tests/remove.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Run the Nix build on the custom runner (#287)
  .github/workflows/nix.yml
Due: none

ci(downstream-compat): retry branch resolution to absorb transient 404s (#579)
  .github/workflows/downstream-compat.yml
  Cargo.toml
  surrealdb/server/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

Keep concurrent index builds from starving the runtime and restarting from scratch (#553)
  revision.lock
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(mcp): make the HTTP /mcp Host-header allowlist configurable (#582)
  surrealdb/mcp/src/cnf.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/tests/http.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
