Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Fix clippy warnings
  crates/core/src/doc/document.rs
Due: surrealdb-core

Fix fmt
  crates/core/src/dbs/options.rs
  crates/core/src/dbs/test.rs
  crates/core/src/idx/ft/fulltext.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Simplify changefeed table mutation entries (#6664)
  Cargo.lock
  Cargo.toml
  crates/core/src/cf/mutations.rs
  crates/core/src/cf/writer.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/key/index/hv.rs
  crates/core/src/kvs/tx.rs
  revision.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Use set syntax in test
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_1.surql
Due: none

surrealism: remove module from cache on overwrite (#6647)
  crates/core/src/expr/statements/define/module.rs
Due: surrealdb-core

Add additional breaking tests
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_3.surql
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_4.surql
Due: none

Remove QUERY_TIMEOUT from keywords
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Remove serde from internal `Value` type
  crates/core/src/api/middleware/mod.rs
  crates/core/src/catalog/aggregation.rs
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/variables.rs
  crates/core/src/kvs/index.rs
  crates/core/src/val/array.rs
  crates/core/src/val/datetime.rs
  crates/core/src/val/duration.rs
  crates/core/src/val/file.rs
  crates/core/src/val/geometry.rs
  crates/core/src/val/mod.rs
  crates/core/src/val/number.rs
  crates/core/src/val/object.rs
  crates/core/src/val/range.rs
  crates/core/src/val/record_id.rs
  crates/core/src/val/set.rs
  crates/core/src/val/table.rs
  crates/core/src/val/uuid.rs
Due: surrealdb-core

Remove `Serialize` and `Deserialize` trait implementation for `Value::Bytes`
  crates/core/src/val/bytes.rs
  revision.lock
Due: surrealdb-core

Remove serde from internal `Value` type (#6668)
  crates/core/src/api/middleware/mod.rs
  crates/core/src/catalog/aggregation.rs
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/variables.rs
  crates/core/src/kvs/index.rs
  crates/core/src/val/array.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/datetime.rs
  crates/core/src/val/duration.rs
  crates/core/src/val/file.rs
  crates/core/src/val/geometry.rs
  crates/core/src/val/mod.rs
  crates/core/src/val/number.rs
  crates/core/src/val/object.rs
  crates/core/src/val/range.rs
  crates/core/src/val/record_id.rs
  crates/core/src/val/set.rs
  crates/core/src/val/table.rs
  crates/core/src/val/uuid.rs
  revision.lock
Due: surrealdb-core

Add regression test
  crates/language-tests/tests/language/indexes/full_text/order_by_fulltext_indexed_field.surql
Due: none

Change more array functions to set
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
Due: surrealdb-core

Modify to Set
  crates/core/src/val/value/convert/coerce.rs
Due: surrealdb-core

lock
  crates/language-tests/Cargo.lock
Due: none

Use cast now that set is a diffent type
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_2.surql
Due: none

Fix test: typo, add cast in front of array input
  crates/core/tests/typing.rs
Due: surrealdb-core

Add set cast in each case
  crates/core/tests/typing.rs
Due: surrealdb-core

Fix cast to set, and set to array (#6666)
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/core/tests/typing.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_arrays_example_4.surql
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_1.surql
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_3.surql
  crates/language-tests/tests/doc_examples/surrealql/datemodel/arrays/header_sets_example_4.surql
  crates/language-tests/tests/language/expression/operators/casting/set_to_array.surql
  crates/language-tests/tests/language/functions/type/is_set.surql
  crates/language-tests/tests/language/functions/type/set.surql
  crates/language-tests/tests/reproductions/5677_array_index_field_constraints.surql
  tests/cli_integration.rs
Due: surrealdb-core, integration-tests

Only use supported index types for ORDER BY (#6660)
  crates/core/src/catalog/schema/index.rs
  crates/core/src/idx/planner/tree.rs
  crates/language-tests/tests/language/indexes/full_text/order_by_fulltext_indexed_field.surql
Due: surrealdb-core

Check if object has id so it can be used to DELETE, etc.
  crates/core/src/dbs/iterator.rs
  crates/language-tests/tests/language/statements/delete/with_parameters.surql
  crates/language-tests/tests/language/statements/update/with_parameters.surql
  crates/language-tests/tests/language/statements/upsert/with_parameters.surql
Due: surrealdb-core

Check for select first
  crates/core/src/dbs/iterator.rs
Due: surrealdb-core

update skv branch
  Cargo.lock
  Cargo.toml
Due: none

soft delete versioned
  Cargo.lock
  crates/core/src/kvs/surrealkv/mod.rs
Due: surrealdb-core

Profiling setup.
  .gitignore
  profiling/Cargo.toml
  profiling/src/main.rs
Due: none

WIP sdk2
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/bridge/mod.rs
  crates/core/src/embedded/mod.rs
  crates/core/src/iam/token.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/export.rs
  crates/core/src/lib.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/export.rs
  crates/sdk2/Cargo.toml
  crates/sdk2/src/api/interface/context.rs
  crates/sdk2/src/api/interface/mod.rs
  crates/sdk2/src/api/interface/queryable.rs
  crates/sdk2/src/api/interface/session.rs
  crates/sdk2/src/api/mod.rs
  crates/sdk2/src/api/session.rs
  crates/sdk2/src/api/surreal.rs
  crates/sdk2/src/api/transaction.rs
  crates/sdk2/src/controller.rs
  crates/sdk2/src/events.rs
  crates/sdk2/src/lib.rs
  crates/sdk2/src/mac.rs
  crates/sdk2/src/method/mod.rs
  crates/sdk2/src/method/query.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/method/use.rs
  crates/sdk2/src/utils/engines.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/src/utils/promise.rs
  crates/sdk2/src/utils/publisher.rs
  crates/server/src/cli/export.rs
  crates/server/src/cli/validator/mod.rs
  crates/server/src/ntw/export.rs
  crates/types/Cargo.toml
  crates/types/src/bridge/mod.rs
  crates/types/src/lib.rs
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

Add `clippy::unnecessary_to_owned` lint
  crates/core/src/lib.rs
  crates/types/src/lib.rs
Due: surrealdb-core, surrealdb-types

Fix wasm
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-sdk

Allow mutable key types
  crates/types/src/lib.rs
Due: surrealdb-types

Improve controller
  crates/sdk2/src/api/session.rs
  crates/sdk2/src/api/surreal.rs
  crates/sdk2/src/controller.rs
  crates/sdk2/src/mac.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/src/utils/status.rs
Due: none

increase limit
  crates/core/src/lib.rs
Due: surrealdb-core

cargo vet
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: none

clippy
  Cargo.lock
  Cargo.toml
  crates/core/src/lib.rs
Due: surrealdb-core

Fix `cargo fmt`
  crates/core/src/expr/expression.rs
  crates/core/src/val/value/flatten.rs
  crates/core/src/val/value/patch.rs
Due: surrealdb-core

Fix `cargo clippy`
  crates/core/src/rpc/protocol.rs
Due: surrealdb-core

Add preliminary optimized select setup.
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/dbs/statement.rs
  crates/core/src/doc/check.rs
  crates/core/src/doc/create.rs
  crates/core/src/doc/delete.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/relate.rs
  crates/core/src/doc/select.rs
  crates/core/src/doc/update.rs
  crates/core/src/doc/upsert.rs
  profiling/src/main.rs
Due: surrealdb-core

Add one more test
  crates/language-tests/tests/language/statements/select/inside_match_before_object.surql
Due: none

double up
  crates/language-tests/tests/language/statements/select/inside_match_before_object.surql
Due: none

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
