Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Fix formatting
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: surrealdb-core

Fix additional ops
  .github/scripts/analyze_benchmark.py
Due: none

Don’t fail on datastore shutdown (#6788)
  language-tests/src/cmd/run/provisioner.rs
  surrealdb/core/src/kvs/ds.rs
Due: none

Free up disk space on job setup (#6789)
  .github/actions/setup-environment/action.yml
Due: none

tidy up
  language-tests/tests/language/statements/select/order/unicode/accented_latin.surql
  language-tests/tests/language/statements/select/order/unicode/arabic.surql
  language-tests/tests/language/statements/select/order/unicode/chinese.surql
  language-tests/tests/language/statements/select/order/unicode/cyrillic.surql
  language-tests/tests/language/statements/select/order/unicode/emojis.surql
  language-tests/tests/language/statements/select/order/unicode/greek.surql
  language-tests/tests/language/statements/select/order/unicode/japanese.surql
  language-tests/tests/language/statements/select/order/unicode/korean.surql
  language-tests/tests/language/statements/select/order/unicode/mixed_scripts.surql
  language-tests/tests/language/statements/select/order/unicode/thai.surql
Due: none

Add batch ops
  .github/scripts/analyze_benchmark.py
Due: none

Deduplicate the matrix
  .github/workflows/crud-bench.yml
Due: none

Test `ORDER BY` for sets and unicode chars (#6790)
  language-tests/tests/language/statements/create/create_only.surql
  language-tests/tests/language/statements/create/create_output.surql
  language-tests/tests/language/statements/insert/insert_output.surql
  language-tests/tests/language/statements/insert/insert_relation_output.surql
  language-tests/tests/language/statements/let/typed.surql
  language-tests/tests/language/statements/let/typed_table.surql
  language-tests/tests/language/statements/relate/relate_only.surql
  language-tests/tests/language/statements/relate/relate_output.surql
  language-tests/tests/language/statements/select/order/order_set.surql
  language-tests/tests/language/statements/select/order/order_set_index.surql
  language-tests/tests/language/statements/select/order/unicode/accented_latin.surql
  language-tests/tests/language/statements/select/order/unicode/arabic.surql
  language-tests/tests/language/statements/select/order/unicode/chinese.surql
  language-tests/tests/language/statements/select/order/unicode/cyrillic.surql
  language-tests/tests/language/statements/select/order/unicode/emojis.surql
  language-tests/tests/language/statements/select/order/unicode/german.surql
  language-tests/tests/language/statements/select/order/unicode/greek.surql
  language-tests/tests/language/statements/select/order/unicode/japanese.surql
  language-tests/tests/language/statements/select/order/unicode/korean.surql
  language-tests/tests/language/statements/select/order/unicode/mixed_scripts.surql
  language-tests/tests/language/statements/select/order/unicode/thai.surql
  language-tests/tests/language/statements/update/update_only.surql
  language-tests/tests/language/statements/update/update_output.surql
  language-tests/tests/language/statements/upsert/upsert_only.surql
  language-tests/tests/language/statements/upsert/upsert_output.surql
  surrealdb/core/src/expr/statements/relate.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/core/src/sql/statements/relate.rs
  surrealdb/core/src/sql/test_to_sql.rs
  surrealdb/core/src/syn/parser/stmt/relate.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/parser/test/streaming.rs
  surrealdb/core/src/val/set.rs
  surrealdb/core/src/val/value/compare.rs
Due: none

feat: enable tls for otel exporters
  Cargo.lock
  surrealdb/server/Cargo.toml
  surrealdb/server/src/telemetry/metrics/mod.rs
  surrealdb/server/src/telemetry/traces/mod.rs
Due: none

fix: use tokio runtime to export metrics
  surrealdb/server/Cargo.toml
  surrealdb/server/src/telemetry/metrics/mod.rs
Due: none

fix: bring back otel detectors
  surrealdb/server/src/telemetry/mod.rs
Due: none

ci: format
  surrealdb/server/src/telemetry/metrics/mod.rs
  surrealdb/server/src/telemetry/mod.rs
Due: none

ci: fix clippy warning
  surrealdb/server/src/telemetry/mod.rs
Due: none

Some more changes and additions to the migration tooling. (#6797)
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/migration/all.surql
  crates/language-tests/tests/migration/all_import.surql
  crates/language-tests/tests/migration/closure/stored.surql
  crates/language-tests/tests/migration/closure/will_be_stored.surql
  crates/language-tests/tests/migration/functions/array_logical_and.surql
  crates/language-tests/tests/migration/functions/array_logical_or.surql
  crates/language-tests/tests/migration/functions/array_range.surql
  crates/language-tests/tests/migration/functions/math_max.surql
  crates/language-tests/tests/migration/functions/math_min.surql
  crates/language-tests/tests/migration/functions/math_sqrt.surql
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
  crates/language-tests/tests/migration/idiom/all_idiom.surql
  crates/language-tests/tests/migration/idiom/field_followed.surql
  crates/language-tests/tests/migration/idiom/id_field.surql
  crates/language-tests/tests/migration/idiom/id_field_last.surql
  crates/language-tests/tests/migration/key_conflict/deeply_nested.surql
  crates/language-tests/tests/migration/key_conflict/in_array.surql
  crates/language-tests/tests/migration/key_conflict/in_object.surql
  crates/language-tests/tests/migration/search_index.surql
  deny.toml
Due: surrealdb-core

Improve string escaping code
  crates/core/src/cf/mutations.rs
  crates/core/src/sql/table_type.rs
  rust-toolchain.toml.tmp
Due: surrealdb-core

Add more migration checks
  crates/core/src/fnc/migration.rs
  crates/sdk/build.rs
Due: surrealdb-core, surrealdb-sdk

Fix warnings and tests
  .github/workflows/supply-chain.yml
  crates/core/src/fnc/migration.rs
Due: surrealdb-core

Add DEFER` keyword for background index building and maintenance (Experimental) (#6717)
  revision.lock
Due: none

Implement v3 export functions
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/export/mod.rs
  crates/core/src/kvs/export/v2.rs
  crates/core/src/kvs/export/v3.rs
  crates/core/src/sql/visit.rs
  crates/sdk/src/api/method/export.rs
Due: surrealdb-core, surrealdb-sdk

Undo build.rs changes
  crates/core/src/cf/mutations.rs
  crates/sdk/build.rs
Due: surrealdb-core, surrealdb-sdk

Add check for numeric order issues
  crates/core/src/fnc/migration.rs
Due: surrealdb-core

Work around compiler issue
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/export/v3.rs
  crates/sdk/src/api/engine/local/mod.rs
  rust-toolchain.toml
  src/cli/export.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix bad rebase
  .github/workflows/supply-chain.yml
  crates/core/src/fnc/migration.rs
  rust-toolchain.toml
Due: surrealdb-core

Fix formatting + rebase
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/export/v3.rs
  revision.lock
  src/cli/export.rs
Due: surrealdb-core, surrealdb-bin

Fix DNS DENY filtering.
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/fnc/http.rs
  surrealdb/server/src/dbs/mod.rs
Due: none

Fix more issues
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/export/v3.rs
  crates/core/src/sql/table_type.rs
  rust-toolchain.toml.old
Due: surrealdb-core

Moar
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/fnc/http.rs
  surrealdb/server/src/dbs/mod.rs
Due: none

Fix clippy
  crates/core/src/kvs/export/v3.rs
Due: surrealdb-core

Expose Metrics and Metric for external storage composers (#6786)
  surrealdb/core/src/kvs/mod.rs
Due: none

Undo file renaming
  rust-toolchain.toml
Due: none

Don't store any weights as zero.
  crates/core/src/kvs/cache/tx/weight.rs
Due: surrealdb-core

Add HASHED_VECTOR parameter - Implements ElementHashedDocs
  language-tests/tests/language/functions/search/search-linear.surql
  surrealdb/core/src/catalog/schema/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/trees/hnsw/docs.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/idx/trees/vector.rs
  surrealdb/core/src/key/category.rs
  surrealdb/core/src/key/index/hh.rs
  surrealdb/core/src/key/index/hv.rs
  surrealdb/core/src/key/index/mod.rs
  surrealdb/core/src/sql/index.rs
  surrealdb/core/src/syn/lexer/keywords.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/token/keyword.rs
Due: none

Fix tests
  revision.lock
  surrealdb/core/src/syn/parser/test/stmt.rs
Due: none

Don't store any weights as zero in in-memory caches (#6803)
  crates/core/src/kvs/cache/tx/weight.rs
Due: surrealdb-core

Implement v3 compatible export (#6798)
  .github/workflows/supply-chain.yml
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/export/mod.rs
  crates/core/src/kvs/export/v2.rs
  crates/core/src/kvs/export/v3.rs
  crates/core/src/sql/visit.rs
  crates/sdk/src/api/engine/local/mod.rs
  crates/sdk/src/api/method/export.rs
  src/cli/export.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Address feedback
  surrealdb/core/src/val/value/convert/coerce.rs
Due: none

Improve `VecDocs` function signature consistency
  surrealdb/core/src/idx/trees/hnsw/docs.rs
Due: none

Fix HNSW layer popping bug.
  surrealdb/core/src/idx/trees/hnsw/mod.rs
Due: none

Add `file` tests (#6795)
  language-tests/tests/language/primitive/files/basic_functions.surql
  language-tests/tests/language/primitive/files/basic_methods.surql
  language-tests/tests/language/primitive/files/binary.surql
  language-tests/tests/language/primitive/files/copy_across_buckets.surql
  language-tests/tests/language/primitive/files/edge_cases.surql
  language-tests/tests/language/primitive/files/errors.surql
  language-tests/tests/language/primitive/files/info.surql
  language-tests/tests/language/primitive/files/list.surql
  language-tests/tests/language/primitive/files/list_edge_cases.surql
  language-tests/tests/language/primitive/files/metadata.surql
  language-tests/tests/language/primitive/files/pointer_functions.surql
  language-tests/tests/language/primitive/files/pointer_methods.surql
  language-tests/tests/language/primitive/files/readonly.surql
  surrealdb/core/src/buc/store/file.rs
  surrealdb/core/src/buc/store/memory.rs
  surrealdb/core/src/fnc/file.rs
Due: none
