Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

perf(exec): fold row-independent record-idiom traversals at plan time (SDB-207) (#710)
  language-tests/tests/language/planner/record_idiom_fold_auth_import.surql
  language-tests/tests/language/planner/record_idiom_fold_auth_new_executor.surql
  language-tests/tests/language/planner/record_idiom_fold_missing_new_executor.surql
  language-tests/tests/language/planner/record_idiom_fold_new_executor.surql
  language-tests/tests/reproductions/lossy_param_substitution.surql
  language-tests/tests/reproductions/sdb_207_and_or_residual.surql
  language-tests/tests/reproductions/sdb_207_and_or_residual_new_executor.surql
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/exec/planner/select/record_fold.rs
  surrealdb/core/src/exec/planner/util/literals.rs
  surrealdb/core/src/exec/planner/util/params.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(sdk): wait for a cloned session's replayed state before using it (#767)
  surrealdb/src/engine/remote/ws/mod.rs
  surrealdb/src/engine/remote/ws/native.rs
  surrealdb/src/engine/remote/ws/wasm.rs
  surrealdb/tests/api_integration/session_isolation.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(exec): evaluate rand::* per row instead of folding it to a constant (#765)
  language-tests/tests/language/functions/rand/per_row_evaluation.surql
  surrealdb/core/src/exec/function/builtin/rand.rs
  surrealdb/core/src/exec/function/builtin/time.rs
  surrealdb/core/src/exec/function/mod.rs
  surrealdb/core/src/exec/function/registry.rs
  surrealdb/core/src/exec/planner/util/literals.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Dedup and join by the equality the language uses (RETURN DISTINCT split equal numbers) (#789)
  language-tests/tests/gql/_numeric_variant_schema.surql
  language-tests/tests/gql/distinct_numeric_variants.gql
  surrealdb/core/src/exec/operators/distinct.rs
  surrealdb/core/src/exec/operators/join/hash_join.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Backfill unit tests for security/critical exec modules, and fix MATCHES matching every row (#785)
  .codecov.yml
  language-tests/tests/language/indexes/full_text/matches_unindexable_operand.surql
  surrealdb/core/src/exec/index/access_path.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/foreach.rs
  surrealdb/core/src/exec/operators/ifelse.rs
  surrealdb/core/src/exec/operators/let_plan.rs
  surrealdb/core/src/exec/operators/recursion.rs
  surrealdb/core/src/exec/operators/recursion/collect.rs
  surrealdb/core/src/exec/operators/recursion/common.rs
  surrealdb/core/src/exec/operators/recursion/default.rs
  surrealdb/core/src/exec/operators/recursion/path.rs
  surrealdb/core/src/exec/operators/recursion/repeat.rs
  surrealdb/core/src/exec/operators/recursion/shortest.rs
  surrealdb/core/src/exec/operators/return.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/test_util.rs
  surrealdb/core/src/exec/parts/array_ops.rs
  surrealdb/core/src/exec/parts/destructure.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/filter.rs
  surrealdb/core/src/exec/parts/index.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/parts/method.rs
  surrealdb/core/src/exec/parts/optional.rs
  surrealdb/core/src/exec/parts/recurse.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/exec/physical_expr/matches.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/physical_expr/ops.rs
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Replace unmaintained rust-stemmers with frostem
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  surrealdb/core/Cargo.toml
  surrealdb/core/src/idx/ft/analyzer/filter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Close the remaining read-only parity divergences: tie order and [WHERE] on non-collections (#792)
  language-tests/tests/language/idiom/filter_where_non_collection.surql
  language-tests/tests/language/statements/select/order/order_by_nondeterministic_alias.surql
  language-tests/tests/language/statements/select/order/order_ties_at_scale.surql
  language-tests/tests/language/statements/select/order/order_ties_stable_with_limit.surql
  surrealdb/core/src/dbs/store.rs
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/exec/operators/sort/external.rs
  surrealdb/core/src/exec/operators/sort/external_by_key.rs
  surrealdb/core/src/exec/operators/sort/external_common.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/parts/filter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(mcp): disable allowed_hosts restrictions for /mcp endpoint (#7458)
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/tests/http.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update surrealkv to 0.21.3 (#791)
  Cargo.lock
  Cargo.toml
  language-tests/Cargo.lock
  supply-chain/imports.lock
Due: none

Convert collection literals that are already values without the evaluator (#802)
  Cargo.lock
  language-tests/tests/language/primitive/object/object_duplicate_keys.surql
  language-tests/tests/language/statements/select/predicate_pre_decode_filter_conjuncts.surql
  surrealdb/core/Cargo.toml
  surrealdb/core/benches/import_ablation.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/legacy/expr/literal.rs
  surrealdb/expr/src/expr/expression.rs
  surrealdb/expr/src/expr/literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Mint one full-text delta discriminator per maintenance call (#804)
  surrealdb/idx/src/ft/fulltext.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add vector::sum as a scalar function and a grouped aggregate (#793)
  language-tests/tests/language/functions/vector/sum.surql
  language-tests/tests/language/functions/vector/sum_aggregate.surql
  language-tests/tests/language/functions/vector/sum_aggregate_parity.surql
  surrealdb/core/src/exec/function/builtin/aggregates.rs
  surrealdb/core/src/exec/function/builtin/aggregates/vector.rs
  surrealdb/core/src/exec/function/builtin/vector.rs
  surrealdb/core/src/exec/function/method.rs
  surrealdb/core/src/exec/function/registry.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/script/modules/surrealdb/functions/vector.rs
  surrealdb/core/src/fnc/vector.rs
  surrealdb/core/tests/it/function.rs
  surrealdb/runtime/src/util/math/vector.rs
  surrealdb/runtime/src/vector.rs
  surrealdb/sql/src/builtin_paths.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(kvs/rpc/doc): cancel write transactions on error paths that dropped them (#809)
  surrealdb/core/src/doc/event.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/rpc/protocol.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Size exported INSERT statements by keys written, not record count (#806)
  surrealdb/core/benches/import_ablation.rs
  surrealdb/core/src/kvs/export.rs
  surrealdb/core/tests/it/export.rs
  surrealdb/core/tests/it/main.rs
  surrealdb/idx/src/ft/fulltext.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Compress gRPC responses, negotiated per client (#817)
  Cargo.lock
  Cargo.toml
  surrealdb/Cargo.toml
  surrealdb/core/benches/import_ablation.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/ntw/grpc.rs
  surrealdb/server/src/rpc/grpc.rs
  surrealdb/server/tests/grpc.rs
  surrealdb/src/engine/remote/grpc.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove unnecessary features from sql, syn, and expr. (#813)
  language-tests/tests/language/statements/define/module/capability_granted.surql
  language-tests/tests/language/statements/define/module/malformed.surql
  language-tests/tests/language/statements/define/module/silo_unsupported.surql
  language-tests/tests/language/statements/define/module/unsupported.surql
  language-tests/tests/language/statements/define/module/unsupported_with_capability.surql
  language-tests/tests/language/statements/remove/module/not_exists.surql
  surrealdb/core/Cargo.toml
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/bind.rs
  surrealdb/core/src/exec/operators/distinct.rs
  surrealdb/core/src/exec/operators/graph/distinct_edges.rs
  surrealdb/core/src/exec/operators/graph/endpoint.rs
  surrealdb/core/src/exec/operators/graph/expand.rs
  surrealdb/core/src/exec/operators/graph/path_expand.rs
  surrealdb/core/src/exec/operators/join/hash_join.rs
  surrealdb/core/src/exec/operators/scan/fetch.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/legacy/expr/expression.rs
  surrealdb/expr/Cargo.toml
  surrealdb/expr/src/expr/computed_deps.rs
  surrealdb/expr/src/expr/convert/expression.rs
  surrealdb/expr/src/expr/expression.rs
  surrealdb/expr/src/expr/mod.rs
  surrealdb/expr/src/expr/model.rs
  surrealdb/expr/src/expr/module.rs
  surrealdb/expr/src/expr/mutation.rs
  surrealdb/expr/src/expr/statements/remove/module.rs
  surrealdb/expr/src/expr/visit.rs
  surrealdb/gql/Cargo.toml
  surrealdb/parser/src/test/mod.rs
  surrealdb/sql/Cargo.toml
  surrealdb/sql/src/lib.rs
  surrealdb/syn/Cargo.toml
  surrealdb/syn/src/parser/stmt/define.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

perf(idx): aggregate count-index deltas per transaction and wake the compactor on write (#819)
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/tests/count_index_backlog_repro.rs
  surrealdb/datastore/src/factory.rs
  surrealdb/datastore/src/lib.rs
  surrealdb/datastore/src/sequences.rs
  surrealdb/datastore/src/tasklease.rs
  surrealdb/datastore/src/triggers.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/datastore/src/values/index_delta.rs
  surrealdb/datastore/src/values/mod.rs
  surrealdb/engine-local/src/tasks.rs
  surrealdb/idx/src/count.rs
  surrealdb/idx/src/index.rs
  surrealdb/idx/src/test_env.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Unregister WebSocket live queries when their subscription is killed (#816)
  surrealdb/server/src/rpc/mod.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(dbs): stream mock targets instead of pre-expanding them into one Iterable per id (#635)
  language-tests/tests/bench/crud/create_100000.surql
  language-tests/tests/language/statements/create/mock_lazy_iteration.surql
  language-tests/tests/language/statements/create/mock_start_limit.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/plan.rs
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

chore(kvs): upgrade surrealmx to 0.23.0 (drop memory-backend versioning) (#623)
  Cargo.lock
  Cargo.toml
  language-tests/Cargo.lock
  language-tests/README.md
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  surrealdb/core/src/kvs/tests/mod.rs
  surrealdb/core/src/kvs/tests/tx_cache_test.rs
  surrealdb/core/src/kvs/tests/tx_cache_versioned_test.rs
  surrealdb/kvs-any/tests/kvs/main.rs
  surrealdb/kvs-mem/src/cnf.rs
  surrealdb/kvs-mem/src/lib.rs
  surrealdb/kvs-test/Cargo.toml
  surrealdb/kvs-test/src/versioned.rs
  surrealdb/tests/api_integration/mod.rs
  tests/common/server.rs
  tests/conformance-js/tests/versioning.test.ts
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Delete the live queries a gRPC stream commits but never registers (#818)
  SECURITY_GUIDE.md
  surrealdb/server/src/rpc/grpc.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Stop the execution behind an abandoned streaming query (#815)
  surrealdb/src/method/query.rs
  surrealdb/tests/stream_items.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Frame exports at the chunk size the server advertises (#822)
  surrealdb/core/benches/import_ablation.rs
  surrealdb/server/src/rpc/grpc.rs
  surrealdb/server/tests/grpc.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Delete the KILL post-processing hook that could never fire (#823)
  surrealdb/core/src/legacy/expr/statements/kill.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/rpc/grpc.rs
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

refactor(core): multiplex background maintenance onto one task (12 tasks -> 4) (#820)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/options.rs
  surrealdb/engine-local/Cargo.toml
  surrealdb/engine-local/src/tasks.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/websocket.rs
  tests/reproduce_issue_7318.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Price the import statement form, and land the ablation harness (#827)
  surrealdb/core/benches/import_ablation.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Build and publish @surrealdb/node from this repo (#825)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  surrealdb/node/.cargo/config.toml
  surrealdb/node/Cargo.toml
  surrealdb/node/README.md
  surrealdb/node/build.rs
  surrealdb/node/build.ts
  surrealdb/node/bun.lock
  surrealdb/node/engine.test.ts
  surrealdb/node/package.json
  surrealdb/node/publish.ts
  surrealdb/node/src-rust/app/mod.rs
  surrealdb/node/src-rust/app/options.rs
  surrealdb/node/src-rust/err/mod.rs
  surrealdb/node/src-rust/lib.rs
  surrealdb/node/src-ts/engine.ts
  surrealdb/node/src-ts/index.ts
  surrealdb/node/src-ts/wrap-sqon-error.ts
  surrealdb/node/tsconfig.json
  surrealdb/node/tsconfig.types.json
Due: workspace-tests, language-tests, surrealdb-sdk

Stop double-wrapping the datastore in the Node engine (#832)
  surrealdb/node/src-rust/app/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Stop a query deadlocking against a concurrent session mutation (#830)
  surrealdb/core/src/rpc/protocol.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Share the embedded engine between the JavaScript FFIs (#834)
  Cargo.lock
  Cargo.toml
  surrealdb/embedded/Cargo.toml
  surrealdb/embedded/src/lib.rs
  surrealdb/embedded/src/options.rs
  surrealdb/embedded/src/protocol.rs
  surrealdb/embedded/src/wire.rs
  surrealdb/node/Cargo.toml
  surrealdb/node/src-rust/app/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Publish the Node addon without the SDK engine (#838)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  surrealdb/node/README.md
  surrealdb/node/build.ts
  surrealdb/node/bun.lock
  surrealdb/node/engine.test.ts
  surrealdb/node/package.json
  surrealdb/node/publish.ts
  surrealdb/node/src-ts/engine.ts
  surrealdb/node/src-ts/index.ts
  surrealdb/node/src-ts/wrap-sqon-error.ts
  surrealdb/node/tsconfig.json
  surrealdb/node/tsconfig.types.json
Due: workspace-tests, language-tests, surrealdb-sdk

Batch full-text index deltas per transaction, not per document (#831)
  surrealdb/core/src/kvs/export.rs
  surrealdb/core/tests/it/export.rs
  surrealdb/datastore/src/key/keyspace.map
  surrealdb/datastore/src/key/schema.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/datastore/src/values/index_delta.rs
  surrealdb/idx/src/ft/fulltext.rs
  surrealdb/idx/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Move the browser engine into this repository (#842)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  supply-chain/config.toml
  surrealdb/common/Cargo.toml
  surrealdb/common/src/lib.rs
  surrealdb/common/src/time.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/function/builtin/sleep.rs
  surrealdb/core/src/exec/operators/recursion/common.rs
  surrealdb/core/src/exec/operators/sleep.rs
  surrealdb/core/src/exec/operators/timeout.rs
  surrealdb/core/src/fnc/sleep.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index/admission.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/migration/mod.rs
  surrealdb/core/src/kvs/tasks/interval.rs
  surrealdb/core/src/kvs/tasks/mod.rs
  surrealdb/core/src/legacy/expr/statements/sleep.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/datastore/src/sequences.rs
  surrealdb/datastore/src/tasklease.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/wasm/Cargo.toml
  surrealdb/wasm/README.md
  surrealdb/wasm/build.ts
  surrealdb/wasm/bun.lock
  surrealdb/wasm/engine.test.ts
  surrealdb/wasm/package.json
  surrealdb/wasm/publish.ts
  surrealdb/wasm/src-rust/app/mod.rs
  surrealdb/wasm/src-rust/app/types.rs
  surrealdb/wasm/src-rust/err/mod.rs
  surrealdb/wasm/src-rust/lib.rs
  surrealdb/wasm/tsconfig.json
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Apply the configured default on an empty USE from the embedded engine (#846)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/tests/api_integration/basic.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Let an ENFORCED relation restore its own export (#843)
  SECURITY_GUIDE.md
  language-tests/tests/reproductions/828_enforced_relation_import_order.surql
  surrealdb/core/src/doc/edges.rs
  surrealdb/core/tests/it/export.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Reject session changes from an expired session on the embedded engine (#847)
  surrealdb/core/src/dbs/session.rs
  surrealdb/engine-local/src/router.rs
  surrealdb/tests/api_integration/basic.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

End live queries when the embedded session's principal changes (#848)
  surrealdb/core/src/dbs/mod.rs
  surrealdb/core/src/dbs/session.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/engine-local/src/router.rs
  surrealdb/tests/api_integration/live.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
