Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

fix wasm?
  crates/core/Cargo.toml
  crates/core/src/ctx/context.rs
  crates/core/src/expr/executable.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/savepoint.rs
  crates/core/src/lib.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/surrealism/surrealism/src/memory.rs
Due: surrealdb-core

fix wasm?
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/capabilities.rs
  crates/core/src/expr/executable.rs
Due: surrealdb-core

Fix table serialization bug. (#6526)
  crates/core/src/val/mod.rs
  crates/core/tests/function.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/functions/type/storage_types.surql
  crates/language-tests/tests/language/statements/set/typed_table.surql
  src/net/import.rs
  src/net/key.rs
  src/net/output.rs
  src/net/signin.rs
  src/net/signup.rs
  src/net/sql.rs
Due: surrealdb-core, surrealdb-bin

Add GraphQL back and upgrade to the latest `async-graphql` crates. (#6507)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/expr/idiom/mod.rs
  crates/core/src/expr/plan.rs
  crates/core/src/gql/cache.rs
  crates/core/src/gql/error.rs
  crates/core/src/gql/ext.rs
  crates/core/src/gql/functions.rs
  crates/core/src/gql/mod.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/gql/utils.rs
  crates/core/src/lib.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/define/config/graphql.rs
  crates/language-tests/Cargo.lock
  revision.lock
  src/gql/mod.rs
  src/lib.rs
  src/net/gql.rs
  src/net/mod.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/graphql_integration.rs
Due: surrealdb-core, surrealdb-bin, integration-tests

remove align
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism-types/src/controller.rs
  crates/surrealism/surrealism-types/src/serialize.rs
  crates/surrealism/surrealism/src/controller.rs
  crates/surrealism/surrealism/src/memory.rs
Due: none

update comments
  crates/types/src/flatbuffers/mod.rs
Due: surrealdb-types

Remove GraphQL code from RPC protocol
  crates/core/src/rpc/context.rs
  crates/core/src/rpc/method.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-bin

address comments
  crates/core/src/idx/trees/knn.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/surrealism/surrealism-runtime/src/host.rs
  crates/surrealism/surrealism/src/controller.rs
  crates/surrealism/surrealism/src/memory.rs
Due: surrealdb-core

Merge `RpcContext` with `RpcProtocol`
  crates/core/src/rpc/context.rs
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/protocol/mod.rs
  crates/core/src/rpc/protocol/v1.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-bin

fmt
  crates/core/src/syn/parser/function.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-runtime/src/host.rs
Due: surrealdb-core

Fix code format
  crates/core/src/rpc/context.rs
Due: surrealdb-core

Rename `RpcContext` to `RpcProtocol`
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/protocol.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-bin

Add preliminary checks
  crates/language-tests/tests/harness/rng.surql
  crates/language-tests/tests/harness/test_rng.surql
  crates/language-tests/tests/language/view/increment_immediate/mean.surql
Due: none

Group by in normal select fixed
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/test.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/dbs/result.rs
  crates/core/src/doc/alter.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/edges.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/idx/planner/checker.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/key/record.rs
  crates/core/src/kvs/cache/tx/entry.rs
  crates/core/src/kvs/export.rs
  crates/core/src/kvs/index.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/val/mod.rs
  crates/language-tests/tests/language/functions/search/search-rrf.surql
  crates/language-tests/tests/language/statements/select/group/basic.surql
Due: surrealdb-core

Fix variance/stddev bugs + fix lang tests
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/doc/table.rs
  crates/core/src/idx/trees/knn.rs
  crates/language-tests/tests/language/indexes/count_index.surql
  crates/language-tests/tests/language/statements/define/table/view/basic_view.surql
  crates/language-tests/tests/language/statements/define/table/view/increment_immediate/mean.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_deletions.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_rolling.surql
  crates/language-tests/tests/language/statements/select/5581_select_count_with_index.surql
  crates/language-tests/tests/language/statements/select/aggregate.surql
  crates/language-tests/tests/language/statements/select/group/basic.surql
  crates/language-tests/tests/language/statements/select/multi_aggregate.surql
Due: surrealdb-core

Implement variance/stddev
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/group.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/visit.rs
  crates/core/src/idx/trees/knn.rs
  crates/core/src/kvs/slowlog.rs
Due: surrealdb-core

views mostly working, only need to implement some missing aggregates
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/test.rs
  crates/core/src/catalog/view.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/result.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/table.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/expr/view.rs
  crates/core/src/fnc/math.rs
  crates/core/src/kvs/tx.rs
  crates/language-tests/tests/language/statements/define/table/foreign/all_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/aggregate_alias2.surql
  crates/language-tests/tests/language/statements/define/table/view/all_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/basic_view.surql
  crates/language-tests/tests/language/statements/define/table/view/foreigntable.surql
  crates/language-tests/tests/language/statements/define/table/view/increment_immediate/mean.surql
  crates/language-tests/tests/language/statements/define/table/view/initial_select.surql
  crates/language-tests/tests/language/statements/define/table/view/mean.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_max_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_max_update.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_min_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/recalculate_min_update.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_deletions.surql
  crates/language-tests/tests/language/statements/define/table/view/stddev_variance_rolling.surql
  crates/language-tests/tests/language/statements/define/table/view/view_alias.surql
  crates/language-tests/tests/language/statements/define/table/view/view_sum_properly_deleted.surql
  crates/language-tests/tests/language/statements/define/table/view/view_with_zero_sum.surql
Due: surrealdb-core

Factor out common code into a module
  crates/core/src/catalog/database.rs
  crates/core/src/catalog/record.rs
  crates/core/src/catalog/view.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/mod.rs
  crates/core/src/dbs/result.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/view.rs
  crates/core/src/sql/view.rs
Due: surrealdb-core

Add accumulation aggregate
  crates/core/src/catalog/record.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/dbs/group.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/val/value/get.rs
  crates/language-tests/tests/language/statements/select/group/accumulate.surql
  crates/language-tests/tests/language/statements/select/group/accumulate_function.surql
Due: surrealdb-core

Fixup after rebase
  crates/core/src/buc/backend.rs
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/test.rs
Due: surrealdb-core

Simplfy RPC protocol implementation (#6529)
  crates/core/src/rpc/context.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/rpc/protocol/mod.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-bin

Bump to rocksdb 10.6.2
  Cargo.toml
Due: none

Trigger events on view update
  crates/core/src/doc/document.rs
  crates/core/src/doc/event.rs
  crates/core/src/doc/mod.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/gql/schema.rs
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_create.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_new_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_update.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/view_change_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/view_create.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/view_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/view_update.surql
Due: surrealdb-core

Fix warnings, unstable syntax, unused functions
  crates/core/src/buc/backend.rs
  crates/core/src/dbs/aggregation.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/event.rs
  crates/core/src/doc/table.rs
  crates/core/src/fnc/util/math/mod.rs
  crates/core/src/fnc/util/math/variance.rs
Due: surrealdb-core

Rename RawQuery to Query
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/begin.rs
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/delete.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/live.rs
  crates/sdk/src/method/merge.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/patch.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/select.rs
  crates/sdk/src/method/tests/server.rs
  crates/sdk/src/method/update.rs
  crates/sdk/src/method/upsert.rs
Due: surrealdb-sdk

Remove dropped transaction checks and panics
  crates/core/src/dbs/test.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

All storage engines now support reverse scans
  Cargo.lock
  Cargo.toml
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/err/mod.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/iterators.rs
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/raw.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Remove affinitypool in storage engine implementations
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
Due: surrealdb-core

Cleanup and improvements
  Cargo.lock
  Cargo.toml
  crates/core/src/idx/planner/plan.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
Due: surrealdb-core

Use interior mutability in storage engines
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/doc/insert.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/err/mod.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
Due: surrealdb-core

Add code comments
  crates/core/src/kvs/savepoint.rs
Due: surrealdb-core

WIP
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/method/begin.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-core, surrealdb-sdk

Add ROCKSDB_SST_MAX_ALLOWED_SPACE_USAGE and ROCKSDB_SST_COMPACTION_BUFFER_SIZE conf var
  Cargo.lock
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Use SSTFileManager
  Cargo.lock
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Improve casting error (#6527)
  crates/core/src/val/value/convert/cast.rs
  crates/core/tests/typing.rs
  crates/language-tests/tests/language/cast/regex.surql
  crates/language-tests/tests/language/expression/operators/casting/basic_literal_kind.surql
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record_table.surql
  crates/language-tests/tests/language/expression/operators/casting/decimal.surql
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/expression/operators/casting/to_record_table.surql
  crates/language-tests/tests/language/reference/test.surql
Due: surrealdb-core

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
