Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

`GROUP` validation & fix ORDER BY when grouping (#6778)
  language-tests/tests/language/statements/select/group/accumulate.surql
  language-tests/tests/language/statements/select/group/accumulate_function.surql
  language-tests/tests/language/statements/select/group/array_count_subquery.surql
  language-tests/tests/language/statements/select/group/basic.surql
  language-tests/tests/language/statements/select/group/count_group_all.surql
  language-tests/tests/language/statements/select/group/count_range_keys_only.surql
  language-tests/tests/language/statements/select/group/group_all_order.surql
  language-tests/tests/language/statements/select/group/group_all_where.surql
  language-tests/tests/language/statements/select/group/group_array_aggregates.surql
  language-tests/tests/language/statements/select/group/group_arrays.surql
  language-tests/tests/language/statements/select/group/group_by_expr.surql
  language-tests/tests/language/statements/select/group/group_by_fetch.surql
  language-tests/tests/language/statements/select/group/group_by_function_call.surql
  language-tests/tests/language/statements/select/group/group_by_id.surql
  language-tests/tests/language/statements/select/group/group_by_limit_start.surql
  language-tests/tests/language/statements/select/group/group_by_none_values.surql
  language-tests/tests/language/statements/select/group/group_by_not_in_select.surql
  language-tests/tests/language/statements/select/group/group_by_order.surql
  language-tests/tests/language/statements/select/group/group_by_where.surql
  language-tests/tests/language/statements/select/group/group_duplicate_expr.surql
  language-tests/tests/language/statements/select/group/group_empty_table.surql
  language-tests/tests/language/statements/select/group/group_mixed_types.surql
  language-tests/tests/language/statements/select/group/group_nested_fields.surql
  language-tests/tests/language/statements/select/group/group_nonexistent_fields.surql
  language-tests/tests/language/statements/select/group/group_record_links.surql
  language-tests/tests/language/statements/select/group/group_special_types.surql
  language-tests/tests/language/statements/select/group/group_statistical_aggregates.surql
  language-tests/tests/language/statements/select/group/group_wildcard_projection.surql
  language-tests/tests/language/statements/select/group/multi_aggregate_composed.surql
  language-tests/tests/language/statements/select/group/parent.surql
  language-tests/tests/language/statements/select/group/this.surql
  surrealdb/core/src/dbs/file.rs
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/dbs/store.rs
Due: none

Address feedback
  surrealdb/core/src/syn/parser/test/streaming.rs
Due: none

Fix fuzzing
  crates/core/src/iam/entities/resources/limit.rs
Due: surrealdb-core

Add DEFER` keyword for background index building and maintenance (Experimental) (#6717)
  crates/core/src/doc/index.rs
  crates/core/src/idx/ft/mod.rs
  crates/core/src/key/category.rs
  crates/core/src/key/index/df.rs
  crates/core/src/key/index/ia.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/define/index.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/sdk/tests/deferindex.rs
  crates/sdk/tests/define.rs
  revision.lock
Due: surrealdb-core, surrealdb-sdk

Undo build.rs changes
  crates/core/src/cf/mutations.rs
  crates/sdk/build.rs
Due: surrealdb-core, surrealdb-sdk

Fix warnings and tests
  .github/workflows/supply-chain.yml
  crates/core/src/fnc/migration.rs
  crates/core/src/iam/verify.rs
  crates/core/src/key/root/all.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/core/src/sql/change_feed_include.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/statements/alter/table.rs
  crates/core/src/sql/statements/define/table.rs
  crates/core/src/sql/table_type.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/language/primitive/record_id/id_variants.surql
  crates/language-tests/tests/language/statements/define/field/late_define_field_type.surql
  crates/language-tests/tests/language/statements/define/table/relation.surql
  crates/language-tests/tests/language/statements/define/table/relation_in_out.surql
  crates/language-tests/tests/language/statements/define/table/type_normal.surql
  crates/language-tests/tests/migration/closure/stored.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/this_super_self/in_converted_future.surql
  crates/language-tests/tests/migration/this_super_self/in_function.surql
  crates/sdk/src/api/engine/proto.rs
  crates/sdk/src/api/method/tests/types.rs
  revision.lock
  tests/http_integration.rs
Due: surrealdb-core, surrealdb-sdk, integration-tests

Fix clippy
  crates/core/src/sql/block.rs
  crates/core/src/sql/statement.rs
  crates/core/src/sql/subquery.rs
Due: surrealdb-core

Fix some more tests
  tests/http_integration.rs
Due: integration-tests

Undo toolchain changes + fix cargo-deny issue
  .github/workflows/supply-chain.yml
  rust-toolchain.toml
Due: none

Fix more tests
  tests/http_integration.rs
Due: integration-tests

Update revision lock
  revision.lock
Due: none

Allow storing closures for backwards compatibility
  crates/language-tests/tests/language/functions/array/max.surql
  crates/language-tests/tests/language/functions/array/min.surql
Due: none

Validate and fix `ONLY`, `OMIT`, and `SELECT VALUE` (#6777)
  language-tests/tests/language/graph/edge_clauses.surql
  language-tests/tests/language/statements/select/omit_group_by.surql
  language-tests/tests/language/statements/select/only.surql
  language-tests/tests/language/statements/select/only_many_whats.surql
  language-tests/tests/language/statements/select/only_two_whats.surql
  language-tests/tests/language/statements/select/split_group_all.surql
  language-tests/tests/language/statements/select/split_group_by.surql
  language-tests/tests/language/statements/select/value.surql
  surrealdb/core/src/dbs/group.rs
  surrealdb/core/src/dbs/statement.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/syn/parser/idiom.rs
  surrealdb/core/src/syn/parser/stmt/parts.rs
  surrealdb/core/src/syn/parser/stmt/select.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/parser/test/streaming.rs
Due: none

Formatting
  Cargo.lock
  Cargo.toml
  tests/http_integration.rs
Due: integration-tests

Expose metrics
  surrealdb/core/src/kvs/mod.rs
Due: none

Add Metric
  surrealdb/core/src/kvs/mod.rs
Due: none

Fix clippy
  surrealdb/core/src/expr/idiom/mod.rs
Due: none

rev lock
  revision.lock
Due: none

Don’t fail on datastore shutdown
  language-tests/src/cmd/run/provisioner.rs
  surrealdb/core/src/kvs/ds.rs
Due: none

Free up disk space on job setup
  .github/actions/setup-environment/action.yml
Due: none

Fix SurrealQL tests
  crates/language-tests/src/cmd/run/cmp.rs
  crates/language-tests/src/cmd/run/report/mod.rs
  crates/language-tests/src/cmd/run/util.rs
Due: none

Test ORDER BY sets
  language-tests/tests/language/statements/select/order/order_set.surql
  language-tests/tests/language/statements/select/order/order_set_index.surql
  surrealdb/core/src/val/set.rs
  surrealdb/core/src/val/value/compare.rs
Due: none

Add CREATE/UPDATE/UPSERT tests for RETURN and ONLY
  language-tests/tests/language/statements/create/create_only.surql
  language-tests/tests/language/statements/create/create_output.surql
  language-tests/tests/language/statements/let/typed.surql
  language-tests/tests/language/statements/let/typed_table.surql
  language-tests/tests/language/statements/update/update_only.surql
  language-tests/tests/language/statements/update/update_output.surql
  language-tests/tests/language/statements/upsert/upsert_only.surql
  language-tests/tests/language/statements/upsert/upsert_output.surql
Due: none

Remove UNIQUE from RELATE and add tests.
  language-tests/tests/language/statements/relate/relate_only.surql
  language-tests/tests/language/statements/relate/relate_output.surql
  surrealdb/core/src/expr/statements/relate.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/core/src/sql/statements/relate.rs
  surrealdb/core/src/syn/parser/stmt/relate.rs
  surrealdb/core/src/val/value/compare.rs
Due: none

More tests.
  language-tests/tests/language/statements/create/create_only.surql
  language-tests/tests/language/statements/create/create_output.surql
  language-tests/tests/language/statements/insert/insert_output.surql
  language-tests/tests/language/statements/insert/insert_relation_output.surql
  language-tests/tests/language/statements/relate/relate_only.surql
  language-tests/tests/language/statements/relate/relate_output.surql
  language-tests/tests/language/statements/update/update_only.surql
  language-tests/tests/language/statements/update/update_output.surql
  language-tests/tests/language/statements/upsert/upsert_only.surql
  language-tests/tests/language/statements/upsert/upsert_output.surql
  surrealdb/core/src/val/set.rs
Due: none

Add unicode sorting tests.
  language-tests/tests/language/statements/select/order/unicode/accented_latin.surql
  language-tests/tests/language/statements/select/order/unicode/arabic.surql
  language-tests/tests/language/statements/select/order/unicode/chinese.surql
  language-tests/tests/language/statements/select/order/unicode/cyrillic.surql
  language-tests/tests/language/statements/select/order/unicode/emojis.surql
  language-tests/tests/language/statements/select/order/unicode/german.surql
  language-tests/tests/language/statements/select/order/unicode/greek.surql
  language-tests/tests/language/statements/select/order/unicode/japanese.surql
  language-tests/tests/language/statements/select/order/unicode/korean.surql
  language-tests/tests/language/statements/select/order/unicode/mixed_scripts.surql
  language-tests/tests/language/statements/select/order/unicode/thai.surql
Due: none

Tidy up
  surrealdb/core/src/sql/test_to_sql.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/parser/test/streaming.rs
Due: none

Fix supply chain ci
  Cargo.lock
  deny.toml
Due: none

Demo benchmarking workflow
  .github/workflows/demo-benchmark.yml
Due: none

ws
  .github/workflows/demo-benchmark.yml
Due: none

Add `DEFER` keyword for background index building and maintenance (Experimental) (#6782)
  crates/core/src/doc/index.rs
  crates/core/src/iam/entities/resources/limit.rs
  crates/core/src/idx/ft/mod.rs
  crates/core/src/key/category.rs
  crates/core/src/key/index/df.rs
  crates/core/src/key/index/ia.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/statement.rs
  crates/core/src/sql/statements/define/index.rs
  crates/core/src/sql/subquery.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/src/cmd/run/cmp.rs
  crates/language-tests/src/cmd/run/report/mod.rs
  crates/language-tests/src/cmd/run/util.rs
  crates/language-tests/tests/language/functions/array/max.surql
  crates/language-tests/tests/language/functions/array/min.surql
  crates/sdk/tests/deferindex.rs
  crates/sdk/tests/define.rs
  revision.lock
Due: surrealdb-core, surrealdb-sdk

Prepare v2.5.0 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Fix revision lock
  revision.lock
Due: none

Prepare v2.5.0 release (#6792)
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Fix surrealql test
  crates/language-tests/tests/migration/closure/stored.surql
Due: none

Use the benchmarking runner
  .github/workflows/crud-bench.yml
Due: none

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
