Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Add a write-cardinality guard for statement transactions (#719)
  surrealdb/cnf/src/lib.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tests/mod.rs
  surrealdb/core/src/kvs/tests/write_guard_test.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(deps): declare the dev-only kvs-test crate without a version (#726)
  Cargo.toml
  deny.toml
Due: none

fix(deps): move off the yanked spin release (#724)
  Cargo.lock
  deny.toml
  supply-chain/config.toml
Due: none

Improve support for more legacy surrealql in the new parser (#717)
  CLAUDE.md
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/mac.rs
  surrealdb/parser/examples/vis_ast.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/place.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/test/files/function/single_path.surql
  surrealdb/parser/src/test/files/operators/idiom/weird_define_field.surql
  surrealdb/parser/src/test/files/primitives/identifier/ann_keywords.surql
  surrealdb/parser/src/test/files/stmts/define/index_diskann.surql
  surrealdb/parser/src/test/files/stmts/info/namespace.surql
  surrealdb/parser/src/test/files/stmts/relate_graph_keywords.surql
  surrealdb/parser/src/test/files_quirk/weird_set_idiom.surql
  surrealdb/parser/src/test/mod.rs
  surrealism/demo/.cargo/config.toml
Due: workspace-tests, language-tests, surrealdb-sdk

fix(core): arm the write guard on custom API handler transactions (#722)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tests/write_guard_test.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(sql): wire QueryMemoryBudget module
  surrealdb/core/src/sql/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(sql): verify budget breach rejection and no-overhead when unset
  surrealdb/core/src/sql/test_query_memory_budget.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(sql): expose query_memory_budget module
  surrealdb/core/src/sql/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(kvs/index): keep writer admission off the build-state key (#727)
  revision.lock
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/key/category.rs
  surrealdb/core/src/key/table/bt.rs
  surrealdb/core/src/key/table/mod.rs
  surrealdb/core/src/kvs/index/admission.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/replay.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/kvs-test/src/multi.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(kvs): make savepoint release keep its writes undoable by the enclosing savepoint (#728)
  language-tests/tests/reproductions/nested_savepoint_release.surql
  surrealdb/core/src/err/to_types.rs
  surrealdb/kvs-indxdb/src/tx.rs
  surrealdb/kvs-mem/src/lib.rs
  surrealdb/kvs-rocksdb/src/lib.rs
  surrealdb/kvs-surrealkv/src/lib.rs
  surrealdb/kvs-test/src/savepoint.rs
  surrealdb/kvs-tikv/src/lib.rs
  surrealdb/kvs-tikv/src/savepoint.rs
  surrealdb/kvs/src/api.rs
  surrealdb/kvs/src/err.rs
  surrealdb/kvs/src/lib.rs
  surrealdb/kvs/src/savepoint.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(idx): bound compound-index ranges with the composite sentinel
  language-tests/tests/language/planner/composite_index_range_on_prefix_column.surql
  language-tests/tests/language/planner/composite_index_range_on_prefix_column_compute.surql
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/idx/planner/iterators.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix the dead object::matches path, unify the Surrealism module diagnostics, and cover value::expect (#742)
  .github/workflows/ci.yml
  language-tests/tests/language/functions/module/surrealism_disabled.surql
  language-tests/tests/language/functions/object/matches_invalid_path.surql
  language-tests/tests/language/functions/object/matches_method.surql
  language-tests/tests/language/functions/value/expect.surql
  language-tests/tests/language/functions/value/expect_closure_behavior.surql
  language-tests/tests/language/functions/value/expect_document.surql
  language-tests/tests/language/functions/value/expect_function_syntax.surql
  language-tests/tests/language/functions/value/expect_leading_projection.surql
  language-tests/tests/language/functions/value/expect_message_argument.surql
  language-tests/tests/language/functions/value/expect_method_errors.surql
  language-tests/tests/language/statements/alter/module/experimental_disabled.surql
  language-tests/tests/language/statements/define/analyzer/module_function_disabled.surql
  language-tests/tests/language/statements/define/module/malformed.surql
  language-tests/tests/language/statements/define/module/silo_unsupported.surql
  language-tests/tests/language/statements/define/module/unsupported.surql
  language-tests/tests/language/statements/define/module/unsupported_if_not_exists.surql
  language-tests/tests/language/statements/define/module/unsupported_overwrite.surql
  language-tests/tests/language/statements/define/module/unsupported_with_capability.surql
  language-tests/tests/language/statements/info/modules.surql
  language-tests/tests/language/statements/remove/module/experimental_disabled.surql
  language-tests/tests/language/statements/remove/module/experimental_disabled_if_exists.surql
  language-tests/tests/language/statements/remove/module/malformed.surql
  language-tests/tests/language/statements/remove/module/name_whitespace.surql
  language-tests/tests/language/statements/remove/module/not_exists.surql
  language-tests/tests/language/statements/remove/module/not_exists_silo_name.surql
  surrealdb/core/src/fnc/value.rs
  surrealdb/parser/src/test/mod.rs
  surrealdb/sql/src/builtin_paths.rs
  surrealdb/syn/src/parser/function.rs
  surrealdb/syn/src/parser/stmt/alter.rs
  surrealdb/syn/src/parser/stmt/define.rs
  surrealdb/syn/src/parser/stmt/parts.rs
  surrealdb/syn/src/parser/stmt/remove.rs
  surrealdb/syn/src/parser/test/stmt.rs
  tests/conformance-js/README.md
  tests/conformance-js/tests/surrealism.test.ts
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix: surrealism crate fails to build for wasm32-wasip2
  surrealism/Cargo.toml
  surrealism/src/lib.rs
Due: workspace-tests, language-tests

Track 3 begins: invert the idx->exec edges, take the planner's scopes off ctx::Context (#743)
  language-tests/Cargo.lock
  language-tests/tests/language/indexes/search/index_function_scope_inherited_by_subquery.surql
  surrealdb/catalog/src/table.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/common.rs
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/fetch.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/exec/planner/source.rs
  surrealdb/core/src/exec/planner/util/conditions.rs
  surrealdb/core/src/exec/planner/util/mod.rs
  surrealdb/core/src/idx/keys.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/iterators.rs
  surrealdb/core/src/idx/trees/diskann/filter.rs
  surrealdb/core/src/idx/trees/gate.rs
  surrealdb/core/src/idx/trees/hnsw/filter.rs
  surrealdb/core/src/idx/trees/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add `::` before a version segment of a silo path (#749)
  language-tests/tests/language/statements/define/module/silo_unsupported.surql
  language-tests/tests/language/statements/remove/module/not_exists_silo_name.surql
  surrealdb/catalog/src/schema/module.rs
  surrealdb/core/src/exec/physical_expr/function/module.rs
  surrealdb/core/src/legacy/expr/function.rs
  surrealdb/expr/src/expr/function.rs
  surrealdb/expr/src/expr/module.rs
  surrealdb/sql/src/function.rs
  surrealdb/sql/src/module.rs
  surrealdb/syn/src/parser/function.rs
  surrealdb/syn/src/parser/stmt/alter.rs
  surrealdb/syn/src/parser/stmt/define.rs
  surrealdb/syn/src/parser/stmt/remove.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Extract common parsing functions into their own crate (#747)
  Cargo.lock
  Cargo.toml
  deny.toml
  supply-chain/config.toml
  surrealdb/cnf/src/config/duration.rs
  surrealdb/common/src/mac.rs
  surrealdb/common/src/str/duration.rs
  surrealdb/common/src/str/mod.rs
  surrealdb/parse-common/Cargo.toml
  surrealdb/parse-common/src/bytes.rs
  surrealdb/parse-common/src/datetime.rs
  surrealdb/parse-common/src/duration.rs
  surrealdb/parse-common/src/escape.rs
  surrealdb/parse-common/src/lib.rs
  surrealdb/parse-common/src/uuid.rs
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/primitives/datetime_year_sign.surql
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/token/src/datetime.rs
  surrealdb/token/src/duration.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/uuid.rs
  surrealdb/types/Cargo.toml
  surrealdb/types/src/value/datetime.rs
  surrealdb/types/src/value/duration.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix two empty_line_after_outer_attr warnings, and lint the surrealism-off build so they can't hide again (#753)
  .github/workflows/ci.yml
  Makefile.ci.toml
  surrealdb/core/src/legacy/expr/module.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Bump wasmtime to 46.0.2 for RUSTSEC-2026-0222 / RUSTSEC-2026-0223 (#759)
  Cargo.lock
  Cargo.toml
  surrealism/Cargo.toml
  surrealism/macros/Cargo.toml
  surrealism/runtime/Cargo.toml
  surrealism/types/Cargo.toml
Due: workspace-tests, language-tests

feat(kvs): record the datastore's semantic version, and migrate data on startup (#751)
  doc/UPGRADING.md
  language-tests/tests/reproductions/sequence_key_overlaps_table_keyspace.surql
  language-tests/tests/upgrade/define/sequence_table_band_collision.surql
  language-tests/tests/upgrade/define/sequence_table_band_collision_import.surql
  revision.lock
  surrealdb/core/src/err/wire_snapshot.txt
  surrealdb/core/src/err/wire_snapshot_test.rs
  surrealdb/core/src/key/keyspace.map
  surrealdb/core/src/key/schema.rs
  surrealdb/core/src/kvs/datastore_error.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/kvs/migration/mod.rs
  surrealdb/core/src/kvs/migration/sequence_defs.rs
  surrealdb/core/src/kvs/migration/tests.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/kvs/version/mod.rs
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Only run tikv language tests post-merge, not on PRs or merge queue (#761)
  .github/workflows/ci.yml
Due: none

fix(kvs): wait for an aborted index builder before deleting its durable state (#748)
  surrealdb/core/src/kvs/index/admission.rs
  surrealdb/core/src/kvs/index/builder.rs
  surrealdb/core/src/kvs/index/mod.rs
  surrealdb/core/src/kvs/index/tests.rs
  surrealdb/datastore/src/close.rs
  surrealdb/datastore/src/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

T3.3.5: the closure evaluation seam, and array/set descend to the runtime crate (#762)
  Cargo.lock
  surrealdb/core/src/exec/function/builtin/array.rs
  surrealdb/core/src/exec/function/builtin/set.rs
  surrealdb/core/src/exec/function/builtin/value.rs
  surrealdb/core/src/fnc/closure.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/value.rs
  surrealdb/expr/src/val/evaluator.rs
  surrealdb/expr/src/val/mod.rs
  surrealdb/runtime/Cargo.toml
  surrealdb/runtime/src/array.rs
  surrealdb/runtime/src/lib.rs
  surrealdb/runtime/src/set.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(script): build the redirect-mode fetch clients from the real deny rules (#764)
  surrealdb/core/src/fnc/script/fetch/func.rs
  surrealdb/core/src/fnc/script/tests/fetch.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

T3.5 prep: descend the pure operators and index-state readers, re-home the function registry (#766)
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/function/builtin/file.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/bitmap.rs
  surrealdb/core/src/exec/operators/scan/common.rs
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/fetch.rs
  surrealdb/core/src/exec/operators/scan/fulltext.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/operators/scan/knn.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/scan/table.rs
  surrealdb/core/src/exec/operators/scan/union_index.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/test_util.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/physical_expr/function/helpers.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/match_plan.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/fnc/operate.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index/state.rs
  surrealdb/datastore/src/index_state.rs
  surrealdb/datastore/src/lib.rs
  surrealdb/runtime/src/lib.rs
  surrealdb/runtime/src/operate.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(kvs-tikv): classify gRPC status failures instead of collapsing them (#735)
  Cargo.lock
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/datastore/src/lib.rs
  surrealdb/datastore/src/tx.rs
  surrealdb/kvs-tikv/Cargo.toml
  surrealdb/kvs-tikv/src/lib.rs
  surrealdb/kvs/src/api.rs
  surrealdb/kvs/src/err.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Make the ANN benches build a populated index and query it through one (#768)
  language-tests/tests/bench/util/embeddings-diskann-5000.surql
  language-tests/tests/bench/util/embeddings-diskann-filtered-5000.surql
  language-tests/tests/bench/util/embeddings-hnsw-5000.surql
  language-tests/tests/bench/util/embeddings-hnsw-cosine-2000.surql
  language-tests/tests/bench/util/embeddings-hnsw-filtered-5000.surql
  language-tests/tests/bench/vector/knn_diskann.surql
  language-tests/tests/bench/vector/knn_hnsw.surql
  language-tests/tests/bench/vector/knn_hnsw_cosine.surql
  language-tests/tests/bench/vector/knn_hnsw_filtered.surql
Due: none

Close the first read-only parity divergences: definer's rights, permission document root, and variance conditioning (#777)
  language-tests/tests/access/record/permission_predicate_document_root.surql
  language-tests/tests/access/record/permission_predicate_document_root_import.surql
  language-tests/tests/language/functions/math/aggregates_group_by.surql
  language-tests/tests/language/functions/math/variance_large_magnitude.surql
  language-tests/tests/language/statements/define/field/computed/read_only_body.surql
  language-tests/tests/language/statements/define/table/view/stddev_variance_rolling.surql
  revision.lock
  surrealdb/catalog/src/aggregation.rs
  surrealdb/core/src/dbs/definer_rights_test.rs
  surrealdb/core/src/dbs/mod.rs
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/table.rs
  surrealdb/core/src/err/wire_snapshot.txt
  surrealdb/core/src/err/wire_snapshot_test.rs
  surrealdb/core/src/exec/error.rs
  surrealdb/core/src/exec/function/builtin/aggregates/math.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/legacy/expr/statements/define/field.rs
  surrealdb/core/src/legacy/expr/statements/define/table.rs
  surrealdb/expr/src/expr/mod.rs
  surrealdb/expr/src/expr/mutation.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Pin the HNSW build seed in the bench harnesses (#771)
  .github/workflows/language-bench-quick.yml
  .github/workflows/nightly-bench.yml
  language-tests/README.md
  language-tests/src/cmd/bench/run.rs
  language-tests/tests/bench/util/embeddings-hnsw-filtered-5000.surql
  language-tests/tests/bench/vector/knn_hnsw_filtered.surql
  surrealdb/cnf/src/lib.rs
  surrealdb/core/benches/index_ann.rs
  surrealdb/idx/src/trees/hnsw/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(syn): allow ORDER BY on a field outside the projection (#779)
  language-tests/tests/language/statements/select/order/order_by_computed_not_selected.surql
  language-tests/tests/language/statements/select/order/order_by_not_selected_compute_only.surql
  language-tests/tests/reproductions/order_by_field_select_perm_leak_projection.surql
  surrealdb/core/src/legacy/expr/statements/select.rs
  surrealdb/syn/src/parser/idiom.rs
  surrealdb/syn/src/parser/stmt/parts.rs
  surrealdb/syn/src/parser/stmt/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix parse_simple adding backticks each roundtrip (#738)
  surrealdb/types/src/utils/escape.rs
  surrealdb/types/src/value/record_id/mod.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Close the numeric hash/equality parity divergences: GROUP BY keys and set membership (#782)
  language-tests/tests/language/statements/select/group/group_numeric_variant_keys.surql
  language-tests/tests/language/statements/select/set_membership_numeric_variant_keys.surql
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/pre_decode_filter/compile.rs
  surrealdb/core/src/exec/pre_decode_filter/mod.rs
  surrealdb/core/src/exec/pre_decode_filter/streaming.rs
  surrealdb/core/src/exec/pre_decode_filter/wire_cmp.rs
  surrealdb/core/src/exec/pre_decode_filter/wire_literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Index overlap literals by value, not by spelling (CONTAINSALL dropped rows) (#786)
  language-tests/tests/language/statements/select/set_membership_numeric_variant_keys.surql
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/distinct.rs
  surrealdb/core/src/exec/operators/join/hash_join.rs
  surrealdb/core/src/exec/pre_decode_filter/compile.rs
  surrealdb/core/src/exec/pre_decode_filter/mod.rs
  surrealdb/core/src/exec/pre_decode_filter/streaming.rs
  surrealdb/core/src/exec/pre_decode_filter/wire_cmp.rs
  surrealdb/core/src/exec/pre_decode_filter/wire_literal.rs
  surrealdb/expr/src/val/mod.rs
  surrealdb/expr/src/val/number.rs
  surrealdb/expr/src/val/record_id.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Propagate loop signals through LET bindings (#787)
  language-tests/tests/language/control_flow/loop/break_within_let_value.surql
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/mod.rs
  surrealdb/core/src/exec/operators/foreach.rs
  surrealdb/core/src/exec/operators/ifelse.rs
  surrealdb/core/src/exec/operators/let_plan.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/test_util.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
