Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Cargo plumbing updates to introduce surrealdb-client-core
  Cargo.lock
  Cargo.toml
  surrealdb/client-core/Cargo.toml
  surrealdb/client-core/README.md
  surrealdb/client-core/src/lib.rs
  surrealdb/core/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

clippy + fmt
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/operators/sequence.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(language-tests): add regression coverage for #7280
  language-tests/tests/reproductions/7280_compound_unique_trailing_none_is_not_null_mechanism.surql
  language-tests/tests/reproductions/7280_relation_unique_index_none_phase_scan.surql
Due: none

Fix dependency checks
  Cargo.lock
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Update Cursor rules
  .cursor/rules/git-safety.mdc
Due: none

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Improve
  language-tests/tests/reproductions/7221_create_only_select_permission_id_import.surql
  surrealdb/core/src/doc/store.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/core/src/val/record_id.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

cleanup
  surrealdb/core/src/val/record_id.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix and improve test
  language-tests/tests/reproductions/6948_nested_destructure_in_block.surql
  language-tests/tests/reproductions/infinite_recursion_bug.surql
Due: none

Fix infinite loop
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address review comments
  language-tests/tests/access/database/es512_if_not_exists.surql
  language-tests/tests/access/database/es512_overwrite_rejected.surql
  language-tests/tests/access/database/es512_unsupported_issuer.surql
  language-tests/tests/access/namespace/es512_if_not_exists.surql
  language-tests/tests/access/namespace/es512_overwrite_rejected.surql
  language-tests/tests/access/namespace/es512_unsupported_issuer.surql
  language-tests/tests/access/root/es512_overwrite_rejected.surql
  surrealdb/core/src/expr/statements/define/access.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove unnecessary clean=true and namespace=true from overwrite_rejected tests
  language-tests/tests/access/database/es512_overwrite_rejected.surql
  language-tests/tests/access/namespace/es512_overwrite_rejected.surql
Due: none

Address more review comments
  language-tests/tests/access/database/es512_if_not_exists.surql
  language-tests/tests/access/database/es512_unsupported.surql
  language-tests/tests/access/database/es512_unsupported_issuer.surql
  language-tests/tests/access/namespace/es512_if_not_exists.surql
  language-tests/tests/access/namespace/es512_overwrite_rejected.surql
  language-tests/tests/access/namespace/es512_unsupported.surql
  language-tests/tests/access/namespace/es512_unsupported_issuer.surql
  language-tests/tests/access/root/es512_if_not_exists.surql
Due: none

Remove redundant [env] block from database/es512_overwrite_rejected.surql
  language-tests/tests/access/database/es512_overwrite_rejected.surql
Due: none

server: send a failure response when an in-flight WebSocket request is cancelled
  surrealdb/server/src/rpc/websocket.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix concurrent index conflicts and batch full-text indexing
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix deferred index conflict handling
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/index.rs
Due: none

Fix initial index build handoff contention
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Publish appending progress after commit
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix Rust 1.95 clippy warnings
  crates/core/src/ctx/context.rs
  crates/core/src/doc/check.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/sql/expression.rs
  crates/core/src/syn/lexer/byte.rs
  crates/core/src/syn/lexer/compound/datetime.rs
  crates/core/src/syn/parser/object.rs
Due: none

Keep appending index status commit-consistent
  crates/core/src/kvs/index.rs
Due: none

Fix #7234: pre-resolve analyzer when starting an index build
  crates/core/src/doc/index.rs
  crates/core/src/idx/ft/mod.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/analyze.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/define/index/search_same_tx_blocking.surql
  crates/language-tests/tests/language/statements/define/index/search_same_tx_concurrently.surql
  crates/language-tests/tests/language/statements/define/index/search_same_tx_concurrently_defer.surql
Due: none

Fix deferred analyzer refresh
  crates/core/src/kvs/index.rs
  crates/language-tests/tests/language/statements/define/index/search_deferred_analyzer_overwrite.surql
  crates/language-tests/tests/migration/search_index.surql
Due: none

Avoid stale analyzer during initial build
  crates/core/src/kvs/index.rs
  crates/language-tests/tests/language/statements/define/index/search_same_tx_analyzer_overwrite.surql
Due: none

Use one index lookup transaction per batch
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add doc comments for docs.rs
  surrealdb/src/method/authenticate.rs
  surrealdb/src/method/begin.rs
  surrealdb/src/method/cancel.rs
  surrealdb/src/method/commit.rs
  surrealdb/src/method/content.rs
  surrealdb/src/method/create.rs
  surrealdb/src/method/delete.rs
  surrealdb/src/method/export.rs
  surrealdb/src/method/health.rs
  surrealdb/src/method/import.rs
  surrealdb/src/method/insert.rs
  surrealdb/src/method/insert_relation.rs
  surrealdb/src/method/invalidate.rs
  surrealdb/src/method/live.rs
  surrealdb/src/method/merge.rs
  surrealdb/src/method/mod.rs
  surrealdb/src/method/patch.rs
  surrealdb/src/method/query.rs
  surrealdb/src/method/run.rs
  surrealdb/src/method/select.rs
  surrealdb/src/method/set.rs
  surrealdb/src/method/signin.rs
  surrealdb/src/method/signup.rs
  surrealdb/src/method/transaction.rs
  surrealdb/src/method/unset.rs
  surrealdb/src/method/update.rs
  surrealdb/src/method/upsert.rs
  surrealdb/src/method/use_db.rs
  surrealdb/src/method/use_defaults.rs
  surrealdb/src/method/use_ns.rs
  surrealdb/src/method/version.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fmt
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fmt part II
  surrealdb/src/method/authenticate.rs
  surrealdb/src/method/begin.rs
  surrealdb/src/method/cancel.rs
  surrealdb/src/method/commit.rs
  surrealdb/src/method/content.rs
  surrealdb/src/method/delete.rs
  surrealdb/src/method/export.rs
  surrealdb/src/method/health.rs
  surrealdb/src/method/insert.rs
  surrealdb/src/method/insert_relation.rs
  surrealdb/src/method/live.rs
  surrealdb/src/method/merge.rs
  surrealdb/src/method/mod.rs
  surrealdb/src/method/patch.rs
  surrealdb/src/method/query.rs
  surrealdb/src/method/select.rs
  surrealdb/src/method/set.rs
  surrealdb/src/method/signin.rs
  surrealdb/src/method/transaction.rs
  surrealdb/src/method/unset.rs
  surrealdb/src/method/update.rs
  surrealdb/src/method/upsert.rs
  surrealdb/src/method/use_defaults.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Retry RocksDB conflict-check gaps in deferred index builds
  crates/core/src/err/mod.rs
  crates/core/src/iam/access.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/kvs/index.rs
Due: none

Add value::expect
  language-tests/tests/language/functions/method_syntax.surql
  language-tests/tests/language/functions/value_expect.surql
  surrealdb/core/src/exec/function/builtin/value.rs
  surrealdb/core/src/exec/function/method.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/value.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix output
  language-tests/tests/language/functions/value_expect.surql
Due: none

Move test, add quotes
  fuzz/fuzz_targets/fuzz_executor.dict
  fuzz/fuzz_targets/fuzz_sql_parser.dict
  language-tests/tests/language/functions/value/expect.surql
  surrealdb/core/src/fnc/value.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add path
  surrealdb/core/src/fnc/script/modules/surrealdb/functions/value.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix doc comment
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Move output that differs by planner into own tests (can't do single assert over all strategies)
  language-tests/tests/language/functions/value/expect.surql
  language-tests/tests/language/functions/value/expect_all_ro.surql
  language-tests/tests/language/functions/value/expect_best_effort_ro.surql
  language-tests/tests/language/functions/value/expect_compute_only.surql
Due: none

feat(vector): add VectorType::I8 support (#7297)
  surrealdb/ast/src/lib.rs
  surrealdb/core/src/catalog/schema/index.rs
  surrealdb/core/src/fnc/util/math/mod.rs
  surrealdb/core/src/idx/trees/knn.rs
  surrealdb/core/src/idx/trees/vector.rs
  surrealdb/core/src/sql/index.rs
  surrealdb/core/src/syn/lexer/keywords.rs
  surrealdb/core/src/syn/parser/stmt/parts.rs
  surrealdb/core/src/syn/token/mac.rs
  surrealdb/core/src/syn/token/mod.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(kvs/index): break Arc cycle that pinned Datastore after DEFINE INDEX
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/expr/statements/define/index.rs
  surrealdb/core/src/expr/statements/remove/database.rs
  surrealdb/core/src/expr/statements/remove/index.rs
  surrealdb/core/src/expr/statements/remove/namespace.rs
  surrealdb/core/src/expr/statements/remove/table.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

feat(client): add awaitable Surreal::shutdown()
  surrealdb/src/engine/any/native.rs
  surrealdb/src/engine/local/native.rs
  surrealdb/src/lib.rs
  surrealdb/src/method/mod.rs
  surrealdb/tests/api_integration/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

feat(rust): add Surreal::shutdown() for deterministic engine teardown
  surrealdb/src/conn/cmd.rs
  surrealdb/src/engine/local/mod.rs
  surrealdb/src/engine/local/native.rs
  surrealdb/src/engine/local/wasm.rs
  surrealdb/src/engine/remote/http/mod.rs
  surrealdb/src/engine/remote/mod.rs
  surrealdb/src/engine/remote/ws/mod.rs
  surrealdb/src/method/mod.rs
  surrealdb/src/method/shutdown.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(idx/vector): promote I8/I16 Manhattan kernel to f64 before subtraction
  surrealdb/core/src/idx/trees/vector.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
