Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add e2e postgres tests
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/pgw/mod.rs
  tests/postgresql.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

WIP
  .config/nextest.toml
  Cargo.toml
  surrealdb/core/src/surrealism/host.rs
  surrealism/demo/src/lib.rs
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Fix SurrealValue::from_value for serde_json::Value (#7020)
  surrealdb/types/src/traits/surreal_value.rs
  surrealdb/types/tests/surreal_value/trait.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add exec and planner join support
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/join.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/expr/expression.rs
  surrealdb/core/src/expr/join.rs
  surrealdb/core/src/expr/mod.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/expression.rs
  surrealdb/sql-compat/src/postgres/expressions.rs
  surrealdb/sql-compat/src/postgres/statements.rs
  tests/postgresql.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Expand join support.
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/join.rs
  surrealdb/core/src/exec/operators/join/hash.rs
  surrealdb/core/src/exec/operators/join/index_nested_loop.rs
  surrealdb/core/src/exec/operators/join/mod.rs
  surrealdb/core/src/exec/operators/join/nested_loop.rs
  surrealdb/core/src/exec/operators/join/sort_merge.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/expr/join.rs
  surrealdb/core/src/sql/expression.rs
  surrealdb/sql-compat/src/postgres/statements.rs
  tests/postgresql.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Use flatbuffers in wasi-p2 code path
  Cargo.lock
  Cargo.toml
  language-tests/Cargo.lock
  surrealdb/core/src/expr/module.rs
  surrealdb/core/src/surrealism/cache.rs
  surrealdb/server/src/cli/module/host.rs
  surrealdb/server/src/cli/module/mod.rs
  surrealdb/types/src/flatbuffers/mod.rs
  surrealdb/types/src/flatbuffers/surrealism.rs
  surrealism/macros/src/lib.rs
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/host.rs
  surrealism/runtime/src/kv.rs
  surrealism/runtime/src/wasi_context.rs
  surrealism/src/controller.rs
  surrealism/src/memory.rs
  surrealism/src/p2_imports.rs
  surrealism/types/src/args.rs
  surrealism/types/src/controller.rs
  surrealism/types/src/serialize.rs
  surrealism/types/src/transfer.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

wip
  .cursor/commands/pr-desc.md
Due: none

tidy
  deny.toml
  revision.lock
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/sql-compat/src/postgres/statements.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix (windows-dev): * updated building docs for windows (no msys, etc.. required anymore) * setup sccript now should be usable on any host and shall install all required tools
  dev/windows/setup-build-env.ps1
  doc/BUILDING.md
Due: none

Idempotency improvements (#7008)
  .github/actions/install-tools/action.yml
  .github/scripts/bump-version.sh
  .github/workflows/coverage.yml
  .github/workflows/release.yml
Due: none

fix (performance 6800): * Exclusive Begin Boundary Missing from Reverse Scans
  language-tests/tests/reproductions/exclusive_begin_reverse_scan.surql
  surrealdb/core/src/exec/index/iterator/btree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixins
  Cargo.lock
  Cargo.toml
  surrealism/demo/Cargo.toml
Due: workspace-tests, language-tests

add(gql): Subscription schema handler
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/subscriptions.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(gql): Headers & subscription guarding
  surrealdb/server/src/gql/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

add: RPC notification broadcaster
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

add(gql): Schema gen object type
  surrealdb/core/src/gql/schema.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

add(gql): network WS handler
  surrealdb/server/src/ntw/gql.rs
Due: workspace-tests, language-tests, surrealdb-sdk

add(gql): `SURREAL_GQL_NOTIFICATION_CHANNEL_SIZE` cnf env_var
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

test(gql): integration for WS
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, integration-tests

fix(gql): root level field comments
  surrealdb/core/src/gql/tables.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(gql): field comments integration test
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, integration-tests

refactor(gql): table_fields for schema gen
  surrealdb/core/src/gql/schema.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

add(gql): Subscription with filter / where / fetch args
  surrealdb/core/src/gql/subscriptions.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

refactor(gql): table crate fns for table_fields
  surrealdb/core/src/gql/tables.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test(gql): subscriptions filters
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, integration-tests

refined auth
  Cargo.lock
  surrealdb/core/src/exec/operators/join/index_nested_loop.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/pgw/mod.rs
  surrealdb/server/src/pgw/simple_query.rs
  surrealdb/sql-compat/Cargo.toml
  surrealdb/sql-compat/src/postgres/expressions.rs
  tests/postgresql.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

add NaiveDate impl of SurrealValue
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Remove a dbg!
  surrealdb/core/src/kvs/timestamp.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix clippy approx_constant lint in test
  surrealdb/types/tests/surreal_value/trait.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Update SurrealKV 0.21.0
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
Due: none

supply chain fixes
  Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/server/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

wip
  surrealdb/sql-compat/src/postgres/expressions.rs
  surrealdb/sql-compat/src/postgres/statements.rs
  surrealdb/src/method/query.rs
  tests/postgresql.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

fix: propagate actual query errors instead of "Connection uninitialised"
  surrealdb/src/opt/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix invalid time formatting string cause a panic
  language-tests/tests/language/functions/time/invalid_format_string.surql
  surrealdb/core/src/fnc/time.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix invalid time formatting string cause a panic (#7043)
  language-tests/tests/language/functions/time/invalid_format_string.surql
  surrealdb/core/src/fnc/time.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Implement define access
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/misc.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/test/files/stmts/define/access.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement remove statements
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/stmt/remove.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
