Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Implement js function syntax
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/ast/src/vis/mod.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/js/basic.surql
  surrealdb/parser/src/test/files/primitives/js/format_string.surql
  surrealdb/parser/src/test/files/primitives/js/regex.surql
  surrealdb/parser/src/test/files/primitives/js/with_delimiters.surql
  surrealdb/parser/src/test/files/primitives/regex.surql
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/js_function.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/regex.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement define api
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/ast.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/common/src/non_max.rs
  surrealdb/parser/src/parse/stmt/define.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement unescaping of strings
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/common/Cargo.toml
  surrealdb/common/src/span.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/peekable.rs
  surrealdb/parser/src/test/files/comments.surql
  surrealdb/parser/src/test/files/empty.surql
  surrealdb/parser/src/test/files/empty_statements.surql
  surrealdb/parser/src/test/files/primitives/param_basic.surql
  surrealdb/parser/src/test/files/primitives/param_escape_backtick.surql
  surrealdb/parser/src/test/files/primitives/param_escape_bracket.surql
  surrealdb/parser/src/test/files/primitives/param_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_bracket.surql
  surrealdb/parser/src/test/files/primitives/path_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_unicode.surql
  surrealdb/parser/src/test/files/stmts/let.surql
  surrealdb/token/Cargo.toml
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/version.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement object/block/set syntax
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/ast.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/test/files/primitives/object.surql
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement update, upsert, select and relate statements
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/relate.surql
  surrealdb/parser/src/test/files/stmts/select.surql
  surrealdb/parser/src/test/files/stmts/select/no_split_and_group.surql
  surrealdb/parser/src/test/files/stmts/update.surql
  surrealdb/parser/src/test/files/stmts/upsert.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement record-id-string, uuid-strings
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/common/src/error/mod.rs
  surrealdb/common/src/error/raw.rs
  surrealdb/common/src/error/source/mod.rs
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/error.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/primitives/block.surql
  surrealdb/parser/src/test/files/primitives/path_missing_version_number.surql
  surrealdb/parser/src/test/files/primitives/record_id/basic.surql
  surrealdb/parser/src/test/files/primitives/record_id/extra_space_range.surql
  surrealdb/parser/src/test/files/primitives/record_id/gen.surql
  surrealdb/parser/src/test/files/primitives/record_id/range.surql
  surrealdb/parser/src/test/files/primitives/record_id/range_keys.surql
  surrealdb/parser/src/test/files/primitives/record_id/record_id_string.surql
  surrealdb/parser/src/test/files/primitives/record_id/record_id_string_error.surql
  surrealdb/parser/src/test/files/primitives/set.surql
  surrealdb/parser/src/test/files/primitives/uuid.surql
  surrealdb/parser/src/test/files/primitives/uuid_escape.surql
  surrealdb/parser/src/test/files/primitives/uuid_escape_error.surql
  surrealdb/token/src/base.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/uuid.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement mock syntax
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/test/files/primitives/mock.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement a bunch of define statements
  Cargo.lock
  Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/mac.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/misc.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Avoid allocating for reused strings
  surrealdb/ast/src/types/ast.rs
  surrealdb/ast/src/types/collections.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/common/src/ids/id_set.rs
  surrealdb/common/src/ids/mod.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement show statement
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/visit/mod.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/let.surql
  surrealdb/parser/src/test/files/stmts/show.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Bump `aquasecurity/trivy-action` to latest (#7006)
  .github/actions/docker-build/action.yml
Due: none

Add `--tables-exclude` flag to `surreal export` command (#6999)
  surrealdb/core/src/kvs/export.rs
  surrealdb/server/src/cli/export.rs
  surrealdb/server/src/cli/validator/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Update README.md (#7004)
  README.md
Due: none

Create context7.json (#7005)
  context7.json
Due: none

Prepare v3.0.2 release
  .github/scripts/bump-version.sh
  Cargo.lock
  Cargo.toml
  surrealism/Cargo.toml
  surrealism/macros/Cargo.toml
  surrealism/runtime/Cargo.toml
  surrealism/types/Cargo.toml
Due: workspace-tests, language-tests

Lockdown CI workflow execution.
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/crud-bench.yml
  .github/workflows/scorecard.yml
Due: none

Commit only when necessary
  .github/scripts/bump-version.sh
Due: none

Only delete release branch on successful release
  .github/workflows/release.yml
Due: none

Lockdown CI workflow execution. (#7007)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/crud-bench.yml
  .github/workflows/scorecard.yml
Due: none

Implement define event + define field
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/utils.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix install tools
  .github/actions/install-tools/action.yml
  .github/workflows/coverage.yml
Due: none

address review comment
  surrealdb/types/src/traits/de.rs
  surrealdb/types/src/traits/ser.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

add #[surreal(wrap)] attribute
  surrealdb/types/derive/src/attr/field.rs
  surrealdb/types/derive/src/crate_path.rs
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/derive/src/structs/fields/unnamed.rs
  surrealdb/types/tests/surreal_value/derive/mod.rs
  surrealdb/types/tests/surreal_value/derive/wrap.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

apply formatting
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/derive/src/structs/fields/unnamed.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add `--tables-exclude` flag to `surreal export` command
  crates/core/src/kvs/export/mod.rs
  crates/core/src/kvs/export/v2.rs
  crates/core/src/kvs/export/v3.rs
  src/cli/export.rs
  src/cli/validator/mod.rs
Due: workspace-tests, surrealdb-bin

fix(windows-dev): stabilize windows cargo checks and language test path resolution
  dev/windows/windows-cargo-check.ps1
  language-tests/src/cmd/run/mod.rs
  language-tests/src/tests/mod.rs
Due: none

Add `--tables-exclude` flag to `surreal export` command (#7012)
  crates/core/src/kvs/export/mod.rs
  crates/core/src/kvs/export/v2.rs
  crates/core/src/kvs/export/v3.rs
  src/cli/export.rs
  src/cli/validator/mod.rs
Due: workspace-tests, surrealdb-bin

Fix write-write conflicts in deferred index during concurrent CRUD operations (#6964)
  crates/core/src/kvs/index.rs
  crates/sdk/tests/deferindex.rs
Due: none

Prepare v2.6.3 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: none

Bump `aquasecurity/trivy-action` to latest
  .github/workflows/docker.yml
Due: none

fix (windows-dev): just checking for vsdevcmd on latest version, making sure cargo, rustc, rustup is on latest version
  dev/windows/windows-cargo-check.ps1
Due: none

Upgrade wasm dependencies
  .cursor/commands/pr-desc.md
  Cargo.lock
  Cargo.toml
  surrealdb/core/src/expr/module.rs
  surrealdb/server/src/cli/module/build.rs
  surrealdb/server/src/cli/module/info.rs
  surrealdb/server/src/cli/module/run.rs
  surrealdb/server/src/cli/module/sig.rs
  surrealism/runtime/src/config.rs
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/host.rs
  surrealism/runtime/src/lib.rs
  surrealism/runtime/src/package.rs
  surrealism/types/Cargo.toml
  surrealism/types/src/controller.rs
  surrealism/types/src/err.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Redesigned visualize code somewhat
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/mac.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/ast/src/vis/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Support wasi p1 and p2
  Cargo.lock
  Cargo.toml
  surrealdb/server/src/cli/module/build.rs
  surrealdb/server/src/cli/module/info.rs
  surrealism/Cargo.toml
  surrealism/demo/Cargo.toml
  surrealism/demo/surrealism.toml
  surrealism/macros/src/lib.rs
  surrealism/runtime/src/config.rs
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/host.rs
  surrealism/runtime/src/package.rs
  surrealism/runtime/src/wasi_context.rs
  surrealism/src/lib.rs
  surrealism/src/p2_bindings.rs
  surrealism/src/p2_imports.rs
  surrealism/wit/surrealism.wit
Due: workspace-tests, language-tests, surrealdb-sdk

Add support for debug builds - default to release though
  surrealdb/server/src/cli/module/build.rs
  surrealdb/server/src/cli/module/mod.rs
  surrealism/macros/src/lib.rs
  surrealism/runtime/src/controller.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix (performance-6800): * Implicit Record ID in Index Output Ordering * IS NOT NULL Compound Range Optimization
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix (performance-6800): * Fix 1: Reverse Index Scanning for DESC Order * Fix 2: Compound Index ORDER BY Recognition * Fix 3: Reverse Iteration for UniqueRange Iterator
  language-tests/tests/language/planner/reverse_iterator_standard_new_executor.surql
  language-tests/tests/language/planner/reverse_iterator_unique_new_executor.surql
  language-tests/tests/language/planner/select_from_standard_index_new_executor.surql
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/reproductions/compound_index_order_direction.surql
  language-tests/tests/reproductions/order_by_nested_index_direction.surql
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add optimisations for the new wasi p2 components
  Cargo.lock
  Cargo.toml
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/module/build.rs
Due: workspace-tests, language-tests, surrealdb-sdk

wip
  .config/nextest.toml
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  surrealdb/server/src/cli/module/build.rs
  surrealism/types/Cargo.toml
  surrealism/types/src/err.rs
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
