Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Fix Number hash to use consistent value hashing. (#6572)
  crates/core/src/val/number.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/functions/array/union.surql
Due: surrealdb-core

Fixed
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/statement.rs
  crates/core/src/kvs/tx.rs
  crates/language-tests/tests/datasets/surreal-deal-store-mini.surql
  crates/language-tests/tests/language/closure/readonly.surql
  crates/language-tests/tests/language/statements/define/field/empty_nested_arrays.surql
  crates/language-tests/tests/language/statements/define/field/empty_nested_objects.surql
  crates/language-tests/tests/language/statements/define/field/flexible_error_any.surql
  crates/language-tests/tests/language/statements/define/field/value_assert_success.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_create.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_delete_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_new_group.surql
  crates/language-tests/tests/language/statements/define/table/view/triggers/event_update.surql
  crates/language-tests/tests/language/statements/for/break_in_function.surql
  crates/language-tests/tests/language/statements/for/continue_in_function.surql
Due: surrealdb-core

whoops
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
Due: none

Wip
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/plan.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/planner/tree.rs
  crates/language-tests/tests/language/planner/select_compound_filter_and_sort.surql
Due: surrealdb-core

Apply suggestions from code review
  crates/core/src/catalog/aggregation.rs
Due: surrealdb-core

fix test
  crates/language-tests/tests/language/statements/select/array_field_projections.surql
Due: none

update tests
  crates/language-tests/tests/language/statements/select/group/parent.surql
  crates/language-tests/tests/language/statements/select/group/this.surql
Due: none

Remove `⟨` and `⟩` in favor of backticks.
  crates/core/src/cnf/mod.rs
  crates/core/src/fmt/escape.rs
  crates/core/src/iam/verify.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/lexer/byte.rs
  crates/core/src/syn/lexer/char.rs
  crates/core/src/syn/lexer/ident.rs
  crates/core/src/syn/lexer/test.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/test.surql
  crates/core/tests/function.rs
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record.surql
  crates/language-tests/tests/language/primitive/record_id/id_variants.surql
  crates/language-tests/tests/language/primitive/record_id/natural_order.surql
  crates/language-tests/tests/language/statements/create/with_id.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/relate/with_complex_table.surql
  crates/language-tests/tests/language/statements/select/4781_where_field_type_record_id.surql
  crates/language-tests/tests/parsing/idents/backtick_in_backticks.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/parsing/idents/escape_sequences_bracket.surql
  crates/language-tests/tests/reproductions/6242_create_visibility_issue.surql
  crates/types/src/utils/escape.rs
  tests/common/mod.rs
Due: surrealdb-core, surrealdb-types, integration-tests

apply review feedback
  crates/core/src/catalog/aggregation.rs
  crates/language-tests/tests/language/statements/select/group/parent.surql
  crates/language-tests/tests/language/statements/select/group/this.surql
Due: surrealdb-core

fmt
  crates/core/src/syn/lexer/byte.rs
  crates/core/src/syn/lexer/char.rs
  crates/core/src/syn/lexer/ident.rs
Due: surrealdb-core

Restore missing featues
  Cargo.toml
Due: none

Some more improvements to views and $this, $parent (#6562)
  crates/core/src/catalog/aggregation.rs
  crates/core/src/doc/create.rs
  crates/core/src/doc/delete.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/index.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/lives.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/relate.rs
  crates/core/src/doc/table.rs
  crates/core/src/doc/update.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/field.rs
  crates/core/src/expr/function.rs
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/delete.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/relate.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/expr/statements/update.rs
  crates/core/src/expr/statements/upsert.rs
  crates/language-tests/tests/language/statements/define/table/view/delete_view.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/select/array_field_projections.surql
  crates/language-tests/tests/language/statements/select/group/parent.surql
  crates/language-tests/tests/language/statements/select/group/this.surql
Due: surrealdb-core

Add missing storage backend features (#6574)
  Cargo.toml
Due: none

fixup
  crates/core/src/expr/mod.rs
  crates/core/src/sql/idiom.rs
  crates/core/src/sql/mod.rs
Due: surrealdb-core

Update Surreal Cloud to SurrealDB Cloud
  README.md
  img/black/cloud.png
  img/white/cloud.png
Due: none

Update Surreal Cloud to SurrealDB Cloud in README.md (#6575)
  README.md
  img/black/cloud.png
  img/white/cloud.png
Due: none

Pin hyper
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
Due: none

Fix
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
Due: none

Fix cackle
  cackle.toml
Due: none

Fix
  cackle.toml
Due: none

Cackle
  cackle.toml
Due: none

Fix cackleouruieotijdfiowfnso
  cackle.toml
Due: none

Fix `cargo fmt`
  crates/sdk/src/method/query.rs
Due: surrealdb-sdk

Pin `hyper`, `ort`, and `ort-sys` dependencies to prevent build breakage (#6577)
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/server/Cargo.toml
Due: none

Update lock file
  Cargo.lock
Due: none

Update allowed licences list
  deny.toml
Due: none

Remove unused allowed git repositories
  deny.toml
Due: none

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Update `cargo vet`
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Temporarily ignore advisory
  deny.toml
Due: none

Remove `cargo-acl`
  .github/CODEOWNERS
  .github/workflows/supply-chain.yml
  Makefile
  SECURITY.md
  cackle.Dockerfile
  cackle.toml
  supply-chain/README.md
Due: none

Fix `cargo vet`
  deny.toml
Due: none
