Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add missing exports
  surrealdb/core/src/kvs/export.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Implement argument to accept download in advance
  surrealdb/server/src/cli/mod.rs
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add missing options
  surrealdb/server/src/cli/export.rs
  surrealdb/src/method/export.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Format
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix supply chain ci
  supply-chain/config.toml
Due: none

add comment-prs job to release workflow
  .github/workflows/release.yml
Due: none

Improve returned errors
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Cleanup impl
  surrealdb/src/method/query.rs
  surrealdb/src/opt/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Remove use of surreal msrv unstable functions
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix
  revision.lock
  surrealdb/core/src/doc/event.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/tasklease.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix index compaction KeyAlreadyExists and TransactionConflict errors on in-memory backend
  surrealdb/core/src/idx/planner/iterators.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/server/src/cli/upgrade.rs
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update version pointer file on stable release
  .github/actions/publish-binaries/action.yml
Due: none

address feedback
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address clippy lints
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Tidy up
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixes
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Move subquery to language tests
  language-tests/tests/language/subquery/ifelse_array.surql
  language-tests/tests/language/subquery/ifelse_set.surql
  language-tests/tests/language/subquery/nested_alias.surql
  language-tests/tests/language/subquery/select.surql
  surrealdb/core/tests/subquery.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add regression test
  surrealdb/core/src/idx/planner/iterators.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wasm
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Align WASM index compaction loop
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

wip
  language-tests/Cargo.lock
  surrealdb/server/src/cnf/mod.rs
  surrealdb/server/src/rpc/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

tidy
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, integration-tests

Add REVIEW.md for Claude Reviews
  REVIEW.md
Due: none

Try to reduce import overhead and add benchmarks
  surrealdb/core/Cargo.toml
  surrealdb/core/benches/import_load.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/options.rs
  surrealdb/core/src/doc/pluck.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix limit pushdown bug
  language-tests/tests/reproductions/dynamic_scan_order_by_limit.surql
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Clippy
  surrealdb/core/benches/common/mod.rs
  surrealdb/core/benches/import_load.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

bump indxdb to 0.12.0
  Cargo.lock
  Cargo.toml
Due: none

Remove suppress_output and enforce OPTION IMPORT on import stream endpoints.
  language-tests/tests/language/statements/option/import_indexes.surql
  language-tests/tests/language/statements/option/import_indexes_new_executor.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/options.rs
  surrealdb/core/src/doc/pluck.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix limit pushdown, deduplicate reusable code, and resolve vars at planning time.
  language-tests/tests/language/planner/dynamic_scan_limit_pushdown_explain.surql
  language-tests/tests/language/planner/dynamic_scan_order_limit_variants.surql
  language-tests/tests/language/planner/param_table_plan_resolution.surql
  language-tests/tests/reproductions/dynamic_scan_order_by_limit.surql
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

clippy
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix supply chain
  supply-chain/config.toml
Due: none

Address comments
  language-tests/tests/reproductions/define_param_permissions_plan_time.surql
  language-tests/tests/reproductions/let_value_input_plan_time_resolve.surql
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/core/benches/import_load.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/doc/changefeeds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comment
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Wip
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Restore 200 in ft test
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

FIX_ISSUES_7060: Indexscan does not populate computed fields.
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/operators/scan/index.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Repro
  surrealdb/core/tests/helpers.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
