Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Undouble up
  crates/language-tests/tests/language/statements/select/inside_match_before_object.surql
Due: none

Fix ML
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

match rocksdb memory
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/cnf.rs
Due: surrealdb-core

First test!
  Cargo.lock
  crates/core/src/embedded/mod.rs
  crates/sdk2/Cargo.toml
  crates/sdk2/src/api/interface/session.rs
  crates/sdk2/src/api/surreal.rs
  crates/sdk2/src/api/transaction.rs
  crates/sdk2/src/controller.rs
  crates/sdk2/src/events.rs
  crates/sdk2/src/lib.rs
  crates/sdk2/src/method/mod.rs
  crates/sdk2/src/method/query.rs
  crates/sdk2/src/method/use.rs
  crates/sdk2/src/utils/engines.rs
  crates/sdk2/src/utils/features.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/src/utils/promise.rs
  crates/sdk2/src/utils/state.rs
  crates/sdk2/tests/mod.rs
  crates/types/src/bridge/mod.rs
Due: surrealdb-core, surrealdb-types

test flush-wal-restart
  Cargo.lock
  Cargo.toml
Due: none

WIP
  crates/core/src/embedded/mod.rs
  crates/core/src/lib.rs
  crates/sdk2/src/api/interface/session.rs
  crates/sdk2/src/api/session.rs
  crates/sdk2/src/api/surreal.rs
  crates/sdk2/src/auth.rs
  crates/sdk2/src/controller.rs
  crates/sdk2/src/events.rs
  crates/sdk2/src/lib.rs
  crates/sdk2/src/mac.rs
  crates/sdk2/src/method/use.rs
  crates/sdk2/src/utils/publisher.rs
  crates/sdk2/src/utils/state.rs
  crates/sdk2/tests/auth.rs
  crates/sdk2/tests/mod.rs
  crates/types/src/bridge/mod.rs
Due: surrealdb-core, surrealdb-types

fixes
  crates/sdk2/src/api/interface/session.rs
  crates/sdk2/src/utils/promise.rs
Due: none

streaming
  Cargo.lock
  crates/sdk2/Cargo.toml
  crates/sdk2/src/method/query.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/utils/frame.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/tests/query_stream.rs
Due: none

no vlog cache
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
Due: surrealdb-core

add skv 0.16
  Cargo.lock
  Cargo.toml
Due: none

vet check fix
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Use `imbl::OrdMap` for `Value::Object`
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/catalog/schema/api.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/node.rs
  crates/core/src/dbs/variables.rs
  crates/core/src/doc/field.rs
  crates/core/src/expr/literal.rs
  crates/core/src/expr/operation.rs
  crates/core/src/expr/reference.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/fnc/object.rs
  crates/core/src/fnc/search.rs
  crates/core/src/gql/schema.rs
  crates/core/src/val/object.rs
  crates/core/src/val/value/cut.rs
  crates/core/src/val/value/del.rs
  crates/core/src/val/value/fetch.rs
  crates/core/src/val/value/put.rs
  crates/core/src/val/value/set.rs
Due: surrealdb-core

Update SurrealKV to 0.16.0 (#6676)
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

WIP
  crates/sdk2/src/method/query.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/utils/bindable.rs
  crates/sdk2/src/utils/frame.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/tests/auth.rs
  crates/sdk2/tests/mod.rs
  crates/sdk2/tests/query_stream.rs
Due: none

Fix `cargo make ci-unused-deps`
  Cargo.lock
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
  crates/server/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Fix `cargo make ci-check-wasm`
  crates/sdk/src/engine/local/wasm.rs
Due: surrealdb-sdk

Run `cargo vet prune`
  supply-chain/imports.lock
Due: none

Run `cargo vet add-exemption`
  supply-chain/config.toml
Due: none

Prepare v3.0.0-alpha.18 release
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Prepare v3.0.0-alpha.18 release (#6678)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

WIP
  crates/sdk2/src/method/query.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/utils/frame.rs
  crates/sdk2/src/utils/mod.rs
  crates/sdk2/src/utils/result.rs
Due: none

update select
  crates/sdk2/src/method/condition.rs
  crates/sdk2/src/method/mod.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/tests/mod.rs
  crates/sdk2/tests/select.rs
Due: none

Fixins
  Cargo.lock
  Cargo.toml
  crates/core/src/doc/check.rs
  crates/core/src/doc/delete.rs
  crates/core/src/doc/select.rs
  crates/core/src/doc/update.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/val/table.rs
  crates/core/tests/alter.rs
  crates/core/tests/changefeeds.rs
  profiling/Cargo.toml
  profiling/src/main.rs
Due: surrealdb-core

Fix ci-feature-check: exclude --no-default-features for SDK and server
  Makefile.ci.toml
  crates/sdk/src/engine/mod.rs
  crates/sdk/src/lib.rs
Due: surrealdb-sdk

Fix trace filter warnings by using EnvFilter::default() instead of EnvFilter::new("none")
  crates/server/src/cli/validator/parser/tracing.rs
Due: none

Use unwrap_or_default() instead of unwrap_or(EnvFilter::default())
  crates/server/src/cli/validator/parser/tracing.rs
Due: none

wip
  Cargo.lock
  crates/core/tests/changefeeds.rs
  crates/core/tests/complex.rs
Due: surrealdb-core

Fix trace filter warnings (#6680)
  crates/server/src/cli/validator/parser/tracing.rs
Due: none

Fix ci-feature-check: exclude --no-default-features for SDK and server (#6679)
  Makefile.ci.toml
  crates/sdk/src/engine/mod.rs
  crates/sdk/src/lib.rs
Due: surrealdb-sdk

count optimizations
  crates/core/Cargo.toml
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/check.rs
  crates/core/src/doc/compute.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/select.rs
  crates/core/src/expr/expression.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Fix integration tests.
  Cargo.lock
  crates/sdk/tests/api_integration/live.rs
  crates/sdk/tests/api_integration/session_isolation.rs
  profiling/Cargo.toml
  revision.lock
Due: surrealdb-sdk

Fix complex test.
  crates/core/tests/complex.rs
Due: surrealdb-core

This is it
  Cargo.lock
  crates/core/tests/complex.rs
  crates/sdk/tests/api_integration/live.rs
  profiling/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
