Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

introduce SurrealRouter and RouterOptions for embedders
  surrealdb/server/src/ntw/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

re-exported RouterOptions and SurrealRouter
  surrealdb/server/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update surrealdb/types/src/sql.rs
  surrealdb/types/src/sql.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Use single function for special floats
  surrealdb/core/src/fmt/mod.rs
  surrealdb/core/src/val/number.rs
  surrealdb/types/src/kind/literal.rs
  surrealdb/types/src/lib.rs
  surrealdb/types/src/value/format.rs
  surrealdb/types/src/value/number.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

fmt
  surrealdb/types/src/sql.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Include permissions when exporting
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: none

Fix invalid permission export
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: none

increase upgrade check frequency, add flag to manually check for newest version
  surrealdb/server/src/cli/v2.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix clippy
  crates/sdk/src/lib.rs
Due: none

Fix clippy again
  src/main.rs
Due: workspace-tests, surrealdb-bin

Fixes
  language-tests/tests/reproductions/doc_scoped_param_plan_time_shadow.surql
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

FIX_ISSUES_7061: fix CASCADE DELETE on RELATION tables does not clean index entries
  language-tests/tests/language/graph/cascading_index_purge.surql
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add more COMPUTED dep validation.
  language-tests/tests/language/statements/define/field/computed/cycle_detection.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/bare_mutual_cycle.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/bare_non_cyclic_chain.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/bare_self_referential.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/bracket_mutual_cycle.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/bracket_self_referential.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/deeper_cycle_via_overwrite.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/mixed_access_styles.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/mixed_bare_and_this.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/nested_array_literal.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/nested_function_args.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/nested_if_else.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/nested_object_literal.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/nested_parens.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/non_cyclic_complex_chain.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/non_cyclic_this_stored.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/self_mutual_cycle.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/this_mutual_cycle.surql
  language-tests/tests/language/statements/define/field/computed/cycle_detection/this_self_referential.surql
  language-tests/tests/language/statements/define/field/computed/this_self_references.surql
  surrealdb/core/src/expr/computed_deps.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix clippy
  surrealdb/core/src/exec/operators/scan/dynamic.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Cleanup configs in the language tests
  language-tests/src/cmd/run/mod.rs
  language-tests/tests/language/parameterized/schema/config.surql
Due: none

Tidy up
  surrealdb/core/src/exec/CLAUDE.md
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Update `lz4_flex`
  Cargo.lock
Due: none

Exempt `lz4_flex`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

SDB-200: Add support for REMOVE CONFIG
  language-tests/tests/language/statements/remove/config/api.surql
  language-tests/tests/language/statements/remove/config/graphql.surql
  language-tests/tests/language/statements/remove/config/not_exists.surql
  surrealdb/core/src/expr/statements/mod.rs
  surrealdb/core/src/expr/statements/remove/config.rs
  surrealdb/core/src/expr/statements/remove/mod.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/statements/remove/config.rs
  surrealdb/core/src/sql/statements/remove/mod.rs
  surrealdb/core/src/syn/parser/stmt/remove.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

add(gql): KindLiteral support
  surrealdb/core/src/gql/schema.rs
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Update version pointer file on stable release
  .github/workflows/publish-version.yml
Due: none

Prepare v2.6.4 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: none

Update supply chain
  supply-chain/config.toml
Due: none

Add more Serde tests
  surrealdb/types/src/traits/de.rs
  surrealdb/types/src/traits/ser.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Improve readability and perfomance
  Cargo.lock
  surrealdb/types/Cargo.toml
  surrealdb/types/src/traits/de.rs
  surrealdb/types/src/traits/surreal_value.rs
  surrealdb/types/tests/serde_wrapper_roundtrip.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Rename to SerdeWrapper
  surrealdb/types/src/traits/surreal_value.rs
  surrealdb/types/tests/serde_wrapper_roundtrip.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Exempt castaway
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: none

Fix error types
  surrealdb/types/src/traits/ser.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Address Claude review comments
  surrealdb/types/src/traits/de.rs
  surrealdb/types/src/traits/surreal_value.rs
  surrealdb/types/tests/serde_wrapper_roundtrip.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix Docker volume permissions for nonroot container user
  .github/actions/docker-build/action.yml
  docker/DOCKER.md
  docker/Dockerfile
Due: none

FIX_ISSUES_7060: custom socket format is assignd to stdio format
  surrealdb/server/src/telemetry/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

FIX_ISSUES_7106: update doc
  surrealdb/server/src/telemetry/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add some set function paths
  fuzz/fuzz_targets/fuzz_executor.dict
  fuzz/fuzz_targets/fuzz_sql_parser.dict
  surrealdb/core/src/exec/function/builtin/set.rs
  surrealdb/core/src/exec/function/method.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add two language tests
  language-tests/tests/language/functions/set/all.surql
  language-tests/tests/language/functions/set/any.surql
Due: none

Fix test
  language-tests/tests/language/functions/set/all.surql
Due: none

Count the items in a set like in an array
  language-tests/tests/language/functions/count.surql
  surrealdb/core/src/fnc/count.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix publish type and remove unnecessary quotes
  .github/workflows/publish-version.yml
Due: none

Remove the latest input
  .github/workflows/release.yml
Due: none

Update Trivy to 0.34.2
  .github/workflows/docker.yml
Due: none

More fixes
  language-tests/tests/reproductions/6980_type_field_record_traversal.surql
  language-tests/tests/reproductions/schemaless_parameterized_scan_index_plan.surql
  language-tests/tests/reproductions/type_field_order_by_correctness.surql
  surrealdb/core/src/exec/function/builtin/type.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
