Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Ensure we run Clippy with the CI compiler
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
Due: none

Fix surrealism crates (#6563)
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-cli/src/main.rs
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-macros/src/lib.rs
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  crates/surrealism/surrealism/src/imports.rs
Due: none

Add exact hint when path is deprecated (#6488)
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/README.md
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/functions/path_hints/deprecated_path_hint.surql
  crates/language-tests/tests/language/functions/path_hints/typo_hint.surql
Due: surrealdb-core

[Backport] Fix SELECT with SPLIT so ORDER BY and START/LIMIT apply after splitting (#6564)
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

Bump surrealism version
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Add `audit-as-crates-io` entries for surrealism crates
  supply-chain/config.toml
Due: none

Run `cargo vet add-exemption` for surrealism crates
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Run `cargo vet prune`
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Apply suggestions from code review
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

Remove mtree test
  crates/language-tests/tests/parsing/errors/define_index_mtree_multiple_fields.surql
Due: none

Cleanup old group related code
  crates/core/src/catalog/aggregation.rs
  crates/core/src/doc/lives.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/table.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/field.rs
  crates/core/src/expr/function.rs
  crates/language-tests/tests/language/statements/select/group/parent.surql
  crates/language-tests/tests/language/statements/select/group/this.surql
Due: surrealdb-core

Cleanup
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/tests/parsing/errors/define_index_count_with_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_fulltext_multiple_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_hnsw_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_unique_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_without_fields.surql
Due: surrealdb-core

Fix tests
  crates/language-tests/tests/language/statements/define/table/view/delete_view.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
Due: none

Fixes clippy
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

Fix clippy
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

Improve `DEFINE INDEX` validation and diagnostics: enforce field count per index type with precise error spans (#6404)
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/parsing/errors/define_index_count_with_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_fulltext_multiple_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_hnsw_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_unique_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_without_fields.surql
Due: surrealdb-core

Fix a bunch of warnings
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: surrealdb-core

Add Out of Disk (OOD) Error Handling for RocksDB Backend (#6198)
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Fix table serialization bug. (#6526)
  crates/core/src/val/mod.rs
  crates/core/tests/function.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/functions/type/storage_types.surql
  crates/language-tests/tests/language/statements/set/typed_table.surql
  src/net/import.rs
  src/net/key.rs
  src/net/output.rs
  src/net/signin.rs
  src/net/signup.rs
  src/net/sql.rs
Due: surrealdb-core, surrealdb-bin

Ensure `required-checks` job always runs (#6524)
  .github/workflows/ci.yml
Due: none

Add to the js fnc module. (#6525)
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
Due: surrealdb-core

Fix cbor and add `type::of` function. (#6523)
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/type.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/language/functions/type/type_of.surql
Due: surrealdb-core

Fix misc issues to fix JS SDK errors. (#6520)
  crates/core/src/kvs/export.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/statements/option.rs
  crates/sdk/src/engine/local/mod.rs
  crates/types-derive/src/attr/mod.rs
  crates/types-derive/src/attr/named_fields.rs
  crates/types-derive/src/structs/fields/mod.rs
  crates/types-derive/src/structs/fields/named.rs
  crates/types/tests/surreal_value/derive/mod.rs
Due: surrealdb-core, surrealdb-types, surrealdb-sdk

Prepare SurrealDB for Java SDK v3.0 compatibility (#6519)
  crates/core/Cargo.toml
  crates/core/src/fnc/script/modules/surrealdb/functions/type.rs
  crates/sdk/src/method/mod.rs
Due: surrealdb-core, surrealdb-sdk

Add GraphQL back and upgrade to the latest `async-graphql` crates. (#6507)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/expr/idiom/mod.rs
  crates/core/src/expr/plan.rs
  crates/core/src/gql/cache.rs
  crates/core/src/gql/error.rs
  crates/core/src/gql/ext.rs
  crates/core/src/gql/functions.rs
  crates/core/src/gql/mod.rs
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/gql/utils.rs
  crates/core/src/lib.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/define/config/graphql.rs
  crates/language-tests/Cargo.lock
  src/gql/mod.rs
  src/lib.rs
  src/net/gql.rs
  src/net/mod.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  tests/graphql_integration.rs
Due: surrealdb-core, surrealdb-bin, integration-tests

Prepare v3.0.0-alpha.12 release (#6538)
  Cargo.lock
  Cargo.toml
Due: none

SDB-18: Fix LIVE DIFF response data structure. (#6551)
  Cargo.toml
  crates/core/src/catalog/subscription.rs
  crates/core/src/catalog/test.rs
  crates/core/src/doc/lives.rs
  crates/core/src/expr/statements/live.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/field.rs
  crates/core/src/sql/statements/live.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/parser/test/stmt.rs
  revision.lock
  tests/ws_integration.rs
Due: surrealdb-core, integration-tests

Add record reference and DEFINE API language tests (#6516)
  crates/language-tests/tests/language/closure/capture.surql
  crates/language-tests/tests/language/expression/operators/casting/datetime.surql
  crates/language-tests/tests/language/primitive/array/truthiness.surql
  crates/language-tests/tests/language/primitive/datetimes/truthiness.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max.surql
  crates/language-tests/tests/language/primitive/duration/beyond_max_parse.surql
  crates/language-tests/tests/language/primitive/duration/truthiness.surql
  crates/language-tests/tests/language/primitive/files/list.surql
  crates/language-tests/tests/language/primitive/numbers/truthiness.surql
  crates/language-tests/tests/language/primitive/object/truthiness.surql
  crates/language-tests/tests/language/primitive/regex/truthiness.surql
  crates/language-tests/tests/language/primitive/strings/truthiness.surql
  crates/language-tests/tests/language/primitive/uuid/truthiness.surql
  crates/language-tests/tests/language/reference/docs_1.surql
  crates/language-tests/tests/language/reference/docs_2.surql
  crates/language-tests/tests/language/reference/docs_3.surql
  crates/language-tests/tests/language/reference/docs_4.surql
  crates/language-tests/tests/language/reference/docs_5.surql
  crates/language-tests/tests/language/reference/docs_6.surql
  crates/language-tests/tests/language/reference/graph_clauses_comparison.surql
  crates/language-tests/tests/language/reference/graph_comparison_recursive.surql
  crates/language-tests/tests/language/reference/graph_comparison_simple.surql
  crates/language-tests/tests/language/statements/alter/alter_field.surql
  crates/language-tests/tests/language/statements/alter/alter_table.surql
  crates/language-tests/tests/language/statements/alter/alter_table_if_exists.surql
  crates/language-tests/tests/language/statements/define/api/failures.surql
  crates/language-tests/tests/language/statements/define/api/middleware.surql
Due: none

Improve casting error (#6527)
  crates/core/src/val/value/convert/cast.rs
  crates/core/tests/typing.rs
  crates/language-tests/tests/language/cast/regex.surql
  crates/language-tests/tests/language/expression/operators/casting/basic_literal_kind.surql
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record_table.surql
  crates/language-tests/tests/language/expression/operators/casting/decimal.surql
  crates/language-tests/tests/language/expression/operators/casting/table_cast.surql
  crates/language-tests/tests/language/expression/operators/casting/table_type.surql
  crates/language-tests/tests/language/expression/operators/casting/to_record_table.surql
  crates/language-tests/tests/language/reference/test.surql
Due: surrealdb-core

Add disk space limits and read-only/deletion-only modes for RocksDB (#6530)
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Simplfy RPC protocol implementation (#6529)
  crates/core/src/rpc/context.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/mod.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/rpc/protocol/mod.rs
  src/net/rpc.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-bin

Migrate RocksDB dependency to published crates.io package (#6545)
  Cargo.lock
  Cargo.toml
  cackle.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Change future to computed in output (#6536)
  crates/core/src/dbs/options.rs
  crates/core/src/err/mod.rs
  crates/core/tests/complex.rs
  crates/language-tests/tests/language/script/massive_parallel.surql
Due: surrealdb-core

Remove deprecated authentication statements (#6037)
  crates/core/src/iam/signin.rs
  crates/core/src/iam/verify.rs
  crates/core/src/sql/statements/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/parts.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/language/statements/define/field/permissions.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full.surql
  crates/language-tests/tests/language/statements/define/field/permissions_full_2.0.surql
  crates/language-tests/tests/language/statements/define/field/permissions_none.surql
  crates/language-tests/tests/language/statements/define/field/premission_delete.surql
  crates/language-tests/tests/parsing/basic/negative_number_method_call.surql
  tests/database_upgrade.rs
Due: surrealdb-core, integration-tests

Reverse 'got' part of TableCheck to fix output (#6532)
  crates/core/src/err/mod.rs
  crates/language-tests/tests/language/functions/string/matches.surql
  crates/language-tests/tests/language/statements/define/table/relation.surql
  crates/language-tests/tests/language/statements/define/table/relation_in_out.surql
  crates/language-tests/tests/language/statements/define/table/type_normal.surql
Due: surrealdb-core

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
