Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Implement unescaping of strings
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/common/Cargo.toml
  surrealdb/common/src/span.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/peekable.rs
  surrealdb/parser/src/test/files/comments.surql
  surrealdb/parser/src/test/files/empty.surql
  surrealdb/parser/src/test/files/empty_statements.surql
  surrealdb/parser/src/test/files/primitives/param_basic.surql
  surrealdb/parser/src/test/files/primitives/param_escape_backtick.surql
  surrealdb/parser/src/test/files/primitives/param_escape_bracket.surql
  surrealdb/parser/src/test/files/primitives/param_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_bracket.surql
  surrealdb/parser/src/test/files/primitives/path_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_unicode.surql
  surrealdb/parser/src/test/files/stmts/let.surql
  surrealdb/token/Cargo.toml
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/version.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix issue
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_skip_content.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

fix further
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_skip_content.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Implement object/block/set syntax
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/ast.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/test/files/primitives/object.surql
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Tidy up the planner and unify data access patterns.
  language-tests/Cargo.lock
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/count.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/operators/scan/record_id.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/parts/mod.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

tidy
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/operators/project.rs
  surrealdb/core/src/exec/parts/array_ops.rs
  surrealdb/core/src/exec/parts/destructure.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/mod.rs
  surrealdb/core/src/exec/physical_expr/ops.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Clippy tidying
  Cargo.toml
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/exec/field_path.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/parts/array_ops.rs
  surrealdb/core/src/exec/parts/destructure.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/index.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/parts/recurse.rs
  surrealdb/core/src/exec/physical_expr/ops.rs
  surrealdb/core/src/expr/statements/define/event.rs
  surrealdb/core/src/idx/trees/dynamicset.rs
  surrealdb/core/src/sql/statements/alter/system.rs
  surrealdb/core/src/val/mod.rs
  surrealdb/core/src/val/value/merge.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add computed verification test
  language-tests/tests/language/statements/define/field/computed/access_patterns.surql
  surrealdb/core/src/idx/trees/dynamicset.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add 3.0 test fixtures
  surrealdb/core/src/catalog/compat/fixtures.rs
  surrealdb/core/src/catalog/compat/generator.rs
  surrealdb/core/src/catalog/compat/mod.rs
  surrealdb/core/src/catalog/compat/tests.rs
  surrealdb/core/src/catalog/compat/v3_0_0.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix let statements
  language-tests/tests/reproductions/let_inside_for_loop.surql
  surrealdb/core/src/exec/plan_or_compute.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Field type validation
  language-tests/tests/reproductions/value_clause_type_validation.surql
  surrealdb/core/src/doc/field.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Permission checking and protected params validation.
  language-tests/tests/reproductions/for_let_fallback_validation.surql
  language-tests/tests/reproductions/reentrant_permission_check_cyclic_links.surql
  language-tests/tests/reproductions/reentrant_permission_check_cyclic_links_import.surql
  surrealdb/core/src/doc/field.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/parts/array_ops.rs
  surrealdb/core/src/exec/parts/destructure.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/parts/method.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/physical_expr/function/closure.rs
  surrealdb/core/src/exec/physical_expr/function/user_defined.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/plan_or_compute.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

A few more tidying tasks
  language-tests/tests/reproductions/reentrant_permission_check_cyclic_links.surql
  language-tests/tests/reproductions/reentrant_permission_check_cyclic_links_import.surql
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

more fixins
  language-tests/tests/reproductions/skip_fetch_perms_computed_field_cycle.surql
  language-tests/tests/reproductions/skip_fetch_perms_computed_field_cycle_import.surql
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: resolve bind parameters in MATCHES (@N@) operator and search::score()
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Implemented serialization for LinkedList
  surrealdb/src/opt/query.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Implemented serialization for HashSet
  surrealdb/src/opt/query.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add hash test
  language-tests/Cargo.lock
  surrealdb/core/src/catalog/compat/generator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

last bits of fixes
  language-tests/tests/reproductions/skip_fetch_perms_subquery_dereference.surql
  language-tests/tests/reproductions/skip_fetch_perms_subquery_dereference_import.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/parts/recurse.rs
  surrealdb/core/src/exec/permission.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/physical_expr/subquery.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

merge main and fmt
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix ends with checking
  surrealdb/core/src/gql/functions.rs
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Updated take() documentation to mention deserializing into LinkedList and HashSet
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add test reports for JS SDK
  .github/workflows/ci.yml
Due: none

Run formatter
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixed formatting
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add error chaining
  surrealdb/types/src/error.rs
  surrealdb/types/tests/error_types.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix clippy lints
  surrealdb/types/tests/error_types.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Make deriving `SurrealValue` more convenient when using the SDK
  Cargo.lock
  surrealdb/Cargo.toml
  surrealdb/core/src/api/middleware/common.rs
  surrealdb/core/src/api/request.rs
  surrealdb/core/src/api/response.rs
  surrealdb/core/src/catalog/schema/api.rs
  surrealdb/core/src/dbs/response.rs
  surrealdb/core/src/iam/token.rs
  surrealdb/core/src/kvs/export.rs
  surrealdb/src/engine/remote/http/mod.rs
  surrealdb/src/engine/remote/mod.rs
  surrealdb/src/engine/remote/ws/mod.rs
  surrealdb/src/method/query.rs
  surrealdb/src/method/tests/types.rs
  surrealdb/src/opt/auth.rs
  surrealdb/src/opt/mod.rs
  surrealdb/types/derive/Cargo.toml
  surrealdb/types/derive/src/crate_path.rs
  surrealdb/types/derive/src/lib.rs
  surrealdb/types/tests/serde_integration.rs
  surrealdb/types/tests/surreal_value/derive/enum_mixed_with_value.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_skip_content.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_tag.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_tag_content.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_variant.rs
  surrealdb/types/tests/surreal_value/derive/enum_unit_value.rs
  surrealdb/types/tests/surreal_value/derive/enum_untagged.rs
  surrealdb/types/tests/surreal_value/derive/mod.rs
  surrealdb/types/tests/surreal_value/derive/struct_flatten.rs
  surrealism/demo/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Silence the unused dependencies lint
  surrealdb/Cargo.toml
  surrealism/demo/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

Update revision lock
  revision.lock
Due: none

Update `wasmtime`
  Cargo.lock
  Cargo.toml
Due: none

Fix default
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/iam/jwks.rs
  surrealdb/src/engine/remote/http/native.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Ensure timeout is respected for queries.
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/exec/operators/ifelse.rs
  surrealdb/core/src/expr/statements/ifelse.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/tests/timeout.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add surrealdb-cfg
  Cargo.lock
  Cargo.toml
  language-tests/Cargo.lock
  surrealdb/cfg/Cargo.toml
  surrealdb/cfg/src/lib.rs
  surrealdb/core/Cargo.toml
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/iam/file.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/src/engine/remote/http/native.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix!
  crates/core/src/kvs/index.rs
  crates/sdk/tests/deferindex.rs
Due: none

Fix configuration
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/cfg/Cargo.toml
  surrealdb/cfg/README.md
Due: workspace-tests, language-tests, surrealdb-sdk

More tidying
  surrealdb/core/src/cnf/dynamic.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/function/builtin/array.rs
  surrealdb/core/src/exec/function/builtin/string.rs
  surrealdb/core/src/exec/function/macros.rs
  surrealdb/core/src/fnc/array.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/string.rs
  surrealdb/core/src/idx/trees/hnsw/cache.rs
  surrealdb/core/src/idx/trees/store/mod.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Improve agent tool JSON Schema generation and kind-aware argument parsing
  surrealdb/core/src/ai/agent/tools.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Update license text from MariaDB to SurrealDB
  LICENSE
Due: none

Fix deleting unexisting record
  surrealdb/core/src/expr/statements/delete.rs
  surrealdb/core/src/rpc/protocol.rs
  tests/http_integration.rs
  tests/ws_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
