Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

perf: reuse prepare_ctx in update_parent to avoid double parent clone
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix flexible not being set correctly
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: none

fix: bind $parent before iterator.prepare for DML statements
  surrealdb/core/src/expr/statements/create.rs
  surrealdb/core/src/expr/statements/delete.rs
  surrealdb/core/src/expr/statements/update.rs
  surrealdb/core/src/expr/statements/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test: add 7133 regressions for nested CREATE and DML $parent prepare
  language-tests/tests/reproductions/7133_parent_create_subquery.surql
  language-tests/tests/reproductions/7133_parent_dml_subquery_prepare.surql
Due: none

on_ns_no_ns clean
  language-tests/tests/language/statements/define/user/on_ns_no_ns.surql
Due: none

Address comments
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: none

fix: enforce schema validation when UPSERT acts as INSERT
  surrealdb/core/src/dbs/iterator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/.nvim.lua
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix after merge
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix formatting
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/core/src/buc/controller.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/processor.rs
  surrealdb/core/src/dbs/statement.rs
  surrealdb/core/src/doc/alter.rs
  surrealdb/core/src/doc/document.rs
  surrealdb/core/src/doc/event.rs
  surrealdb/core/src/doc/field.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/doc/purge.rs
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/expr/block.rs
  surrealdb/core/src/expr/module.rs
  surrealdb/core/src/expr/statements/foreach.rs
  surrealdb/core/src/expr/statements/insert.rs
  surrealdb/core/src/expr/statements/relate.rs
  surrealdb/core/src/fnc/script/fetch/func.rs
  surrealdb/core/src/fnc/script/modules/surrealdb/query/mod.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/http/resolve.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/kvs/index.rs
  surrealdb/core/src/surrealism/cache.rs
  surrealdb/core/src/surrealism/host.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wasm + clippy + format
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/fnc/script/fetch/func.rs
  surrealdb/core/src/http/mod.rs
  surrealdb/core/src/http/resolve.rs
  surrealdb/core/src/kvs/ds/builder.rs
  surrealdb/core/src/surrealism/cache.rs
  surrealdb/core/src/surrealism/host.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix compile
  surrealdb/core/src/ctx/context.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

core/api/err: fix 'occured' -> 'occurred' typo
  surrealdb/core/src/api/err.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

core/err: fix 'occured' -> 'occurred' in references update error
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

core: fix 'occured' -> 'occurred' in error derive strings
  surrealdb/core/src/api/err.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

core/err: fix same 'occured' typo in mod.rs
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

style: fix formatting in iterator.rs to pass cargo fmt check
  surrealdb/core/src/dbs/iterator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Batch FtIndex across records during deferred index building
  crates/core/src/idx/index.rs
  crates/core/src/kvs/index.rs
Due: none

Fix !ip key race and add retry for transient conflicts in deferred indexing
  crates/core/src/kvs/index.rs
Due: none

Clean up deferred daemon flag handling and abort error recovery
  crates/core/src/kvs/index.rs
Due: none

Propagate FtIndex finish errors on abort in index_appending_range
  crates/core/src/kvs/index.rs
Due: none

Reset updates_count on TxRetryable retry in index_appending_loop
  crates/core/src/kvs/index.rs
Due: none

fix(6819): narrow HNSW search_graph read lock around neighbor list
  language-tests/tests/reproductions/6819_hnsw_rwlock_starvation.surql
  surrealdb/core/src/idx/trees/hnsw/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(7131): refresh legacy FrozenContext after planned LET in sequence
  language-tests/tests/reproductions/7131_let_if_for_double_evaluate.surql
  surrealdb/core/src/exec/operators/sequence.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(7207): surface transaction COMMIT failure after statement error
  language-tests/tests/reproductions/7207_unique_index_transaction_commit.surql
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(7237): resolve row $id before session id in permission predicates
  language-tests/tests/reproductions/7237_reference_select_permission_let.surql
  language-tests/tests/reproductions/7237_reference_select_permission_let_import.surql
  surrealdb/core/src/exec/physical_expr/literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(7154): correlated $parent for nested SELECT and view projections
  language-tests/tests/reproductions/7154_parent_in_view_definition.surql
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/physical_expr/subquery.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

chore: align select/literal with main after merge — drop redundant 7237 Param path
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

chore: drop HNSW #6819 from PR; strengthen 7237 LET regression test
  language-tests/tests/reproductions/6819_hnsw_rwlock_starvation.surql
  language-tests/tests/reproductions/7237_reference_select_permission_let.surql
  surrealdb/core/src/idx/trees/hnsw/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(lang-tests): restore $parent Param order; align txn tests with COMMIT error (#7207)
  language-tests/tests/language/control_flow/transaction/duplicate_key_failure.surql
  language-tests/tests/language/control_flow/transaction/duplicate_key_with_return.surql
  language-tests/tests/language/control_flow/transaction/throw_without_return.surql
  language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  language-tests/tests/language/statements/transaction/throw_error_handling.surql
  surrealdb/core/src/exec/physical_expr/literal.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test: disable throw_error_handling until planner parity and COMMIT expectations align
  language-tests/tests/language/statements/transaction/throw_error_handling.surql
Due: none

fix(7207): unify COMMIT failure errors; re-enable throw_error_handling test
  language-tests/tests/language/statements/transaction/throw_error_handling.surql
  surrealdb/core/src/dbs/executor.rs
  tests/cli_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(7154,7207): PR review — Param correlation, COMMIT rows, drain consolidation
  language-tests/tests/reproductions/7154_parent_field_name_select.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Wire ws-only surrealdb build to surrealdb-client-core
  surrealdb/src/conn/cmd.rs
  surrealdb/src/engine/mod.rs
  surrealdb/src/engine/remote/mod.rs
  surrealdb/src/engine/remote/ws/mod.rs
  surrealdb/src/lib.rs
  surrealdb/src/method/export.rs
  surrealdb/src/method/query.rs
  surrealdb/src/opt/auth.rs
  surrealdb/src/opt/config.rs
  surrealdb/src/opt/mod.rs
  surrealdb/src/opt/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Began moving QueryType, QueryResult, QueryResultBuilder, Status
  Cargo.lock
  surrealdb/Cargo.toml
  surrealdb/client-core/Cargo.toml
  surrealdb/client-core/src/lib.rs
  surrealdb/client-core/src/response.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/response.rs
  surrealdb/src/conn/mod.rs
  surrealdb/src/engine/remote/ws/mod.rs
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Wire protocol-http surrealdb build to surrealdb-client-core
  surrealdb/client-core/src/rpc.rs
  surrealdb/core/src/rpc/mod.rs
  surrealdb/src/engine/remote/http/mod.rs
  surrealdb/src/engine/remote/http/native.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Move shared export and rpc types into surrealdb-client-core
  Cargo.lock
  surrealdb/client-core/Cargo.toml
  surrealdb/client-core/src/export.rs
  surrealdb/client-core/src/lib.rs
  surrealdb/client-core/src/rpc.rs
  surrealdb/core/src/kvs/export.rs
  surrealdb/core/src/rpc/response.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
