Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

proto tidy
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/ds.rs
  crates/server/src/ntw/mod.rs
  crates/server/src/rpc/mod.rs
  crates/types/src/lib.rs
  crates/types/src/proto.rs
  crates/types/src/value/mod.rs
Due: surrealdb-core, surrealdb-types

7.0
  Cargo.toml
Due: none

Bump toolchain to latest Rust version
  rust-toolchain.toml
Due: none

Restore toolchain for setup-environment action
  .github/actions/setup-environment/action.yml
Due: none

Update workflows
  .github/actions/setup-environment/action.yml
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/fuzzing.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
  docker/Dockerfile
Due: none

Regenerate revision lock
  revision.lock
Due: none

Bump MSRV to 1.89
  .github/workflows/ci.yml
Due: none

Update more workflows
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/crate.yml
  .github/workflows/fuzzing.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
Due: none

Fix ordering
  .github/workflows/fuzzing.yml
  .github/workflows/supply-chain.yml
Due: none

F32 default type for HNSW
  crates/core/src/catalog/schema/index.rs
  crates/core/src/sql/index.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/functions/search/search-linear.surql
  crates/language-tests/tests/language/functions/search/search-rrf.surql
Due: surrealdb-core

Fix revision
  revision.lock
Due: none

Use 32‑bit floats by default for HNSW vector indexes (#6590)
  crates/core/src/catalog/schema/index.rs
  crates/core/src/sql/index.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/functions/search/search-linear.surql
  crates/language-tests/tests/language/functions/search/search-rrf.surql
  revision.lock
Due: surrealdb-core

Update SurrealMX dependency
  Cargo.lock
  Cargo.toml
Due: none

Fix indxdb implementation
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/indxdb/mod.rs
Due: surrealdb-core

Enable threadpool for memory storage engine
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/threadpool.rs
  crates/server/src/cli/start.rs
Due: surrealdb-core

Fix reverse ordering test
  tests/ws_integration.rs
Due: integration-tests

Improve changefeed behaviour
  crates/core/src/catalog/test.rs
  crates/core/src/cf/gc.rs
  crates/core/src/cf/mutations.rs
  crates/core/src/cf/reader.rs
  crates/core/src/cf/writer.rs
  crates/core/src/err/mod.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/cf.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/node.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/timestamp.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/lib.rs
  crates/core/src/vs/mod.rs
  crates/core/tests/changefeeds.rs
  crates/sdk/src/engine/tasks.rs
  tests/cli_integration.rs
  tests/ws_integration.rs
Due: surrealdb-core, surrealdb-sdk, integration-tests

MORE WIP
  crates/core/src/dbs/node.rs
  crates/core/src/expr/cond.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/kind.rs
  crates/core/src/expr/operator.rs
  crates/core/src/expr/statements/ifelse.rs
  crates/core/src/sql/ast.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/statements/define/config/api.rs
  crates/core/src/sql/statements/ifelse.rs
  crates/core/src/val/geometry.rs
  crates/core/src/val/range.rs
  crates/types/src/sql.rs
Due: surrealdb-core, surrealdb-types

Fix rollback of empty transactions in TiKV
  crates/core/src/kvs/tikv/mod.rs
Due: surrealdb-core

Update revision lock file
  revision.lock
Due: none

Run `cargo fmt`
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/timestamp.rs
Due: surrealdb-core

Fix clippy warnings
  crates/core/src/kvs/into.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/kvs/tikv/mod.rs
Due: surrealdb-core

Prevent over allocation in range queries
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Improve TiKV errors
  crates/core/src/kvs/err.rs
Due: surrealdb-core

Fix clippy warnings
  crates/core/src/kvs/into.rs
  crates/core/src/kvs/tr.rs
Due: surrealdb-core

Change trace target
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Add version to getm function
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

WIP bridge interface
  crates/core/src/bridge/mod.rs
  crates/core/src/dbs/response.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/lib.rs
  crates/types/src/lib.rs
  crates/types/src/rpc.rs
Due: surrealdb-core, surrealdb-types

Manage changefeed internally within transaction
  crates/core/src/cf/writer.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Reduce `MATCH_BATCH_SIZE` until we use byte sizes
  crates/core/src/cnf/mod.rs
Due: surrealdb-core

Attach variables passed to InvocationContext::sql to the context before compute
  crates/core/src/surrealism/host.rs
Due: surrealdb-core

Bump version to 3.0.0-alpha.14
  Cargo.lock
  Cargo.toml
Due: none

Restore the `enterprise` feature in the binary
  Cargo.toml
Due: none

Bump `surrealism` version
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Prepare v3.0.0 alpha.14 release (#6594)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
