Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Fix type::field issues
  language-tests/tests/reproductions/type_field_complex_where_conditions.surql
  language-tests/tests/reproductions/type_record_upsert.surql
  surrealdb/core/src/exec/function/builtin/array.rs
  surrealdb/core/src/exec/function/builtin/record.rs
  surrealdb/core/src/exec/function/builtin/set.rs
  surrealdb/core/src/exec/function/builtin/value.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix document_root passing
  language-tests/tests/language/graph/recursion_deep_nesting.surql
  surrealdb/core/src/exec/function/builtin/record.rs
  surrealdb/core/src/exec/function/builtin/type.rs
  surrealdb/core/src/exec/function/builtin/value.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Generalise Cow implementation
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Generalise &str implementation
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add more `SurrealValue` implementations for standard library types
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Initial pass of all new alter statements.
  surrealdb/core/src/expr/statements/alter/access.rs
  surrealdb/core/src/expr/statements/alter/analyzer.rs
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/alter/bucket.rs
  surrealdb/core/src/expr/statements/alter/config.rs
  surrealdb/core/src/expr/statements/alter/event.rs
  surrealdb/core/src/expr/statements/alter/function.rs
  surrealdb/core/src/expr/statements/alter/mod.rs
  surrealdb/core/src/expr/statements/alter/param.rs
  surrealdb/core/src/expr/statements/alter/user.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/statements/alter/access.rs
  surrealdb/core/src/sql/statements/alter/analyzer.rs
  surrealdb/core/src/sql/statements/alter/api.rs
  surrealdb/core/src/sql/statements/alter/bucket.rs
  surrealdb/core/src/sql/statements/alter/config.rs
  surrealdb/core/src/sql/statements/alter/event.rs
  surrealdb/core/src/sql/statements/alter/function.rs
  surrealdb/core/src/sql/statements/alter/mod.rs
  surrealdb/core/src/sql/statements/alter/param.rs
  surrealdb/core/src/sql/statements/alter/user.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/token/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add more `From` implementations
  surrealdb/types/src/value/array.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add tests
  surrealdb/types/tests/surreal_value/collections.rs
  surrealdb/types/tests/surreal_value/mod.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Remove redundant clone
  surrealdb/types/tests/surreal_value/collections.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

FIX_ISSUES_7102: fix the record in transaction cache miss document id
  surrealdb/core/src/doc/store.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

FIX_ISSUES_7102: add language tests for transaction cache
  language-tests/tests/language/statements/transaction/document_in_transaction_cache.surql
Due: none

FIX_ISSUES_7102: format
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wrong index in prepare_array lookup check
  surrealdb/core/src/dbs/iterator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Tidy up
  language-tests/tests/language/statements/alter/alter_access.surql
  language-tests/tests/language/statements/alter/alter_analyzer.surql
  language-tests/tests/language/statements/alter/alter_api.surql
  language-tests/tests/language/statements/alter/alter_bucket.surql
  language-tests/tests/language/statements/alter/alter_config.surql
  language-tests/tests/language/statements/alter/alter_event.surql
  language-tests/tests/language/statements/alter/alter_function.surql
  language-tests/tests/language/statements/alter/alter_param.surql
  language-tests/tests/language/statements/alter/alter_user.surql
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/alter/param.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/statements/alter/param.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add config tests and fix error output.
  language-tests/tests/language/statements/alter/alter_api.surql
  language-tests/tests/language/statements/alter/alter_config.surql
  surrealdb/core/src/err/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

tidy
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/util.rs
  language-tests/src/tests/schema/mod.rs
Due: none

Address feedback
  language-tests/tests/language/statements/remove/config/api.surql
  language-tests/tests/language/statements/remove/config/default.surql
  surrealdb/core/src/expr/statements/remove/config.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Forgot to commit and push
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/define/api.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ALTER MODULE
  language-tests/tests/language/statements/alter/alter_api.surql
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/alter/mod.rs
  surrealdb/core/src/expr/statements/alter/module.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/statements/alter/mod.rs
  surrealdb/core/src/sql/statements/alter/module.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix ALTER API interface
  language-tests/tests/language/statements/alter/alter_api.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/statements/alter/api.rs
  surrealdb/core/src/expr/statements/alter/mod.rs
  surrealdb/core/src/expr/visit.rs
  surrealdb/core/src/sql/statements/alter/api.rs
  surrealdb/core/src/sql/statements/alter/mod.rs
  surrealdb/core/src/syn/parser/stmt/alter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix API consistency
  language-tests/tests/api/config/overwrite.surql
  language-tests/tests/language/statements/define/api/duplicates.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/statements/define/api.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(core): avoid eager computed field evaluation for unselected SELECT fields
  language-tests/tests/reproductions/7094_computed_fields_not_selected.surql
  surrealdb/core/src/doc/check.rs
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/lives.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Few cleanups
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/src/engine/local/native.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add explicit shutdown method
  surrealdb/server/src/lib.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/src/engine/local/native.rs
Due: workspace-tests, language-tests, surrealdb-sdk

WIP
  language-tests/tests/language/statements/alter/alter_nonexistent_catalog.surql
  language-tests/tests/language/statements/remove/field/indexed_path.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/mod.rs
  surrealdb/core/src/exec/operators/ddl/alter/database.rs
  surrealdb/core/src/exec/operators/ddl/alter/field.rs
  surrealdb/core/src/exec/operators/ddl/alter/index.rs
  surrealdb/core/src/exec/operators/ddl/alter/namespace.rs
  surrealdb/core/src/exec/operators/ddl/alter/sequence.rs
  surrealdb/core/src/exec/operators/ddl/alter/table.rs
  surrealdb/core/src/exec/operators/ddl/helpers.rs
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Allow embedders to use the official surrealdb axum router (#7097)
  surrealdb/server/src/lib.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/server/src/rpc/mod.rs
  surrealdb/src/engine/local/native.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Merge main and address TODO
  language-tests/src/cmd/run/mod.rs
Due: none

Address review comment
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix the build
  Cargo.lock
  surrealdb/types/Cargo.toml
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Revert `point` -> `geometry<point>` change
  crates/core/src/sql/kind.rs
Due: none

Pin actions
  .github/workflows/beta.yml
  .github/workflows/ci.yml
  .github/workflows/patch.yml
  .github/workflows/publish-version.yml
  .github/workflows/sql1.yml
Due: none

Add toolchain to rust-toolchain action
  .github/workflows/beta.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/sql1.yml
Due: none

Pin more actions
  .github/workflows/ci.yml
Due: none

Fix test
  crates/language-tests/tests/language/expression/operators/casting/decimal.surql
Due: none

Update compute.rs
  surrealdb/core/src/doc/compute.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix more tests
  crates/core/src/syn/parser/kind.rs
Due: none

Fix fmt issue
  surrealdb/core/src/doc/compute.rs
  surrealdb/core/src/doc/pluck.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix $parent issues and run more tests in both executors.
  language-tests/tests/language/graph/parent_in_where.surql
  language-tests/tests/language/indexes/full_text/analyzer_without_tokenizer.surql
  language-tests/tests/language/indexes/full_text/multi_index_offsets.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_edgengram.surql
  language-tests/tests/language/indexes/full_text/score_bm25.surql
  language-tests/tests/language/indexes/full_text/score_without_index.surql
  language-tests/tests/language/planner/boolean_behavior_index.surql
  language-tests/tests/language/statements/select/destructure.surql
  language-tests/tests/language/statements/select/dynamic_keys.surql
  language-tests/tests/language/statements/select/from_none.surql
  language-tests/tests/language/statements/select/graph_field_no_flatten.surql
  language-tests/tests/language/statements/select/where_bool.surql
  language-tests/tests/language/statements/select/writable_subqueries.surql
  language-tests/tests/reproductions/3510_link_wildcard_where.surql
  language-tests/tests/reproductions/7083_parent_in_graph_where.surql
  language-tests/tests/reproductions/doc_scoped_param_plan_time_shadow.surql
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/exec/physical_expr/literal.rs
  surrealdb/core/src/exec/planner/util.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address comments
  surrealdb/core/src/exec/parts/lookup.rs
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add deeply nested language test
  language-tests/tests/language/param/special/parent_nested_subqueries.surql
Due: none
