Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Fix query chaining join allocation and double semicolons
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add test for query chaining index correctness
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Bring back query chaining on the Query builder
  surrealdb/src/method/mod.rs
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix test
  surrealdb/token/src/js_function.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix
  language-tests/tests/access/database/es512_overwrite_rejected.surql
  language-tests/tests/access/namespace/es512_overwrite_rejected.surql
  language-tests/tests/access/root/es512_overwrite_rejected.surql
Due: none

Add MCP functionality
  Cargo.lock
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/mcp/Cargo.toml
  surrealdb/mcp/src/auth.rs
  surrealdb/mcp/src/completions.rs
  surrealdb/mcp/src/error.rs
  surrealdb/mcp/src/lib.rs
  surrealdb/mcp/src/logging.rs
  surrealdb/mcp/src/prompts/mod.rs
  surrealdb/mcp/src/prompts/query_builder.rs
  surrealdb/mcp/src/prompts/schema_explorer.rs
  surrealdb/mcp/src/resources/instructions.rs
  surrealdb/mcp/src/resources/mod.rs
  surrealdb/mcp/src/resources/schema.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/src/session.rs
  surrealdb/mcp/src/tools/connection.rs
  surrealdb/mcp/src/tools/crud.rs
  surrealdb/mcp/src/tools/mod.rs
  surrealdb/mcp/src/tools/query.rs
  surrealdb/mcp/src/tools/schema.rs
  surrealdb/mcp/tests/basic.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/cli/mcp.rs
  surrealdb/server/src/cli/mod.rs
  surrealdb/server/src/ntw/mcp.rs
  surrealdb/server/src/ntw/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix formatting
  surrealdb/src/method/query.rs
Due: workspace-tests, language-tests, surrealdb-sdk

allow reading validation input from stdin
  surrealdb/server/src/cli/validate.rs
  tests/cli_integration.rs
Due: workspace-tests, language-tests, surrealdb-sdk, integration-tests

Fix NONE handling
  language-tests/tests/language/planner/select_from_unique_index.surql
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/language/statements/select/select_value_omit_record_id.surql
  language-tests/tests/reproductions/7129_unique_index_none_range.surql
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/idx/planner/iterators.rs
  surrealdb/core/src/idx/planner/plan.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

remove duplicate validation printing
  surrealdb/server/src/cli/validate.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix none/null scan
  language-tests/tests/reproductions/7129_unique_index_none_large_batch.surql
  surrealdb/core/src/exec/operators/scan/index_count.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

improve output
  surrealdb/server/src/cli/validate.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Pin Docker images by hash
  docker/Dockerfile
  surrealml/Dockerfile
  surrealml/core/Dockerfile
  surrealml/core/builds/Dockerfile.linux
  surrealml/core/builds/Dockerfile.nix
  surrealml/core/builds/Dockerfile.windows
Due: workspace-tests, language-tests

Address more
  language-tests/tests/language/indexes/update_indexed_field_none_null_cycle.surql
  language-tests/tests/language/planner/unique_index_reverse_range_none_upper_bound.surql
  language-tests/tests/language/primitive/record_id/array_record_id_range_none_prefix_equivalence.surql
  language-tests/tests/language/statements/select/select_value_omit.surql
  language-tests/tests/language/statements/select/select_value_order_by_parse_permissive.surql
  language-tests/tests/reproductions/7129_unique_index_none_large_batch.surql
  language-tests/tests/reproductions/7146_select_value_at_order_by.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/index/iterator/btree.rs
  surrealdb/core/src/syn/parser/prime.rs
  surrealdb/core/src/syn/parser/stmt/parts.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Use UNSET
  language-tests/tests/language/indexes/update_indexed_field_none_null_cycle.surql
Due: none

Skip ALTER FUNCTION language test for new parser.
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Pin `rustup`
  docker/Dockerfile
  surrealml/core/builds/Dockerfile.linux
Due: workspace-tests, language-tests

tidy tidy
  language-tests/tests/language/indexes/update_indexed_field_none_null_cycle.surql
  language-tests/tests/reproductions/7129_unique_index_none_large_batch.surql
  language-tests/tests/reproductions/7146_select_value_at_order_by.surql
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/idx/planner/iterators.rs
  surrealdb/core/src/syn/parser/prime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

impl: `STORAGE()` aggregate
  language-tests/tests/reproductions/6018_storage_select.surql
  surrealdb/core/src/exec/function/builtin/aggregates.rs
  surrealdb/core/src/exec/function/builtin/aggregates/storage.rs
  surrealdb/core/src/exec/function/registry.rs
  surrealdb/core/src/exec/planner/aggregate.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/storage.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

chore: revert aggregate comments
  surrealdb/core/src/exec/function/builtin/aggregates.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fmt: select.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

refactor: storage value aggregate
  language-tests/tests/reproductions/6018_storage_select.surql
  surrealdb/core/src/catalog/aggregation.rs
  surrealdb/core/src/dbs/group.rs
  surrealdb/core/src/doc/table.rs
  surrealdb/core/src/expr/statements/define/table.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/storage.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

add: physical_expr for storage()
  language-tests/tests/reproductions/6018_storage_select.surql
  surrealdb/core/src/exec/function/builtin/mod.rs
  surrealdb/core/src/exec/function/builtin/storage.rs
  surrealdb/core/src/exec/physical_expr/function/builtin.rs
  surrealdb/core/src/fnc/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Auto-detect TTY for ANSI log output and respect NO_COLOR
  surrealdb/server/src/telemetry/logs/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Speed up dev builds on macOS by skipping dsymutil
  Cargo.toml
Due: none

Add cursor rule for pull request guidelines
  .cursor/rules/pull-requests.mdc
Due: none

Fix ANSI escape codes in JSON log output and per-stream TTY detection
  surrealdb/server/src/telemetry/logs/mod.rs
  surrealdb/server/src/telemetry/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add per-layer level filters to prevent double formatting
  surrealdb/server/src/telemetry/logs/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Prevent panic when system memory info is unavailable (#6153)
  surrealdb/core/src/kvs/rocksdb/cnf.rs
  surrealdb/core/src/kvs/surrealkv/cnf.rs
  surrealdb/core/src/kvs/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address review feedback on memory detection helper
  surrealdb/core/src/kvs/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix `??` and `?:` operator precedence binding tighter than arithmetic (#6382)
  language-tests/tests/language/expression/operators/precedence.surql
  language-tests/tests/reproductions/6382_nullish_coalescing_precedence.surql
  surrealdb/core/src/sql/operator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address review feedback: sync parallel parsers and fix test cases
  language-tests/tests/reproductions/6382_nullish_coalescing_precedence.surql
  surrealdb/core/src/expr/operator.rs
  surrealdb/core/src/sql/operator.rs
  surrealdb/parser/src/parse/expr.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Use serde_json for parsing external JSON in HTTP functions and encoding::json::decode (#7039)
  language-tests/tests/reproductions/7039_json_escaped_forward_slash.surql
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/fnc/encoding.rs
  surrealdb/core/src/fnc/util/http/mod.rs
  surrealdb/core/src/rpc/format/json.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix prepare_array lookup index bug and return-in-loop bug (#7124)
  language-tests/tests/reproductions/7124_prepare_array_lookup_index.surql
  surrealdb/core/src/dbs/iterator.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix SurrealValue derive macro emitting r#type instead of type for raw identifiers (#7164)
  surrealdb/types/derive/src/attr/enum.rs
  surrealdb/types/derive/src/lib.rs
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/tests/surreal_value/derive/mod.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add cursor rule for git safety guidelines
  .cursor/rules/git-safety.mdc
Due: none

Update surrealdb-rocksdb dependency to 0.24.0-surreal.3
  Cargo.lock
  Cargo.toml
Due: none

Propagate VERSION clause through graph edge traversals
  language-tests/tests/reproductions/7245_version_graph_edge_traversal.surql
  surrealdb/core/src/exec/operators/scan/graph.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/source.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Propagate VERSION clause to references, FETCH, and field dereferences
  language-tests/tests/reproductions/7245_version_fetch_and_dereference.surql
  language-tests/tests/reproductions/7245_version_graph_fetch_combined.surql
  language-tests/tests/reproductions/7245_version_recursive_graph.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/context.rs
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/reference.rs
  surrealdb/core/src/exec/operators/version_scope.rs
  surrealdb/core/src/exec/parts/field.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/source.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
