Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Tidy up
  crates/core/src/expr/optimise/mod.rs
  crates/core/src/expr/optimise/rules/constant_folding.rs
  crates/core/src/expr/optimise/rules/static_literal_folding.rs
Due: surrealdb-core

Add tests for cache eviction
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Refactor ElementsPerIndex to use synchronous RwLock instead of async RwLock
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Add too many tests.
  crates/core/src/expr/optimise/rules/constant_folding.rs
  crates/core/src/expr/optimise/rules/static_literal_folding.rs
Due: surrealdb-core

Fix gql parsing error: excluded parsed as included
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

more
  crates/core/src/expr/optimise/rules/static_literal_folding.rs
Due: surrealdb-core

no clones
  crates/core/src/expr/optimise/rules/static_literal_folding.rs
  crates/core/src/expr/optimise/utils.rs
Due: surrealdb-core

Refactor remove_index method for cleaner syntax and improved readability
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Fix race condition in Scanner causing duplicate range fetches (#6689)
  crates/core/src/kvs/scanner.rs
Due: surrealdb-core

Fix for LIVE SELECT returning UUID
  crates/sdk/src/method/query.rs
  crates/sdk/tests/api_integration/live.rs
Due: surrealdb-sdk

Handle empty buffer in reload method
  crates/core/src/idx/trees/graph.rs
Due: surrealdb-core

Fix panic in HNSW vector cache when eviction occurs in async context (#6690)
  crates/core/src/idx/trees/graph.rs
  crates/core/src/idx/trees/hnsw/cache.rs
Due: surrealdb-core

Use `cargo publish` for testing
  .github/actions/publish-crate/action.yml
Due: none

Make main version configurable
  .github/workflows/release.yml
Due: none

Try a different brancha name
  .github/workflows/release.yml
Due: none

Update nightly version
  .github/actions/prepare-release-vars/action.yml
Due: none

Make release versions configurable
  .github/workflows/release.yml
Due: none

Fix nightly jobs
  .github/workflows/release.yml
Due: none

Update version
  Cargo.lock
  Cargo.toml
  crates/fuzz/Cargo.lock
  crates/fuzz/Cargo.toml
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
Due: none

UI improvements
  .github/workflows/release.yml
Due: none

Use `SURREAL_BUILD_VERSION` for nightly builds
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/workflows/release.yml
Due: none

Extract scripts into a scripts folder
  .github/actions/prepare-release-vars/action.yml
  .github/scripts/bump-version.sh
  .github/scripts/compute-nightly-version.sh
  .github/scripts/create-patch-branch.sh
  .github/scripts/update-main-version.sh
  .github/workflows/release.yml
Due: none

Remove the docker-prepare action to simplify the workflows
  .github/actions/docker-prepare/action.yml
  .github/workflows/release.yml
Due: none

Fix bump version script
  .github/scripts/bump-version.sh
  .github/workflows/release.yml
Due: none

Make release workflow idempotent
  .github/actions/publish-crate/action.yml
  .github/scripts/bump-version.sh
  .github/scripts/create-patch-branch.sh
  .github/scripts/update-main-version.sh
  .github/workflows/release.yml
Due: none

Add release process documentation
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  doc/RELEASING.md
Due: none

Update cargo-deny
  .github/workflows/supply-chain.yml
Due: none

Fix the workflow link
  doc/RELEASING.md
Due: none

Add newline at end of file
  doc/RELEASING.md
Due: none

Ensure `cleanup-release-branch` runs even when `propagate` is skipped
  .github/workflows/release.yml
Due: none

Cleanup the UI
  .github/workflows/release.yml
  doc/RELEASING.md
Due: none

Clearer UD descriptions
  .github/workflows/release.yml
Due: none

Update the documentation
  .github/workflows/release.yml
  doc/RELEASING.md
Due: none

Checkout sources before trying to delete the branch
  .github/workflows/release.yml
Due: none

Fix review comments
  .github/actions/prepare-release-vars/action.yml
  .github/actions/publish-crate/action.yml
  .github/scripts/update-main-version.sh
  .github/workflows/release.yml
  crates/fuzz/Cargo.lock
  crates/language-tests/Cargo.lock
Due: none

Enhance release workflow with idempotency, smart versioning, and comprehensive documentation (#6698)
  .github/actions/build-linux/action.yml
  .github/actions/build-macos/action.yml
  .github/actions/build-windows/action.yml
  .github/actions/docker-prepare/action.yml
  .github/actions/prepare-release-vars/action.yml
  .github/actions/publish-crate/action.yml
  .github/scripts/bump-version.sh
  .github/scripts/compute-nightly-version.sh
  .github/scripts/create-patch-branch.sh
  .github/scripts/update-main-version.sh
  .github/workflows/release.yml
  .github/workflows/supply-chain.yml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  crates/fuzz/Cargo.lock
  crates/fuzz/Cargo.toml
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
  doc/RELEASING.md
Due: none

Skip memory sort when index provides ordered results
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/result.rs
  crates/core/src/kvs/tests/reverse_iterator.rs
Due: surrealdb-core

Prefer composite indexes that satisfy both WHERE and ORDER BY
  crates/core/src/idx/planner/mod.rs
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/planner/tree.rs
Due: surrealdb-core

update skv branch
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/cnf.rs
Due: surrealdb-core
