Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

logo.png validation
  surrealdb/server/src/cli/module/build.rs
  surrealism/runtime/src/package.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fmt
  surrealdb/server/src/cli/module/build.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix test
  language-tests/tests/self_tests/no_namespace.surql
Due: none

exclude demo & profiling
  Makefile.ci.toml
Due: none

TDD
  language-tests/tests/language/indexes/full_text/search_score_in_function.surql
Due: none

debug
  Makefile.ci.toml
Due: none

debug
  .github/workflows/ci.yml
Due: none

support wasip2
  .github/actions/test-workspace/action.yml
Due: none

Fix various ORDER BY bugs.
  language-tests/tests/language/planner/select_from_unique_index.surql
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/reproductions/7129_unique_index_none_order.surql
  language-tests/tests/reproductions/7130_order_desc_variable_limit_function.surql
  language-tests/tests/reproductions/7146_order_by_array_source.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
  surrealdb/core/src/doc/pluck.rs
  surrealdb/core/src/exec/expression_registry.rs
  surrealdb/core/src/idx/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Block new define access statements using ES512, add warning for existing ES512 access methods.
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/algorithm.rs
  surrealdb/core/src/expr/statements/define/access.rs
  surrealdb/core/src/iam/issue.rs
  surrealdb/core/src/iam/mod.rs
  surrealdb/core/src/iam/verify.rs
  surrealdb/core/src/sql/algorithm.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

explicit install
  .github/actions/test-workspace/action.yml
Due: none

Address feedback
  language-tests/tests/reproductions/7146_select_value_alias_order_by.surql
  language-tests/tests/reproductions/7146_select_value_at_order_by.surql
  language-tests/tests/reproductions/7146_select_value_order_explain.surql
  surrealdb/core/src/dbs/iterator.rs
  surrealdb/core/src/dbs/result.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix event firing logic.
  language-tests/tests/language/statements/define/event/with_relations.surql
  language-tests/tests/reproductions/event_fires_for_related_table.surql
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add back the actual fix - commented out for verification of language test results.
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fixes
  surrealdb/core/src/buc/store/file.rs
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

remove panic on existing ES512 access definitions
  surrealdb/core/src/expr/algorithm.rs
  surrealdb/core/src/sql/algorithm.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

adding tests
  language-tests/tests/access/database/es512_unsupported.surql
  language-tests/tests/access/root/es512_unsupported.surql
  language-tests/tests/access/root/es512_unsupported_issuer.surql
Due: none

Implement define api
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/ast.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/common/src/non_max.rs
  surrealdb/parser/src/parse/stmt/define.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement remove statements
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/stmt/remove.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Redesigned visualize code somewhat
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/mac.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/ast/src/vis/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement define access
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/misc.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/test/files/stmts/define/access.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement mock syntax
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/test/files/primitives/mock.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Don't forget comments in javascript
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/js/comments.surql
  surrealdb/parser/src/test/files/primitives/js/regex.surql
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/js_function.rs
  surrealdb/token/src/regex.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement object/block/set syntax
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/ast.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/test/files/primitives/object.surql
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Initial setup for the new parser/ast
  Cargo.lock
  crates/ast/Cargo.toml
  crates/ast/src/lib.rs
  crates/ast/src/span.rs
  crates/ast/src/types/collections.rs
  crates/ast/src/types/mod.rs
  crates/common/Cargo.toml
  crates/common/src/error/code.rs
  crates/common/src/error/mod.rs
  crates/common/src/ids/id_set.rs
  crates/common/src/ids/mod.rs
  crates/common/src/lib.rs
  crates/common/src/non_max.rs
  crates/common/src/span.rs
  crates/parser/Cargo.toml
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/lex/test.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
Due: none

Implement unescaping of strings
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/common/Cargo.toml
  surrealdb/common/src/span.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/peekable.rs
  surrealdb/parser/src/test/files/comments.surql
  surrealdb/parser/src/test/files/empty.surql
  surrealdb/parser/src/test/files/empty_statements.surql
  surrealdb/parser/src/test/files/primitives/param_basic.surql
  surrealdb/parser/src/test/files/primitives/param_escape_backtick.surql
  surrealdb/parser/src/test/files/primitives/param_escape_bracket.surql
  surrealdb/parser/src/test/files/primitives/param_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_bracket.surql
  surrealdb/parser/src/test/files/primitives/path_invalid_escape.surql
  surrealdb/parser/src/test/files/primitives/path_unicode.surql
  surrealdb/parser/src/test/files/stmts/let.surql
  surrealdb/token/Cargo.toml
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/version.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement datetime token
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/uuid_escape_error.surql
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Basics of parser working
  crates/parser/Cargo.toml
  crates/parser/examples/parse.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/test.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/basic.rs
  crates/parser/src/parse/error.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/prime.rs
  crates/parser/src/parse/top_level_expr.rs
  crates/parser/src/parse/unescape.rs
  crates/parser/src/parse/utils.rs
  crates/parser/src/peekable.rs
Due: none

Fix issue in cargo.toml
  Cargo.toml
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/common/src/error/source/render/format.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement js function syntax
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/ast/src/vis/mod.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/js/basic.surql
  surrealdb/parser/src/test/files/primitives/js/format_string.surql
  surrealdb/parser/src/test/files/primitives/js/regex.surql
  surrealdb/parser/src/test/files/primitives/js/with_delimiters.surql
  surrealdb/parser/src/test/files/primitives/regex.surql
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/js_function.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/regex.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Some more work on the parser
  Cargo.lock
  crates/ast/.nvim.lua
  crates/ast/src/lib.rs
  crates/ast/src/mac.rs
  crates/ast/src/types/ast.rs
  crates/ast/src/types/mod.rs
  crates/ast/src/vis/implement.rs
  crates/ast/src/vis/mod.rs
  crates/ast/src/visit/mod.rs
  crates/common/src/error/mod.rs
  crates/common/src/error/raw.rs
  crates/common/src/error/source/mod.rs
  crates/common/src/error/source/render/char_buffer.rs
  crates/common/src/error/source/render/format.rs
  crates/common/src/error/source/render/mod.rs
  crates/common/src/ids/id_set.rs
  crates/common/src/non_max.rs
  crates/common/src/source.rs
  crates/common/src/span.rs
  crates/parser/examples/parse.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/basic.rs
  crates/parser/src/parse/error.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/peek.rs
  crates/parser/src/parse/prime.rs
  crates/parser/src/peekable.rs
  crates/token/Cargo.toml
  crates/token/src/base.rs
  crates/token/src/lib.rs
  crates/token/src/mac.rs
  crates/token/src/test.rs
  rust-toolchain.toml.old
Due: none

More work on the parser
  crates/ast/src/lib.rs
  crates/ast/src/span.rs
  crates/ast/src/types/mod.rs
  crates/common/src/error/mod.rs
  crates/common/src/error/source/mod.rs
  crates/common/src/error/source/render/mod.rs
  crates/common/src/lib.rs
  crates/common/src/span.rs
  crates/parser/examples/parse.rs
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/common.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/top_level_expr.rs
Due: none

Implement record-id-string, uuid-strings
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/common/src/error/mod.rs
  surrealdb/common/src/error/raw.rs
  surrealdb/common/src/error/source/mod.rs
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/error.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/primitives/block.surql
  surrealdb/parser/src/test/files/primitives/path_missing_version_number.surql
  surrealdb/parser/src/test/files/primitives/record_id/basic.surql
  surrealdb/parser/src/test/files/primitives/record_id/extra_space_range.surql
  surrealdb/parser/src/test/files/primitives/record_id/gen.surql
  surrealdb/parser/src/test/files/primitives/record_id/range.surql
  surrealdb/parser/src/test/files/primitives/record_id/range_keys.surql
  surrealdb/parser/src/test/files/primitives/record_id/record_id_string.surql
  surrealdb/parser/src/test/files/primitives/record_id/record_id_string_error.surql
  surrealdb/parser/src/test/files/primitives/set.surql
  surrealdb/parser/src/test/files/primitives/uuid.surql
  surrealdb/parser/src/test/files/primitives/uuid_escape.surql
  surrealdb/parser/src/test/files/primitives/uuid_escape_error.surql
  surrealdb/token/src/base.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/uuid.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement update, upsert, select and relate statements
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/relate.surql
  surrealdb/parser/src/test/files/stmts/select.surql
  surrealdb/parser/src/test/files/stmts/select/no_split_and_group.surql
  surrealdb/parser/src/test/files/stmts/update.surql
  surrealdb/parser/src/test/files/stmts/upsert.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement error type
  crates/common/src/error/mod.rs
  crates/common/src/error/raw.rs
  crates/common/src/lib.rs
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/parse/mod.rs
Due: none

Implement delete and create statement
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/place.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/stmts/create.surql
  surrealdb/parser/src/test/files/stmts/delete.surql
Due: workspace-tests, language-tests, surrealdb-sdk
