Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Implement show statement
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/visit/mod.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/let.surql
  surrealdb/parser/src/test/files/stmts/show.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Avoid allocating for reused strings
  surrealdb/ast/src/types/ast.rs
  surrealdb/ast/src/types/collections.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/common/src/ids/id_set.rs
  surrealdb/common/src/ids/mod.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement define event + define field
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/utils.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement more of the language
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/test/files/primitives/array.surql
  surrealdb/parser/src/test/files/primitives/array_empty.surql
  surrealdb/parser/src/test/files/primitives/array_trailing_comma.surql
  surrealdb/parser/src/test/files/primitives/none.surql
  surrealdb/parser/src/test/files/primitives/null.surql
  surrealdb/parser/src/test/files/primitives/path.surql
  surrealdb/parser/src/test/files/primitives/path_missing_version_number.surql
  surrealdb/parser/src/test/files/primitives/path_number_overflow.surql
  surrealdb/parser/src/test/files/stmts/if.surql
  surrealdb/parser/src/test/files/stmts/if_nested.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement ALTER SYSTEM,NS,DB,TABLE,INDEX
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/alter.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/parse/utils.rs
  surrealdb/parser/src/test/files/errors/invalid_clause.surql
  surrealdb/parser/src/test/files/errors/missing_semi_obj.surql
  surrealdb/parser/src/test/files/errors/missing_semicolon.surql
  surrealdb/parser/src/test/files/stmts/alter/db.surql
  surrealdb/parser/src/test/files/stmts/alter/index.surql
  surrealdb/parser/src/test/files/stmts/alter/ns.surql
  surrealdb/parser/src/test/files/stmts/alter/system.surql
  surrealdb/parser/src/test/files/stmts/define/access.surql
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement a bunch of define statements
  Cargo.lock
  Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/mac.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/misc.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

More cleanup
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/common/src/error/source/render/char_buffer.rs
  surrealdb/parser/examples/vis_ast.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement test to parse language tests, fix some bugs
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/define/access/basic.surql
  surrealdb/parser/src/test/files/stmts/define/access/comma_in_duration.surql
  surrealdb/parser/src/test/mod.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Remove unicode characters to shrink compile time
  surrealdb/parser/src/test/files/primitives/path_unicode.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Fix formatting
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Some minor cleanup
  language-tests/tests/parsing/block/require_semicolon.surql
  rust-toolchain.toml
  surrealdb/ast/.nvim.lua
  surrealdb/ast/Cargo.toml
  surrealdb/ast/src/mac.rs
  surrealdb/common/Cargo.toml
  surrealdb/common/src/error/raw.rs
  surrealdb/parser/src/parse/error.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Format + fix clippy
  language-tests/tests/parsing/block/require_semicolon.surql
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/common/src/error/mod.rs
  surrealdb/common/src/error/source/mod.rs
  surrealdb/common/src/error/source/render/char_buffer.rs
  surrealdb/common/src/error/source/render/format.rs
  surrealdb/common/src/ids/id_set.rs
  surrealdb/common/src/ids/mod.rs
  surrealdb/common/src/lib.rs
  surrealdb/common/src/non_max.rs
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Address comments
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/record_id.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Ignore new tests
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Change jsfunctiontoken to improve compile times
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/path_unicode.surql
  surrealdb/token/src/base.rs
  surrealdb/token/src/js_function.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add some more docs
  surrealdb/parser/src/parse/error.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/operators/idiom/call_expr.surql
  surrealdb/parser/src/test/files/operators/idiom/field.surql
  surrealdb/parser/src/test/files/stmts/select.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Fix a lot more issues
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/ast/src/vis/implement.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/kind.rs
  surrealdb/parser/src/parse/misc.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt/alter.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/operators/idiom/graph.surql
  surrealdb/parser/src/test/files/operators/in_object.surql
  surrealdb/parser/src/test/files/operators/range.surql
  surrealdb/parser/src/test/files/stmts/alter/db.surql
  surrealdb/parser/src/test/files/stmts/alter/index.surql
  surrealdb/parser/src/test/files/stmts/alter/ns.surql
  surrealdb/parser/src/test/files/stmts/create.surql
  surrealdb/parser/src/test/files/stmts/define/access/comma_in_duration.surql
  surrealdb/parser/src/test/files/stmts/define/analyzer.surql
  surrealdb/parser/src/test/files/stmts/define/event.surql
  surrealdb/parser/src/test/files/stmts/define/function.surql
  surrealdb/parser/src/test/files/stmts/define/index.surql
  surrealdb/parser/src/test/files/stmts/delete.surql
  surrealdb/parser/src/test/files/stmts/relate.surql
  surrealdb/parser/src/test/files/stmts/select.surql
  surrealdb/parser/src/test/files/stmts/update.surql
  surrealdb/parser/src/test/files/stmts/upsert.surql
  surrealdb/parser/src/test/mod.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/mac.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Spell out all whitespace characters
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

More clippy fixes
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/stmt/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

More cleanup
  surrealdb/ast/examples/working_with_ast.rs
  surrealdb/ast/src/lib.rs
  surrealdb/ast/src/types/mod.rs
  surrealdb/ast/src/vis/mod.rs
  surrealdb/common/src/lib.rs
  surrealdb/parser/examples/vis_ast.rs
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/range.rs
  surrealdb/parser/src/test/files/primitives/byte_string_escape.surql
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

format code
  surrealdb/common/src/error/code.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add a benchmark
  surrealdb/parser/Cargo.toml
  surrealdb/parser/benches/bench.rs
Due: workspace-tests, language-tests, surrealdb-sdk

More fixes
  surrealdb/ast/src/types/mod.rs
  surrealdb/common/src/error/source/render/char_buffer.rs
  surrealdb/common/src/error/source/render/format.rs
  surrealdb/common/src/lib.rs
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Supply chain fix
  supply-chain/audits.toml
Due: none

Parser probably ready for review/discussion
  surrealdb/ast/src/lib.rs
  surrealdb/common/src/error/source/render/char_buffer.rs
  surrealdb/common/src/error/source/render/format.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/kind.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/peek.rs
  surrealdb/parser/src/parse/place.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/range.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt/alter.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/stmt/mod.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/peekable.rs
  surrealdb/parser/src/test/files/bugs/integer_token_not_properly_eaten.surql
  surrealdb/parser/src/test/files/comments_start.surql
  surrealdb/parser/src/test/files/operators/idiom/graph.surql
  surrealdb/parser/src/test/files/primitives/record_id/basic.surql
  surrealdb/parser/src/test/files/primitives/record_id/flexible_ids.surql
  surrealdb/parser/src/test/files/primitives/record_id/invalid_number_like_record_id.surql
  surrealdb/parser/src/test/files/primitives/record_id/range.surql
  surrealdb/parser/src/test/files/primitives/record_id/record_id_string.surql
  surrealdb/parser/src/test/files/stmts/define/analyzer.surql
  surrealdb/parser/src/test/files/stmts/define/event.surql
  surrealdb/parser/src/test/files/stmts/define/field.surql
  surrealdb/parser/src/test/files/stmts/define/table.surql
  surrealdb/parser/src/test/files/stmts/delete.surql
  surrealdb/parser/src/test/files/stmts/select.surql
  surrealdb/parser/src/test/mod.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/lib.rs
  surrealdb/token/src/mac.rs
  surrealdb/token/src/record_id_key.rs
Due: workspace-tests, language-tests, surrealdb-sdk

More clippy fixes
  surrealdb/parser/src/parse/error.rs
  surrealdb/parser/src/parse/expr.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/record_id.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/peekable.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Pin more dependencies
  Cargo.toml
  surrealdb/ast/src/lib.rs
  surrealdb/parser/Cargo.toml
  surrealdb/token/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

Update hashbrown
  surrealdb/common/Cargo.toml
  surrealdb/common/src/ids/id_set.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Remove unicode characters to shrink compile time
  surrealdb/token/src/base.rs
  surrealdb/token/src/record_id_key.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Ignore some language tests
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix test after rebase
  surrealdb/parser/benches/bench.rs
  surrealdb/parser/src/test/mod.rs
  surrealdb/token/src/base.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix test after rebase
  Cargo.lock
  surrealdb/core/src/syn/error/mac.rs
  surrealdb/core/src/syn/parser/mac.rs
  surrealdb/parser/benches/bench.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Extend timeout for flaky test
  language-tests/tests/language/statements/alter/alter_user.surql
Due: none

Pro-active timeout
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/src/cli/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Post comments
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add doc
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Ensure global_timeout is honored
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix where IN optimization
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/reproductions/computed_field_foreign_select_performance.surql
  language-tests/tests/reproductions/id_in_point_lookup.surql
  language-tests/tests/reproductions/schemaless_parameterized_scan_index_plan.surql
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/empty_result.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
