Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add ability to customise schema introspection access control
  language-tests/tests/language/statements/define/config/graphql/introspection.surql
  surrealdb/core/src/catalog/schema/config.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/sql/statements/define/config/graphql.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  tests/graphql_integration.rs
Due: integration-tests

Remove experimental gate for GraphQL
  Makefile.ci.toml
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/src/opt/capabilities.rs
  tests/common/server.rs
  tests/graphql_integration.rs
Due: integration-tests

Fix clippy warnings
  surrealdb/core/src/gql/auth.rs
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/tables.rs
Due: none

Fix
  crates/core/src/ctx/context.rs
  crates/core/src/idx/trees/hnsw/layer.rs
  crates/core/src/key/index/hn.rs
  crates/sdk/benches/index_hnsw.rs
Due: surrealdb-core, surrealdb-sdk

Fix
  crates/core/src/idx/trees/hnsw/layer.rs
Due: surrealdb-core

Improve function arguments and error string patterns
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  surrealdb/core/src/gql/utils.rs
Due: none

Fix a bug with optional record conversion
  surrealdb/core/src/gql/schema.rs
  tests/graphql_integration.rs
Due: integration-tests

Remove and simplify duplicate code branches
  surrealdb/core/src/gql/tables.rs
Due: none

Remove ghost code
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

[Backport] Fix HNSW index memory explosion #6871 (#6874)
  crates/core/src/ctx/context.rs
  crates/core/src/idx/index.rs
  crates/core/src/idx/mod.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/trees/graph.rs
  crates/core/src/idx/trees/hnsw/flavor.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/layer.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/key/index/hl.rs
  crates/core/src/key/index/hn.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
  crates/sdk/benches/index_hnsw.rs
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/mod.rs
Due: surrealdb-core, surrealdb-sdk

Remove ghost source code
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

tidying up more
  surrealdb/core/src/exec/metrics.rs
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/operators/explain.rs
  surrealdb/core/src/exec/operators/expr.rs
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/filter.rs
  surrealdb/core/src/exec/operators/foreach.rs
  surrealdb/core/src/exec/operators/fulltext_scan.rs
  surrealdb/core/src/exec/operators/graph_edge_scan.rs
  surrealdb/core/src/exec/operators/ifelse.rs
  surrealdb/core/src/exec/operators/index_scan.rs
  surrealdb/core/src/exec/operators/info/database.rs
  surrealdb/core/src/exec/operators/info/index.rs
  surrealdb/core/src/exec/operators/info/namespace.rs
  surrealdb/core/src/exec/operators/info/root.rs
  surrealdb/core/src/exec/operators/info/table.rs
  surrealdb/core/src/exec/operators/info/user.rs
  surrealdb/core/src/exec/operators/let_plan.rs
  surrealdb/core/src/exec/operators/limit.rs
  surrealdb/core/src/exec/operators/project.rs
  surrealdb/core/src/exec/operators/project_value.rs
  surrealdb/core/src/exec/operators/reference_scan.rs
  surrealdb/core/src/exec/operators/return.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/sleep.rs
  surrealdb/core/src/exec/operators/sort/external.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/operators/sort/shuffle.rs
  surrealdb/core/src/exec/operators/sort/topk.rs
  surrealdb/core/src/exec/operators/source_expr.rs
  surrealdb/core/src/exec/operators/split.rs
  surrealdb/core/src/exec/operators/timeout.rs
  surrealdb/core/src/exec/operators/union.rs
  surrealdb/core/src/exec/operators/unwrap_exactly_one.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/source.rs
Due: none

Simplify long function implementations
  surrealdb/core/src/gql/tables.rs
Due: none

Improve GraphQL code documentation
  surrealdb/core/src/gql/cache.rs
  surrealdb/core/src/gql/error.rs
  surrealdb/core/src/gql/ext.rs
  surrealdb/core/src/gql/functions.rs
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  surrealdb/core/src/gql/utils.rs
  surrealdb/server/src/gql/mod.rs
Due: none

2.x - Remove ghost source code introduced by #6874 (#6875)
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

Prepare v2.6.1 release (#6868)
  .github/workflows/release.yml
  .github/workflows/supply-chain.yml
  Cargo.lock
  Cargo.toml
  cackle.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
  deny.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core, surrealdb-sdk

Ensure revision lock file is up-to-date
  revision.lock
Due: none

more tidying
  language-tests/tests/language/indexes/search/select_where_matches_mixing_indexes_new_executor.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/exec/planner.rs
Due: none

Cleanup lang tests
  language-tests/tests/language/indexes/search/select_where_matches_without_using_index_iterator_new_executor.surql
  language-tests/tests/language/statements/explain/complex.surql
  language-tests/tests/language/statements/explain/select_basic.surql
  language-tests/tests/language/statements/explain/select_index.surql
  language-tests/tests/language/statements/explain/select_order_limit.surql
  language-tests/tests/language/statements/explain/select_split.surql
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/language/statements/select/explain_in_expression.surql
Due: none

Tidying up more
  Cargo.lock
  language-tests/Cargo.lock
  surrealdb/core/Cargo.toml
  surrealdb/core/src/catalog/aggregation.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/group.rs
  surrealdb/core/src/doc/table.rs
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/foreach.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/sleep.rs
  surrealdb/core/src/exec/operators/sort/external.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/operators/sort/shuffle.rs
  surrealdb/core/src/exec/operators/sort/topk.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/expr/statements/define/table.rs
Due: none

Fix failing test
  surrealdb/core/src/catalog/test.rs
Due: none

TDD
  surrealdb/core/tests/index.rs
Due: none

ci: fix dotnet test runs
  .github/workflows/ci.yml
Due: none

More cleanup
  language-tests/tests/language/reference/invalid-range-lookup.surql
  surrealdb/core/src/catalog/aggregation.rs
  surrealdb/core/src/exec/mod.rs
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/common.rs
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/operators/filter.rs
  surrealdb/core/src/exec/operators/foreach.rs
  surrealdb/core/src/exec/operators/fulltext_scan.rs
  surrealdb/core/src/exec/operators/graph_edge_scan.rs
  surrealdb/core/src/exec/operators/index_scan.rs
  surrealdb/core/src/exec/operators/limit.rs
  surrealdb/core/src/exec/operators/project.rs
  surrealdb/core/src/exec/operators/project_value.rs
  surrealdb/core/src/exec/operators/reference_scan.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/exec/operators/sequence.rs
  surrealdb/core/src/exec/operators/sort/external.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/operators/split.rs
  surrealdb/core/src/exec/operators/timeout.rs
  surrealdb/core/src/exec/operators/union.rs
  surrealdb/core/src/exec/parts/destructure.rs
  surrealdb/core/src/exec/physical_expr/block.rs
  surrealdb/core/src/exec/plan_or_compute.rs
  surrealdb/core/src/expr/mod.rs
Due: none

Count optimization
  language-tests/tests/language/indexes/count_index_new_executor.surql
  language-tests/tests/language/statements/alter/alter_index_prepare_remove_new_executor.surql
  language-tests/tests/language/statements/explain/select_group_aggregate.surql
  language-tests/tests/language/statements/select/explain_in_expression.surql
  language-tests/tests/language/statements/select/group/count_group_all_new_executor.surql
  language-tests/tests/language/statements/select/group/count_range_keys_only_new_executor.surql
  language-tests/tests/language/statements/select/group/count_scan_optimization.surql
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/count_scan.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: none

skv debug build
  Cargo.lock
  Cargo.toml
Due: none

Perf benchmark work
  surrealdb/core/src/exec/function/aggregate.rs
  surrealdb/core/src/exec/function/builtin/aggregates/count.rs
  surrealdb/core/src/exec/function/builtin/aggregates/math.rs
  surrealdb/core/src/exec/operators.rs
  surrealdb/core/src/exec/operators/aggregate.rs
  surrealdb/core/src/exec/operators/index_count_scan.rs
  surrealdb/core/src/exec/operators/sort.rs
  surrealdb/core/src/exec/operators/sort/external.rs
  surrealdb/core/src/exec/operators/sort/topk.rs
  surrealdb/core/src/exec/physical_expr/function.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: none

rev lock
  Cargo.lock
  language-tests/Cargo.lock
  revision.lock
  surrealdb/core/Cargo.toml
  surrealdb/core/src/exec/function/builtin/http.rs
Due: none

Fix loose ends
  language-tests/tests/language/planner/select_compound_order_limit_new_executor.surql
  language-tests/tests/language/planner/select_from_standard_index_new_executor.surql
  language-tests/tests/language/planner/select_from_unique_index_new_executor.surql
  language-tests/tests/language/statements/explain/complex.surql
  language-tests/tests/language/statements/explain/select_order_limit.surql
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/operators/sort/topk.rs
Due: none

clippy
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/exec/operators/sort/full_sort.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
Due: none

test new build
  Cargo.lock
  Cargo.toml
  surrealdb/core/src/kvs/surrealkv/mod.rs
Due: none

More fixes
  language-tests/tests/language/statements/select/group/array_group_group_by.surql
  language-tests/tests/language/statements/select/group/count_group_all_permissions.surql
  language-tests/tests/language/statements/select/group/count_group_all_permissions_import.surql
  language-tests/tests/language/statements/select/group/count_range_permissions.surql
  language-tests/tests/language/statements/select/group/count_range_permissions_import.surql
  surrealdb/core/tests/group.rs
Due: none

increase js test timeout
  .github/workflows/ci.yml
Due: none

increase js test timeout (#6880)
  .github/workflows/ci.yml
Due: none

ci: fix dotnet test runs (#6879)
  .github/workflows/ci.yml
Due: none

Wip
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/trees/hnsw/docs.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/hnsw/layer.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/idx/trees/vector.rs
  surrealdb/core/src/key/index/hp.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

Improve GraphQL integration and implementation (#6876)
  Makefile.ci.toml
  language-tests/tests/language/statements/define/config/graphql/auto.surql
  language-tests/tests/language/statements/define/config/graphql/combined.surql
  language-tests/tests/language/statements/define/config/graphql/depth_complexity.surql
  language-tests/tests/language/statements/define/config/graphql/functions.surql
  language-tests/tests/language/statements/define/config/graphql/introspection.surql
  language-tests/tests/language/statements/define/config/graphql/none.surql
  language-tests/tests/language/statements/define/config/graphql/overwrite.surql
  language-tests/tests/language/statements/define/config/graphql/tables_include_exclude.surql
  revision.lock
  surrealdb/core/src/catalog/schema/config.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/gql/auth.rs
  surrealdb/core/src/gql/cache.rs
  surrealdb/core/src/gql/error.rs
  surrealdb/core/src/gql/ext.rs
  surrealdb/core/src/gql/functions.rs
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/relations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  surrealdb/core/src/gql/utils.rs
  surrealdb/core/src/sql/statements/define/config/graphql.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/server/src/gql/mod.rs
  surrealdb/server/src/ntw/mod.rs
  surrealdb/src/opt/capabilities.rs
  tests/common/server.rs
  tests/graphql_integration.rs
Due: integration-tests

Move to capability
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/dbs/session.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/src/opt/capabilities.rs
Due: none

Enable improved datastore configuration options with path parameters
  language-tests/README.md
  language-tests/src/cli.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/src/tests/schema/mod.rs
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
  surrealdb/core/src/kvs/config.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/rocksdb/background_flusher.rs
  surrealdb/core/src/kvs/rocksdb/cnf.rs
  surrealdb/core/src/kvs/rocksdb/commit_coordinator.rs
  surrealdb/core/src/kvs/rocksdb/mod.rs
  surrealdb/core/src/kvs/surrealkv/cnf.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/src/engine/any/mod.rs
  surrealdb/src/engine/any/native.rs
  surrealdb/src/engine/any/wasm.rs
  surrealdb/src/err/mod.rs
  surrealdb/src/opt/endpoint/local.rs
  surrealdb/src/opt/endpoint/mod.rs
  surrealdb/src/opt/endpoint/surrealkv.rs
  surrealdb/tests/api_integration/mod.rs
  tests/common/server.rs
  tests/graphql_integration.rs
Due: integration-tests

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
