Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Fix language tests
  language-tests/tests/language/primitive/datetimes/datetime_set_functions.surql
Due: none

Make CORS allow list configurable.
  surrealdb/server/src/cli/config.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/ntw/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Address comment
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/server/src/ntw/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Add `--tables-exclude` flag to `surreal export` command
  surrealdb/core/src/kvs/export.rs
  surrealdb/server/src/cli/export.rs
  surrealdb/server/src/cli/validator/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add warnings for non-existent tables in export configuration
  surrealdb/core/src/kvs/export.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

more
  surrealdb/core/src/sql/statements/option.rs
  surrealdb/core/src/sql/test_to_sql.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add support for running language tests under wasm
  Makefile.ci.toml
  language-tests/Cargo.lock
  language-tests/Cargo.toml
  language-tests/build.rs
  language-tests/src/cli.rs
  language-tests/src/cmd/list.rs
  language-tests/src/cmd/mod.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/src/format/progress.rs
  language-tests/src/lib.rs
  language-tests/src/main.rs
  language-tests/src/runner/mod.rs
  language-tests/src/temp_dir.rs
  language-tests/src/tests/report/display.rs
  language-tests/src/tests/report/update.rs
  language-tests/src/tests/set/mod.rs
  language-tests/tests/wasm_runner.rs
Due: none

Fixins
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/to_types.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add functions to set parts of datetimes (#6981)
  fuzz/fuzz_targets/fuzz_executor.dict
  fuzz/fuzz_targets/fuzz_sql_parser.dict
  language-tests/tests/language/primitive/datetimes/datetime_set_functions.surql
  surrealdb/core/src/exec/function/builtin/time.rs
  surrealdb/core/src/exec/function/method.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/script/modules/surrealdb/functions/time.rs
  surrealdb/core/src/fnc/time.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix compound unique indexing
  language-tests/tests/reproductions/3290_multi_column_unique_index_none.surql
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/val/array.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix SDK error handling
  language-tests/tests/reproductions/throw_in_transaction_rollback.surql
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/rpc/mod.rs
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/core/src/rpc/transaction.rs
  surrealdb/server/src/rpc/websocket.rs
  surrealdb/src/engine/local/mod.rs
  surrealdb/tests/api_integration/basic.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Address feedback
  surrealdb/core/src/rpc/protocol.rs
  surrealdb/server/src/rpc/websocket.rs
  surrealdb/src/engine/local/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

WIP
  Makefile.ci.toml
Due: none

Update README.md
  README.md
Due: none

Ensure transaction timeout is respected for queries. (#6975)
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/core/src/exec/operators/ifelse.rs
  surrealdb/core/src/expr/statements/ifelse.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/tests/timeout.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix compound unique indexing (#7002)
  language-tests/tests/reproductions/3290_multi_column_unique_index_none.surql
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/val/array.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Make CORS allow list configurable. (#6998)
  surrealdb/server/src/cli/config.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/server/src/ntw/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Remove debug code
  surrealdb/core/src/kvs/timestamp.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

[Backport] Improve context cancellation checking with adaptive back-off strategy (#6990)
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/compute.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/fnc/script/main.rs
  crates/core/src/idx/planner/iterators.rs
Due: none

Tidy up returned error
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Create context7.json
  context7.json
Due: none

Fixes
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix test
  surrealdb/core/src/kvs/timestamp.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix tests
  surrealdb/core/src/kvs/timestamp.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Bump `aquasecurity/trivy-action` to latest
  .github/actions/docker-build/action.yml
Due: none

Fix write-write conflicts on `ip` keys during IndexAppending (#6982)
  surrealdb/core/src/kvs/index.rs
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Change timestamp code to use boxed traits (#6892)
  surrealdb/core/src/cf/gc.rs
  surrealdb/core/src/cf/reader.rs
  surrealdb/core/src/doc/event.rs
  surrealdb/core/src/key/change/mod.rs
  surrealdb/core/src/key/root/eq.rs
  surrealdb/core/src/kvs/api.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/tikv/mod.rs
  surrealdb/core/src/kvs/timestamp.rs
  surrealdb/core/src/kvs/tr.rs
  surrealdb/core/src/kvs/tx.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Implement more of the language
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/test/files/primitives/array.surql
  surrealdb/parser/src/test/files/primitives/array_empty.surql
  surrealdb/parser/src/test/files/primitives/array_trailing_comma.surql
  surrealdb/parser/src/test/files/primitives/none.surql
  surrealdb/parser/src/test/files/primitives/null.surql
  surrealdb/parser/src/test/files/primitives/path.surql
  surrealdb/parser/src/test/files/primitives/path_missing_version_number.surql
  surrealdb/parser/src/test/files/primitives/path_number_overflow.surql
  surrealdb/parser/src/test/files/stmts/if.surql
  surrealdb/parser/src/test/files/stmts/if_nested.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Implement error type
  crates/common/src/error/mod.rs
  crates/common/src/error/raw.rs
  crates/common/src/lib.rs
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/parse/mod.rs
Due: none

Some more work on the parser
  Cargo.lock
  crates/ast/.nvim.lua
  crates/ast/src/lib.rs
  crates/ast/src/mac.rs
  crates/ast/src/types/ast.rs
  crates/ast/src/types/mod.rs
  crates/ast/src/vis/implement.rs
  crates/ast/src/vis/mod.rs
  crates/ast/src/visit/mod.rs
  crates/common/src/error/mod.rs
  crates/common/src/error/raw.rs
  crates/common/src/error/source/mod.rs
  crates/common/src/error/source/render/char_buffer.rs
  crates/common/src/error/source/render/format.rs
  crates/common/src/error/source/render/mod.rs
  crates/common/src/ids/id_set.rs
  crates/common/src/non_max.rs
  crates/common/src/source.rs
  crates/common/src/span.rs
  crates/parser/examples/parse.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/basic.rs
  crates/parser/src/parse/error.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/peek.rs
  crates/parser/src/parse/prime.rs
  crates/parser/src/peekable.rs
  crates/token/Cargo.toml
  crates/token/src/base.rs
  crates/token/src/lib.rs
  crates/token/src/mac.rs
  crates/token/src/test.rs
  rust-toolchain.toml.old
Due: none

More work on the parser
  crates/ast/src/lib.rs
  crates/ast/src/span.rs
  crates/ast/src/types/mod.rs
  crates/common/src/error/mod.rs
  crates/common/src/error/source/mod.rs
  crates/common/src/error/source/render/mod.rs
  crates/common/src/lib.rs
  crates/common/src/span.rs
  crates/parser/examples/parse.rs
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/common.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/top_level_expr.rs
Due: none

Initial setup for the new parser/ast
  Cargo.lock
  crates/ast/Cargo.toml
  crates/ast/src/lib.rs
  crates/ast/src/span.rs
  crates/ast/src/types/collections.rs
  crates/ast/src/types/mod.rs
  crates/common/Cargo.toml
  crates/common/src/error/code.rs
  crates/common/src/error/mod.rs
  crates/common/src/ids/id_set.rs
  crates/common/src/ids/mod.rs
  crates/common/src/lib.rs
  crates/common/src/non_max.rs
  crates/common/src/span.rs
  crates/parser/Cargo.toml
  crates/parser/src/error/mod.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/peekable.rs
  crates/parser/src/lex/test.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
Due: none

Basics of parser working
  crates/parser/Cargo.toml
  crates/parser/examples/parse.rs
  crates/parser/src/lex/base.rs
  crates/parser/src/lex/basic.rs
  crates/parser/src/lex/mod.rs
  crates/parser/src/lex/test.rs
  crates/parser/src/lib.rs
  crates/parser/src/parse/basic.rs
  crates/parser/src/parse/error.rs
  crates/parser/src/parse/expr.rs
  crates/parser/src/parse/mod.rs
  crates/parser/src/parse/prime.rs
  crates/parser/src/parse/top_level_expr.rs
  crates/parser/src/parse/unescape.rs
  crates/parser/src/parse/utils.rs
  crates/parser/src/peekable.rs
Due: none

Implement delete and create statement
  surrealdb/ast/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/place.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/parse/unescape.rs
  surrealdb/parser/src/test/files/stmts/create.surql
  surrealdb/parser/src/test/files/stmts/delete.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Don't forget comments in javascript
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/js/comments.surql
  surrealdb/parser/src/test/files/primitives/js/regex.surql
  surrealdb/token/src/escaped.rs
  surrealdb/token/src/js_function.rs
  surrealdb/token/src/regex.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Implement datetime token
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/test/files/primitives/uuid_escape_error.surql
  surrealdb/parser/src/test/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk
