Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Implements disk space management
  Cargo.lock
  Cargo.toml
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Improve documentation and error messages
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  supply-chain/config.toml
Due: surrealdb-core

Add test
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/mod.rs
Due: surrealdb-core

clippy
  crates/core/src/rpc/protocol.rs
Due: surrealdb-core

Test passing
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Add test
  crates/core/src/kvs/tests/sst_file_manager.rs
Due: surrealdb-core

Add refresh method
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/conn/mod.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/tests/api_integration/mod.rs
Due: surrealdb-core, surrealdb-sdk

Fix imports
  crates/sdk/src/conn/mod.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
Due: surrealdb-sdk

Bump MSRV
  .github/workflows/ci.yml
  Cargo.toml
Due: none

Fix response
  crates/sdk/src/method/tests/server.rs
Due: surrealdb-sdk

Fix clippy, fix minor accumulate bug, and improve doc
  crates/core/src/dbs/aggregation.rs
  crates/core/src/doc/pluck.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/visit.rs
Due: surrealdb-core

Fix formatting
  crates/core/src/dbs/aggregation.rs
Due: surrealdb-core

Fix minor mistake in docs
  crates/core/src/catalog/record.rs
Due: surrealdb-core

Fix revision lock
  revision.lock
Due: none

Add missing results to test
  crates/language-tests/tests/language/statements/define/table/view/cond_group_count.surql
Due: none

Fix test
  crates/core/src/err/mod.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/sst_file_manager.rs
Due: surrealdb-core

Wip
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/sst_file_manager.rs
Due: surrealdb-core

Wip
  deny.toml
Due: none

Fix fmt
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/sst_file_manager.rs
Due: surrealdb-core

Fix cargo deny
  Cargo.toml
Due: none

Fix vet
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Set commit versiob of RocksDB
  Cargo.lock
  Cargo.toml
Due: none

Add serial
  crates/core/src/kvs/tests/sst_file_manager.rs
Due: surrealdb-core

Add comments
  crates/core/src/iam/signin.rs
  crates/core/src/iam/token.rs
Due: surrealdb-core

Address review comments
  Makefile.ci.toml
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
Due: surrealdb-core

Revert "Bump MSRV"
  .github/workflows/ci.yml
  Cargo.toml
Due: none

Fix warnings
  crates/core/src/err/mod.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-core, surrealdb-sdk

Better logging
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
Due: surrealdb-core

define module
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/schema/function.rs
  crates/core/src/catalog/schema/mod.rs
  crates/core/src/catalog/schema/module/executable.rs
  crates/core/src/catalog/schema/module/mod.rs
  crates/core/src/expr/function.rs
  crates/core/src/expr/mod.rs
  crates/core/src/expr/statements/define/function.rs
  crates/core/src/expr/statements/define/function/silo.rs
  crates/core/src/expr/statements/define/mod.rs
  crates/core/src/expr/statements/define/module/executable.rs
  crates/core/src/expr/statements/define/module/mod.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/expr/statements/mod.rs
  crates/core/src/gql/functions.rs
  crates/core/src/idx/ft/analyzer/mod.rs
  crates/core/src/key/database/md.rs
  crates/core/src/key/database/mod.rs
  crates/core/src/key/mod.rs
  crates/core/src/kvs/cache/tx/entry.rs
  crates/core/src/kvs/cache/tx/key.rs
  crates/core/src/kvs/cache/tx/lookup.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/rpc/protocol/v1.rs
  crates/core/src/sql/executable.rs
  crates/core/src/sql/function.rs
  crates/core/src/sql/mod.rs
  crates/core/src/sql/statements/define/function.rs
  crates/core/src/sql/statements/define/mod.rs
  crates/core/src/sql/statements/define/module/executable.rs
  crates/core/src/sql/statements/define/module/mod.rs
  crates/core/src/sql/statements/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/core/src/syn/token/keyword.rs
Due: surrealdb-core

mod & silo function calls
  crates/core/src/syn/parser/function.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/token.rs
Due: surrealdb-core

tidy
  crates/core/src/rpc/format/cbor/convert.rs
Due: surrealdb-core

fmt
  crates/core/src/lib.rs
  crates/core/src/rpc/format/cbor/convert.rs
  revision.lock
Due: surrealdb-core

Fix warnings
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-sdk

Add ongoing transaction transition test
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
Due: surrealdb-core

Tidy up
  crates/core/src/fnc/mod.rs
  crates/core/src/syn/parser/set.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/set.rs
  revision.lock
Due: surrealdb-core

One more tidy
  crates/core/src/fnc/mod.rs
Due: surrealdb-core

Fix
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Fix auth method
  crates/core/src/iam/token.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/method/invalidate.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/tests/server.rs
  crates/sdk/src/opt/auth.rs
  crates/sdk/tests/api_integration/basic.rs
Due: surrealdb-core, surrealdb-sdk

More comments
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/authenticate.rs
  crates/sdk/src/method/invalidate.rs
Due: surrealdb-core, surrealdb-sdk

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
