Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Fix tests
  crates/core/src/str/duration.rs
Due: surrealdb-core

Set default WAL bytes to sync to 2MiB
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Enable background flushing and commit grouping by default
  crates/core/src/kvs/rocksdb/background_flusher.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
Due: surrealdb-core

format with backticks, deprecating angle brackets (#6642)
  crates/core/src/cnf/mod.rs
  crates/core/src/fmt/escape.rs
  crates/core/src/iam/verify.rs
  crates/core/src/sql/test_to_sql.rs
  crates/language-tests/tests/language/expression/operators/casting/cast_string_to_record.surql
  crates/language-tests/tests/language/primitive/record_id/id_variants.surql
  crates/language-tests/tests/language/primitive/record_id/natural_order.surql
  crates/language-tests/tests/language/statements/create/with_id.surql
  crates/language-tests/tests/language/statements/insert/5776_insert_rollback_on_duplicate_key.surql
  crates/language-tests/tests/language/statements/relate/with_complex_table.surql
  crates/language-tests/tests/language/statements/select/4781_where_field_type_record_id.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/reproductions/6242_create_visibility_issue.surql
  crates/types/src/utils/escape.rs
  tests/common/mod.rs
Due: surrealdb-core, surrealdb-types, integration-tests

Run `make format`
  crates/sdk/src/engine/any/native.rs
  crates/sdk/src/engine/any/wasm.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/http/native.rs
  crates/sdk/src/engine/remote/http/wasm.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-sdk

Implements compact
  crates/core/src/expr/statements/alter/database.rs
  crates/core/src/expr/statements/alter/namespace.rs
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

fixes
  crates/core/src/bridge/mod.rs
  crates/core/src/dbs/response.rs
  crates/core/src/kvs/ds.rs
  crates/types/src/lib.rs
Due: surrealdb-core, surrealdb-types

Run `cargo vet add-exemption` for `boxcar`
  supply-chain/config.toml
Due: none

Fix live query tests
  tests/common/mod.rs
Due: integration-tests

More fixes after merge
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/kind.rs
  crates/core/src/sql/part.rs
  crates/core/src/sql/permission.rs
  crates/core/src/sql/statements/access.rs
  crates/core/src/sql/statements/alter/field.rs
  crates/core/src/sql/statements/define/event.rs
  crates/core/src/sql/statements/define/field.rs
  crates/core/src/syn/parser/stmt/parts.rs
Due: surrealdb-core

Fix clippy
  crates/core/src/sql/part.rs
Due: surrealdb-core

Wip
  crates/core/src/cnf/dynamic.rs
  crates/core/src/cnf/mod.rs
  crates/core/src/dbs/options.rs
  crates/core/src/dbs/test.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/idx/ft/analyzer/mod.rs
  crates/core/src/idx/ft/fulltext.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Add batched group commit functionality for RocksDB (#6614)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/Cargo.toml
  crates/core/src/kvs/rocksdb/background_flusher.rs
  crates/core/src/kvs/rocksdb/cnf.rs
  crates/core/src/kvs/rocksdb/commit_coordinator.rs
  crates/core/src/kvs/rocksdb/disk_space_manager.rs
  crates/core/src/kvs/rocksdb/memory_manager.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/mac/mod.rs
  crates/core/src/mem/mod.rs
  crates/core/src/mem/notrack.rs
  crates/core/src/mem/registry.rs
  crates/core/src/mem/track.rs
  crates/core/src/str/bytes.rs
  crates/core/src/str/duration.rs
  crates/core/src/str/mod.rs
  crates/language-tests/src/cmd/run/provisioner.rs
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Fix lang tests
  crates/language-tests/tests/language/statements/define/event/basic.surql
  crates/language-tests/tests/language/statements/define/event/event_when_logic.surql
  crates/language-tests/tests/language/statements/define/event/when_event.surql
  crates/language-tests/tests/language/statements/define/event/when_logic.surql
  crates/language-tests/tests/language/statements/define/field/permission_delete.surql
Due: none

Make NS/DB default to session defined ones where possible
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-core, surrealdb-sdk

Add comments
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/remote/http/mod.rs
Due: surrealdb-core, surrealdb-sdk

Fix tests
  crates/core/src/sql/expression.rs
  crates/core/src/sql/function.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/tests/define.rs
  crates/core/tests/remove.rs
Due: surrealdb-core

Restore commented out code
  crates/core/src/doc/lives.rs
Due: surrealdb-core

Fix tests
  crates/core/tests/define.rs
  crates/core/tests/info.rs
  crates/core/tests/remove.rs
Due: surrealdb-core

Fix lang tests again
  crates/language-tests/tests/language/script/massive_parallel.surql
Due: none

Simplify changefeed table mutation entries
  crates/core/src/cf/mutations.rs
  crates/core/src/cf/writer.rs
Due: surrealdb-core

Add address pinning and document the need for sticky sessions
  crates/sdk/src/engine/any/native.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/http/native.rs
Due: surrealdb-sdk

Add a dedicated affinitypool threadpool for RocksDB commit/rollback operations
  crates/core/src/kvs/rocksdb/mod.rs
Due: surrealdb-core

Prepare v2.3.11 release
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/sdk/Cargo.toml
Due: surrealdb-core, surrealdb-sdk

Fix `sys::refresh()` blocking
  crates/core/src/sql/statements/info.rs
  crates/core/src/sys/mod.rs
Due: surrealdb-core

Make code more DRY
  crates/sdk/src/engine/any/native.rs
  crates/sdk/src/engine/remote/http/native.rs
Due: surrealdb-sdk

skv fixes
  Cargo.lock
  Cargo.toml
Due: none

Fix literal objects allow unknown keys (#6638)
  crates/core/src/expr/kind.rs
  crates/language-tests/tests/language/types/literal_object/key_ordering.surql
  crates/language-tests/tests/language/types/literal_object/mixed_fields.surql
  crates/language-tests/tests/language/types/literal_object/multiple_optional.surql
  crates/language-tests/tests/language/types/literal_object/nested_objects.surql
  crates/language-tests/tests/language/types/literal_object/optional_fields.surql
  crates/language-tests/tests/language/types/literal_object/required_fields.surql
Due: surrealdb-core

Wip
  crates/core/src/ctx/context.rs
  crates/core/src/ctx/reason.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/delete.rs
  crates/core/src/expr/statements/foreach.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/relate.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/expr/statements/sleep.rs
  crates/core/src/expr/statements/update.rs
  crates/core/src/expr/statements/upsert.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/sequences.rs
  crates/core/src/kvs/tasklease.rs
  crates/core/src/rpc/response.rs
  crates/core/src/sql/statements/alter/system.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/parser/stmt/delete.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/cmd/run/provisioner.rs
  crates/language-tests/src/runner/mod.rs
  crates/language-tests/src/tests/report/display.rs
  crates/language-tests/src/tests/report/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/statements/alter/alter_system_parsing_error.surql
  crates/language-tests/tests/language/statements/alter/alter_system_query_timeout.surql
  crates/language-tests/tests/language/statements/define/index/concurrently.surql
  crates/language-tests/tests/language/statements/rebuild/rebuild_index.surql
  crates/language-tests/tests/language/statements/sleep/sleep.surql
  crates/sdk/src/err/mod.rs
Due: surrealdb-core, surrealdb-sdk

Wip
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/sql/statements/alter/system.rs
  crates/core/src/syn/parser/stmt/alter.rs
Due: surrealdb-core

Fixes!
  crates/core/src/expr/statements/sleep.rs
  crates/core/tests/timeout.rs
  crates/language-tests/tests/datasets/surreal-deal-store-mini.surql
  crates/language-tests/tests/language/functions/rand/float.surql
  crates/language-tests/tests/language/functions/rand/id.surql
  crates/language-tests/tests/language/functions/rand/string.surql
  crates/language-tests/tests/language/functions/sequence/nextval.surql
  crates/language-tests/tests/language/parameterized/timeout.surql
  crates/language-tests/tests/language/statements/define/analyzer/basic.surql
  crates/language-tests/tests/language/statements/define/analyzer/search_index.surql
  crates/language-tests/tests/language/statements/define/index/multiple_unique_existing_concurrently.surql
  crates/language-tests/tests/language/statements/define/user/db.surql
  crates/language-tests/tests/language/statements/define/user/ns.surql
  crates/language-tests/tests/language/statements/rebuild/rebuild_index.surql
  crates/language-tests/tests/language/statements/remove/users.surql
  crates/language-tests/tests/language/statements/select/random_ordering_samples_uniform.surql
  crates/language-tests/tests/self_tests/multi_line.surql
Due: surrealdb-core

Add documentation
  crates/core/src/cnf/dynamic.rs
  crates/core/src/dbs/options.rs
  crates/core/src/expr/statements/alter/database.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/expr/statements/alter/namespace.rs
  crates/core/src/expr/statements/alter/system.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/sql/statements/alter/database.rs
  crates/core/src/sql/statements/alter/mod.rs
  crates/core/src/sql/statements/alter/namespace.rs
  crates/core/src/sql/statements/alter/system.rs
  crates/core/src/sql/statements/alter/table.rs
  crates/core/src/sql/timeout.rs
  crates/language-tests/tests/language/statements/define/api/failures.surql
Due: surrealdb-core

Wip
  crates/core/src/sql/statements/alter/table.rs
Due: surrealdb-core

Update README
  crates/language-tests/README.md
Due: none

Add backend
  crates/core/src/kvs/err.rs
  crates/language-tests/src/cli.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/statements/alter/alter_compact_mem.surql
  crates/language-tests/tests/language/statements/alter/alter_compact_rocksdb.surql
Due: surrealdb-core

Add backend filter to test
  crates/language-tests/README.md
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/src/tests/schema/mod.rs
Due: none

Prepare v3.0.0-alpha.17 release
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Add SURREAL_BUILD_VERSION environment variable to override reported version
  build.rs
  crates/server/src/cnf/mod.rs
  flake.nix
  pkg/nix/drv/binary.nix
  pkg/nix/util.nix
Due: none

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
