Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add code coverage for language tests. (#6935)
  .codecov.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile.ci.toml
Due: none

Fix clippy
  surrealdb/core/src/expr/statements/define/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

supply-chain
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: none

Prevent creating indexes on computed fields (#6936)
  language-tests/Cargo.lock
  language-tests/tests/language/statements/define/field/computed/forbidden_fields.surql
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/statements/define/field.rs
  surrealdb/core/src/expr/statements/define/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix record id's not being dereference when a field is computed on it
  language-tests/Cargo.lock
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Format
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix record id's not being dereferenced when a field is computed on it (#6937)
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
  surrealdb/core/src/exec/operators/compute.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Ensure test is run using new planner
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
Due: none

Fix per feature compilation
  surrealdb/core/src/catalog/schema/event.rs
  surrealdb/core/src/sql/arbitrary/statements.rs
  surrealdb/src/engine/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix supply chain issues
  supply-chain/README.md
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Add `confidence` field to `ai::sentiment()` function
  language-tests/tests/language/functions/ai/sentiment_openai.surql
  surrealdb/core/src/fnc/ai.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Regenerate the revision lock
  revision.lock
Due: none

Implements parallel index compaction
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/iterators.rs
  surrealdb/core/src/key/root/ic.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/tests/index.rs
  surrealdb/src/engine/tasks.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Improvement
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Expose the stream type
  surrealdb/src/lib.rs
  surrealdb/src/method/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Update doc
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add `ai::chunk` built-in functions
  surrealdb/core/src/exec/function/builtin/chunk.rs
  surrealdb/core/src/exec/function/builtin/mod.rs
  surrealdb/core/src/fnc/chunk.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

A few patch fixes (#6930)
  supply-chain/audits.toml
  supply-chain/imports.lock
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/server/src/ntw/sql.rs
  surrealdb/types/src/variables.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Check permissions
  language-tests/Cargo.lock
  language-tests/tests/reproductions/fetch_permissions_bypass.surql
  language-tests/tests/reproductions/fetch_permissions_bypass_import.surql
  surrealdb/core/src/exec/operators/fetch.rs
  surrealdb/core/src/exec/operators/scan/pipeline.rs
  surrealdb/core/src/exec/parts/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Don’t re-create agent provider on every loop
  surrealdb/core/src/ai/agent/engine.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add tool support for agents with google and huggingface
  surrealdb/core/src/ai/providers/google.rs
  surrealdb/core/src/ai/providers/huggingface.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add configurable timeouts to agents and agent tools
  language-tests/tests/language/statements/define/agent/with_options.surql
  language-tests/tests/parsing/statements/define_agent.surql
  surrealdb/core/src/ai/agent/engine.rs
  surrealdb/core/src/ai/agent/tools.rs
  surrealdb/core/src/ai/agent/types.rs
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/sql/statements/define/agent.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Improve errors with AI agents and AI functions
  surrealdb/core/src/ai/agent/engine.rs
  surrealdb/core/src/ai/agent/guardrails.rs
  surrealdb/core/src/ai/agent/tools.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/err/to_types.rs
  surrealdb/types/src/error.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Fix wasm
  surrealdb/core/src/key/root/ic.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Update documentation
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: graphql literals for string enums
  surrealdb/core/src/gql/schema.rs
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

impl: GraphQL Enums from string ASSERTs
  surrealdb/core/src/gql/functions.rs
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  surrealdb/src/method/query.rs
  tests/graphql_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Add `—allow-ai` and `—deny-ai` and experimental capability
  surrealdb/core/src/ai/agent/engine.rs
  surrealdb/core/src/ai/chat.rs
  surrealdb/core/src/dbs/capabilities.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/exec/function/builtin/agent.rs
  surrealdb/core/src/exec/function/builtin/ai.rs
  surrealdb/core/src/exec/function/builtin/chunk.rs
  surrealdb/core/src/fnc/agent.rs
  surrealdb/core/src/fnc/ai.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/server/src/cli/validator/mod.rs
  surrealdb/server/src/dbs/mod.rs
  surrealdb/src/opt/capabilities.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Duration operations for all numeric types, increment and decrement
  language-tests/tests/language/functions/duration/increment_decrement.surql
  language-tests/tests/language/primitive/duration/arithmatic_operations.surql
  surrealdb/core/src/val/mod.rs
  surrealdb/core/src/val/value/decrement.rs
  surrealdb/core/src/val/value/increment.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

output
  language-tests/tests/language/functions/duration/increment_decrement.surql
  language-tests/tests/language/primitive/duration/arithmatic_operations.surql
Due: none

WASM compatibility
  .clippy.toml
  .cursor/rules/rust-code-quality.mdc
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  surrealdb/Cargo.toml
  surrealdb/benches/hashset_vs_vector.rs
  surrealdb/benches/sdb_benches/lib/mod.rs
  surrealdb/benches/sdb_benches/lib/routines/mod.rs
  surrealdb/benches/sdb_benches/sdk/mod.rs
  surrealdb/benches/sdb_benches/sdk/routines/mod.rs
  surrealdb/core/Cargo.toml
  surrealdb/core/src/buc/store/file.rs
  surrealdb/core/src/ctx/cancellation.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/response.rs
  surrealdb/core/src/exec/metrics.rs
  surrealdb/core/src/expr/statements/sleep.rs
  surrealdb/core/src/fnc/script/main.rs
  surrealdb/core/src/idx/trees/knn.rs
  surrealdb/core/src/kvs/clock.rs
  surrealdb/core/src/kvs/index.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/sequences.rs
  surrealdb/core/src/kvs/slowlog.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/kvs/timestamp.rs
  surrealdb/core/tests/alter.rs
  surrealdb/core/tests/define.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/telemetry/metrics/ws/mod.rs
  surrealdb/src/engine/remote/ws/native.rs
  tests/common/docker.rs
  tests/common/rest_client.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

revert unintended fix
  surrealdb/core/src/dbs/response.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fixes
  .clippy.toml
  .cursor/rules/rust-code-quality.mdc
  Cargo.toml
  Makefile.ci.toml
  surrealdb/core/src/exec/metrics.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

WASM compatibility (#6947)
  .cursor/rules/rust-code-quality.mdc
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  surrealdb/Cargo.toml
  surrealdb/benches/hashset_vs_vector.rs
  surrealdb/benches/sdb_benches/lib/mod.rs
  surrealdb/benches/sdb_benches/lib/routines/mod.rs
  surrealdb/benches/sdb_benches/sdk/mod.rs
  surrealdb/benches/sdb_benches/sdk/routines/mod.rs
  surrealdb/core/Cargo.toml
  surrealdb/core/src/buc/store/file.rs
  surrealdb/core/src/ctx/cancellation.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/response.rs
  surrealdb/core/src/exec/metrics.rs
  surrealdb/core/src/expr/statements/sleep.rs
  surrealdb/core/src/fnc/script/main.rs
  surrealdb/core/src/idx/trees/knn.rs
  surrealdb/core/src/kvs/clock.rs
  surrealdb/core/src/kvs/index.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/sequences.rs
  surrealdb/core/src/kvs/slowlog.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/kvs/timestamp.rs
  surrealdb/core/tests/alter.rs
  surrealdb/core/tests/define.rs
  surrealdb/server/Cargo.toml
  surrealdb/server/src/telemetry/metrics/ws/mod.rs
  surrealdb/src/engine/remote/ws/native.rs
  tests/common/docker.rs
  tests/common/rest_client.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Implement more of the language
  surrealdb/parser/Cargo.toml
  surrealdb/parser/src/lib.rs
  surrealdb/parser/src/parse/basic.rs
  surrealdb/parser/src/parse/mod.rs
  surrealdb/parser/src/parse/prime.rs
  surrealdb/parser/src/parse/special.rs
  surrealdb/parser/src/parse/stmt.rs
  surrealdb/parser/src/test/files/primitives/array.surql
  surrealdb/parser/src/test/files/primitives/array_empty.surql
  surrealdb/parser/src/test/files/primitives/array_trailing_comma.surql
  surrealdb/parser/src/test/files/primitives/none.surql
  surrealdb/parser/src/test/files/primitives/null.surql
  surrealdb/parser/src/test/files/primitives/path.surql
  surrealdb/parser/src/test/files/primitives/path_missing_version_number.surql
  surrealdb/parser/src/test/files/primitives/path_number_overflow.surql
  surrealdb/parser/src/test/files/stmts/if.surql
  surrealdb/parser/src/test/files/stmts/if_nested.surql
Due: workspace-tests, language-tests, surrealdb-sdk

Fix error serialization
  surrealdb/core/src/dbs/response.rs
  surrealdb/types/src/error.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

cleanup
  surrealdb/core/src/dbs/response.rs
  surrealdb/types/src/error.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

fixes
  surrealdb/core/src/dbs/response.rs
  surrealdb/types/derive/src/attr/enum.rs
  surrealdb/types/derive/src/attr/mod.rs
  surrealdb/types/derive/src/attr/named_fields.rs
  surrealdb/types/derive/src/attr/unit.rs
  surrealdb/types/derive/src/attr/unnamed_fields.rs
  surrealdb/types/derive/src/structs/enum/mod.rs
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/derive/src/structs/fields/named.rs
  surrealdb/types/derive/src/structs/fields/unnamed.rs
  surrealdb/types/derive/src/structs/strategy.rs
  surrealdb/types/src/error.rs
  surrealdb/types/tests/surreal_value/derive/enum_tagged_skip_content.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

improve
  surrealdb/core/src/dbs/response.rs
  surrealdb/types/derive/src/attr/enum.rs
  surrealdb/types/derive/src/attr/unit.rs
  surrealdb/types/derive/src/structs/strategy.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk

Fix false positive migration issue for closure arguments
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/migration/closure/in_func_args.surql
  crates/language-tests/tests/migration/closure/in_not_last_block.surql
  crates/language-tests/tests/migration/closure/on_object.surql
Due: none

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
