Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Convert Bytes to use bytes::Bytes.
  crates/core/src/api/body.rs
  crates/core/src/buc/controller.rs
  crates/core/src/fnc/encoding.rs
  crates/core/src/fnc/script/from.rs
  crates/core/src/fnc/script/into.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/gql/schema.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/value/convert/cast.rs
  crates/server/src/ntw/api.rs
  crates/types/src/flatbuffers/mod.rs
  crates/types/src/flatbuffers/primitives.rs
  crates/types/src/flatbuffers/value.rs
  crates/types/src/traits/surreal_value.rs
  crates/types/src/value/bytes.rs
  crates/types/src/value/mod.rs
Due: surrealdb-core, surrealdb-types

id-fixes
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/http/native.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/method/query.rs
  crates/server/src/ntw/auth.rs
  crates/server/src/ntw/rpc.rs
Due: surrealdb-sdk

More
  crates/core/src/api/body.rs
  crates/core/src/buc/controller.rs
  crates/core/src/fnc/script/from.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/gql/schema.rs
  crates/server/src/ntw/api.rs
Due: surrealdb-core

Update Cargo lockfile for language tests
  crates/language-tests/Cargo.lock
Due: none

Update dependency sources
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Refactor bucket storage to use provider pattern for extensible storage backends (#6618)
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/buc/backend.rs
  crates/core/src/buc/connection.rs
  crates/core/src/buc/controller.rs
  crates/core/src/buc/manager.rs
  crates/core/src/buc/mod.rs
  crates/core/src/buc/store/file.rs
  crates/core/src/buc/store/memory.rs
  crates/core/src/buc/store/mod.rs
  crates/core/src/buc/store/path.rs
  crates/core/src/buc/store/prefixed.rs
  crates/core/src/buc/store/util/mod.rs
  crates/core/src/ctx/context.rs
  crates/core/src/expr/statements/define/bucket.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/lib.rs
  crates/server/Cargo.toml
  crates/server/src/cli/mod.rs
  crates/server/src/cli/start.rs
  crates/server/src/dbs/mod.rs
  crates/server/src/lib.rs
Due: surrealdb-core

Make SurrealMX read requests concurrent (#6620)
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/mem/mod.rs
  crates/language-tests/Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Due: surrealdb-core

Add `ALTER INDEX` statement with `PREPARE REMOVE` for safe index decommissioning (#6603)
  crates/core/src/catalog/schema/index.rs
  crates/core/src/catalog/test.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/doc/index.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/alter/field.rs
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/expr/statements/alter/sequence.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/expr/statements/define/index.rs
  crates/core/src/expr/statements/remove/index.rs
  crates/core/src/expr/visit.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/index.rs
  crates/core/src/sql/statements/alter/index.rs
  crates/core/src/sql/statements/alter/mod.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/token/keyword.rs
  crates/core/tests/alter.rs
  crates/core/tests/define.rs
  crates/language-tests/tests/language/statements/alter/alter_index_comment.surql
  crates/language-tests/tests/language/statements/alter/alter_index_invalid.surql
  crates/language-tests/tests/language/statements/alter/alter_index_prepare_remove.surql
  revision.lock
Due: surrealdb-core

wip
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/query.rs
  crates/server/Cargo.toml
  crates/server/src/rpc/http.rs
  crates/server/src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk

use jemalloc only on x86_64 and x86
  crates/core/src/mem/mod.rs
Due: surrealdb-core

fix formatting
  crates/core/src/mem/mod.rs
Due: surrealdb-core

wip
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
Due: surrealdb-core, surrealdb-sdk

wip
  crates/core/src/rpc/response.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/server/src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk

wip
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/remote/ws/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
Due: surrealdb-sdk

wip
  crates/core/src/rpc/protocol.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/method/tests/server.rs
  crates/server/src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk

cleanup
  Makefile.local.toml
  Makefile.toml
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/response.rs
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/expr/statements/define/config/mod.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/expr/statements/use.rs
  crates/core/src/expr/visit.rs
  crates/core/src/iam/entities/resources/resource.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/statements/define/config/defaults.rs
  crates/core/src/sql/statements/define/config/mod.rs
  crates/core/src/sql/statements/use.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/tests/mod.rs
  crates/sdk/src/method/use_defaults.rs
  crates/sdk/src/method/use_ns.rs
  crates/server/src/cli/abstraction/mod.rs
  crates/server/src/cli/sql.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core, surrealdb-sdk

fmt
  crates/core/src/dbs/executor.rs
  crates/core/src/expr/statements/use.rs
  crates/core/src/sql/statements/use.rs
  crates/core/src/syn/parser/test/stmt.rs
Due: surrealdb-core

some fixes
  crates/core/tests/info.rs
  crates/core/tests/remove.rs
  revision.lock
Due: surrealdb-core

fix info tests
  crates/core/tests/info.rs
Due: surrealdb-core

fixes
  crates/core/tests/define.rs
  crates/core/tests/remove.rs
Due: surrealdb-core

fixes
  crates/core/src/kvs/tests/reverse_iterator.rs
  crates/language-tests/tests/language/closure/readonly.surql
  crates/language-tests/tests/language/statements/define/field/type_value_order_checking.surql
  crates/language-tests/tests/language/statements/define/namespace/no_ns.surql
  crates/language-tests/tests/language/statements/define/namespace/other_namespace.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/define/user/db.surql
  crates/language-tests/tests/language/statements/define/user/ns.surql
  crates/language-tests/tests/language/statements/select/split.surql
  crates/language-tests/tests/language/statements/use/db.surql
  crates/language-tests/tests/language/statements/use/ns.surql
  crates/language-tests/tests/language/statements/use/ns_db.surql
  crates/language-tests/tests/language/statements/use/ns_db_in_tx.surql
  crates/language-tests/tests/parsing/idents/empty_identifiers.surql
  crates/language-tests/tests/upgrade/define/db.surql
  crates/language-tests/tests/upgrade/define/db_import.surql
Due: surrealdb-core

fixes
  crates/core/tests/remove.rs
  crates/server/src/cli/abstraction/mod.rs
Due: surrealdb-core

Use bytes::Bytes for Value
  Cargo.lock
  Cargo.toml
  crates/core/src/val/bytes.rs
Due: surrealdb-core

rev lock
  revision.lock
Due: none

Fix the lang tests.
  crates/core/src/catalog/schema/api.rs
  crates/core/src/doc/field.rs
  crates/core/src/fmt/escape.rs
  crates/core/src/sql/operator.rs
  crates/core/src/sql/permission.rs
  crates/core/src/sql/statements/define/api.rs
  crates/core/src/val/closure.rs
  crates/core/src/val/datetime.rs
  crates/core/src/val/mod.rs
Due: surrealdb-core

clippy
  crates/core/src/expr/statements/alter/index.rs
  crates/core/src/expr/statements/alter/mod.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/literal.rs
  crates/core/src/sql/statements/alter/index.rs
Due: surrealdb-core

More efficient copies.
  crates/types/src/flatbuffers/primitives.rs
  crates/types/src/value/bytes.rs
Due: surrealdb-types

"defaults" -> "default"
  crates/core/src/catalog/providers.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/expr/statements/define/config/mod.rs
  crates/core/src/expr/statements/info.rs
  crates/core/src/expr/statements/use.rs
  crates/core/src/expr/visit.rs
  crates/core/src/iam/entities/resources/resource.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/rpc/protocol.rs
  crates/core/src/sql/statements/define/config/defaults.rs
  crates/core/src/sql/statements/define/config/mod.rs
  crates/core/src/sql/statements/use.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/stmt/mod.rs
  crates/core/src/syn/token/keyword.rs
Due: surrealdb-core

Descriptive key name
  crates/core/src/expr/statements/define/config/mod.rs
  crates/core/src/key/root/mod.rs
  crates/core/src/key/root/root_config.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

DEFINE CONFIG DEFAULT cannot be empty
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

`Option<Expr>` -> `Expr`
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/expr/visit.rs
  crates/core/src/sql/statements/define/config/defaults.rs
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

fmt
  crates/core/src/expr/statements/define/config/defaults.rs
  crates/core/src/key/root/mod.rs
  crates/core/src/syn/parser/stmt/define.rs
Due: surrealdb-core

revision-lock
  revision.lock
Due: none

Convert `Value::Bytes` to use `bytes::Bytes` instead of `Vec<u8>`. (#6627)
  Cargo.lock
  Cargo.toml
  crates/core/src/api/body.rs
  crates/core/src/buc/controller.rs
  crates/core/src/fnc/encoding.rs
  crates/core/src/fnc/script/from.rs
  crates/core/src/fnc/script/into.rs
  crates/core/src/fnc/util/http/mod.rs
  crates/core/src/gql/schema.rs
  crates/core/src/rpc/format/cbor/convert.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/value/convert/cast.rs
  crates/server/src/ntw/api.rs
  crates/types/src/flatbuffers/mod.rs
  crates/types/src/flatbuffers/primitives.rs
  crates/types/src/flatbuffers/value.rs
  crates/types/src/traits/surreal_value.rs
  crates/types/src/value/bytes.rs
  crates/types/src/value/mod.rs
  revision.lock
Due: surrealdb-core, surrealdb-types

Improve memory tracking strategy
  crates/core/src/ctx/context.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/process.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/fnc/search.rs
  crates/core/src/idx/planner/iterators.rs
Due: surrealdb-core

Add documentation
  crates/core/src/ctx/context.rs
  crates/core/src/fnc/script/main.rs
Due: surrealdb-core

Fix lang tests
  crates/language-tests/tests/language/statements/define/analyzer/basic.surql
  crates/language-tests/tests/language/statements/define/sequence/alter_sequence.surql
Due: none
