Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

fix: serialization error of RecordIdKeyType::Object
  surrealdb/types/src/flatbuffers/mod.rs
  surrealdb/types/src/flatbuffers/record.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add functions to set parts of datetimes
  fuzz/fuzz_targets/fuzz_executor.dict
  fuzz/fuzz_targets/fuzz_sql_parser.dict
  language-tests/tests/language/primitive/datetimes/datetime_set_functions.surql
  surrealdb/core/src/exec/function/builtin/time.rs
  surrealdb/core/src/exec/function/method.rs
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/fnc/script/modules/surrealdb/functions/time.rs
  surrealdb/core/src/fnc/time.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add some more paths
  surrealdb/core/src/fnc/mod.rs
  surrealdb/core/src/syn/parser/builtin.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Also update create, relate, update and upsert
  surrealdb/core/src/expr/statements/create.rs
  surrealdb/core/src/expr/statements/relate.rs
  surrealdb/core/src/expr/statements/update.rs
  surrealdb/core/src/expr/statements/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove record ID parsing fallback
  surrealdb/core/src/rpc/protocol.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Revert comment
  tests/ws_integration.rs
Due: workspace-tests, language-tests, integration-tests

Fixes
  surrealdb/core/src/dbs/executor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix #6837
  surrealdb/core/src/kvs/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Set seed
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

More fixins
  surrealdb/core/src/buc/manager.rs
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix clippy release
  surrealdb/core/tests/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

More tidying
  surrealdb/cfg/src/core.rs
  surrealdb/core/src/exe/try_join_all_buffered.rs
  surrealdb/core/src/kvs/api.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/tasklease.rs
  surrealdb/core/src/kvs/tr.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/core/src/val/regex.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix `DEFINE FUNCTION` parsing from disk
  language-tests/tests/reproductions/legacy_strand_colon_string_in_function.surql
  surrealdb/core/src/syn/mod.rs
  surrealdb/core/src/syn/parser/prime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

more
  surrealdb/cfg/src/core.rs
  surrealdb/core/src/kvs/api.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/export.rs
  surrealdb/core/src/kvs/index.rs
  surrealdb/core/src/kvs/scanner.rs
  surrealdb/core/src/kvs/tikv/mod.rs
  surrealdb/core/src/kvs/tr.rs
  surrealdb/core/src/kvs/tx.rs
  surrealdb/core/src/rpc/format/json.rs
  surrealdb/core/src/syn/mod.rs
  surrealdb/core/src/val/value/convert/cast.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix clippy
  surrealdb/core/src/syn/parser/prime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

added serde interop to Value type
  surrealdb/types/src/traits/de.rs
  surrealdb/types/src/traits/mod.rs
  surrealdb/types/src/traits/ser.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

added some clarifying docs and test cases
  surrealdb/types/src/traits/ser.rs
  surrealdb/types/src/traits/surreal_value.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Add language tests
  language-tests/tests/language/indexes/full_text/analyzer_without_tokenizer_new_executor.surql
  language-tests/tests/language/indexes/full_text/multi_index_offsets_new_executor.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_edgengram_new_executor.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_ngram_new_executor.surql
  language-tests/tests/language/indexes/full_text/score_bm25_new_executor.surql
  language-tests/tests/language/indexes/full_text/score_without_index_new_executor.surql
  language-tests/tests/language/planner/boolean_behavior_index_new_executor.surql
  language-tests/tests/language/statements/select/destructure_new_executor.surql
  language-tests/tests/language/statements/select/dynamic_keys_new_executor.surql
  language-tests/tests/language/statements/select/from_none_new_executor.surql
  language-tests/tests/language/statements/select/graph_field_no_flatten_new_executor.surql
  language-tests/tests/language/statements/select/where_bool_new_executor.surql
  language-tests/tests/language/statements/select/writable_subqueries_new_executor.surql
  language-tests/tests/reproductions/3510_link_wildcard_where_new_executor.surql
Due: none

Wire IndexCountScan into the query planner for COUNT index fast path
  language-tests/tests/reproductions/index_count_scan_with_where.surql
  surrealdb/core/src/doc/index.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/exec/operators/scan/index_count.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
  surrealdb/core/src/idx/index.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Allow GROUP BY on prefix idioms and fix GROUP BY `in` on edge tables
  language-tests/tests/reproductions/group_by_in_edge_field.surql
  surrealdb/core/src/syn/parser/stmt/parts.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Enable array containment index usage in the new executor
  language-tests/tests/reproductions/array_containment_index.surql
  surrealdb/core/src/exec/index/analysis.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add CountExistsRewriter to short-circuit count(->edge) > 0 predicates
  language-tests/tests/reproductions/count_exists_edge_optimization.surql
  surrealdb/core/src/dbs/statement.rs
  surrealdb/core/src/doc/process.rs
  surrealdb/core/src/idx/planner/count_exists_rewriter.rs
  surrealdb/core/src/idx/planner/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Batch FTS term bitmap fetches to reduce KV round trips
  surrealdb/core/src/idx/ft/fulltext.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add limit pushdown to GraphEdgeScan for bounded graph traversals
  surrealdb/core/src/exec/operators/scan/graph.rs
  surrealdb/core/src/exec/planner/source.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix dynamic key resolution in new executor batch evaluation
  surrealdb/core/src/exec/physical_expr/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix GraphEdgeScan limit pushdown to account for START offset
  surrealdb/core/src/exec/planner/source.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix containment operator index matching for nested array paths
  language-tests/tests/language/planner/contains_operators_new_executor.surql
  language-tests/tests/language/statements/create/create_with_std_index_with_flattened_field_new_executor.surql
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Elide redundant Filter when FullTextScan covers the MATCHES predicate
  language-tests/tests/language/indexes/full_text/analyzer_without_tokenizer_new_executor.surql
  language-tests/tests/language/indexes/full_text/fulltext_new_executor.surql
  language-tests/tests/language/indexes/full_text/multi_index_offsets_new_executor.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_edgengram_new_executor.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_ngram_new_executor.surql
  language-tests/tests/language/indexes/full_text/score_bm25_new_executor.surql
  language-tests/tests/language/indexes/full_text/score_without_index_new_executor.surql
  language-tests/tests/language/indexes/full_text/select_where_and_with_fulltext_index_new_executor.surql
  language-tests/tests/language/planner/boolean_behavior_index_new_executor.surql
  language-tests/tests/language/planner/contains_operators.surql
  language-tests/tests/language/planner/multi_index_or_and_new_executor.surql
  language-tests/tests/language/statements/select/destructure_new_executor.surql
  language-tests/tests/language/statements/select/dynamic_keys_new_executor.surql
  language-tests/tests/language/statements/select/from_none_new_executor.surql
  language-tests/tests/language/statements/select/graph_field_no_flatten_new_executor.surql
  language-tests/tests/language/statements/select/where_bool_new_executor.surql
  language-tests/tests/language/statements/select/writable_subqueries_new_executor.surql
  language-tests/tests/reproductions/3510_link_wildcard_where_new_executor.surql
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix language tests
  language-tests/tests/language/indexes/full_text/partial_highlight_ngram.surql
  language-tests/tests/language/indexes/search/select_where_matches_using_index_and_arrays_sequentual_new_executor.surql
  language-tests/tests/language/indexes/search/select_where_matches_using_index_and_objects_sequential_new_executor.surql
  language-tests/tests/language/indexes/search/select_where_matches_using_index_new_executor.surql
  language-tests/tests/language/planner/contains_operators_new_executor.surql
  language-tests/tests/language/statements/explain/complex.surql
Due: none

More tidying
  language-tests/tests/language/indexes/search/select_where_matches_using_index_new_executor.surql
  surrealdb/core/src/exec/planner/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix newlines
  language-tests/tests/language/indexes/full_text/fulltext_new_executor.surql
  language-tests/tests/language/indexes/full_text/partial_highlight_ngram_new_executor.surql
  language-tests/tests/language/indexes/full_text/select_where_and_with_fulltext_index_new_executor.surql
  language-tests/tests/language/planner/multi_index_or_and_new_executor.surql
  language-tests/tests/language/statements/create/create_with_std_index_with_flattened_field_new_executor.surql
  language-tests/tests/reproductions/6932_bracket_not_resolve.surql
Due: none

Fix KNN indexing
  language-tests/tests/language/indexes/knn/hnsw_knn_new_executor.surql
  language-tests/tests/language/indexes/knn/hnsw_knn_with_condition_new_executor.surql
  language-tests/tests/language/planner/param_value_index_new_executor.surql
  language-tests/tests/language/statements/define/index/with_non_boolean_expression_new_executor.surql
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/operators/scan/dynamic.rs
  surrealdb/core/src/exec/physical_expr/ops.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

clippy
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fmt
  surrealdb/core/src/exec/planner/util.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fixins
  language-tests/tests/reproductions/count_exists_edge_optimization.surql
  surrealdb/core/src/dbs/statement.rs
  surrealdb/core/src/idx/planner/count_exists_rewriter.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add OPTION for toggling planner strategy
  language-tests/tests/language/statements/option/planner_strategy.surql
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/err/mod.rs
  surrealdb/core/src/expr/statements/mod.rs
  surrealdb/core/src/expr/statements/option.rs
  surrealdb/core/src/sql/statements/mod.rs
  surrealdb/core/src/sql/statements/option.rs
  surrealdb/core/src/sql/test_to_sql.rs
  surrealdb/core/src/syn/parser/stmt/mod.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: serialization error of RecordIdKeyType::Object (#6977)
  surrealdb/types/src/flatbuffers/mod.rs
  surrealdb/types/src/flatbuffers/record.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix permission check for DELETE live events (#6992)
  surrealdb/core/src/doc/lives.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix `DEFINE FUNCTION` parsing from disk (#6987)
  language-tests/tests/reproductions/legacy_strand_colon_string_in_function.surql
  surrealdb/core/src/syn/mod.rs
  surrealdb/core/src/syn/parser/prime.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
