Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

fmt
  surrealdb/core/src/syn/parser/idiom.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add reproduction test for COUNT index stale results (#7090)
  language-tests/tests/reproductions/7090_count_index_stale_after_overwrite_relate.surql
Due: none

Increase test-workspace CI worker
  .github/workflows/ci.yml
Due: none

update proper action step
  .github/workflows/ci.yml
Due: none

Fix missed merge conflict
  language-tests/tests/reproductions/7129_unique_index_none_order.surql
Due: none

Fix COUNT index stale results after cascading graph deletes (#7090)
  language-tests/tests/reproductions/7090_count_index_stale_after_overwrite_relate.surql
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add reproduction tests for related cascade delete index bugs (#7061, #7132)
  language-tests/tests/reproductions/7061_cascade_delete_unique_index_ghost.surql
  language-tests/tests/reproductions/7132_phantom_unique_index_relation.surql
Due: none

Fix upgrade test
  language-tests/.nvim.lua
  language-tests/src/cmd/list.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/upgrade/mod.rs
  language-tests/src/cmd/upgrade/process.rs
  language-tests/src/cmd/upgrade/protocol.rs
  language-tests/src/tests/case/config.rs
  language-tests/src/tests/case/mod.rs
  language-tests/src/tests/report/display.rs
  language-tests/src/tests/report/mod.rs
  language-tests/src/tests/report/update.rs
  language-tests/src/tests/run/mod.rs
Due: none

Fix $auth/$session NONE in client-transaction queries
  surrealdb/core/src/kvs/ds.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix duplicate constant values omitted in streaming executor
  language-tests/tests/reproductions/7215_duplicate_constant_values_omitted.surql
  surrealdb/core/src/exec/expression_registry.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix formatting again
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix wasm
  surrealdb/core/src/kvs/ds/builder.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix export re-import errors with DEFINE FIELD OVERWRITE
  language-tests/tests/reproductions/6075_relation_table_export_field_conflict.surql
  language-tests/tests/reproductions/6297_field_already_exists_reimport.surql
  surrealdb/core/src/kvs/export.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix nested .* destructure with record links
  language-tests/tests/reproductions/6948_nested_destructure_in_block.surql
  surrealdb/core/src/exec/parts/destructure.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix stack overflow on deep stored function chains
  language-tests/tests/reproductions/7238_deep_function_chain_stack_overflow.surql
  surrealdb/core/src/expr/function.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix references created despite failed CREATE permission
  language-tests/tests/reproductions/7208_reference_created_on_permission_fail.surql
  language-tests/tests/reproductions/7208_reference_created_on_permission_fail_import.surql
  surrealdb/core/src/doc/create.rs
  surrealdb/core/src/doc/insert.rs
  surrealdb/core/src/doc/relate.rs
  surrealdb/core/src/doc/update.rs
  surrealdb/core/src/doc/upsert.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix KNN operator <|K, DISTANCE|> bypassing HNSW index
  language-tests/tests/reproductions/7229_knn_k_distance_bypasses_hnsw.surql
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix view materialization crash with aliased id
  language-tests/tests/reproductions/7134_view_define_requires_record_id.surql
  surrealdb/core/src/expr/statements/define/table.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

address comments
  language-tests/src/cmd/upgrade/mod.rs
  surrealdb/core/src/exec/function/builtin/http.rs
  surrealdb/core/src/fnc/http.rs
  surrealdb/core/src/fnc/util/http/mod.rs
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Pass opt.version to get_record in process_lookup for correct time-travel queries
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix fmt
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Reintroduce function from community PR without surfacing internal API
  surrealdb/src/engine/local/native.rs
  surrealdb/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Fix formatting
  language-tests/src/cli.rs
  language-tests/src/cmd/list.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/src/cmd/run/util.rs
  language-tests/src/cmd/upgrade/mod.rs
  language-tests/src/cmd/upgrade/process.rs
  language-tests/src/tests/case/config.rs
  language-tests/src/tests/case/mod.rs
  language-tests/src/tests/mod.rs
  language-tests/src/tests/report/display.rs
  language-tests/src/tests/report/mod.rs
  language-tests/src/tests/report/update.rs
  language-tests/src/tests/run/mod.rs
  language-tests/src/tests/schema/mod.rs
  language-tests/src/util/mod.rs
  language-tests/src/util/temp_dir.rs
  surrealdb/src/engine/local/native.rs
  surrealdb/src/lib.rs
Due: workspace-tests, language-tests, surrealdb-sdk

improve
  language-tests/tests/reproductions/7134_view_define_requires_record_id.surql
  surrealdb/core/src/doc/create.rs
  surrealdb/core/src/doc/field.rs
  surrealdb/core/src/doc/insert.rs
  surrealdb/core/src/doc/relate.rs
  surrealdb/core/src/doc/update.rs
  surrealdb/core/src/doc/upsert.rs
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/expr/statements/define/table.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Remove editor files
  language-tests/.nvim.lua
  surrealdb/.nvim.lua
Due: workspace-tests, language-tests, surrealdb-sdk

Format
  surrealdb/core/src/dbs/processor.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fixup
  language-tests/tests/language/indexes/knn/hnsw_knn.surql
  language-tests/tests/language/script/massive_parallel.surql
  surrealdb/core/src/expr/function.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

add missing checks
  surrealdb/core/src/exec/physical_expr/function/module.rs
  surrealdb/core/src/expr/function.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

revert dive change
  language-tests/tests/reproductions/7238_deep_function_chain_stack_overflow.surql
  surrealdb/core/src/expr/function.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix test
  language-tests/tests/language/script/massive_parallel.surql
Due: none

Add to list so old executor will work too
  surrealdb/core/src/fnc/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Add more missing function paths
  surrealdb/core/src/fnc/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

test: add language regressions for issues already fixed on main
  language-tests/tests/reproductions/6297_field_already_exists_reimport.surql
  language-tests/tests/reproductions/7013_search_score_inside_function.surql
  language-tests/tests/reproductions/7060_computed_ref_where_clause.surql
  language-tests/tests/reproductions/7118_option_import_side_effects.surql
  language-tests/tests/reproductions/7133_parent_graph_correlated_subquery_empty.surql
  language-tests/tests/reproductions/7135_schemafull_field_leak_across_dbs.surql
  language-tests/tests/reproductions/7199_bm25_match_bind_variable.surql
  language-tests/tests/reproductions/7219_export_import_roundtrip.surql
  language-tests/tests/reproductions/7240_schemafull_object_drops_nested_fields.surql
Due: none

fix: bind $parent during SELECT target prepare for nested graph FROM
  language-tests/tests/reproductions/7133_parent_graph_correlated_subquery_empty.surql
  surrealdb/core/src/doc/document.rs
  surrealdb/core/src/expr/statements/select.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: add explicit lifetime to CursorDoc::update_parent async closure bound
  surrealdb/core/src/doc/document.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

docs(test): fix misleading KNN EUCLIDEAN comments (PR 7263 review)
  language-tests/tests/language/indexes/knn/hnsw_knn.surql
  language-tests/tests/language/indexes/knn/hnsw_knn_new_executor.surql
Due: none

chore: drop 7118 OPTION IMPORT reproduction test
  language-tests/tests/reproductions/7118_option_import_side_effects.surql
Due: none

revert: restore original HNSW KNN test comments
  language-tests/tests/language/indexes/knn/hnsw_knn.surql
  language-tests/tests/language/indexes/knn/hnsw_knn_new_executor.surql
Due: none

docs(test): align hnsw_knn comment with HNSW EXPLAIN expectations
  language-tests/tests/language/indexes/knn/hnsw_knn.surql
Due: none

Fix after merge
  language-tests/src/cmd/run/provisioner.rs
  surrealdb/core/src/kvs/tests/tx_cache_test.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Path conditions:
  workspace-tests: any of: surrealdb/, src/, surrealism/, surrealml/, tests/
  language-tests: any of: surrealdb/, surrealism/, surrealml/, tests/
  surrealdb-core: any of: surrealdb/core/**
  surrealdb-types: any of: surrealdb/types/**
  surrealdb-sdk: any of: surrealdb/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
