Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Revert "Disable release mode temporarily"
  .github/workflows/crud-bench.yml
Due: none

Ensure crud-bench dependencies are consistent with surrealdb ones
  .github/workflows/crud-bench.yml
Due: none

Wait for the process to terminate before trying to remove the data folder
  .github/workflows/crud-bench.yml
Due: none

Make the output easier to digest
  .github/scripts/analyze_benchmark.py
Due: none

Add file functionality tests
  language-tests/tests/language/primitive/files/basic_functions.surql
  language-tests/tests/language/primitive/files/basic_methods.surql
  language-tests/tests/language/primitive/files/binary.surql
  language-tests/tests/language/primitive/files/copy_across_buckets.surql
  language-tests/tests/language/primitive/files/edge_cases.surql
  language-tests/tests/language/primitive/files/errors.surql
  language-tests/tests/language/primitive/files/info.surql
  language-tests/tests/language/primitive/files/list.surql
  language-tests/tests/language/primitive/files/list_edge_cases.surql
  language-tests/tests/language/primitive/files/metadata.surql
  language-tests/tests/language/primitive/files/permissions.surql
  language-tests/tests/language/primitive/files/pointer_functions.surql
  language-tests/tests/language/primitive/files/pointer_methods.surql
  language-tests/tests/language/primitive/files/readonly.surql
  revision.lock
  surrealdb/core/src/buc/store/file.rs
  surrealdb/core/src/buc/store/memory.rs
  surrealdb/core/src/fnc/file.rs
  surrealdb/core/src/val/file.rs
  surrealdb/core/src/val/value/convert/coerce.rs
Due: none

Refactor to improve readability
  .github/scripts/analyze_benchmark.py
  .github/workflows/crud-bench.yml
Due: none

Fix matrix
  .github/workflows/crud-bench.yml
Due: none

Add async parameters + definition + parse
  surrealdb/core/src/catalog/schema/event.rs
  surrealdb/core/src/expr/statements/define/event.rs
  surrealdb/core/src/sql/statements/define/event.rs
  surrealdb/core/src/syn/lexer/keywords.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/token/keyword.rs
Due: none

Optimise surrealdb binary builds
  .github/workflows/crud-bench.yml
  doc/BENCHMARKING.md
Due: none

Build crud-bench with only the features needed
  .github/workflows/crud-bench.yml
Due: none

Drop the redundant display_name
  .github/workflows/crud-bench.yml
Due: none

Optimise job concurrency
  .github/actions/run-benchmark/action.yml
  .github/workflows/crud-bench.yml
Due: none

Collect more stats
  .github/scripts/analyze_benchmark.py
Due: none

Optimise the crud bench binary further
  .github/actions/run-benchmark/action.yml
  .github/workflows/crud-bench.yml
Due: none

Revert "Optimise the crud bench binary further"
  .github/actions/run-benchmark/action.yml
  .github/workflows/crud-bench.yml
Due: none

Update docs
  doc/BENCHMARKING.md
Due: none

tidy up
  language-tests/tests/language/primitive/files/errors.surql
  language-tests/tests/language/primitive/files/permissions.surql
  revision.lock
  surrealdb/core/src/fnc/file.rs
  surrealdb/core/src/val/file.rs
  surrealdb/core/src/val/value/convert/coerce.rs
Due: none

Remove unnecessary eval
  .github/actions/run-benchmark/action.yml
Due: none

Fix clippy
  surrealdb/core/src/catalog/compat/fixtures.rs
  surrealdb/core/src/catalog/schema/event.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/expr/statements/define/event.rs
  surrealdb/core/src/sql/statements/define/event.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  surrealdb/core/src/syn/parser/test/stmt.rs
  surrealdb/core/src/syn/parser/test/streaming.rs
Due: none

Fix revision
  revision.lock
Due: none

Fix the build and prepare v2.4.1 release (#6729)
  Cargo.toml
  crates/sdk/Cargo.toml
  deny.toml
Due: surrealdb-sdk

Improve string escaping code
  Cargo.toml
  crates/core/src/sql/table_type.rs
  crates/sdk/Cargo.toml
  rust-toolchain.toml.tmp
Due: surrealdb-core, surrealdb-sdk

Add more migration checks
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/sdk/build.rs
Due: surrealdb-core, surrealdb-sdk

Add check for numeric order issues
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
Due: surrealdb-core

Fix warnings and tests
  .github/workflows/supply-chain.yml
  crates/core/src/fnc/migration.rs
  crates/core/src/sql/table_type.rs
Due: surrealdb-core

Add DEFER` keyword for background index building and maintenance (Experimental) (#6717)
  revision.lock
Due: none

Undo build.rs changes
  crates/sdk/build.rs
Due: surrealdb-sdk

Undo toolchain changes + fix cargo-deny issue
  .github/workflows/supply-chain.yml
  rust-toolchain.toml
Due: none

Fix more tests
  tests/http_integration.rs
Due: integration-tests

Formatting
  Cargo.lock
  tests/http_integration.rs
Due: integration-tests

Fix supply chain ci
  Cargo.lock
Due: none

Change migration path values and add some more migration issue checks
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/language-tests/tests/migration/closure/stored.surql
  crates/language-tests/tests/migration/closure/will_be_stored.surql
  crates/language-tests/tests/migration/functions/array_logical_and.surql
  crates/language-tests/tests/migration/functions/array_logical_or.surql
  crates/language-tests/tests/migration/functions/array_range.surql
  crates/language-tests/tests/migration/functions/math_max.surql
  crates/language-tests/tests/migration/functions/math_min.surql
  crates/language-tests/tests/migration/functions/math_sqrt.surql
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
  crates/language-tests/tests/migration/idiom/all_idiom.surql
  crates/language-tests/tests/migration/idiom/field_followed.surql
  crates/language-tests/tests/migration/idiom/id_field.surql
  crates/language-tests/tests/migration/key_conflict/deeply_nested.surql
  crates/language-tests/tests/migration/key_conflict/in_array.surql
  crates/language-tests/tests/migration/key_conflict/in_object.surql
  rust-toolchain.toml.old
Due: surrealdb-core

Add test fwhich includes all issues
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/migration/all.surql
  crates/language-tests/tests/migration/all_import.surql
  crates/language-tests/tests/migration/idiom/id_field.surql
  crates/language-tests/tests/migration/search_index.surql
Due: surrealdb-core

Update revision.lock
  revision.lock
Due: none

WIP
  language-tests/tests/language/statements/select/order/unicode/german.surql
Due: none

Undo file renaming
  rust-toolchain.toml
Due: none

Ensure scan ops are included
  .github/scripts/analyze_benchmark.py
Due: none

Only issue a migration warning when `.id` is not last
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/language-tests/tests/migration/all_import.surql
  crates/language-tests/tests/migration/idiom/id_field.surql
  crates/language-tests/tests/migration/idiom/id_field_last.surql
Due: surrealdb-core

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
