Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Fix
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Fix
  .github/workflows/bench.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
  crates/sdk/tests/deferindex.rs
  rust-toolchain.toml
Due: surrealdb-sdk

Wip
  .github/workflows/ci.yml
  crates/core/src/key/index/ia.rs
  crates/sdk/tests/insert.rs
  rust-toolchain.toml
Due: surrealdb-core, surrealdb-sdk

Move crud-bench to Github tools
  .github/tools/Cargo.toml
  .github/workflows/crud-bench.yml
Due: none

Wip
  .github/workflows/ci.yml
  crates/core/src/key/index/ia.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Ensure previous builder is stopped
  .github/workflows/ci.yml
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Override SurrealDB source for crud-bench
  .github/tools/.cargo/config.toml
  .github/tools/Cargo.toml
Due: none

Fix
  crates/core/src/gql/schema.rs
  crates/core/src/kvs/index.rs
  crates/sdk/src/api/conn/cmd.rs
  revision.lock
Due: surrealdb-core, surrealdb-sdk

Remove unused error variants from SDK. (#6720)
  crates/sdk/Cargo.toml
  crates/sdk/src/err/mod.rs
Due: surrealdb-sdk

PlannerStrategy
  crates/core/src/dbs/mod.rs
  crates/core/src/dbs/session.rs
  crates/core/src/kvs/ds.rs
Due: surrealdb-core

Copy crud-bench profiles
  .github/tools/Cargo.toml
  .github/workflows/crud-bench.yml
Due: none

More fixes
  crates/core/src/fmt/escape.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/ast.rs
  crates/core/src/sql/function.rs
  crates/core/src/sql/idiom.rs
  crates/core/src/sql/limit.rs
  crates/core/src/sql/output.rs
  crates/core/src/syn/parser/record_id.rs
  crates/fuzz/fuzz_parallel.py
Due: surrealdb-core

Implement ROCKSDB telemetry
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/language-tests/Cargo.lock
  src/cli/start.rs
  src/telemetry/metrics/ds.rs
  src/telemetry/metrics/mod.rs
Due: surrealdb-core, surrealdb-bin

Fixes
  .github/workflows/ci.yml
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/rocksdb/mod.rs
  rust-toolchain.toml
Due: surrealdb-core

Clippy
  crates/core/src/gql/schema.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/sdk/src/api/conn/cmd.rs
  src/telemetry/metrics/ds.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Remove tools/Cargo.toml
  .github/tools/.cargo/config.toml
  .github/tools/Cargo.toml
  .github/workflows/crud-bench.yml
Due: none

Add metric test
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/metrics.rs
  crates/core/src/kvs/tests/mod.rs
Due: surrealdb-core

Add opentelemetry test
  crates/core/src/kvs/tests/metrics.rs
  crates/core/src/kvs/tests/mod.rs
  src/telemetry/metrics/ds.rs
Due: surrealdb-core, surrealdb-bin

Clippy
  crates/core/src/gql/tables.rs
Due: surrealdb-core

Fix clippy
  crates/sdk/src/api/engine/any/mod.rs
  crates/sdk/src/api/engine/remote/mod.rs
  crates/sdk/src/api/engine/remote/ws/native.rs
  crates/sdk/src/api/method/mod.rs
  crates/sdk/src/api/method/query.rs
  crates/sdk/src/api/method/run.rs
  crates/sdk/src/api/mod.rs
  crates/sdk/src/api/opt/config.rs
  crates/sdk/src/api/opt/endpoint/mod.rs
  crates/sdk/src/api/opt/query.rs
  crates/sdk/src/api/opt/resource.rs
  crates/sdk/src/api/value/mod.rs
Due: surrealdb-sdk

More clippy
  src/cli/sql.rs
  src/cli/upgrade.rs
  src/cli/version_client.rs
  src/net/headers/mod.rs
  src/net/input.rs
  src/net/output.rs
  src/telemetry/logs/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
Due: surrealdb-bin

Expose RocksDB memory usage statistics via OpenTelemetry (#6726)
  .github/workflows/ci.yml
  crates/core/src/gql/schema.rs
  crates/core/src/gql/tables.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/tests/metrics.rs
  crates/core/src/kvs/tests/mod.rs
  crates/language-tests/Cargo.lock
  crates/sdk/src/api/conn/cmd.rs
  crates/sdk/src/api/engine/any/mod.rs
  crates/sdk/src/api/engine/remote/mod.rs
  crates/sdk/src/api/engine/remote/ws/native.rs
  crates/sdk/src/api/method/mod.rs
  crates/sdk/src/api/method/query.rs
  crates/sdk/src/api/method/run.rs
  crates/sdk/src/api/mod.rs
  crates/sdk/src/api/opt/config.rs
  crates/sdk/src/api/opt/endpoint/mod.rs
  crates/sdk/src/api/opt/query.rs
  crates/sdk/src/api/opt/resource.rs
  crates/sdk/src/api/value/mod.rs
  rust-toolchain.toml
  src/cli/sql.rs
  src/cli/start.rs
  src/cli/upgrade.rs
  src/cli/version_client.rs
  src/net/headers/mod.rs
  src/net/input.rs
  src/net/output.rs
  src/telemetry/logs/mod.rs
  src/telemetry/metrics/ds.rs
  src/telemetry/metrics/mod.rs
  src/telemetry/mod.rs
  src/telemetry/traces/mod.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix test formatting
  crates/core/tests/matches.rs
Due: surrealdb-core

fix level compaction
  Cargo.lock
  Cargo.toml
Due: none

update to 0.17
  Cargo.lock
  Cargo.toml
Due: none

WIP
  Makefile.toml
  crates/core/src/api/middleware/api_x/req.rs
  crates/core/src/api/request.rs
  crates/core/src/api/response.rs
  crates/core/src/fnc/api/mod.rs
  crates/core/src/fnc/api/req.rs
  crates/core/src/fnc/api/res.rs
  crates/core/src/fnc/args.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/parser/builtin.rs
Due: surrealdb-core

add a QueryParams wrapper to properly deserialize HTTP query parameters
  crates/server/src/ntw/mod.rs
  crates/server/src/ntw/sql.rs
Due: none

Remove extra line
  crates/server/src/ntw/sql.rs
Due: none

Fix missing trailing newline
  crates/server/src/ntw/sql.rs
Due: none

Ensure defer building daemon is running after restart
  crates/core/src/doc/index.rs
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Ensure defer deamon is started atomically
  crates/core/src/kvs/index.rs
Due: surrealdb-core

Sync Rust build version with toolchain file
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
Due: none

Fix the build and prepare v2.4.1 release
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/fuzz/Cargo.lock
  crates/language-tests/Cargo.lock
  crates/sdk/Cargo.toml
  deny.toml
Due: surrealdb-core, surrealdb-sdk

callback-based middlewares finally working
  crates/core/src/api/body.rs
  crates/core/src/api/context.rs
  crates/core/src/api/invocation.rs
  crates/core/src/api/middleware/api/mod.rs
  crates/core/src/api/middleware/api/req/mod.rs
  crates/core/src/api/middleware/api/res/mod.rs
  crates/core/src/api/middleware/api_x/common.rs
  crates/core/src/api/middleware/api_x/mod.rs
  crates/core/src/api/middleware/api_x/req.rs
  crates/core/src/api/middleware/api_x/res.rs
  crates/core/src/api/middleware/invoke.rs
  crates/core/src/api/middleware/mod.rs
  crates/core/src/api/mod.rs
  crates/core/src/api/request.rs
  crates/core/src/api/response.rs
  crates/core/src/catalog/schema/api.rs
  crates/core/src/expr/closure.rs
  crates/core/src/fnc/api/mod.rs
  crates/core/src/fnc/api/req.rs
  crates/core/src/fnc/api/res.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/parser/function.rs
  crates/core/src/val/bytes.rs
  crates/core/src/val/closure.rs
  crates/core/src/val/mod.rs
  crates/server/src/ntw/api.rs
Due: surrealdb-core

Fix the build and prepare v2.4.1 release (#6729)
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  .github/workflows/supply-chain.yml
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/fuzz/Cargo.lock
  crates/language-tests/Cargo.lock
  crates/sdk/Cargo.toml
  deny.toml
Due: surrealdb-core, surrealdb-sdk

more fixes
  crates/core/src/buc/store/file.rs
  crates/core/src/sql/access_type.rs
  crates/core/src/sql/arbitrary/idiom.rs
  crates/core/src/sql/arbitrary/parts.rs
  crates/core/src/sql/arbitrary/statements.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/closure.rs
  crates/core/src/sql/data.rs
  crates/core/src/sql/expression.rs
  crates/core/src/sql/function.rs
  crates/core/src/sql/output.rs
  crates/core/src/sql/start.rs
  crates/core/src/syn/error/mac.rs
  crates/core/src/syn/lexer/compound/regex.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/lexer/strings/mod.rs
  crates/core/src/syn/parser/basic/mod.rs
  crates/core/src/syn/parser/builtin.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/insert.rs
  crates/fuzz/Cargo.lock
  crates/fuzz/README.md
  crates/fuzz/fuzz_parallel.py
Due: surrealdb-core

feat: Add configurable crate path support to SurrealValue derive macro (surrealdb/surrealdb-protocol#24)
  crates/types-derive/src/crate_path.rs
  crates/types-derive/src/impl/enum.rs
  crates/types-derive/src/impl/struct.rs
  crates/types-derive/src/lib.rs
  crates/types-derive/src/structs/enum/mod.rs
  crates/types-derive/src/structs/fields/mod.rs
  crates/types-derive/src/structs/fields/named.rs
  crates/types/src/notification.rs
  crates/types/src/value/record_id/key.rs
  crates/types/src/variables.rs
Due: surrealdb-types

Fix double print (surrealdb/surrealdb-protocol#25)
  crates/types/src/utils/escape.rs
Due: surrealdb-types
