Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: workspace-tests, language-tests, surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests
    patch:
      default:
        informational: true
      workspace-tests:
        informational: true
        flags:
          - workspace-tests
      language-tests:
        informational: true
        flags:
          - language-tests

comment:
  behavior: default

flags:
  workspace-tests:
    paths:
      - surrealdb/
      - src/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true
  language-tests:
    paths:
      - surrealdb/
      - surrealism/
      - surrealml/
      - tests/
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
      - type: patch
        target: auto
        informational: true

  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - surrealdb/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - surrealdb/types/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - surrealdb/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

bench(core): add a read-only UDF shape to the fan_out bench (#910)
  surrealdb/core/benches/fan_out.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Bring the SDK's doc examples back to the current API, and run them in CI (#905)
  .github/workflows/ci.yml
  Cargo.lock
  Makefile.ci.toml
  surrealdb/Cargo.toml
  surrealdb/src/engine/any/mod.rs
  surrealdb/src/engine/local/mod.rs
  surrealdb/src/engine/remote/mod.rs
  surrealdb/src/method/mod.rs
  surrealdb/src/method/query.rs
  surrealdb/src/method/select.rs
  surrealdb/src/opt/auth.rs
  surrealdb/src/opt/capabilities.rs
  surrealdb/src/opt/config.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(kvs/tikv): treat TSO physical component as milliseconds, not microseconds (#916)
  surrealdb/core/src/kvs/tikv/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

ci(sdk): fix PHP + Python external SDK test jobs on releases/3.1 (#918)
  .github/workflows/external-sdk-tests.yml
Due: none

Upgrade DiskANN to 0.55.0 (#920)
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  surrealdb/idx/Cargo.toml
Due: workspace-tests, language-tests, surrealdb-sdk

Upgrade to surrealmx 0.24.0 and use its native savepoint release (#921)
  Cargo.lock
  Cargo.toml
  deny.toml
  fuzz/Cargo.lock
  language-tests/Cargo.lock
  supply-chain/imports.lock
  surrealdb/kvs-mem/src/cnf.rs
  surrealdb/kvs-mem/src/lib.rs
  surrealdb/kvs/src/api.rs
  surrealdb/kvs/src/savepoint.rs
  surrealdb/src/opt/endpoint/local.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Require UNSIGNED on DEFINE MODULE and resolve silo packages over HTTPS (#907)
  language-tests/tests/language/statements/define/module/capability_granted.surql
  language-tests/tests/language/statements/define/module/unsigned_required.surql
  language-tests/tests/language/statements/define/module/unsigned_required_silo.surql
  revision.lock
  surrealdb/ast/src/lib.rs
  surrealdb/catalog/src/schema/module.rs
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/physical_expr/function/module.rs
  surrealdb/core/src/kvs/compat/fixtures.rs
  surrealdb/core/src/kvs/compat/tests.rs
  surrealdb/core/src/legacy/expr/statements/define/module.rs
  surrealdb/core/src/sql_test.rs
  surrealdb/core/src/surrealism/CLAUDE.md
  surrealdb/core/src/surrealism/config.rs
  surrealdb/core/src/surrealism/mod.rs
  surrealdb/core/src/surrealism/silo.rs
  surrealdb/expr/src/expr/convert/statements/define/module.rs
  surrealdb/expr/src/expr/statements/define/module.rs
  surrealdb/parser/src/parse/stmt/define.rs
  surrealdb/parser/src/test/files/stmts/define/module.surql
  surrealdb/sql/src/statements/define/module.rs
  surrealdb/syn/src/lexer/keywords.rs
  surrealdb/syn/src/parser/stmt/define.rs
  surrealdb/syn/src/token/keyword.rs
  surrealdb/token/src/base.rs
  surrealdb/token/src/mac.rs
  surrealism/CLAUDE.md
  surrealism/test/test.surql
  tests/conformance-js/tests/surrealism.test.ts
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Add base sqon crate (#917)
  Cargo.lock
  Cargo.toml
  surrealdb/parse-common/src/escape.rs
  surrealdb/sqon/Cargo.toml
  surrealdb/sqon/src/de.rs
  surrealdb/sqon/src/lib.rs
  surrealdb/sqon/src/token.rs
  surrealdb/sqon/src/visit.rs
  surrealdb/sqon/tests/parse.rs
  surrealdb/sqon/tests/roundtrip.rs
  surrealdb/types/Cargo.toml
  surrealdb/types/src/value/record_id/range.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Replace AS with FROM on DEFINE MODULE (#919)
  language-tests/tests/language/statements/define/module/as_rejected.surql
  language-tests/tests/language/statements/define/module/capability_granted.surql
  language-tests/tests/language/statements/define/module/unsigned_required.surql
  surrealdb/core/src/sql_test.rs
  surrealdb/sql/src/statements/define/module.rs
  surrealdb/syn/src/parser/stmt/define.rs
  surrealism/CLAUDE.md
  surrealism/test/test.surql
  tests/conformance-js/tests/surrealism.test.ts
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

fix(core/exec): reflect a closure body's writes in its access mode (#913)
  surrealdb/core/src/exec/physical_expr/function/closure.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Install the statement transaction before USE computes its arguments (#903) (#923)
  language-tests/tests/reproductions/903_use_ns_db_expression_argument.surql
  surrealdb/ast/src/lib.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/tests/it/use_auth.rs
  surrealdb/parser/src/parse/top_level_expr.rs
  surrealdb/parser/src/test/files/stmts/use.surql
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix(mcp): decide statelessness from the session, not the claimed protocol version (#925)
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/tests/http.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(core/exec): only strip a union-covered CONTAINSANY leaf that every branch implies (#926)
  language-tests/tests/reproductions/codex_nested_or_union_strips_sibling_containsany.surql
  surrealdb/core/src/exec/index/analysis.rs
  surrealdb/core/src/exec/planner/select/mod.rs
  surrealdb/core/src/exec/planner/util/conditions.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Scope the silo module runtime cache by namespace and database (#927)
  SECURITY_GUIDE.md
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/legacy/expr/module.rs
  surrealdb/core/src/legacy/expr/statements/define/module.rs
  surrealdb/core/src/legacy/expr/statements/info.rs
  surrealdb/core/src/legacy/expr/statements/remove/module.rs
  surrealdb/core/src/surrealism/CLAUDE.md
  surrealdb/core/src/surrealism/cache.rs
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk, integration-tests

Default an unresolvable mod:: writeable flag to writeable (#929)
  surrealdb/core/src/exec/planner.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Allow mutable permission clauses on every server (#928)
  .github/security-guide-refs-allow.txt
  SECURITY_GUIDE.md
  surrealdb/rpc/src/capabilities/mod.rs
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Accept pokemon test API connections on a blocking socket (#930)
  tests/surrealism_integration.rs
Due: workspace-tests, language-tests, integration-tests

ci: move npm packages into the rolling build (#914)
  .github/actions/prune-superseded-artifacts/action.yml
  .github/workflows/nix.yml
  .github/workflows/release.yml
  .github/workflows/rolling-channel.yml
  doc/RELEASING.md
  surrealdb/node/publish.ts
  surrealdb/wasm/publish.ts
Due: workspace-tests, language-tests, surrealdb-sdk

fix(mcp): cover the replay the statelessness check closes, and verify tools/list (#931)
  surrealdb/mcp/src/auth.rs
  surrealdb/mcp/src/service.rs
  surrealdb/mcp/tests/http.rs
Due: workspace-tests, language-tests, surrealdb-sdk

fix(ci): correct the npm staging guard and the finalize npm gate (#934)
  .github/workflows/release.yml
  .github/workflows/rolling-channel.yml
  surrealdb/node/publish.ts
  surrealdb/wasm/publish.ts
Due: workspace-tests, language-tests, surrealdb-sdk

Keep archived-node cleanup off the HTTP bind path, and harden startup/heartbeat (#945, #949) [releases/3.3] (#948)
  surrealdb/core/src/kvs/ds.rs
  surrealdb/core/src/kvs/mod.rs
  surrealdb/core/src/kvs/tasks/mod.rs
  surrealdb/core/src/options.rs
  surrealdb/server/src/cli/start.rs
  surrealdb/server/src/dbs/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

chore: align `surrealism` and `surrealml` versioning with the engine (#954)
  .github/scripts/cut-release.sh
  Cargo.lock
  Cargo.toml
  supply-chain/config.toml
  surrealism/Cargo.toml
  surrealism/macros/Cargo.toml
  surrealism/runtime/Cargo.toml
  surrealism/types/Cargo.toml
  surrealml/core/Cargo.toml
Due: workspace-tests, language-tests

Fix the embedded JavaScript engines' storage lifetime and packaging (#957) [releases/3.3] (#962)
  .github/workflows/release.yml
  .gitignore
  surrealdb/embedded/src/lib.rs
  surrealdb/kvs-any/src/registry.rs
  surrealdb/node/README.md
  surrealdb/node/build.ts
  surrealdb/node/engine.test.ts
  surrealdb/node/package.json
  surrealdb/node/publish.ts
  surrealdb/node/src/app.rs
  surrealdb/node/version.ts
  surrealdb/rpc/src/stream.rs
  surrealdb/wasm/README.md
  surrealdb/wasm/publish.ts
Due: workspace-tests, language-tests, surrealdb-sdk

Performance: Parallelized WHERE clause evaluation in array and set idiom paths
  surrealdb/core/src/val/value/get.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Refactoring fnc/mod.rs and use matches!() macro instead long or chain
  surrealdb/core/src/fnc/mod.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

Fix MCP run argument schema
  surrealdb/mcp/src/tools/run.rs
Due: workspace-tests, language-tests, surrealdb-sdk

feat(types): add ergonomic as_str and as_byte_slice accessors on Value
  surrealdb/types/src/value/mod.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

Fix custom-path tagged enum derives
  surrealdb/types/derive/src/structs/fields/mod.rs
  surrealdb/types/tests/surreal_value/derive/enum_custom_crate_path.rs
  surrealdb/types/tests/surreal_value/derive/mod.rs
Due: workspace-tests, language-tests, surrealdb-types, surrealdb-sdk

docs: use relative paths for README hero and cloud images
  README.md
Due: none

docs: render feature illustrations full width, one per section
  README.md
Due: none

docs: new heading artwork, local SDK icons, AI search section
  README.md
  img/headings/ai-powered-search.jpg
  img/headings/connect-from-client-devices.jpg
  img/headings/database-api-permissions.jpg
  img/headings/embedded-or-cloud.jpg
  img/headings/inter-document-relations.jpg
  img/headings/javascript-functions.jpg
  img/headings/query-with-your-tools.jpg
  img/headings/realtime-live-queries.jpg
  img/headings/scale-effortlessly.jpg
  img/headings/schema-definition.jpg
  img/headings/tables-documents-graphs.jpg
  img/interface.png
  img/logo.svg
  img/sdks/client/emberjs.png
  img/sdks/client/javascript.png
  img/sdks/client/nextjs.png
  img/sdks/client/reactjs.png
  img/sdks/client/rust.png
  img/sdks/server/deno.png
  img/sdks/server/dotnet.png
  img/sdks/server/golang.png
  img/sdks/server/java.png
  img/sdks/server/javascript.png
  img/sdks/server/nodejs.png
  img/sdks/server/php.png
  img/sdks/server/python.png
  img/sdks/server/rust.png
  img/sdks/server/webassembly.png
  img/whatissurreal.svg
Due: none

docs: use local artwork for the client-side WebAssembly icon
  README.md
  img/sdks/client/webassembly.png
Due: none

docs: update the dark-mode hero artwork
  img/white/hero.png
Due: none

docs: update the light-mode hero artwork
  img/black/hero.png
Due: none

docs: update the dark-mode hero to the gradient artwork
  img/white/hero.png
Due: none

Commit Cargo.lock for the SDK build-test crates
  .gitignore
  tests/sdk/local/Cargo.lock
  tests/sdk/remote/Cargo.lock
Due: workspace-tests, language-tests, integration-tests

docs: fix typo guarenteed -> guaranteed
  surrealdb/parser/src/parse/error.rs
Due: workspace-tests, language-tests, surrealdb-sdk

Allow ORDER BY fields that are not in the SELECT list
  language-tests/tests/language/statements/select/order/order_by_computed_not_selected.surql
  surrealdb/core/src/syn/parser/stmt/parts.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk

fix: linked record compound index planning
  language-tests/tests/reproductions/7495_delete_linked_record_composite_index.surql
  surrealdb/core/src/idx/planner/plan.rs
  surrealdb/core/src/idx/planner/tree.rs
Due: workspace-tests, language-tests, surrealdb-core, surrealdb-sdk
