Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Cleanup MTree
  crates/core/src/catalog/mod.rs
  crates/core/src/catalog/schema/index.rs
  crates/core/src/idx/planner/checker.rs
  crates/core/src/idx/planner/tree.rs
  crates/core/src/idx/trees/vector.rs
  crates/core/src/sql/index.rs
  revision.lock
Due: surrealdb-core

cleanup
  crates/core/src/doc/alter.rs
  crates/core/src/doc/purge.rs
  crates/core/src/expr/data.rs
  crates/core/src/expr/visit.rs
  crates/core/src/sql/data.rs
Due: surrealdb-core

cleanup
  crates/core/src/doc/alter.rs
Due: surrealdb-core

fmt
  crates/core/src/doc/alter.rs
Due: surrealdb-core

Cleanup + Specialized vector serialisation
  crates/core/src/idx/planner/plan.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/idx/trees/knn.rs
  crates/core/src/idx/trees/store/lru.rs
  crates/core/src/idx/trees/store/mod.rs
  crates/core/src/idx/trees/vector.rs
Due: surrealdb-core

Revision lock
  revision.lock
Due: none

rev lock
  revision.lock
Due: none

Fix tests
  crates/core/src/idx/trees/vector.rs
  crates/core/src/key/index/hv.rs
Due: surrealdb-core

Prepare for v3.0.0-alpha.13 release
  Cargo.lock
  Cargo.toml
Due: none

Add more RevisionSpecialisedVec
  Cargo.lock
  Cargo.toml
  crates/core/src/idx/trees/vector.rs
  crates/core/src/key/index/hv.rs
  revision.lock
Due: surrealdb-core

move to `VIA` keyword
  crates/core/src/expr/lookup.rs
  crates/core/src/key/ref/mod.rs
  crates/core/src/sql/lookup.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/tests/language/reference/range.surql
  crates/language-tests/tests/language/reference/via_referencing_field.surql
Due: surrealdb-core

Add set literal syntax (#6556)
  crates/core/src/expr/block.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/test/limit.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/set.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/tests/cmp.rs
  crates/language-tests/tests/language/functions/set/add.surql
  crates/language-tests/tests/language/functions/set/complement.surql
  crates/language-tests/tests/language/functions/set/complex_values.surql
  crates/language-tests/tests/language/functions/set/contains.surql
  crates/language-tests/tests/language/functions/set/conversion.surql
  crates/language-tests/tests/language/functions/set/difference.surql
  crates/language-tests/tests/language/functions/set/edge_cases.surql
  crates/language-tests/tests/language/functions/set/filter.surql
  crates/language-tests/tests/language/functions/set/first.surql
  crates/language-tests/tests/language/functions/set/flatten.surql
  crates/language-tests/tests/language/functions/set/fold.surql
  crates/language-tests/tests/language/functions/set/intersect.surql
  crates/language-tests/tests/language/functions/set/map.surql
  crates/language-tests/tests/language/functions/set/method_syntax.surql
  crates/language-tests/tests/language/functions/set/parse_error.surql
  crates/language-tests/tests/language/functions/set/reduce.surql
  crates/language-tests/tests/language/functions/set/remove.surql
  crates/language-tests/tests/language/functions/set/slice.surql
  crates/language-tests/tests/language/functions/set/union.surql
  crates/language-tests/tests/language/functions/type/set.surql
  crates/language-tests/tests/language/primitive/set/basic.surql
  crates/language-tests/tests/language/statements/define/param/future_value_this.surql
  crates/language-tests/tests/parsing/errors/missed_qoute_object.surql
  crates/language-tests/tests/parsing/glueing/number_in_block.surql
  crates/language-tests/tests/upgrade/define/function.surql
  crates/types/src/lib.rs
  crates/types/src/value/set.rs
Due: surrealdb-core, surrealdb-types

Fix up paths.
  .codecov.yml
  .cursor/rules/bug-investigation.mdc
  .cursor/rules/surrealql-language-tests.mdc
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/fuzzing.yml
  .github/workflows/supply-chain.yml
  .gitignore
  CONTRIBUTING.md
  Cargo.toml
  Makefile.ci.toml
  README.md
  build.rs
  surrealdb/core/src/mac/mod.rs
  surrealdb/sdk/benches/array_complement.rs
  surrealdb/sdk/benches/array_difference.rs
  surrealdb/sdk/benches/array_intersect.rs
  surrealdb/sdk/benches/array_uniq.rs
  surrealism/test/test.surql
  tests/README.md
  tests/sdk/local/Cargo.toml
  tests/sdk/remote/Cargo.toml
Due: integration-tests

Remove redundate surrealism prefixes.
  Cargo.toml
  surrealism/cli/Cargo.toml
  surrealism/cli/src/commands/build/mod.rs
  surrealism/cli/src/commands/info/mod.rs
  surrealism/cli/src/commands/mod.rs
  surrealism/cli/src/commands/run/mod.rs
  surrealism/cli/src/commands/sig/mod.rs
  surrealism/cli/src/host.rs
  surrealism/cli/src/main.rs
  surrealism/macros/Cargo.toml
  surrealism/macros/src/lib.rs
  surrealism/runtime/Cargo.toml
  surrealism/runtime/src/capabilities.rs
  surrealism/runtime/src/config.rs
  surrealism/runtime/src/controller.rs
  surrealism/runtime/src/host.rs
  surrealism/runtime/src/kv.rs
  surrealism/runtime/src/lib.rs
  surrealism/runtime/src/package.rs
  surrealism/runtime/src/wasi_context.rs
  surrealism/types/Cargo.toml
  surrealism/types/README.md
  surrealism/types/src/arg.rs
  surrealism/types/src/args.rs
  surrealism/types/src/controller.rs
  surrealism/types/src/err.rs
  surrealism/types/src/lib.rs
  surrealism/types/src/serialize.rs
  surrealism/types/src/transfer.rs
Due: none

Upgrade to latest SurrealMX and SurrealKV APIs
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  Makefile.ci.toml
  crates/core/src/key/debug.rs
  crates/core/src/kvs/fdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core

Add method paths for sets
  crates/core/src/fnc/mod.rs
Due: surrealdb-core

test graph clauses
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/tests/language/reference/clauses.surql
  crates/language-tests/tests/language/statements/select/split.surql
Due: surrealdb-core

don't fix split here
  crates/core/src/dbs/iterator.rs
  crates/language-tests/tests/language/reference/clauses.surql
  crates/language-tests/tests/language/statements/select/split.surql
Due: surrealdb-core

fmt
  crates/core/src/sql/lookup.rs
Due: surrealdb-core

Add common method paths for sets (#6559)
  crates/core/src/fnc/mod.rs
Due: surrealdb-core

TDD
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: none

Fix over eager error in aggregations
  crates/core/src/catalog/aggregation.rs
  crates/core/src/doc/create.rs
  crates/core/src/doc/delete.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/index.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/relate.rs
  crates/core/src/doc/table.rs
  crates/core/src/doc/update.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/delete.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/relate.rs
  crates/core/src/expr/statements/remove/table.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/expr/statements/update.rs
  crates/core/src/expr/statements/upsert.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/define/table/view/delete_view.surql
  crates/language-tests/tests/language/statements/define/table/view/removed.surql
  crates/language-tests/tests/language/statements/select/array_field_projections.surql
  crates/language-tests/tests/language/statements/select/group/parent.surql
  crates/language-tests/tests/language/statements/select/group/this.surql
Due: surrealdb-core

Prepare for v3.0.0-alpha.13 release (#6558)
  Cargo.lock
  Cargo.toml
Due: none

remove experimental feature
  crates/core/src/dbs/capabilities.rs
  crates/core/src/dbs/iterator.rs
  crates/core/src/doc/field.rs
  crates/core/src/doc/purge.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/lookup.rs
  crates/core/src/expr/statements/define/field.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/idiom.rs
  crates/core/src/syn/parser/mod.rs
  crates/core/src/syn/parser/prime.rs
  crates/core/src/syn/parser/stmt/alter.rs
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/src/cmd/run/mod.rs
  crates/language-tests/tests/language/reference/5902_new_reference_on_update.surql
  crates/language-tests/tests/language/reference/array.surql
  crates/language-tests/tests/language/reference/clauses.surql
  crates/language-tests/tests/language/reference/cleanup.surql
  crates/language-tests/tests/language/reference/docs_1.surql
  crates/language-tests/tests/language/reference/docs_2.surql
  crates/language-tests/tests/language/reference/docs_3.surql
  crates/language-tests/tests/language/reference/docs_4.surql
  crates/language-tests/tests/language/reference/docs_5.surql
  crates/language-tests/tests/language/reference/docs_6.surql
  crates/language-tests/tests/language/reference/example_blog.surql
  crates/language-tests/tests/language/reference/graph_clauses_comparison.surql
  crates/language-tests/tests/language/reference/graph_comparison_recursive.surql
  crates/language-tests/tests/language/reference/graph_comparison_simple.surql
  crates/language-tests/tests/language/reference/multi-references.surql
  crates/language-tests/tests/language/reference/range.surql
  crates/language-tests/tests/language/reference/via_referencing_field.surql
  crates/language-tests/tests/language/statements/alter/alter_field.surql
  crates/language-tests/tests/language/statements/define/field/computed/forbidden_fields.surql
  crates/sdk/src/opt/capabilities.rs
  crates/sdk/tests/api_integration/mod.rs
  src/dbs/mod.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Fix
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

Cleanup
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
Due: surrealdb-core

Add tempfiles test
  crates/core/src/dbs/result.rs
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

Add test cases
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: none

fix test
  tests/http_integration.rs
Due: integration-tests

Fix surrealism crates
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Run `make fmt`
  crates/surrealism/surrealism-cli/src/main.rs
  crates/surrealism/surrealism-macros/src/lib.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism/src/imports.rs
Due: none

fix language tests
  crates/language-tests/src/tests/schema/mod.rs
Due: none

Remove parser error
  crates/core/src/syn/parser/record_id.rs
Due: surrealdb-core

Fix SELECT with SPLIT so ORDER BY and START/LIMIT apply after splitting (#6561)
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

Fix SELECT with SPLIT so ORDER BY and START/LIMIT apply after splitting (#6561)
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

fix test workspace
  src/dbs/mod.rs
Due: surrealdb-bin

Port review
  crates/core/src/dbs/store.rs
Due: surrealdb-core
