Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

Add optimised count implementation for TiKV
  surrealdb/core/src/kvs/tikv/mod.rs
Due: none

Add support for `surrealkv+versioned` in language tests
  language-tests/Cargo.lock
  language-tests/README.md
  language-tests/src/cli.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
Due: none

Add language test for #6541
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
Due: none

Add support for versioned count queries (#6870)
  language-tests/Cargo.lock
  language-tests/README.md
  language-tests/src/cli.rs
  language-tests/src/cmd/run/mod.rs
  language-tests/src/cmd/run/provisioner.rs
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
  surrealdb/core/src/cnf/mod.rs
  surrealdb/core/src/dbs/processor.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/kvs/api.rs
  surrealdb/core/src/kvs/mem/mod.rs
  surrealdb/core/src/kvs/rocksdb/mod.rs
  surrealdb/core/src/kvs/surrealkv/mod.rs
  surrealdb/core/src/kvs/tikv/mod.rs
  surrealdb/core/src/kvs/tr.rs
  surrealdb/core/src/kvs/tx.rs
Due: none

Add support for Geometry types in GraphQL
  surrealdb/core/src/gql/functions.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

Add support for relations and record-link resolution
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/relations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

Add support for additional filter / where operators
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

Add language tests for `DEFINE CONFIG GRAPHQL`
  language-tests/tests/language/statements/define/config/graphql/auto.surql
  language-tests/tests/language/statements/define/config/graphql/combined.surql
  language-tests/tests/language/statements/define/config/graphql/functions.surql
  language-tests/tests/language/statements/define/config/graphql/none.surql
  language-tests/tests/language/statements/define/config/graphql/overwrite.surql
  language-tests/tests/language/statements/define/config/graphql/tables_include_exclude.surql
Due: none

New HNSW storage
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/trees/graph.rs
  surrealdb/core/src/idx/trees/hnsw/layer.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/hn.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

Add support for temporal versioning in GraphQL queries
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  tests/common/server.rs
  tests/graphql_integration.rs
Due: integration-tests

Add support for temporal versioning in GraphQL queries
  surrealdb/core/src/gql/tables.rs
Due: none

Ensure string and numeric record ids work correctly in GraphQL
  surrealdb/core/src/gql/tables.rs
Due: none

let SDK tests fail
  .github/workflows/ci.yml
Due: none

run in parallel
  .github/workflows/ci.yml
Due: none

Ensure value types serialise and convert correctly
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

sdks (#6825)
  .github/workflows/ci.yml
Due: none

Post review fixes
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/trees/hnsw/layer.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/key/index/hn.rs
Due: none

revision lock
  revision.lock
Due: none

Move idiom tests to language tests (easier to debug and test)
  language-tests/tests/language/idiom/chain_part_optional.surql
  language-tests/tests/language/idiom/function_argument_computation.surql
  language-tests/tests/language/idiom/graph_filter_flattened.surql
  language-tests/tests/language/idiom/index_call.surql
  language-tests/tests/language/idiom/index_expression.surql
  language-tests/tests/language/idiom/index_range.surql
  language-tests/tests/language/idiom/optional_passthrough.surql
  language-tests/tests/language/idiom/recursion_graph.surql
  language-tests/tests/language/idiom/recursion_instruction_plan_conflict.surql
  language-tests/tests/language/idiom/recursion_limits.surql
  language-tests/tests/language/idiom/recursion_nested_destructure.surql
  language-tests/tests/language/idiom/recursion_parse_invalid_instruction.surql
  language-tests/tests/language/idiom/recursion_parse_invalid_option.surql
  language-tests/tests/language/idiom/recursion_parse_shortest_invalid_target.surql
  language-tests/tests/language/idiom/recursion_parse_shortest_missing_eq.surql
  language-tests/tests/language/idiom/recursion_path_elimination.surql
  language-tests/tests/language/idiom/recursion_record_links.surql
  language-tests/tests/language/idiom/recursion_shortest_path.surql
  language-tests/tests/language/idiom/select_all_nested_array.surql
  surrealdb/core/tests/idiom.rs
Due: none

Improvement
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/idx/trees/graph.rs
  surrealdb/core/src/idx/trees/hnsw/flavor.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/hnsw/layer.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/key/index/hl.rs
Due: none

Fix wasm
  surrealdb/core/src/idx/trees/hnsw/layer.rs
Due: none

Fix
  surrealdb/core/src/idx/trees/hnsw/layer.rs
Due: none

merge main
  surrealdb/core/src/exec/operators/graph_edge_scan.rs
  surrealdb/core/src/exec/operators/reference_scan.rs
  surrealdb/core/src/exec/operators/scan.rs
  surrealdb/core/src/fnc/string.rs
Due: none

Add support for GraphQL mutations
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/schema.rs
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

Fix
  surrealdb/core/src/idx/trees/hnsw/mod.rs
Due: none

Switch default branch to `releases/2.x`
  .github/workflows/release.yml
Due: none

Revert time update
  Cargo.lock
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Allow serde_core unsafe use
  cackle.toml
Due: none

Allow APIs for `pkg.serde_core`
  cackle.toml
Due: none

Ignore the time advisory
  deny.toml
Due: none

Fix HNSW index memory explosion (#6871)
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/idx/trees/graph.rs
  surrealdb/core/src/idx/trees/hnsw/flavor.rs
  surrealdb/core/src/idx/trees/hnsw/index.rs
  surrealdb/core/src/idx/trees/hnsw/layer.rs
  surrealdb/core/src/idx/trees/hnsw/mod.rs
  surrealdb/core/src/key/index/hn.rs
  surrealdb/core/src/key/index/mod.rs
Due: none

tidying, more explain tests, more indexing
  language-tests/tests/language/indexes/search/select_where_matches_mixing_indexes_new_executor.surql
  language-tests/tests/language/indexes/search/select_where_matches_without_using_index_iterator_new_executor.surql
  language-tests/tests/language/statements/explain/complex.surql
  language-tests/tests/language/statements/explain/select_basic.surql
  language-tests/tests/language/statements/explain/select_group_aggregate.surql
  language-tests/tests/language/statements/explain/select_index.surql
  language-tests/tests/language/statements/explain/select_order_limit.surql
  language-tests/tests/language/statements/explain/select_split.surql
  language-tests/tests/language/statements/explain/select_union.surql
  language-tests/tests/language/statements/select/explain_in_expression.surql
  language-tests/tests/language/statements/select/whats.surql
  language-tests/tests/reproductions/6541_version_count_aggregate.surql
  surrealdb/core/src/ctx/context.rs
  surrealdb/core/src/dbs/executor.rs
  surrealdb/core/src/dbs/executor/compute.rs
  surrealdb/core/src/dbs/executor/stream.rs
  surrealdb/core/src/dbs/mod.rs
  surrealdb/core/src/dbs/session.rs
  surrealdb/core/src/exec/function/builtin/search.rs
  surrealdb/core/src/exec/physical_expr/matches.rs
  surrealdb/core/src/exec/physical_expr/mod.rs
  surrealdb/core/src/exec/planner.rs
  surrealdb/core/src/exec/planner/select.rs
  surrealdb/core/src/exec/planner/util.rs
  surrealdb/core/src/idx/ft/fulltext.rs
  surrealdb/core/src/kvs/ds.rs
  surrealdb/server/src/dbs/mod.rs
Due: none

Add query depth and complexity limit configuration
  language-tests/tests/language/statements/define/config/graphql/depth_complexity.surql
  surrealdb/core/src/catalog/schema/config.rs
  surrealdb/core/src/catalog/test.rs
  surrealdb/core/src/sql/statements/define/config/graphql.rs
  surrealdb/core/src/syn/parser/stmt/define.rs
  tests/graphql_integration.rs
Due: integration-tests

Add support for GraphQL auth signup and signin
  surrealdb/core/src/gql/auth.rs
  surrealdb/core/src/gql/error.rs
  surrealdb/core/src/gql/mod.rs
  surrealdb/core/src/gql/schema.rs
  tests/graphql_integration.rs
Due: integration-tests

Optimise GraphQL N+1 query execution
  surrealdb/core/src/gql/mutations.rs
  surrealdb/core/src/gql/tables.rs
  tests/graphql_integration.rs
Due: integration-tests

Fix HNSW index memory explosion (#6871)
  crates/core/src/idx/index.rs
  crates/core/src/idx/mod.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/trees/graph.rs
  crates/core/src/idx/trees/hnsw/flavor.rs
  crates/core/src/idx/trees/hnsw/index.rs
  crates/core/src/idx/trees/hnsw/layer.rs
  crates/core/src/idx/trees/hnsw/mod.rs
  crates/core/src/key/index/hl.rs
  crates/core/src/key/index/hn.rs
  crates/core/src/key/index/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tx.rs
  surrealdb/core/src/idx/index.rs
  surrealdb/core/src/idx/mod.rs
  surrealdb/core/src/idx/planner/executor.rs
  surrealdb/core/src/key/index/hl.rs
  surrealdb/core/src/key/index/mod.rs
Due: surrealdb-core

Fix fmt & clippy
  crates/core/src/idx/trees/graph.rs
  crates/core/src/idx/trees/hnsw/layer.rs
Due: surrealdb-core

Verify operations, mutations, and auth respect PERMISSIONS
  tests/graphql_integration.rs
Due: integration-tests

Path conditions:
  surrealdb-core: any of: crates/core/**
  surrealdb-types: any of: crates/types/**, crates/types-derive/**
  surrealdb-sdk: any of: crates/sdk/**
  surrealdb-bin: any of: src/**
  integration-tests: any of: tests/**
