Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

generalize
  Cargo.lock
  crates/core/src/embedded/mod.rs
  crates/sdk2/Cargo.toml
  crates/sdk2/src/api/interface/queryable.rs
  crates/sdk2/src/lib.rs
  crates/sdk2/src/mac.rs
  crates/sdk2/src/method/condition.rs
  crates/sdk2/src/method/mod.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/sql/build.rs
  crates/sdk2/src/sql/condition.rs
  crates/sdk2/src/sql/fields.rs
  crates/sdk2/src/sql/mod.rs
  crates/sdk2/src/sql/subject.rs
  crates/sdk2/src/sql/timeout.rs
  crates/sdk2/src/sql/version.rs
  crates/sdk2/tests/select.rs
  debug_sql
Due: surrealdb-core

http and ws fixes
  tests/http_integration.rs
  tests/ws_integration.rs
Due: integration-tests

Use interned `Symbol` type for `Value::String`
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/api/middleware/mod.rs
  crates/core/src/api/path.rs
  crates/core/src/catalog/schema/api.rs
  crates/core/src/catalog/schema/bucket.rs
  crates/core/src/catalog/schema/config.rs
  crates/core/src/cf/mutations.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/dbs/plan.rs
  crates/core/src/expr/block.rs
  crates/core/src/expr/literal.rs
  crates/core/src/expr/operation.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/fnc/http.rs
  crates/core/src/fnc/object.rs
  crates/core/src/fnc/search.rs
  crates/core/src/fnc/type.rs
  crates/core/src/gql/schema.rs
  crates/core/src/iam/token.rs
  crates/core/src/idx/ft/analyzer/mod.rs
  crates/core/src/idx/ft/highlighter.rs
  crates/core/src/sql/expression.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/val/mod.rs
  crates/core/src/val/record_id.rs
  crates/core/src/val/symbol.rs
  crates/core/src/val/table.rs
  crates/core/src/val/value/convert/cast.rs
  crates/core/src/val/value/convert/coerce.rs
  crates/core/src/val/value/fetch.rs
  crates/core/src/val/value/generate.rs
  crates/core/src/val/value/patch.rs
  crates/core/src/val/value/set.rs
Due: surrealdb-core

Use `imbl::OrdSet` for `Value::Set`
  crates/core/src/fnc/set.rs
  crates/core/src/val/set.rs
Due: surrealdb-core

WIP
  crates/sdk2/src/api/interface/queryable.rs
  crates/sdk2/src/mac.rs
  crates/sdk2/src/method/create.rs
  crates/sdk2/src/method/delete.rs
  crates/sdk2/src/method/insert.rs
  crates/sdk2/src/method/mod.rs
  crates/sdk2/src/method/relate.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/method/update.rs
  crates/sdk2/src/method/upsert.rs
  crates/sdk2/src/utils/frame.rs
  crates/sdk2/tests/create.rs
  crates/sdk2/tests/delete.rs
  crates/sdk2/tests/insert.rs
  crates/sdk2/tests/mod.rs
  crates/sdk2/tests/relate.rs
  crates/sdk2/tests/select.rs
  crates/sdk2/tests/update.rs
  crates/sdk2/tests/upsert.rs
Due: none

improve
  crates/sdk2/src/method/create.rs
  crates/sdk2/src/method/delete.rs
  crates/sdk2/src/method/insert.rs
  crates/sdk2/src/method/relate.rs
  crates/sdk2/src/method/select.rs
  crates/sdk2/src/method/update.rs
  crates/sdk2/src/method/upsert.rs
  crates/sdk2/src/sql/mod.rs
  crates/sdk2/src/sql/return.rs
Due: none

CMON
  crates/core/tests/access.rs
  crates/core/tests/alter.rs
  crates/core/tests/cache.rs
  crates/core/tests/changefeeds.rs
  crates/core/tests/complex.rs
  crates/core/tests/create.rs
  crates/core/tests/define.rs
  crates/core/tests/delete.rs
  crates/core/tests/field.rs
  crates/core/tests/function.rs
  crates/core/tests/future.rs
  crates/core/tests/geometry.rs
  crates/core/tests/group.rs
  crates/core/tests/helpers.rs
  crates/core/tests/info.rs
  crates/core/tests/insert.rs
  crates/core/tests/live.rs
  crates/core/tests/matches.rs
  crates/core/tests/merge.rs
  crates/core/tests/param.rs
  crates/core/tests/planner.rs
  crates/core/tests/query.rs
  crates/core/tests/relate.rs
  crates/core/tests/remove.rs
  crates/core/tests/script.rs
  crates/core/tests/select.rs
  crates/core/tests/sequence.rs
  crates/core/tests/subquery.rs
  crates/core/tests/table.rs
  crates/core/tests/throw.rs
  crates/core/tests/timeout.rs
  crates/core/tests/typing.rs
  crates/core/tests/update.rs
  crates/core/tests/upsert.rs
  crates/core/tests/vector.rs
  crates/sdk/tests/api_integration/session_isolation.rs
Due: surrealdb-core, surrealdb-sdk

Fix remainder
  Makefile.ci.toml
  tests/graphql_integration.rs
Due: integration-tests

vet
  supply-chain/imports.lock
Due: none

Feedback
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/statement.rs
Due: surrealdb-core

Switch back to using `BtreeMap`
  crates/core/src/doc/field.rs
  crates/core/src/fnc/object.rs
  crates/core/src/gql/schema.rs
  crates/core/src/val/object.rs
  crates/core/src/val/symbol.rs
  crates/core/src/val/value/cut.rs
  crates/core/src/val/value/del.rs
  crates/core/src/val/value/fetch.rs
  crates/core/src/val/value/put.rs
  crates/core/src/val/value/set.rs
Due: surrealdb-core

Switch back to using `BTreeSet`
  crates/core/src/val/set.rs
Due: surrealdb-core

reordered
  crates/core/src/dbs/iterator.rs
Due: surrealdb-core

Fixed
  crates/core/src/dbs/iterator.rs
  crates/sdk/src/method/query.rs
Due: surrealdb-core, surrealdb-sdk

format
  crates/sdk/src/method/query.rs
Due: surrealdb-sdk

Fix test
  crates/language-tests/tests/language/functions/record/exists.surql
  crates/language-tests/tests/language/parameterized/timeout.surql
Due: none

Fix record exists function.
  crates/core/src/fnc/record.rs
  crates/language-tests/tests/language/functions/record/exists.surql
Due: surrealdb-core

Fix bug in which records on their own can't be used in DELETE, etc. (#6669)
  crates/core/src/dbs/iterator.rs
  crates/language-tests/tests/language/statements/delete/with_parameters.surql
  crates/language-tests/tests/language/statements/select/inside_match_before_object.surql
  crates/language-tests/tests/language/statements/update/with_parameters.surql
  crates/language-tests/tests/language/statements/upsert/with_parameters.surql
Due: surrealdb-core

Update LICENSE text
  LICENSE
Due: none

Update LICENSE text (#6683)
  LICENSE
Due: none

Prepare v3.0.0-beta.1 release
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Prepare v3.0.0-beta.1 release (#6684)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
Due: none

Fix macOS library loading issue with hardcoded Homebrew paths
  Makefile.local.toml
  doc/BUILDING.md
  scripts/fix-macos-libs.sh
Due: none

Fix macOS library rpath configuration
  scripts/fix-macos-libs.sh
Due: none

Rename NsDbCtx and NsDbTbCtx.
  Cargo.toml
  crates/core/src/dbs/iterator.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/table.rs
  crates/core/src/expr/statements/create.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/expr/statements/delete.rs
  crates/core/src/expr/statements/insert.rs
  crates/core/src/expr/statements/relate.rs
  crates/core/src/expr/statements/select.rs
  crates/core/src/expr/statements/update.rs
  crates/core/src/expr/statements/upsert.rs
  crates/core/src/idx/planner/executor.rs
  crates/core/src/idx/planner/mod.rs
Due: surrealdb-core

Remove path from the surrealism crates
  Cargo.toml
Due: none

Remove unused dependencies
  Cargo.lock
  Cargo.toml
  deny.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

Add static optimizer with StaticLiteralFolding and ConstantFolding optimization rules.
  Cargo.toml
  crates/core/src/cnf/mod.rs
  crates/core/src/doc/field.rs
  crates/core/src/expr/expression.rs
  crates/core/src/expr/literal.rs
  crates/core/src/expr/mod.rs
  crates/core/src/expr/optimise/mod.rs
  crates/core/src/expr/optimise/rules/constant_folding.rs
  crates/core/src/expr/optimise/rules/mod.rs
  crates/core/src/expr/optimise/rules/static_literal_folding.rs
  crates/core/src/expr/optimise/utils.rs
  crates/core/src/expr/record_id/key.rs
  crates/core/src/expr/record_id/mod.rs
  crates/core/src/expr/record_id/range.rs
  crates/core/src/expr/visit.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/options.rs
  crates/core/src/sql/expression.rs
  crates/server/src/cli/start.rs
  profiling/src/main.rs
Due: surrealdb-core

Remove unused `surrealdb-macros`
  Cargo.toml
Due: none

Run `cargo vet prune`
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Update fuzzing and language test crates
  crates/fuzz/Cargo.lock
  crates/fuzz/Cargo.toml
  crates/language-tests/Cargo.lock
  crates/language-tests/Cargo.toml
Due: none

Fix `cargo vet check`
  supply-chain/config.toml
Due: none

Fix fulltext index statistics key range to include compacted data (#6546)
  crates/core/src/key/index/dc.rs
  crates/language-tests/tests/reproductions/6546_search_score_returns_zero.surql
Due: surrealdb-core

Add regression test for vector::distance::knn() with integer types (#6586)
  crates/language-tests/tests/reproductions/6586_vector_distance_knn_integer_types.surql
Due: none

Plumb through EngineOptions.
  crates/core/src/expr/optimise/mod.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core

Fix scanner race condition
  crates/core/src/kvs/scanner.rs
  crates/language-tests/Cargo.lock
Due: surrealdb-core
