Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Remove `cargo-acl` (#6579)
  .github/CODEOWNERS
  .github/workflows/supply-chain.yml
  Makefile
  SECURITY.md
  cackle.Dockerfile
  cackle.toml
  deny.toml
  supply-chain/README.md
Due: none

Update code comment format
  crates/sdk/src/engine/any/mod.rs
Due: surrealdb-sdk

Fix clippy warnings
  crates/core/src/dbs/executor.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/syn/mod.rs
  crates/core/src/syn/parser/record_id.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: surrealdb-core

Fix clippy warnings
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

Upgrade to latest SurrealKV APIs
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/surrealkv/mod.rs
Due: surrealdb-core

Restore default feature
  Cargo.toml
Due: none

Fix API
  Cargo.lock
  Cargo.toml
  crates/core/src/cf/gc.rs
  crates/core/src/cf/reader.rs
  crates/core/src/cf/writer.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/doc/changefeeds.rs
  crates/core/src/doc/document.rs
  crates/core/src/doc/edges.rs
  crates/core/src/doc/insert.rs
  crates/core/src/doc/purge.rs
  crates/core/src/doc/upsert.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/idx/index.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/cf.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/savepoint.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tests/multireader.rs
  crates/core/src/kvs/tests/multiwriter_different_keys.rs
  crates/core/src/kvs/tests/multiwriter_same_keys_allow.rs
  crates/core/src/kvs/tests/multiwriter_same_keys_conflict.rs
  crates/core/src/kvs/tests/raw.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  crates/core/src/kvs/tests/snapshot.rs
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
  crates/core/src/lib.rs
  crates/core/src/vs/mod.rs
Due: surrealdb-core

Use separated savepoint implementation for TiKV module
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/savepoint.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tikv/savepoint.rs
Due: surrealdb-core

Fix SurrealKV env variables
  crates/core/src/kvs/surrealkv/cnf.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
Due: surrealdb-core

Use CPU affinity for threadpool
  crates/core/src/kvs/threadpool.rs
Due: surrealdb-core

Improve errors
  crates/core/src/doc/store.rs
  crates/core/src/err/mod.rs
  crates/core/src/expr/statements/access.rs
  crates/core/src/iam/access.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/idx/index.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/node.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tests/read_and_deletion_only.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Make API public
  crates/core/src/key/mod.rs
  crates/core/src/lib.rs
Due: surrealdb-core

Fix cargo fmt
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Add grpc service boilerplate.
  Cargo.lock
  Cargo.toml
  crates/server/Cargo.toml
  crates/server/src/cli/config.rs
  crates/server/src/cli/start.rs
  crates/server/src/ntw/grpc.rs
  crates/server/src/ntw/mod.rs
Due: none

Update `indxdb`
  Cargo.lock
  Cargo.toml
  crates/core/src/kvs/indxdb/mod.rs
Due: surrealdb-core

Cleanup
  crates/core/src/key/mod.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/lib.rs
Due: surrealdb-core

tls support
  crates/server/src/ntw/grpc.rs
Due: none

Exposes cancellation token
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/kvs/ds.rs
  crates/server/src/cli/start.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core

Fix fmt
  crates/server/src/dbs/mod.rs
Due: none

Fix tests
  crates/core/Cargo.toml
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core

Fix fmt
  crates/core/src/kvs/tests/mod.rs
Due: surrealdb-core

Fix wasm
  crates/core/Cargo.toml
Due: surrealdb-core

Add unary method impls.
  crates/server/src/ntw/grpc.rs
Due: none

grpc streaming query response.
  crates/server/src/ntw/grpc.rs
Due: none

Simplify code
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/scanner.rs
Due: surrealdb-core

import export methods.
  crates/server/src/ntw/grpc.rs
Due: none

Subscribe method.
  crates/server/src/ntw/grpc.rs
Due: none

WIP
  crates/core/src/rpc/response.rs
  crates/server/src/ntw/grpc.rs
  crates/types/src/lib.rs
  crates/types/src/proto.rs
Due: surrealdb-core, surrealdb-types

Simplify the transactor api
  crates/core/src/cf/writer.rs
  crates/core/src/doc/changefeeds.rs
  crates/core/src/expr/statements/alter/table.rs
  crates/core/src/expr/statements/define/table.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/err.rs
  crates/core/src/kvs/into.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Simplify the changefeed api
  crates/core/src/cf/gc.rs
  crates/core/src/cf/reader.rs
  crates/core/src/cf/writer.rs
  crates/core/src/dbs/executor.rs
  crates/core/src/key/change/mod.rs
  crates/core/src/key/database/mod.rs
  crates/core/src/key/database/ts.rs
  crates/core/src/key/database/vs.rs
  crates/core/src/kvs/cf.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/core/src/kvs/tests/timestamp_to_versionstamp.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

More wippage
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  crates/server/src/ntw/grpc.rs
  crates/surrealism/surrealism-runtime/src/controller.rs
Due: none

bit more
  crates/server/src/ntw/grpc.rs
Due: none

fix wasm
  Cargo.toml
  crates/server/Cargo.toml
Due: none

msrv
  .github/workflows/ci.yml
Due: none

Add prefetching and fetch growth functionality to scanner
  crates/core/src/cnf/mod.rs
  crates/core/src/dbs/processor.rs
  crates/core/src/doc/purge.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/indxdb/mod.rs
  crates/core/src/kvs/into.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Add optimised count function for SurrealMX, SurrealKV, RocksDB
  crates/core/src/kvs/mem/mod.rs
  crates/core/src/kvs/rocksdb/mod.rs
  crates/core/src/kvs/surrealkv/mod.rs
  crates/core/src/kvs/threadpool.rs
Due: surrealdb-core

Expose cancellation token in datastore initialization API (#6583)
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/kvs/ds.rs
  crates/core/src/kvs/tests/mod.rs
  crates/server/src/cli/start.rs
  crates/server/src/dbs/mod.rs
Due: surrealdb-core

Allow for custom timestamps depending on storage engine
  crates/core/src/cf/gc.rs
  crates/core/src/cf/reader.rs
  crates/core/src/key/change/mod.rs
  crates/core/src/kvs/api.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/tikv/mod.rs
  crates/core/src/kvs/timestamp.rs
  crates/core/src/kvs/tr.rs
  crates/core/src/kvs/tx.rs
Due: surrealdb-core

Fix `cargo fmt`
  crates/core/src/key/change/mod.rs
  crates/core/src/kvs/scanner.rs
  crates/core/src/kvs/tr.rs
Due: surrealdb-core
