Repository surrealdb/surrealdb: changes, and which Codecov flags are due for each by the changed paths.
All: surrealdb-core, surrealdb-types, surrealdb-sdk, surrealdb-bin, integration-tests

.codecov.yml:

coverage:
  status:
    project:
      default:
        informational: true # don't fail PRs on project coverage
    patch:
      default:
        informational: true # don't fail PRs on patch coverage

comment:
  behavior: default

component_management:
  default_rules:  # default rules inherited by all components
    statuses:
      - type: project
        target: auto
        informational: true  # don't fail PRs based on component coverage
      - type: patch
        target: auto
        informational: true
  
  individual_components:
    - component_id: surrealdb_core
      name: surrealdb-core
      paths:
        - crates/core/**

    - component_id: surrealdb_types
      name: surrealdb-types
      paths:
        - crates/types/**
        - crates/types-derive/**

    - component_id: surrealdb_sdk
      name: surrealdb-sdk
      paths:
        - crates/sdk/**

    - component_id: surrealdb_bin
      name: surrealdb-bin
      paths:
        - src/**

    - component_id: surrealdb_tests
      name: integration-tests
      paths:
        - tests/**

Prepare for v3.0.0-alpha.13 release (#6558)
  Cargo.lock
  Cargo.toml
Due: none

Fix surrealism crates (#6563)
  .github/workflows/ci.yml
  .github/workflows/publish-version.yml
  crates/surrealism/demo/Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-cli/src/main.rs
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-macros/src/lib.rs
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-runtime/src/controller.rs
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  crates/surrealism/surrealism/src/imports.rs
Due: none

Add set literal syntax (#6556)
  crates/core/src/expr/block.rs
  crates/core/src/sql/block.rs
  crates/core/src/sql/test_to_sql.rs
  crates/core/src/syn/parser/object.rs
  crates/core/src/syn/parser/test/limit.rs
  crates/core/src/syn/parser/value.rs
  crates/core/src/val/set.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/src/tests/cmp.rs
  crates/language-tests/tests/language/functions/set/add.surql
  crates/language-tests/tests/language/functions/set/complement.surql
  crates/language-tests/tests/language/functions/set/complex_values.surql
  crates/language-tests/tests/language/functions/set/contains.surql
  crates/language-tests/tests/language/functions/set/conversion.surql
  crates/language-tests/tests/language/functions/set/difference.surql
  crates/language-tests/tests/language/functions/set/edge_cases.surql
  crates/language-tests/tests/language/functions/set/filter.surql
  crates/language-tests/tests/language/functions/set/first.surql
  crates/language-tests/tests/language/functions/set/flatten.surql
  crates/language-tests/tests/language/functions/set/fold.surql
  crates/language-tests/tests/language/functions/set/intersect.surql
  crates/language-tests/tests/language/functions/set/map.surql
  crates/language-tests/tests/language/functions/set/method_syntax.surql
  crates/language-tests/tests/language/functions/set/parse_error.surql
  crates/language-tests/tests/language/functions/set/reduce.surql
  crates/language-tests/tests/language/functions/set/remove.surql
  crates/language-tests/tests/language/functions/set/slice.surql
  crates/language-tests/tests/language/functions/set/union.surql
  crates/language-tests/tests/language/functions/type/set.surql
  crates/language-tests/tests/language/primitive/set/basic.surql
  crates/language-tests/tests/language/statements/define/param/future_value_this.surql
  crates/language-tests/tests/parsing/errors/missed_qoute_object.surql
  crates/language-tests/tests/parsing/glueing/number_in_block.surql
  crates/language-tests/tests/upgrade/define/function.surql
  crates/types/src/lib.rs
  crates/types/src/value/set.rs
Due: surrealdb-core, surrealdb-types

Add common method paths for sets (#6559)
  crates/core/src/fnc/mod.rs
Due: surrealdb-core

Improve `DEFINE INDEX` validation and diagnostics: enforce field count per index type with precise error spans (#6404)
  crates/core/src/syn/parser/stmt/define.rs
  crates/core/src/syn/parser/test/stmt.rs
  crates/core/src/syn/parser/test/streaming.rs
  crates/language-tests/tests/parsing/errors/define_index_count_with_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_fulltext_multiple_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_hnsw_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_unique_without_fields.surql
  crates/language-tests/tests/parsing/errors/define_index_without_fields.surql
Due: surrealdb-core

Fix SELECT with SPLIT so ORDER BY and START/LIMIT apply after splitting (#6561)
  crates/core/src/dbs/result.rs
  crates/core/src/dbs/store.rs
  crates/language-tests/Cargo.lock
  crates/language-tests/tests/language/statements/select/select_split.surql
Due: surrealdb-core

SDB-16: Client-side transactions support (#6533)
  crates/core/src/dbs/executor.rs
  crates/core/src/iam/signin.rs
  crates/core/src/iam/signup.rs
  crates/core/src/iam/verify.rs
  crates/core/src/kvs/ds.rs
  crates/core/src/rpc/method.rs
  crates/core/src/rpc/protocol.rs
  crates/core/tests/sequence.rs
  crates/core/tests/strict.rs
  crates/sdk/src/conn/cmd.rs
  crates/sdk/src/engine/local/mod.rs
  crates/sdk/src/engine/local/native.rs
  crates/sdk/src/engine/local/wasm.rs
  crates/sdk/src/engine/remote/http/mod.rs
  crates/sdk/src/engine/remote/ws/native.rs
  crates/sdk/src/engine/remote/ws/wasm.rs
  crates/sdk/src/method/begin.rs
  crates/sdk/src/method/cancel.rs
  crates/sdk/src/method/commit.rs
  crates/sdk/src/method/create.rs
  crates/sdk/src/method/delete.rs
  crates/sdk/src/method/insert.rs
  crates/sdk/src/method/live.rs
  crates/sdk/src/method/merge.rs
  crates/sdk/src/method/mod.rs
  crates/sdk/src/method/patch.rs
  crates/sdk/src/method/query.rs
  crates/sdk/src/method/select.rs
  crates/sdk/src/method/tests/server.rs
  crates/sdk/src/method/transaction.rs
  crates/sdk/src/method/update.rs
  crates/sdk/src/method/upsert.rs
  crates/sdk/tests/api_integration/basic.rs
  src/rpc/http.rs
  src/rpc/websocket.rs
Due: surrealdb-core, surrealdb-sdk, surrealdb-bin

Add exact hint when path is deprecated (#6488)
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/README.md
  crates/language-tests/src/tests/schema/mod.rs
  crates/language-tests/tests/language/functions/path_hints/deprecated_path_hint.surql
  crates/language-tests/tests/language/functions/path_hints/typo_hint.surql
Due: surrealdb-core

Fix fmt / revision lock
  crates/core/src/kvs/tasklease.rs
  revision.lock
Due: surrealdb-core

Fix some more errors
  crates/core/src/fnc/script/modules/surrealdb/functions/migration.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/mod.rs
  crates/core/src/syn/error/render.rs
Due: surrealdb-core

Bump surrealism version (#6565)
  Cargo.lock
  Cargo.toml
  crates/surrealism/surrealism-cli/Cargo.toml
  crates/surrealism/surrealism-macros/Cargo.toml
  crates/surrealism/surrealism-runtime/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  crates/surrealism/surrealism/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Fix more warnings
  crates/core/src/fnc/script/modules/surrealdb/functions/migration.rs
Due: surrealdb-core

Fix weird inference issue which happens only when pulling in openssl
  crates/core/src/kvs/version/v3/pass/mod.rs
Due: surrealdb-core

Update to revision 0.14.0
  Cargo.lock
  Cargo.toml
  crates/core/src/syn/parser/stmt/define.rs
  crates/language-tests/Cargo.toml
  supply-chain/imports.lock
Due: surrealdb-core

Fix supply chain issues
  Cargo.toml
  cackle.toml
  crates/language-tests/Cargo.toml
  crates/surrealism/surrealism-types/Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Audit surrealism as coming from crates.io
  supply-chain/config.toml
Due: none

Add cargo vet exemption for `surrealism`
  supply-chain/config.toml
Due: none

cackle fix
  cackle.toml
Due: none

Audit surrealism as coming from crates.io (#6567)
  supply-chain/config.toml
Due: none

fix cackle
  cackle.toml
Due: none

Give set some more operators
  crates/core/src/val/mod.rs
  crates/language-tests/tests/language/expression/operators/in/all_any_inside.surql
  crates/language-tests/tests/language/expression/operators/in/all_equal.surql
  crates/language-tests/tests/language/expression/operators/in/all_inside.surql
  crates/language-tests/tests/language/expression/operators/in/any_equal.surql
  crates/language-tests/tests/language/expression/operators/in/any_inside.surql
Due: surrealdb-core

Add dev dependencies
  Cargo.lock
  Cargo.toml
Due: none

Wip
  Cargo.toml
Due: none

Extend functionality, address comments
  crates/core/src/fnc/migration.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/core/src/sql/visit.rs
Due: surrealdb-core

Add minimal implementation for 2.0 -> 3.0 migration tool (#6555)
  crates/core/src/cnf/mod.rs
  crates/core/src/fnc/migration.rs
  crates/core/src/fnc/mod.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/migration.rs
  crates/core/src/fnc/script/modules/surrealdb/functions/mod.rs
  crates/core/src/kvs/mod.rs
  crates/core/src/kvs/version/mod.rs
  crates/core/src/kvs/version/v3/mod.rs
  crates/core/src/kvs/version/v3/pass/mod.rs
  crates/core/src/kvs/version/v3/pass/util.rs
  crates/core/src/sql/visit.rs
  crates/core/src/syn/error/location.rs
  crates/core/src/syn/error/mod.rs
  crates/core/src/syn/error/render.rs
  crates/core/src/syn/parser/builtin.rs
  crates/language-tests/tests/migration/future/create.surql
  crates/language-tests/tests/migration/future/in_field.surql
  crates/language-tests/tests/migration/future/in_table.surql
  crates/language-tests/tests/migration/future/in_table_nested.surql
  crates/language-tests/tests/migration/future/insert.surql
  crates/language-tests/tests/migration/future/relate.surql
  crates/language-tests/tests/migration/future/update.surql
  crates/language-tests/tests/migration/future/upsert.surql
Due: surrealdb-core

Change `VIA` to `FIELD`
  crates/core/src/expr/lookup.rs
  crates/core/src/sql/lookup.rs
  crates/core/src/syn/lexer/keywords.rs
  crates/core/src/syn/parser/record_id.rs
  crates/core/src/syn/token/keyword.rs
  crates/language-tests/tests/language/reference/clauses.surql
  crates/language-tests/tests/language/reference/range.surql
  crates/language-tests/tests/language/reference/via_referencing_field.surql
Due: surrealdb-core

Fixes clippy issues
  crates/server/src/cli/export.rs
  crates/server/src/cli/import.rs
  crates/server/src/cli/ml/export.rs
  crates/server/src/cli/ml/import.rs
  crates/server/src/cli/mod.rs
  crates/server/src/cli/sql.rs
  crates/server/src/cli/start.rs
  crates/server/src/cli/test.rs
  crates/server/src/cli/validator/parser/tracing.rs
  crates/server/src/cli/version_client.rs
  crates/server/src/dbs/mod.rs
  crates/server/src/gql/mod.rs
  crates/server/src/lib.rs
  crates/server/src/net/auth.rs
  crates/server/src/net/error.rs
  crates/server/src/net/export.rs
  crates/server/src/net/headers/accept.rs
  crates/server/src/net/headers/auth_db.rs
  crates/server/src/net/headers/auth_ns.rs
  crates/server/src/net/headers/content_type.rs
  crates/server/src/net/headers/db.rs
  crates/server/src/net/headers/id.rs
  crates/server/src/net/headers/mod.rs
  crates/server/src/net/headers/ns.rs
  crates/server/src/net/ml.rs
  crates/server/src/net/mod.rs
  crates/server/src/net/tracer.rs
  crates/server/src/rpc/format.rs
  crates/server/src/telemetry/metrics/mod.rs
  crates/server/src/telemetry/mod.rs
Due: none

Fix fmt
  crates/server/src/cli/mod.rs
  crates/server/src/cli/sql.rs
  crates/server/src/net/headers/accept.rs
Due: none

Wip
  Cargo.toml
  supply-chain/audits.toml
  supply-chain/config.toml
Due: none

Add build.rs to the server crate
  crates/server/build.rs
Due: none

Use correct features name in server
  crates/server/build.rs
Due: none

Wip
  .github/workflows/supply-chain.yml
  Cargo.toml
  build.rs
  cackle.toml
  crates/server/Cargo.toml
  deny.toml
  supply-chain/audits.toml
  supply-chain/imports.lock
Due: none

Fix binary build
  Cargo.toml
  crates/server/Cargo.toml
Due: none

Fix cargo vet
  supply-chain/audits.toml
  supply-chain/config.toml
  supply-chain/imports.lock
Due: none

Update README
  crates/server/README.md
Due: none

Fix cargo acl
  Cargo.toml
Due: none
